{
  "title": "Gemini API",
  "rootUrl": "https://generativelanguage.googleapis.com/",
  "mtlsRootUrl": "https://generativelanguage.mtls.googleapis.com/",
  "version_module": true,
  "baseUrl": "https://generativelanguage.googleapis.com/",
  "batchPath": "batch",
  "basePath": "",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "id": "generativelanguage:v1beta",
  "name": "generativelanguage",
  "ownerName": "Google",
  "revision": "20260717",
  "description": "The Gemini API allows developers to build generative AI applications using Gemini models. Gemini is our most capable model, built from the ground up to be multimodal. It can generalize and seamlessly understand, operate across, and combine different types of information including language, images, audio, video, and code. You can use the Gemini API for use cases like reasoning across text and images, content generation, dialogue agents, summarization and classification systems, and more.",
  "parameters": {
    "alt": {
      "default": "json",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "canonicalName": "Generative Language",
  "schemas": {
    "SpeakerVoiceConfig": {
      "properties": {
        "speaker": {
          "description": "Required. The name of the speaker to use. Should be the same as in the prompt.",
          "type": "string"
        },
        "voiceConfig": {
          "$ref": "VoiceConfig",
          "description": "Required. The configuration for the voice to use."
        }
      },
      "description": "The configuration for a single speaker in a multi speaker setup.",
      "type": "object",
      "id": "SpeakerVoiceConfig"
    },
    "TuningSnapshot": {
      "description": "Record for a single tuning step.",
      "type": "object",
      "properties": {
        "computeTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when this metric was computed.",
          "type": "string",
          "readOnly": true
        },
        "step": {
          "readOnly": true,
          "description": "Output only. The tuning step.",
          "type": "integer",
          "format": "int32"
        },
        "epoch": {
          "readOnly": true,
          "description": "Output only. The epoch this step was part of.",
          "type": "integer",
          "format": "int32"
        },
        "meanLoss": {
          "description": "Output only. The mean loss of the training examples for this step.",
          "type": "number",
          "format": "float",
          "readOnly": true
        }
      },
      "id": "TuningSnapshot"
    },
    "TunedModel": {
      "properties": {
        "state": {
          "description": "Output only. The state of the tuned model.",
          "enumDescriptions": [
            "The default value. This value is unused.",
            "The model is being created.",
            "The model is ready to be used.",
            "The model failed to be created."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "FAILED"
          ],
          "readOnly": true,
          "type": "string"
        },
        "temperature": {
          "format": "float",
          "description": "Optional. Controls the randomness of the output. Values can range over `[0.0,1.0]`, inclusive. A value closer to `1.0` will produce responses that are more varied, while a value closer to `0.0` will typically result in less surprising responses from the model. This value specifies default to be the one used by the base model while creating the model.",
          "type": "number"
        },
        "displayName": {
          "description": "Optional. The name to display for this model in user interfaces. The display name must be up to 40 characters including spaces.",
          "type": "string"
        },
        "description": {
          "description": "Optional. A short description of this model.",
          "type": "string"
        },
        "tuningTask": {
          "$ref": "TuningTask",
          "description": "Required. The tuning task that creates the tuned model."
        },
        "topP": {
          "format": "float",
          "description": "Optional. For Nucleus sampling. Nucleus sampling considers the smallest set of tokens whose probability sum is at least `top_p`. This value specifies default to be the one used by the base model while creating the model.",
          "type": "number"
        },
        "topK": {
          "description": "Optional. For Top-k sampling. Top-k sampling considers the set of `top_k` most probable tokens. This value specifies default to be used by the backend while making the call to the model. This value specifies default to be the one used by the base model while creating the model.",
          "type": "integer",
          "format": "int32"
        },
        "updateTime": {
          "description": "Output only. The timestamp when this model was updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when this model was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "tunedModelSource": {
          "$ref": "TunedModelSource",
          "description": "Optional. TunedModel to use as the starting point for training the new model."
        },
        "name": {
          "description": "Output only. The tuned model name. A unique name will be generated on create. Example: `tunedModels/az2mb0bpw6i` If display_name is set on create, the id portion of the name will be set by concatenating the words of the display_name with hyphens and adding a random portion for uniqueness. Example: * display_name = `Sentence Translator` * name = `tunedModels/sentence-translator-u3b7m`",
          "type": "string",
          "readOnly": true
        },
        "readerProjectNumbers": {
          "description": "Optional. List of project numbers that have read access to the tuned model.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "baseModel": {
          "description": "Immutable. The name of the `Model` to tune. Example: `models/gemini-1.5-flash-001`",
          "type": "string"
        }
      },
      "description": "A fine-tuned model created using ModelService.CreateTunedModel.",
      "type": "object",
      "id": "TunedModel"
    },
    "ListModelsResponse": {
      "description": "Response from `ListModel` containing a paginated list of Models.",
      "type": "object",
      "properties": {
        "models": {
          "items": {
            "$ref": "Model"
          },
          "description": "The returned Models.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no more pages.",
          "type": "string"
        }
      },
      "id": "ListModelsResponse"
    },
    "CustomLongRunningOperation": {
      "id": "CustomLongRunningOperation",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      }
    },
    "UrlMetadata": {
      "description": "Context of the a single url retrieval.",
      "type": "object",
      "properties": {
        "retrievedUrl": {
          "description": "Retrieved url by the tool.",
          "type": "string"
        },
        "urlRetrievalStatus": {
          "enum": [
            "URL_RETRIEVAL_STATUS_UNSPECIFIED",
            "URL_RETRIEVAL_STATUS_SUCCESS",
            "URL_RETRIEVAL_STATUS_ERROR",
            "URL_RETRIEVAL_STATUS_PAYWALL",
            "URL_RETRIEVAL_STATUS_UNSAFE"
          ],
          "description": "Status of the url retrieval.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Url retrieval is successful.",
            "Url retrieval is failed due to error.",
            "Url retrieval is failed because the content is behind paywall.",
            "Url retrieval is failed because the content is unsafe."
          ]
        }
      },
      "id": "UrlMetadata"
    },
    "StringList": {
      "properties": {
        "values": {
          "description": "The string values of the metadata to store.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "User provided string values assigned to a single metadata key.",
      "type": "object",
      "id": "StringList"
    },
    "ListCorporaResponse": {
      "description": "Response from `ListCorpora` containing a paginated list of `Corpora`. The results are sorted by ascending `corpus.create_time`.",
      "type": "object",
      "properties": {
        "corpora": {
          "items": {
            "$ref": "Corpus"
          },
          "description": "The returned corpora.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no more pages.",
          "type": "string"
        }
      },
      "id": "ListCorporaResponse"
    },
    "InlinedResponse": {
      "id": "InlinedResponse",
      "description": "The response to a single request in the batch.",
      "type": "object",
      "properties": {
        "response": {
          "readOnly": true,
          "description": "Output only. The response to the request.",
          "$ref": "GenerateContentResponse"
        },
        "metadata": {
          "readOnly": true,
          "description": "Output only. The metadata associated with the request.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "error": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. The error encountered while processing the request."
        }
      }
    },
    "GenerateTextResponse": {
      "id": "GenerateTextResponse",
      "description": "The response from the model, including candidate completions.",
      "type": "object",
      "properties": {
        "candidates": {
          "description": "Candidate responses from the model.",
          "type": "array",
          "items": {
            "$ref": "TextCompletion"
          }
        },
        "filters": {
          "description": "A set of content filtering metadata for the prompt and response text. This indicates which `SafetyCategory`(s) blocked a candidate from this response, the lowest `HarmProbability` that triggered a block, and the HarmThreshold setting for that category. This indicates the smallest change to the `SafetySettings` that would be necessary to unblock at least 1 response. The blocking is configured by the `SafetySettings` in the request (or the default `SafetySettings` of the API).",
          "type": "array",
          "items": {
            "$ref": "ContentFilter"
          }
        },
        "safetyFeedback": {
          "description": "Returns any safety feedback related to content filtering.",
          "type": "array",
          "items": {
            "$ref": "SafetyFeedback"
          }
        }
      }
    },
    "GroundingPassages": {
      "id": "GroundingPassages",
      "properties": {
        "passages": {
          "description": "List of passages.",
          "type": "array",
          "items": {
            "$ref": "GroundingPassage"
          }
        }
      },
      "description": "A repeated list of passages.",
      "type": "object"
    },
    "CountTokensRequest": {
      "properties": {
        "contents": {
          "description": "Optional. The input given to the model as a prompt. This field is ignored when `generate_content_request` is set.",
          "type": "array",
          "items": {
            "$ref": "Content"
          }
        },
        "generateContentRequest": {
          "description": "Optional. The overall input given to the `Model`. This includes the prompt as well as other model steering information like [system instructions](https://ai.google.dev/gemini-api/docs/system-instructions), and/or function declarations for [function calling](https://ai.google.dev/gemini-api/docs/function-calling). `Model`s/`Content`s and `generate_content_request`s are mutually exclusive. You can either send `Model` + `Content`s or a `generate_content_request`, but never both.",
          "$ref": "GenerateContentRequest"
        }
      },
      "description": "Counts the number of tokens in the `prompt` sent to a model. Models may tokenize text differently, so each model may return a different `token_count`.",
      "type": "object",
      "id": "CountTokensRequest"
    },
    "ListGeneratedFilesResponse": {
      "id": "ListGeneratedFilesResponse",
      "description": "Response for `ListGeneratedFiles`.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as a `page_token` into a subsequent `ListGeneratedFiles` call.",
          "type": "string"
        },
        "generatedFiles": {
          "items": {
            "$ref": "GeneratedFile"
          },
          "description": "The list of `GeneratedFile`s.",
          "type": "array"
        }
      }
    },
    "TuningExamples": {
      "id": "TuningExamples",
      "properties": {
        "examples": {
          "description": "The examples. Example input can be for text or discuss, but all examples in a set must be of the same type.",
          "type": "array",
          "items": {
            "$ref": "TuningExample"
          }
        }
      },
      "description": "A set of tuning examples. Can be training or validation data.",
      "type": "object"
    },
    "GenerateAnswerResponse": {
      "description": "Response from the model for a grounded answer.",
      "type": "object",
      "properties": {
        "answerableProbability": {
          "readOnly": true,
          "description": "Output only. The model's estimate of the probability that its answer is correct and grounded in the input passages. A low `answerable_probability` indicates that the answer might not be grounded in the sources. When `answerable_probability` is low, you may want to: * Display a message to the effect of \"We couldn’t answer that question\" to the user. * Fall back to a general-purpose LLM that answers the question from world knowledge. The threshold and nature of such fallbacks will depend on individual use cases. `0.5` is a good starting threshold.",
          "type": "number",
          "format": "float"
        },
        "answer": {
          "description": "Candidate answer from the model. Note: The model *always* attempts to provide a grounded answer, even when the answer is unlikely to be answerable from the given passages. In that case, a low-quality or ungrounded answer may be provided, along with a low `answerable_probability`.",
          "$ref": "Candidate"
        },
        "inputFeedback": {
          "$ref": "InputFeedback",
          "description": "Output only. Feedback related to the input data used to answer the question, as opposed to the model-generated response to the question. The input data can be one or more of the following: - Question specified by the last entry in `GenerateAnswerRequest.content` - Conversation history specified by the other entries in `GenerateAnswerRequest.content` - Grounding sources (`GenerateAnswerRequest.semantic_retriever` or `GenerateAnswerRequest.inline_passages`)",
          "readOnly": true
        }
      },
      "id": "GenerateAnswerResponse"
    },
    "ToolCall": {
      "id": "ToolCall",
      "description": "A predicted server-side `ToolCall` returned from the model. This message contains information about a tool that the model wants to invoke. The client is NOT expected to execute this `ToolCall`. Instead, the client should pass this `ToolCall` back to the API in a subsequent turn within a `Content` message, along with the corresponding `ToolResponse`.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Optional. Unique identifier of the tool call. The server returns the tool response with the matching `id`.",
          "type": "string"
        },
        "toolType": {
          "enum": [
            "TOOL_TYPE_UNSPECIFIED",
            "GOOGLE_SEARCH_WEB",
            "GOOGLE_SEARCH_IMAGE",
            "URL_CONTEXT",
            "GOOGLE_MAPS",
            "FILE_SEARCH"
          ],
          "description": "Required. The type of tool that was called.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified tool type.",
            "Google search tool, maps to Tool.google_search.search_types.web_search.",
            "Image search tool, maps to Tool.google_search.search_types.image_search.",
            "URL context tool, maps to Tool.url_context.",
            "Google maps tool, maps to Tool.google_maps.",
            "File search tool, maps to Tool.file_search."
          ]
        },
        "args": {
          "description": "Optional. The tool call arguments. Example: {\"arg1\" : \"value1\", \"arg2\" : \"value2\" , ...}",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "GroundingPassageId": {
      "description": "Identifier for a part within a `GroundingPassage`.",
      "type": "object",
      "properties": {
        "passageId": {
          "description": "Output only. ID of the passage matching the `GenerateAnswerRequest`'s `GroundingPassage.id`.",
          "type": "string",
          "readOnly": true
        },
        "partIndex": {
          "readOnly": true,
          "description": "Output only. Index of the part within the `GenerateAnswerRequest`'s `GroundingPassage.content`.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GroundingPassageId"
    },
    "TransferOwnershipRequest": {
      "properties": {
        "emailAddress": {
          "description": "Required. The email address of the user to whom the tuned model is being transferred to.",
          "type": "string"
        }
      },
      "description": "Request to transfer the ownership of the tuned model.",
      "type": "object",
      "id": "TransferOwnershipRequest"
    },
    "ThinkingConfig": {
      "id": "ThinkingConfig",
      "properties": {
        "includeThoughts": {
          "description": "Indicates whether to include thoughts in the response. If true, thoughts are returned only when available.",
          "type": "boolean"
        },
        "thinkingBudget": {
          "description": "The number of thoughts tokens that the model should generate.",
          "type": "integer",
          "format": "int32"
        },
        "thinkingLevel": {
          "description": "Optional. Controls the maximum depth of the model's internal reasoning process before it produces a response. The default value is model-dependent. Refer to the [Thinking levels guide](https://ai.google.dev/gemini-api/docs/thinking#thinking-levels) for more details. Recommended for Gemini 3 or later models. Use with earlier models results in an error.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Little to no thinking.",
            "Low thinking level.",
            "Medium thinking level.",
            "High thinking level."
          ],
          "enum": [
            "THINKING_LEVEL_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH"
          ]
        }
      },
      "description": "Config for thinking features.",
      "type": "object"
    },
    "Permission": {
      "id": "Permission",
      "description": "Permission resource grants user, group or the rest of the world access to the PaLM API resource (e.g. a tuned model, corpus). A role is a collection of permitted operations that allows users to perform specific actions on PaLM API resources. To make them available to users, groups, or service accounts, you assign roles. When you assign a role, you grant permissions that the role contains. There are three concentric roles. Each role is a superset of the previous role's permitted operations: - reader can use the resource (e.g. tuned model, corpus) for inference - writer has reader's permissions and additionally can edit and share - owner has writer's permissions and additionally can delete",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Identifier. The permission name. A unique name will be generated on create. Examples: tunedModels/{tuned_model}/permissions/{permission} corpora/{corpus}/permissions/{permission} Output only.",
          "type": "string",
          "readOnly": true
        },
        "role": {
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "WRITER",
            "READER"
          ],
          "description": "Required. The role granted by this permission.",
          "type": "string",
          "enumDescriptions": [
            "The default value. This value is unused.",
            "Owner can use, update, share and delete the resource.",
            "Writer can use, update and share the resource.",
            "Reader can use the resource."
          ]
        },
        "granteeType": {
          "enum": [
            "GRANTEE_TYPE_UNSPECIFIED",
            "USER",
            "GROUP",
            "EVERYONE"
          ],
          "description": "Optional. Immutable. The type of the grantee.",
          "type": "string",
          "enumDescriptions": [
            "The default value. This value is unused.",
            "Represents a user. When set, you must provide email_address for the user.",
            "Represents a group. When set, you must provide email_address for the group.",
            "Represents access to everyone. No extra information is required."
          ]
        },
        "emailAddress": {
          "description": "Optional. Immutable. The email address of the user of group which this permission refers. Field is not set when permission's grantee type is EVERYONE.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation"
    },
    "EmbedTextRequest": {
      "description": "Request to get a text embedding from the model.",
      "type": "object",
      "properties": {
        "model": {
          "description": "Required. The model name to use with the format model=models/{model}.",
          "type": "string"
        },
        "text": {
          "description": "Optional. The free-form input text that the model will turn into an embedding.",
          "type": "string"
        }
      },
      "id": "EmbedTextRequest"
    },
    "GenerateTextRequest": {
      "description": "Request to generate a text completion response from the model.",
      "type": "object",
      "properties": {
        "temperature": {
          "format": "float",
          "description": "Optional. Controls the randomness of the output. Note: The default value varies by model, see the `Model.temperature` attribute of the `Model` returned the `getModel` function. Values can range from [0.0,1.0], inclusive. A value closer to 1.0 will produce responses that are more varied and creative, while a value closer to 0.0 will typically result in more straightforward responses from the model.",
          "type": "number"
        },
        "prompt": {
          "description": "Required. The free-form input text given to the model as a prompt. Given a prompt, the model will generate a TextCompletion response it predicts as the completion of the input text.",
          "$ref": "TextPrompt"
        },
        "topP": {
          "format": "float",
          "description": "Optional. The maximum cumulative probability of tokens to consider when sampling. The model uses combined Top-k and nucleus sampling. Tokens are sorted based on their assigned probabilities so that only the most likely tokens are considered. Top-k sampling directly limits the maximum number of tokens to consider, while Nucleus sampling limits number of tokens based on the cumulative probability. Note: The default value varies by model, see the `Model.top_p` attribute of the `Model` returned the `getModel` function.",
          "type": "number"
        },
        "topK": {
          "description": "Optional. The maximum number of tokens to consider when sampling. The model uses combined Top-k and nucleus sampling. Top-k sampling considers the set of `top_k` most probable tokens. Defaults to 40. Note: The default value varies by model, see the `Model.top_k` attribute of the `Model` returned the `getModel` function.",
          "type": "integer",
          "format": "int32"
        },
        "safetySettings": {
          "description": "Optional. A list of unique `SafetySetting` instances for blocking unsafe content. that will be enforced on the `GenerateTextRequest.prompt` and `GenerateTextResponse.candidates`. There should not be more than one setting for each `SafetyCategory` type. The API will block any prompts and responses that fail to meet the thresholds set by these settings. This list overrides the default settings for each `SafetyCategory` specified in the safety_settings. If there is no `SafetySetting` for a given `SafetyCategory` provided in the list, the API will use the default safety setting for that category. Harm categories HARM_CATEGORY_DEROGATORY, HARM_CATEGORY_TOXICITY, HARM_CATEGORY_VIOLENCE, HARM_CATEGORY_SEXUAL, HARM_CATEGORY_MEDICAL, HARM_CATEGORY_DANGEROUS are supported in text service.",
          "type": "array",
          "items": {
            "$ref": "SafetySetting"
          }
        },
        "stopSequences": {
          "description": "The set of character sequences (up to 5) that will stop output generation. If specified, the API will stop at the first appearance of a stop sequence. The stop sequence will not be included as part of the response.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "candidateCount": {
          "format": "int32",
          "description": "Optional. Number of generated responses to return. This value must be between [1, 8], inclusive. If unset, this will default to 1.",
          "type": "integer"
        },
        "maxOutputTokens": {
          "format": "int32",
          "description": "Optional. The maximum number of tokens to include in a candidate. If unset, this will default to output_token_limit specified in the `Model` specification.",
          "type": "integer"
        }
      },
      "id": "GenerateTextRequest"
    },
    "ListPermissionsResponse": {
      "id": "ListPermissionsResponse",
      "properties": {
        "permissions": {
          "items": {
            "$ref": "Permission"
          },
          "description": "Returned permissions.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no more pages.",
          "type": "string"
        }
      },
      "description": "Response from `ListPermissions` containing a paginated list of permissions.",
      "type": "object"
    },
    "CreateFileRequest": {
      "description": "Request for `CreateFile`.",
      "type": "object",
      "properties": {
        "file": {
          "$ref": "File",
          "description": "Optional. Metadata for the file to create."
        }
      },
      "id": "CreateFileRequest"
    },
    "Content": {
      "description": "The base structured datatype containing multi-part content of a message. A `Content` includes a `role` field designating the producer of the `Content` and a `parts` field containing multi-part data that contains the content of the message turn.",
      "type": "object",
      "properties": {
        "role": {
          "description": "Optional. The producer of the content. Must be either 'user' or 'model'. Useful to set for multi-turn conversations, otherwise can be left blank or unset.",
          "type": "string"
        },
        "parts": {
          "items": {
            "$ref": "Part"
          },
          "description": "Ordered `Parts` that constitute a single message. Parts may have different MIME types.",
          "type": "array"
        }
      },
      "id": "Content"
    },
    "CitationSource": {
      "description": "A citation to a source for a portion of a specific response.",
      "type": "object",
      "properties": {
        "startIndex": {
          "description": "Optional. Start of segment of the response that is attributed to this source. Index indicates the start of the segment, measured in bytes.",
          "type": "integer",
          "format": "int32"
        },
        "endIndex": {
          "description": "Optional. End of the attributed segment, exclusive.",
          "type": "integer",
          "format": "int32"
        },
        "uri": {
          "description": "Optional. URI that is attributed as a source for a portion of the text.",
          "type": "string"
        },
        "license": {
          "description": "Optional. License for the GitHub project that is attributed as a source for segment. License info is required for code citations.",
          "type": "string"
        }
      },
      "id": "CitationSource"
    },
    "EmbedTextResponse": {
      "description": "The response to a EmbedTextRequest.",
      "type": "object",
      "properties": {
        "embedding": {
          "readOnly": true,
          "description": "Output only. The embedding generated from the input text.",
          "$ref": "Embedding"
        }
      },
      "id": "EmbedTextResponse"
    },
    "DiffUploadResponse": {
      "id": "DiffUploadResponse",
      "properties": {
        "objectVersion": {
          "description": "The object version of the object at the server. Must be included in the end notification response. The version in the end notification response must correspond to the new version of the object that is now stored at the server, after the upload.",
          "type": "string"
        },
        "originalObject": {
          "$ref": "CompositeMedia",
          "description": "The location of the original file for a diff upload request. Must be filled in if responding to an upload start notification."
        }
      },
      "description": "Backend response for a Diff upload request. For details on the Scotty Diff protocol, visit http://go/scotty-diff-protocol.",
      "type": "object"
    },
    "ContextWindowCompressionConfig": {
      "id": "ContextWindowCompressionConfig",
      "properties": {
        "slidingWindow": {
          "description": "A sliding-window mechanism.",
          "$ref": "SlidingWindow"
        },
        "triggerTokens": {
          "description": "The number of tokens (before running a turn) required to trigger a context window compression. This can be used to balance quality against latency as shorter context windows may result in faster model responses. However, any compression operation will cause a temporary latency increase, so they should not be triggered frequently. If not set, the default is 80% of the model's context window limit. This leaves 20% for the next user request/model response.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Enables context window compression — a mechanism for managing the model's context window so that it does not exceed a given length.",
      "type": "object"
    },
    "BatchEmbedTextRequest": {
      "properties": {
        "requests": {
          "description": "Optional. Embed requests for the batch. Only one of `texts` or `requests` can be set.",
          "type": "array",
          "items": {
            "$ref": "EmbedTextRequest"
          }
        },
        "texts": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The free-form input texts that the model will turn into an embedding. The current limit is 100 texts, over which an error will be thrown.",
          "type": "array"
        }
      },
      "description": "Batch request to get a text embedding from the model.",
      "type": "object",
      "id": "BatchEmbedTextRequest"
    },
    "SemanticRetrieverConfig": {
      "id": "SemanticRetrieverConfig",
      "properties": {
        "metadataFilters": {
          "description": "Optional. Filters for selecting `Document`s and/or `Chunk`s from the resource.",
          "type": "array",
          "items": {
            "$ref": "MetadataFilter"
          }
        },
        "source": {
          "description": "Required. Name of the resource for retrieval. Example: `corpora/123` or `corpora/123/documents/abc`.",
          "type": "string"
        },
        "maxChunksCount": {
          "description": "Optional. Maximum number of relevant `Chunk`s to retrieve.",
          "type": "integer",
          "format": "int32"
        },
        "query": {
          "$ref": "Content",
          "description": "Required. Query to use for matching `Chunk`s in the given resource by similarity."
        },
        "minimumRelevanceScore": {
          "format": "float",
          "description": "Optional. Minimum relevance score for retrieved relevant `Chunk`s.",
          "type": "number"
        }
      },
      "description": "Configuration for retrieving grounding content from a `Corpus` or `Document` created using the Semantic Retriever API.",
      "type": "object"
    },
    "AttributionSourceId": {
      "id": "AttributionSourceId",
      "description": "Identifier for the source contributing to this attribution.",
      "type": "object",
      "properties": {
        "groundingPassage": {
          "description": "Identifier for an inline passage.",
          "$ref": "GroundingPassageId"
        },
        "semanticRetrieverChunk": {
          "$ref": "SemanticRetrieverChunk",
          "description": "Identifier for a `Chunk` fetched via Semantic Retriever."
        }
      }
    },
    "LogprobsResult": {
      "id": "LogprobsResult",
      "description": "Logprobs Result",
      "type": "object",
      "properties": {
        "topCandidates": {
          "description": "Length = total number of decoding steps.",
          "type": "array",
          "items": {
            "$ref": "TopCandidates"
          }
        },
        "logProbabilitySum": {
          "format": "float",
          "description": "Sum of log probabilities for all tokens.",
          "type": "number"
        },
        "chosenCandidates": {
          "description": "Length = total number of decoding steps. The chosen candidates may or may not be in top_candidates.",
          "type": "array",
          "items": {
            "$ref": "LogprobsResultCandidate"
          }
        }
      }
    },
    "DownloadParameters": {
      "properties": {
        "allowGzipCompression": {
          "description": "A boolean to be returned in the response to Scotty. Allows/disallows gzip encoding of the payload content when the server thinks it's advantageous (hence, does not guarantee compression) which allows Scotty to GZip the response to the client.",
          "type": "boolean"
        },
        "ignoreRange": {
          "description": "Determining whether or not Apiary should skip the inclusion of any Content-Range header on its response to Scotty.",
          "type": "boolean"
        }
      },
      "description": "Parameters specific to media downloads.",
      "type": "object",
      "id": "DownloadParameters"
    },
    "BatchEmbedContentsResponse": {
      "id": "BatchEmbedContentsResponse",
      "description": "The response to a `BatchEmbedContentsRequest`.",
      "type": "object",
      "properties": {
        "embeddings": {
          "description": "Output only. The embeddings for each request, in the same order as provided in the batch request.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "ContentEmbedding"
          }
        },
        "usageMetadata": {
          "readOnly": true,
          "$ref": "EmbeddingUsageMetadata",
          "description": "Output only. The usage metadata for the request."
        }
      }
    },
    "Example": {
      "id": "Example",
      "description": "An input/output example used to instruct the Model. It demonstrates how the model should respond or format its response.",
      "type": "object",
      "properties": {
        "input": {
          "description": "Required. An example of an input `Message` from the user.",
          "$ref": "Message"
        },
        "output": {
          "$ref": "Message",
          "description": "Required. An example of what the model should output given the input."
        }
      }
    },
    "ToolResponse": {
      "description": "The output from a server-side `ToolCall` execution. This message contains the results of a tool invocation that was initiated by a `ToolCall` from the model. The client should pass this `ToolResponse` back to the API in a subsequent turn within a `Content` message, along with the corresponding `ToolCall`.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Optional. The identifier of the tool call this response is for.",
          "type": "string"
        },
        "toolType": {
          "enum": [
            "TOOL_TYPE_UNSPECIFIED",
            "GOOGLE_SEARCH_WEB",
            "GOOGLE_SEARCH_IMAGE",
            "URL_CONTEXT",
            "GOOGLE_MAPS",
            "FILE_SEARCH"
          ],
          "description": "Required. The type of tool that was called, matching the `tool_type` in the corresponding `ToolCall`.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified tool type.",
            "Google search tool, maps to Tool.google_search.search_types.web_search.",
            "Image search tool, maps to Tool.google_search.search_types.image_search.",
            "URL context tool, maps to Tool.url_context.",
            "Google maps tool, maps to Tool.google_maps.",
            "File search tool, maps to Tool.file_search."
          ]
        },
        "response": {
          "description": "Optional. The tool response.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "id": "ToolResponse"
    },
    "PromptFeedback": {
      "id": "PromptFeedback",
      "description": "A set of the feedback metadata the prompt specified in `GenerateContentRequest.content`.",
      "type": "object",
      "properties": {
        "blockReason": {
          "enum": [
            "BLOCK_REASON_UNSPECIFIED",
            "SAFETY",
            "OTHER",
            "BLOCKLIST",
            "PROHIBITED_CONTENT",
            "IMAGE_SAFETY"
          ],
          "description": "Optional. If set, the prompt was blocked and no candidates are returned. Rephrase the prompt.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Prompt was blocked due to safety reasons. Inspect `safety_ratings` to understand which safety category blocked it.",
            "Prompt was blocked due to unknown reasons.",
            "Prompt was blocked due to the terms which are included from the terminology blocklist.",
            "Prompt was blocked due to prohibited content.",
            "Candidates blocked due to unsafe image generation content."
          ]
        },
        "safetyRatings": {
          "items": {
            "$ref": "SafetyRating"
          },
          "description": "Ratings for safety of the prompt. There is at most one rating per category.",
          "type": "array"
        }
      }
    },
    "StreamableHttpTransport": {
      "properties": {
        "sseReadTimeout": {
          "description": "Timeout for SSE read operations.",
          "type": "string",
          "format": "google-duration"
        },
        "headers": {
          "description": "Optional: Fields for authentication headers, timeouts, etc., if needed.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "timeout": {
          "description": "HTTP timeout for regular operations.",
          "type": "string",
          "format": "google-duration"
        },
        "url": {
          "description": "The full URL for the MCPServer endpoint. Example: \"https://api.example.com/mcp\"",
          "type": "string"
        },
        "terminateOnClose": {
          "description": "Whether to close the client session when the transport closes.",
          "type": "boolean"
        }
      },
      "description": "A transport that can stream HTTP requests and responses. Next ID: 6",
      "type": "object",
      "id": "StreamableHttpTransport"
    },
    "LogprobsResultCandidate": {
      "id": "LogprobsResultCandidate",
      "properties": {
        "tokenId": {
          "description": "The candidate’s token id value.",
          "type": "integer",
          "format": "int32"
        },
        "token": {
          "description": "The candidate’s token string value.",
          "type": "string"
        },
        "logProbability": {
          "description": "The candidate's log probability.",
          "type": "number",
          "format": "float"
        }
      },
      "description": "Candidate for the logprobs token and score.",
      "type": "object"
    },
    "LanguageAuto": {
      "properties": {},
      "description": "Indicates the language of the audio should be automatically detected.",
      "type": "object",
      "id": "LanguageAuto"
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty"
    },
    "GoogleMaps": {
      "properties": {
        "enableWidget": {
          "description": "Optional. Whether to return a widget context token in the GroundingMetadata of the response. Developers can use the widget context token to render a Google Maps widget with geospatial context related to the places that the model references in the response.",
          "type": "boolean"
        }
      },
      "description": "The GoogleMaps Tool that provides geospatial context for the user's query.",
      "type": "object",
      "id": "GoogleMaps"
    },
    "InlinedEmbedContentResponses": {
      "id": "InlinedEmbedContentResponses",
      "properties": {
        "inlinedResponses": {
          "readOnly": true,
          "items": {
            "$ref": "InlinedEmbedContentResponse"
          },
          "description": "Output only. The responses to the requests in the batch.",
          "type": "array"
        }
      },
      "description": "The responses to the requests in the batch.",
      "type": "object"
    },
    "FunctionResponse": {
      "id": "FunctionResponse",
      "properties": {
        "willContinue": {
          "description": "Optional. Signals that function call continues, and more responses will be returned, turning the function call into a generator. Is only applicable to NON_BLOCKING function calls, is ignored otherwise. If set to false, future responses will not be considered. It is allowed to return empty `response` with `will_continue=False` to signal that the function call is finished. This may still trigger the model generation. To avoid triggering the generation and finish the function call, additionally set `scheduling` to `SILENT`.",
          "type": "boolean"
        },
        "scheduling": {
          "description": "Optional. Specifies how the response should be scheduled in the conversation. Only applicable to NON_BLOCKING function calls, is ignored otherwise. Defaults to WHEN_IDLE.",
          "type": "string",
          "enumDescriptions": [
            "This value is unused.",
            "Only add the result to the conversation context, do not interrupt or trigger generation.",
            "Add the result to the conversation context, and prompt to generate output without interrupting ongoing generation.",
            "Add the result to the conversation context, interrupt ongoing generation and prompt to generate output."
          ],
          "enum": [
            "SCHEDULING_UNSPECIFIED",
            "SILENT",
            "WHEN_IDLE",
            "INTERRUPT"
          ]
        },
        "response": {
          "description": "Required. The function response in JSON object format. Callers can use any keys of their choice that fit the function's syntax to return the function output, e.g. \"output\", \"result\", etc. In particular, if the function call failed to execute, the response can have an \"error\" key to return error details to the model. Multimedia can be included by using a subobject containing a single \"$ref\" key whose value is the `inline_data.display_name` of a `FunctionResponsePart` holding the multimedia. See https://ai.google.dev/gemini-api/docs/function-calling#multimodal.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "parts": {
          "description": "Optional. Ordered `Parts` that constitute a function response. Parts may have different IANA MIME types.",
          "type": "array",
          "items": {
            "$ref": "FunctionResponsePart"
          }
        },
        "id": {
          "description": "Optional. The identifier of the function call this response is for. Populated by the client to match the corresponding function call `id`.",
          "type": "string"
        },
        "name": {
          "description": "Required. The name of the function to call. Must be a-z, A-Z, 0-9, or contain underscores and dashes, with a maximum length of 128.",
          "type": "string"
        }
      },
      "description": "The result output from a `FunctionCall` that contains a string representing the `FunctionDeclaration.name` and a structured JSON object containing any output from the function is used as context to the model. This should contain the result of a`FunctionCall` made based on model prediction.",
      "type": "object"
    },
    "InlinedEmbedContentRequests": {
      "properties": {
        "requests": {
          "items": {
            "$ref": "InlinedEmbedContentRequest"
          },
          "description": "Required. The requests to be processed in the batch.",
          "type": "array"
        }
      },
      "description": "The requests to be processed in the batch if provided as part of the batch creation request.",
      "type": "object",
      "id": "InlinedEmbedContentRequests"
    },
    "SafetySetting": {
      "properties": {
        "category": {
          "enum": [
            "HARM_CATEGORY_UNSPECIFIED",
            "HARM_CATEGORY_DEROGATORY",
            "HARM_CATEGORY_TOXICITY",
            "HARM_CATEGORY_VIOLENCE",
            "HARM_CATEGORY_SEXUAL",
            "HARM_CATEGORY_MEDICAL",
            "HARM_CATEGORY_DANGEROUS",
            "HARM_CATEGORY_HARASSMENT",
            "HARM_CATEGORY_HATE_SPEECH",
            "HARM_CATEGORY_SEXUALLY_EXPLICIT",
            "HARM_CATEGORY_DANGEROUS_CONTENT",
            "HARM_CATEGORY_CIVIC_INTEGRITY",
            "HARM_CATEGORY_JAILBREAK"
          ],
          "description": "Required. The category for this setting.",
          "enumDescriptions": [
            "Category is unspecified.",
            "**PaLM** - Negative or harmful comments targeting identity and/or protected attribute.",
            "**PaLM** - Content that is rude, disrespectful, or profane.",
            "**PaLM** - Describes scenarios depicting violence against an individual or group, or general descriptions of gore.",
            "**PaLM** - Contains references to sexual acts or other lewd content.",
            "**PaLM** - Promotes unchecked medical advice.",
            "**PaLM** - Dangerous content that promotes, facilitates, or encourages harmful acts.",
            "**Gemini** - Harassment content.",
            "**Gemini** - Hate speech and content.",
            "**Gemini** - Sexually explicit content.",
            "**Gemini** - Dangerous content.",
            "**Gemini** - Content that may be used to harm civic integrity. DEPRECATED: use enable_enhanced_civic_answers instead.",
            "**Gemini** - Prompts attempting to bypass or subvert the model's safety guidelines (jailbreak attempts)."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false
          ],
          "type": "string"
        },
        "threshold": {
          "description": "Required. Controls the probability threshold at which harm is blocked.",
          "type": "string",
          "enumDescriptions": [
            "Threshold is unspecified.",
            "Content with NEGLIGIBLE will be allowed.",
            "Content with NEGLIGIBLE and LOW will be allowed.",
            "Content with NEGLIGIBLE, LOW, and MEDIUM will be allowed.",
            "All content will be allowed.",
            "Turn off the safety filter."
          ],
          "enum": [
            "HARM_BLOCK_THRESHOLD_UNSPECIFIED",
            "BLOCK_LOW_AND_ABOVE",
            "BLOCK_MEDIUM_AND_ABOVE",
            "BLOCK_ONLY_HIGH",
            "BLOCK_NONE",
            "OFF"
          ]
        }
      },
      "description": "Safety setting, affecting the safety-blocking behavior. Passing a safety setting for a category changes the allowed probability that content is blocked.",
      "type": "object",
      "id": "SafetySetting"
    },
    "RetrievedContext": {
      "properties": {
        "fileSearchStore": {
          "description": "Optional. Name of the `FileSearchStore` containing the document. Example: `fileSearchStores/123`",
          "type": "string"
        },
        "uri": {
          "description": "Optional. URI reference of the semantic retrieval document.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title of the document.",
          "type": "string"
        },
        "text": {
          "description": "Optional. Text of the chunk.",
          "type": "string"
        },
        "customMetadata": {
          "items": {
            "$ref": "GroundingChunkCustomMetadata"
          },
          "description": "Optional. User-provided metadata about the retrieved context.",
          "type": "array"
        },
        "pageNumber": {
          "description": "Optional. Page number of the retrieved context, if applicable.",
          "type": "integer",
          "format": "int32"
        },
        "mediaId": {
          "description": "Optional. The media blob resource name for multimodal file search results. Format: fileSearchStores/{file_search_store_id}/media/{blob_id}",
          "type": "string"
        }
      },
      "description": "Chunk from context retrieved by the file search tool.",
      "type": "object",
      "id": "RetrievedContext"
    },
    "CodeExecutionResult": {
      "properties": {
        "id": {
          "description": "Optional. The identifier of the `ExecutableCode` part this result is for. Only populated if the corresponding `ExecutableCode` has an id.",
          "type": "string"
        },
        "output": {
          "description": "Optional. Contains stdout when code execution is successful, stderr or other description otherwise.",
          "type": "string"
        },
        "outcome": {
          "description": "Required. Outcome of the code execution.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified status. This value should not be used.",
            "Code execution completed successfully. `output` contains the stdout, if any.",
            "Code execution failed. `output` contains the stderr and stdout, if any.",
            "Code execution ran for too long, and was cancelled. There may or may not be a partial `output` present."
          ],
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "OUTCOME_OK",
            "OUTCOME_FAILED",
            "OUTCOME_DEADLINE_EXCEEDED"
          ]
        }
      },
      "description": "Result of executing the `ExecutableCode`. Generated only when the `CodeExecution` tool is used.",
      "type": "object",
      "id": "CodeExecutionResult"
    },
    "File": {
      "id": "File",
      "properties": {
        "source": {
          "enum": [
            "SOURCE_UNSPECIFIED",
            "UPLOADED",
            "GENERATED",
            "REGISTERED"
          ],
          "description": "Source of the File.",
          "type": "string",
          "enumDescriptions": [
            "Used if source is not specified.",
            "Indicates the file is uploaded by the user.",
            "Indicates the file is generated by Google.",
            "Indicates the file is a registered, i.e. a Google Cloud Storage file."
          ]
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROCESSING",
            "ACTIVE",
            "FAILED"
          ],
          "readOnly": true,
          "description": "Output only. Processing state of the File.",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "File is being processed and cannot be used for inference yet.",
            "File is processed and available for inference.",
            "File failed processing."
          ]
        },
        "mimeType": {
          "readOnly": true,
          "description": "Output only. MIME type of the file.",
          "type": "string"
        },
        "expirationTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp of when the `File` will be deleted. Only set if the `File` is scheduled to expire.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. The human-readable display name for the `File`. The display name must be no more than 512 characters in length, including spaces. Example: \"Welcome Image\"",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp of when the `File` was created.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The timestamp of when the `File` was last updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "description": "Immutable. Identifier. The `File` resource name. The ID (name excluding the \"files/\" prefix) can contain up to 40 characters that are lowercase alphanumeric or dashes (-). The ID cannot start or end with a dash. If the name is empty on create, a unique name will be generated. Example: `files/123-456`",
          "type": "string"
        },
        "videoMetadata": {
          "description": "Output only. Metadata for a video.",
          "$ref": "VideoFileMetadata",
          "readOnly": true
        },
        "uri": {
          "description": "Output only. The uri of the `File`.",
          "type": "string",
          "readOnly": true
        },
        "sha256Hash": {
          "description": "Output only. SHA-256 hash of the uploaded bytes.",
          "type": "string",
          "format": "byte",
          "readOnly": true
        },
        "downloadUri": {
          "description": "Output only. The download uri of the `File`.",
          "type": "string",
          "readOnly": true
        },
        "sizeBytes": {
          "format": "int64",
          "description": "Output only. Size of the file in bytes.",
          "type": "string",
          "readOnly": true
        },
        "error": {
          "readOnly": true,
          "description": "Output only. Error status if File processing failed.",
          "$ref": "Status"
        }
      },
      "description": "A file uploaded to the API. Next ID: 15",
      "type": "object"
    },
    "Condition": {
      "properties": {
        "numericValue": {
          "format": "float",
          "description": "The numeric value to filter the metadata on.",
          "type": "number"
        },
        "stringValue": {
          "description": "The string value to filter the metadata on.",
          "type": "string"
        },
        "operation": {
          "description": "Required. Operator applied to the given key-value pair to trigger the condition.",
          "type": "string",
          "enumDescriptions": [
            "The default value. This value is unused.",
            "Supported by numeric.",
            "Supported by numeric.",
            "Supported by numeric & string.",
            "Supported by numeric.",
            "Supported by numeric.",
            "Supported by numeric & string.",
            "Supported by string only when `CustomMetadata` value type for the given key has a `string_list_value`.",
            "Supported by string only when `CustomMetadata` value type for the given key has a `string_list_value`."
          ],
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "LESS",
            "LESS_EQUAL",
            "EQUAL",
            "GREATER_EQUAL",
            "GREATER",
            "NOT_EQUAL",
            "INCLUDES",
            "EXCLUDES"
          ]
        }
      },
      "description": "Filter condition applicable to a single key.",
      "type": "object",
      "id": "Condition"
    },
    "PrebuiltVoiceConfig": {
      "id": "PrebuiltVoiceConfig",
      "properties": {
        "voiceName": {
          "description": "The name of the preset voice to use.",
          "type": "string"
        }
      },
      "description": "The configuration for the prebuilt speaker to use.",
      "type": "object"
    },
    "EmbeddingUsageMetadata": {
      "id": "EmbeddingUsageMetadata",
      "properties": {
        "promptTokenCount": {
          "description": "Output only. Number of tokens in the prompt.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "promptTokenDetails": {
          "readOnly": true,
          "items": {
            "$ref": "ModalityTokenCount"
          },
          "description": "Output only. List of modalities that were processed in the request input.",
          "type": "array"
        }
      },
      "description": "Metadata on the usage of the embedding request.",
      "type": "object"
    },
    "VideoFileMetadata": {
      "id": "VideoFileMetadata",
      "description": "Metadata for a video `File`.",
      "type": "object",
      "properties": {
        "videoDuration": {
          "format": "google-duration",
          "description": "Duration of the video.",
          "type": "string"
        }
      }
    },
    "GoogleSearchRetrieval": {
      "id": "GoogleSearchRetrieval",
      "description": "Tool to retrieve public web data for grounding, powered by Google.",
      "type": "object",
      "properties": {
        "dynamicRetrievalConfig": {
          "description": "Specifies the dynamic retrieval configuration for the given source.",
          "$ref": "DynamicRetrievalConfig"
        }
      }
    },
    "Candidate": {
      "properties": {
        "citationMetadata": {
          "readOnly": true,
          "description": "Output only. Citation information for model-generated candidate. This field may be populated with recitation information for any text included in the `content`. These are passages that are \"recited\" from copyrighted material in the foundational LLM's training data.",
          "$ref": "CitationMetadata"
        },
        "avgLogprobs": {
          "readOnly": true,
          "format": "double",
          "description": "Output only. Average log probability score of the candidate.",
          "type": "number"
        },
        "index": {
          "format": "int32",
          "description": "Output only. Index of the candidate in the list of response candidates.",
          "type": "integer",
          "readOnly": true
        },
        "safetyRatings": {
          "items": {
            "$ref": "SafetyRating"
          },
          "description": "List of ratings for the safety of a response candidate. There is at most one rating per category.",
          "type": "array"
        },
        "content": {
          "readOnly": true,
          "description": "Output only. Generated content returned from the model.",
          "$ref": "Content"
        },
        "finishMessage": {
          "description": "Optional. Output only. Details the reason why the model stopped generating tokens. This is populated only when `finish_reason` is set.",
          "type": "string",
          "readOnly": true
        },
        "tokenCount": {
          "format": "int32",
          "description": "Output only. Token count for this candidate.",
          "type": "integer",
          "readOnly": true
        },
        "urlContextMetadata": {
          "$ref": "UrlContextMetadata",
          "description": "Output only. Metadata related to url context retrieval tool.",
          "readOnly": true
        },
        "finishReason": {
          "type": "string",
          "description": "Optional. Output only. The reason why the model stopped generating tokens. If empty, the model has not stopped generating tokens.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Natural stop point of the model or provided stop sequence.",
            "The maximum number of tokens as specified in the request was reached.",
            "The response candidate content was flagged for safety reasons.",
            "The response candidate content was flagged for recitation reasons.",
            "The response candidate content was flagged for using an unsupported language.",
            "Unknown reason.",
            "Token generation stopped because the content contains forbidden terms.",
            "Token generation stopped for potentially containing prohibited content.",
            "Token generation stopped because the content potentially contains Sensitive Personally Identifiable Information (SPII).",
            "The function call generated by the model is invalid.",
            "Token generation stopped because generated images contain safety violations.",
            "Image generation stopped because generated images has other prohibited content.",
            "Image generation stopped because of other miscellaneous issue.",
            "The model was expected to generate an image, but none was generated.",
            "Image generation stopped due to recitation.",
            "Model generated a tool call but no tools were enabled in the request.",
            "Model called too many tools consecutively, thus the system exited execution.",
            "Request has at least one thought signature missing.",
            "Finished due to malformed response.",
            "Request was filtered by an escalation rule."
          ],
          "readOnly": true,
          "enum": [
            "FINISH_REASON_UNSPECIFIED",
            "STOP",
            "MAX_TOKENS",
            "SAFETY",
            "RECITATION",
            "LANGUAGE",
            "OTHER",
            "BLOCKLIST",
            "PROHIBITED_CONTENT",
            "SPII",
            "MALFORMED_FUNCTION_CALL",
            "IMAGE_SAFETY",
            "IMAGE_PROHIBITED_CONTENT",
            "IMAGE_OTHER",
            "NO_IMAGE",
            "IMAGE_RECITATION",
            "UNEXPECTED_TOOL_CALL",
            "TOO_MANY_TOOL_CALLS",
            "MISSING_THOUGHT_SIGNATURE",
            "MALFORMED_RESPONSE",
            "ESCALATION"
          ]
        },
        "groundingMetadata": {
          "readOnly": true,
          "description": "Output only. Grounding metadata for the candidate. This field is populated for `GenerateContent` calls.",
          "$ref": "GroundingMetadata"
        },
        "logprobsResult": {
          "description": "Output only. Log-likelihood scores for the response tokens and top tokens",
          "$ref": "LogprobsResult",
          "readOnly": true
        },
        "groundingAttributions": {
          "description": "Output only. Attribution information for sources that contributed to a grounded answer. This field is populated for `GenerateAnswer` calls.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GroundingAttribution"
          }
        }
      },
      "description": "A response candidate generated from the model.",
      "type": "object",
      "id": "Candidate"
    },
    "TranslationConfig": {
      "id": "TranslationConfig",
      "description": "Config for translation features.",
      "type": "object",
      "properties": {
        "echoTargetLanguage": {
          "description": "Optional. If true, the model will generate audio when the target language is spoken, essentially it will parrot the input. If false, we will not produce audio for the target language.",
          "type": "boolean"
        },
        "targetLanguageCode": {
          "description": "Required. The target language for translation. Supported values are BCP-47 language codes (e.g. \"en\", \"es\", \"fr\").",
          "type": "string"
        }
      }
    },
    "InlinedRequest": {
      "id": "InlinedRequest",
      "properties": {
        "metadata": {
          "description": "Optional. The metadata to be associated with the request.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "request": {
          "description": "Required. The request to be processed in the batch.",
          "$ref": "GenerateContentRequest"
        }
      },
      "description": "The request to be processed in the batch.",
      "type": "object"
    },
    "Status": {
      "properties": {
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status"
    },
    "CachedContent": {
      "properties": {
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. When the cache entry was last updated in UTC time.",
          "type": "string"
        },
        "ttl": {
          "format": "google-duration",
          "description": "Input only. New TTL for this resource, input only.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Creation time of the cache entry.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "tools": {
          "description": "Optional. Input only. Immutable. A list of `Tools` the model may use to generate the next response",
          "type": "array",
          "items": {
            "$ref": "Tool"
          }
        },
        "usageMetadata": {
          "readOnly": true,
          "description": "Output only. Metadata on the usage of the cached content.",
          "$ref": "CachedContentUsageMetadata"
        },
        "name": {
          "description": "Output only. Identifier. The resource name referring to the cached content. Format: `cachedContents/{id}`",
          "type": "string",
          "readOnly": true
        },
        "model": {
          "description": "Required. Immutable. The name of the `Model` to use for cached content Format: `models/{model}`",
          "type": "string"
        },
        "expireTime": {
          "description": "Timestamp in UTC of when this resource is considered expired. This is *always* provided on output, regardless of what was sent on input.",
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "description": "Optional. Immutable. The user-generated meaningful display name of the cached content. Maximum 128 Unicode characters.",
          "type": "string"
        },
        "contents": {
          "description": "Optional. Input only. Immutable. The content to cache.",
          "type": "array",
          "items": {
            "$ref": "Content"
          }
        },
        "systemInstruction": {
          "description": "Optional. Input only. Immutable. Developer set system instruction. Currently text only.",
          "$ref": "Content"
        },
        "toolConfig": {
          "$ref": "ToolConfig",
          "description": "Optional. Input only. Immutable. Tool config. This config is shared for all tools."
        }
      },
      "description": "Content that has been preprocessed and can be used in subsequent request to GenerativeService. Cached content can be only used with model it was created for.",
      "type": "object",
      "id": "CachedContent"
    },
    "Image": {
      "properties": {
        "imageUri": {
          "description": "The image asset URL.",
          "type": "string"
        },
        "sourceUri": {
          "description": "The web page URI for attribution.",
          "type": "string"
        },
        "title": {
          "description": "The title of the web page that the image is from.",
          "type": "string"
        },
        "domain": {
          "description": "The root domain of the web page that the image is from, e.g. \"example.com\".",
          "type": "string"
        }
      },
      "description": "Chunk from image search.",
      "type": "object",
      "id": "Image"
    },
    "SlidingWindow": {
      "description": "The SlidingWindow method operates by discarding content at the beginning of the context window. The resulting context will always begin at the start of a USER role turn. System instructions and any `BidiGenerateContentSetup.prefix_turns` will always remain at the beginning of the result.",
      "type": "object",
      "properties": {
        "targetTokens": {
          "description": "The target number of tokens to keep. The default value is trigger_tokens/2. Discarding parts of the context window causes a temporary latency increase so this value should be calibrated to avoid frequent compression operations.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "SlidingWindow"
    },
    "GenerateContentBatchOutput": {
      "description": "The output of a batch request. This is returned in the `BatchGenerateContentResponse` or the `GenerateContentBatch.output` field.",
      "type": "object",
      "properties": {
        "inlinedResponses": {
          "$ref": "InlinedResponses",
          "description": "Output only. The responses to the requests in the batch. Returned when the batch was built using inlined requests. The responses will be in the same order as the input requests.",
          "readOnly": true
        },
        "responsesFile": {
          "description": "Output only. The file ID of the file containing the responses. The file will be a JSONL file with a single response per line. The responses will be `GenerateContentResponse` messages formatted as JSON. The responses will be written in the same order as the input requests.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GenerateContentBatchOutput"
    },
    "AudioResponseFormat": {
      "id": "AudioResponseFormat",
      "description": "Configuration for audio output format.",
      "type": "object",
      "properties": {
        "mimeType": {
          "enum": [
            "MIME_TYPE_UNSPECIFIED",
            "AUDIO_MP3",
            "AUDIO_OGG_OPUS",
            "AUDIO_L16",
            "AUDIO_WAV",
            "AUDIO_ALAW",
            "AUDIO_MULAW"
          ],
          "description": "Optional. The MIME type of the audio output.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "MP3 audio format.",
            "OGG Opus audio format.",
            "Raw PCM (L16) audio format.",
            "WAV audio format.",
            "A-law audio format.",
            "Mu-law audio format."
          ]
        },
        "delivery": {
          "description": "Optional. The delivery mode for the audio output.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Audio data is returned inline in the response.",
            "Audio data is returned as a URI."
          ],
          "enum": [
            "DELIVERY_UNSPECIFIED",
            "INLINE",
            "URI"
          ]
        },
        "bitRate": {
          "format": "int32",
          "description": "Optional. Bit rate in bits per second (bps). Only applicable for compressed formats (MP3, Opus).",
          "type": "integer"
        },
        "sampleRate": {
          "format": "int32",
          "description": "Optional. Sample rate in Hz.",
          "type": "integer"
        }
      }
    },
    "WhiteSpaceConfig": {
      "id": "WhiteSpaceConfig",
      "description": "Configuration for a white space chunking algorithm [white space delimited].",
      "type": "object",
      "properties": {
        "maxTokensPerChunk": {
          "description": "Maximum number of tokens per chunk. Tokens are defined as words for this chunking algorithm. Note: we are defining tokens as words split by whitespace as opposed to the output of a tokenizer. The context window of the latest gemini embedding model as of 2025-04-17 is currently 8192 tokens. We assume that the average word is 5 characters. Therefore, we set the upper limit to 2**9, which is 512 words, or 2560 tokens, assuming worst case a character per token. This is a conservative estimate meant to prevent context window overflow.",
          "type": "integer",
          "format": "int32"
        },
        "maxOverlapTokens": {
          "format": "int32",
          "description": "Maximum number of overlapping tokens between two adjacent chunks.",
          "type": "integer"
        }
      }
    },
    "GenerationConfig": {
      "description": "Configuration options for model generation and outputs. Not all parameters are configurable for every model.",
      "type": "object",
      "properties": {
        "candidateCount": {
          "format": "int32",
          "description": "Optional. Number of generated responses to return. If unset, this will default to 1. Please note that this doesn't work for previous generation models (Gemini 1.0 family)",
          "type": "integer"
        },
        "maxOutputTokens": {
          "format": "int32",
          "description": "Optional. The maximum number of tokens to include in a response candidate. Note: The default value varies by model, see the `Model.output_token_limit` attribute of the `Model` returned from the `getModel` function.",
          "type": "integer"
        },
        "speechConfig": {
          "description": "Optional. The speech generation config.",
          "$ref": "SpeechConfig"
        },
        "stopSequences": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The set of character sequences (up to 5) that will stop output generation. If specified, the API will stop at the first appearance of a `stop_sequence`. The stop sequence will not be included as part of the response.",
          "type": "array"
        },
        "responseSchema": {
          "$ref": "Schema",
          "description": "Optional. Output schema of the generated candidate text. Schemas must be a subset of the [OpenAPI schema](https://spec.openapis.org/oas/v3.0.3#schema) and can be objects, primitives or arrays. If set, a compatible `response_mime_type` must also be set. Compatible MIME types: `application/json`: Schema for JSON response. Refer to the [JSON text generation guide](https://ai.google.dev/gemini-api/docs/json-mode) for more details."
        },
        "mediaResolution": {
          "enum": [
            "MEDIA_RESOLUTION_UNSPECIFIED",
            "MEDIA_RESOLUTION_LOW",
            "MEDIA_RESOLUTION_MEDIUM",
            "MEDIA_RESOLUTION_HIGH"
          ],
          "description": "Optional. If specified, the media resolution specified will be used.",
          "type": "string",
          "enumDescriptions": [
            "Media resolution has not been set.",
            "Media resolution set to low (64 tokens).",
            "Media resolution set to medium (256 tokens).",
            "Media resolution set to high (zoomed reframing with 256 tokens)."
          ]
        },
        "temperature": {
          "format": "float",
          "description": "Optional. Controls the randomness of the output. Note: The default value varies by model, see the `Model.temperature` attribute of the `Model` returned from the `getModel` function. Values can range from [0.0, 2.0].",
          "type": "number"
        },
        "_responseJsonSchema": {
          "description": "Optional. Output schema of the generated response. This is an alternative to `response_schema` that accepts [JSON Schema](https://json-schema.org/). If set, `response_schema` must be omitted, but `response_mime_type` is required. While the full JSON Schema may be sent, not all features are supported. Specifically, only the following properties are supported: - `$id` - `$defs` - `$ref` - `$anchor` - `type` - `format` - `title` - `description` - `enum` (for strings and numbers) - `items` - `prefixItems` - `minItems` - `maxItems` - `minimum` - `maximum` - `anyOf` - `oneOf` (interpreted the same as `anyOf`) - `properties` - `additionalProperties` - `required` The non-standard `propertyOrdering` property may also be set. Cyclic references are unrolled to a limited degree and, as such, may only be used within non-required properties. (Nullable properties are not sufficient.) If `$ref` is set on a sub-schema, no other properties, except for than those starting as a `$`, may be set.",
          "type": "any"
        },
        "responseLogprobs": {
          "description": "Optional. If true, export the logprobs results in response.",
          "type": "boolean"
        },
        "translationConfig": {
          "$ref": "TranslationConfig",
          "description": "Optional. Config for translation."
        },
        "seed": {
          "description": "Optional. Seed used in decoding. If not set, the request uses a randomly generated seed.",
          "type": "integer",
          "format": "int32"
        },
        "presencePenalty": {
          "format": "float",
          "description": "Optional. Presence penalty applied to the next token's logprobs if the token has already been seen in the response. This penalty is binary on/off and not dependant on the number of times the token is used (after the first). Use frequency_penalty for a penalty that increases with each use. A positive penalty will discourage the use of tokens that have already been used in the response, increasing the vocabulary. A negative penalty will encourage the use of tokens that have already been used in the response, decreasing the vocabulary.",
          "type": "number"
        },
        "enableEnhancedCivicAnswers": {
          "description": "Optional. Enables enhanced civic answers. It may not be available for all models.",
          "type": "boolean"
        },
        "responseModalities": {
          "description": "Optional. The requested modalities of the response. Represents the set of modalities that the model can return, and should be expected in the response. This is an exact match to the modalities of the response. A model may have multiple combinations of supported modalities. If the requested modalities do not match any of the supported combinations, an error will be returned. An empty list is equivalent to requesting only text.",
          "type": "array",
          "items": {
            "enum": [
              "MODALITY_UNSPECIFIED",
              "TEXT",
              "IMAGE",
              "AUDIO"
            ],
            "type": "string",
            "enumDescriptions": [
              "Default value.",
              "Indicates the model should return text.",
              "Indicates the model should return images.",
              "Indicates the model should return audio."
            ]
          }
        },
        "enableAffectiveDialog": {
          "description": "Optional. If enabled, the model will detect emotions and adapt its responses accordingly.",
          "type": "boolean"
        },
        "thinkingConfig": {
          "$ref": "ThinkingConfig",
          "description": "Optional. Config for thinking features. An error will be returned if this field is set for models that don't support thinking."
        },
        "topP": {
          "format": "float",
          "description": "Optional. The maximum cumulative probability of tokens to consider when sampling. The model uses combined Top-k and Top-p (nucleus) sampling. Tokens are sorted based on their assigned probabilities so that only the most likely tokens are considered. Top-k sampling directly limits the maximum number of tokens to consider, while Nucleus sampling limits the number of tokens based on the cumulative probability. Note: The default value varies by `Model` and is specified by the`Model.top_p` attribute returned from the `getModel` function. An empty `top_k` attribute indicates that the model doesn't apply top-k sampling and doesn't allow setting `top_k` on requests.",
          "type": "number"
        },
        "topK": {
          "format": "int32",
          "description": "Optional. The maximum number of tokens to consider when sampling. Gemini models use Top-p (nucleus) sampling or a combination of Top-k and nucleus sampling. Top-k sampling considers the set of `top_k` most probable tokens. Models running with nucleus sampling don't allow top_k setting. Note: The default value varies by `Model` and is specified by the`Model.top_p` attribute returned from the `getModel` function. An empty `top_k` attribute indicates that the model doesn't apply top-k sampling and doesn't allow setting `top_k` on requests.",
          "type": "integer"
        },
        "imageConfig": {
          "description": "Optional. Config for image generation. An error will be returned if this field is set for models that don't support these config options.",
          "$ref": "ImageConfig"
        },
        "responseMimeType": {
          "description": "Optional. MIME type of the generated candidate text. Supported MIME types are: `text/plain`: (default) Text output. `application/json`: JSON response in the response candidates. `text/x.enum`: ENUM as a string response in the response candidates. Refer to the [docs](https://ai.google.dev/gemini-api/docs/prompting_with_media#plain_text_formats) for a list of all supported text MIME types.",
          "type": "string"
        },
        "logprobs": {
          "description": "Optional. Only valid if response_logprobs=True. This sets the number of top logprobs, including the chosen candidate, to return at each decoding step in the Candidate.logprobs_result. The number must be in the range of [0, 20].",
          "type": "integer",
          "format": "int32"
        },
        "responseFormat": {
          "description": "Optional. Configuration for the response output format. Allows specifying output configuration per modality (text, audio, image) in a flat structure.",
          "$ref": "ResponseFormatConfig"
        },
        "responseJsonSchema": {
          "description": "Optional. An internal detail. Use `responseJsonSchema` rather than this field.",
          "type": "any"
        },
        "frequencyPenalty": {
          "description": "Optional. Frequency penalty applied to the next token's logprobs, multiplied by the number of times each token has been seen in the respponse so far. A positive penalty will discourage the use of tokens that have already been used, proportional to the number of times the token has been used: The more a token is used, the more difficult it is for the model to use that token again increasing the vocabulary of responses. Caution: A _negative_ penalty will encourage the model to reuse tokens proportional to the number of times the token has been used. Small negative values will reduce the vocabulary of a response. Larger negative values will cause the model to start repeating a common token until it hits the max_output_tokens limit.",
          "type": "number",
          "format": "float"
        }
      },
      "id": "GenerationConfig"
    },
    "MetadataFilter": {
      "id": "MetadataFilter",
      "properties": {
        "key": {
          "description": "Required. The key of the metadata to filter on.",
          "type": "string"
        },
        "conditions": {
          "description": "Required. The `Condition`s for the given key that will trigger this filter. Multiple `Condition`s are joined by logical ORs.",
          "type": "array",
          "items": {
            "$ref": "Condition"
          }
        }
      },
      "description": "User provided filter to limit retrieval based on `Chunk` or `Document` level metadata values. Example (genre = drama OR genre = action): key = \"document.custom_metadata.genre\" conditions = [{string_value = \"drama\", operation = EQUAL}, {string_value = \"action\", operation = EQUAL}]",
      "type": "object"
    },
    "ImportFileRequest": {
      "description": "Request for `ImportFile` to import a File API file with a `FileSearchStore`.",
      "type": "object",
      "properties": {
        "chunkingConfig": {
          "$ref": "ChunkingConfig",
          "description": "Optional. Config for telling the service how to chunk the file. If not provided, the service will use default parameters."
        },
        "fileName": {
          "description": "Required. The name of the `File` to import. Example: `files/abc-123`",
          "type": "string"
        },
        "customMetadata": {
          "description": "Custom metadata to be associated with the file.",
          "type": "array",
          "items": {
            "$ref": "CustomMetadata"
          }
        }
      },
      "id": "ImportFileRequest"
    },
    "CodeExecution": {
      "id": "CodeExecution",
      "description": "Tool that executes code generated by the model, and automatically returns the result to the model. See also `ExecutableCode` and `CodeExecutionResult` which are only generated when using this tool.",
      "type": "object",
      "properties": {}
    },
    "TopCandidates": {
      "properties": {
        "candidates": {
          "items": {
            "$ref": "LogprobsResultCandidate"
          },
          "description": "Sorted by log probability in descending order.",
          "type": "array"
        }
      },
      "description": "Candidates with top log probabilities at each decoding step.",
      "type": "object",
      "id": "TopCandidates"
    },
    "ChunkingConfig": {
      "id": "ChunkingConfig",
      "description": "Parameters for telling the service how to chunk the file. inspired by google3/cloud/ai/platform/extension/lib/retrieval/config/chunker_config.proto",
      "type": "object",
      "properties": {
        "whiteSpaceConfig": {
          "description": "White space chunking configuration.",
          "$ref": "WhiteSpaceConfig"
        }
      }
    },
    "VoiceConfig": {
      "id": "VoiceConfig",
      "properties": {
        "prebuiltVoiceConfig": {
          "description": "The configuration for the prebuilt voice to use.",
          "$ref": "PrebuiltVoiceConfig"
        }
      },
      "description": "The configuration for the voice to use.",
      "type": "object"
    },
    "GenerateContentBatch": {
      "description": "A resource representing a batch of `GenerateContent` requests.",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The time at which the batch was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time at which the batch was last updated.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "BATCH_STATE_UNSPECIFIED",
            "BATCH_STATE_PENDING",
            "BATCH_STATE_RUNNING",
            "BATCH_STATE_SUCCEEDED",
            "BATCH_STATE_FAILED",
            "BATCH_STATE_CANCELLED",
            "BATCH_STATE_EXPIRED"
          ],
          "description": "Output only. The state of the batch.",
          "enumDescriptions": [
            "The batch state is unspecified.",
            "The service is preparing to run the batch.",
            "The batch is in progress.",
            "The batch completed successfully.",
            "The batch failed.",
            "The batch has been cancelled.",
            "The batch has expired."
          ]
        },
        "model": {
          "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Identifier. Resource name of the batch. Format: `batches/{batch_id}`.",
          "type": "string",
          "readOnly": true
        },
        "priority": {
          "format": "int64",
          "description": "Optional. The priority of the batch. Batches with a higher priority value will be processed before batches with a lower priority value. Negative values are allowed. Default is 0.",
          "type": "string"
        },
        "inputConfig": {
          "description": "Required. Input configuration of the instances on which batch processing are performed.",
          "$ref": "InputConfig"
        },
        "batchStats": {
          "readOnly": true,
          "description": "Output only. Stats about the batch.",
          "$ref": "BatchStats"
        },
        "displayName": {
          "description": "Required. The user-defined name of this batch.",
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time at which the batch processing completed.",
          "type": "string",
          "format": "google-datetime"
        },
        "output": {
          "$ref": "GenerateContentBatchOutput",
          "description": "Output only. The output of the batch request.",
          "readOnly": true
        }
      },
      "id": "GenerateContentBatch"
    },
    "AuthToken": {
      "description": "A request to create an ephemeral authentication token.",
      "type": "object",
[...]
