{
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "rootUrl": "https://generativelanguage.googleapis.com/",
  "description": "The Gemini API allows developers to build generative AI applications using Gemini models. Gemini is our most capable model, built from the ground up to be multimodal. It can generalize and seamlessly understand, operate across, and combine different types of information including language, images, audio, video, and code. You can use the Gemini API for use cases like reasoning across text and images, content generation, dialogue agents, summarization and classification systems, and more.",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "title": "Gemini API",
  "version": "v1beta",
  "canonicalName": "Generative Language",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    }
  },
  "revision": "20260716",
  "id": "generativelanguage:v1beta",
  "basePath": "",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "name": "generativelanguage",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "protocol": "rest",
  "schemas": {
    "PlaceAnswerSources": {
      "id": "PlaceAnswerSources",
      "description": "Collection of sources that provide answers about the features of a given place in Google Maps. Each PlaceAnswerSources message corresponds to a specific place in Google Maps. The Google Maps tool used these sources in order to answer questions about features of the place (e.g: \"does Bar Foo have Wifi\" or \"is Foo Bar wheelchair accessible?\"). Currently we only support review snippets as sources.",
      "properties": {
        "reviewSnippets": {
          "description": "Snippets of reviews that are used to generate answers about the features of a given place in Google Maps.",
          "items": {
            "$ref": "ReviewSnippet"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "EmbeddingUsageMetadata": {
      "id": "EmbeddingUsageMetadata",
      "description": "Metadata on the usage of the embedding request.",
      "properties": {
        "promptTokenCount": {
          "description": "Output only. Number of tokens in the prompt.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "promptTokenDetails": {
          "items": {
            "$ref": "ModalityTokenCount"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. List of modalities that were processed in the request input."
        }
      },
      "type": "object"
    },
    "RegisterFilesResponse": {
      "type": "object",
      "properties": {
        "files": {
          "items": {
            "$ref": "File"
          },
          "type": "array",
          "description": "The registered files to be used when calling GenerateContent."
        }
      },
      "id": "RegisterFilesResponse",
      "description": "Response for `RegisterFiles`."
    },
    "ListCachedContentsResponse": {
      "id": "ListCachedContentsResponse",
      "description": "Response with CachedContents list.",
      "properties": {
        "cachedContents": {
          "description": "List of cached contents.",
          "items": {
            "$ref": "CachedContent"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object"
    },
    "WebSearch": {
      "type": "object",
      "id": "WebSearch",
      "description": "Standard web search for grounding and related configurations.",
      "properties": {}
    },
    "SafetyFeedback": {
      "type": "object",
      "id": "SafetyFeedback",
      "description": "Safety feedback for an entire request. This field is populated if content in the input and/or response is blocked due to safety settings. SafetyFeedback may not exist for every HarmCategory. Each SafetyFeedback will return the safety settings used by the request as well as the lowest HarmProbability that should be allowed in order to return a result.",
      "properties": {
        "rating": {
          "description": "Safety rating evaluated from content.",
          "$ref": "SafetyRating"
        },
        "setting": {
          "description": "Safety settings applied to the request.",
          "$ref": "SafetySetting"
        }
      }
    },
    "CountTokensResponse": {
      "type": "object",
      "properties": {
        "cachedContentTokenCount": {
          "description": "Number of tokens in the cached part of the prompt (the cached content).",
          "type": "integer",
          "format": "int32"
        },
        "promptTokensDetails": {
          "items": {
            "$ref": "ModalityTokenCount"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. List of modalities that were processed in the request input."
        },
        "totalTokens": {
          "type": "integer",
          "format": "int32",
          "description": "The number of tokens that the `Model` tokenizes the `prompt` into. Always non-negative."
        },
        "cacheTokensDetails": {
          "items": {
            "$ref": "ModalityTokenCount"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. List of modalities that were processed in the cached content."
        }
      },
      "id": "CountTokensResponse",
      "description": "A response from `CountTokens`. It returns the model's `token_count` for the `prompt`."
    },
    "VideoFileMetadata": {
      "type": "object",
      "properties": {
        "videoDuration": {
          "description": "Duration of the video.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "VideoFileMetadata",
      "description": "Metadata for a video `File`."
    },
    "ImportFileRequest": {
      "type": "object",
      "properties": {
        "fileName": {
          "type": "string",
          "description": "Required. The name of the `File` to import. Example: `files/abc-123`"
        },
        "customMetadata": {
          "type": "array",
          "items": {
            "$ref": "CustomMetadata"
          },
          "description": "Custom metadata to be associated with the file."
        },
        "chunkingConfig": {
          "description": "Optional. Config for telling the service how to chunk the file. If not provided, the service will use default parameters.",
          "$ref": "ChunkingConfig"
        }
      },
      "id": "ImportFileRequest",
      "description": "Request for `ImportFile` to import a File API file with a `FileSearchStore`."
    },
    "GroundingChunk": {
      "properties": {
        "retrievedContext": {
          "description": "Optional. Grounding chunk from context retrieved by the file search tool.",
          "$ref": "RetrievedContext"
        },
        "maps": {
          "description": "Optional. Grounding chunk from Google Maps.",
          "$ref": "Maps"
        },
        "web": {
          "description": "Grounding chunk from the web.",
          "$ref": "Web"
        },
        "image": {
          "description": "Optional. Grounding chunk from image search.",
          "$ref": "Image"
        }
      },
      "id": "GroundingChunk",
      "description": "A `GroundingChunk` represents a segment of supporting evidence that grounds the model's response. It can be a chunk from the web, a retrieved context from a file, or information from Google Maps.",
      "type": "object"
    },
    "GroundingPassage": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Identifier for the passage for attributing this passage in grounded answers."
        },
        "content": {
          "description": "Content of the passage.",
          "$ref": "Content"
        }
      },
      "id": "GroundingPassage",
      "description": "Passage included inline with a grounding configuration."
    },
    "CountMessageTokensResponse": {
      "properties": {
        "tokenCount": {
          "description": "The number of tokens that the `model` tokenizes the `prompt` into. Always non-negative.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "CountMessageTokensResponse",
      "description": "A response from `CountMessageTokens`. It returns the model's `token_count` for the `prompt`.",
      "type": "object"
    },
    "ModalityTokenCount": {
      "type": "object",
      "id": "ModalityTokenCount",
      "description": "Represents token counting info for a single modality.",
      "properties": {
        "modality": {
          "description": "The modality associated with this token count.",
          "enumDescriptions": [
            "Unspecified modality.",
            "Plain text.",
            "Image.",
            "Video.",
            "Audio.",
            "Document, e.g. PDF."
          ],
          "enum": [
            "MODALITY_UNSPECIFIED",
            "TEXT",
            "IMAGE",
            "VIDEO",
            "AUDIO",
            "DOCUMENT"
          ],
          "type": "string"
        },
        "tokenCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of tokens."
        }
      }
    },
    "ChunkingConfig": {
      "id": "ChunkingConfig",
      "description": "Parameters for telling the service how to chunk the file. inspired by google3/cloud/ai/platform/extension/lib/retrieval/config/chunker_config.proto",
      "properties": {
        "whiteSpaceConfig": {
          "description": "White space chunking configuration.",
          "$ref": "WhiteSpaceConfig"
        }
      },
      "type": "object"
    },
    "ToolConfig": {
      "properties": {
        "retrievalConfig": {
          "description": "Optional. Retrieval config.",
          "$ref": "RetrievalConfig"
        },
        "includeServerSideToolInvocations": {
          "type": "boolean",
          "description": "Optional. If true, the API response will include the server-side tool calls and responses within the `Content` message. This allows clients to observe the server's tool interactions."
        },
        "functionCallingConfig": {
          "description": "Optional. Function calling config.",
          "$ref": "FunctionCallingConfig"
        }
      },
      "id": "ToolConfig",
      "description": "The Tool configuration containing parameters for specifying `Tool` use in the request.",
      "type": "object"
    },
    "GoogleAiGenerativelanguageV1betaGroundingSupport": {
      "type": "object",
      "id": "GoogleAiGenerativelanguageV1betaGroundingSupport",
      "description": "Grounding support.",
      "properties": {
        "confidenceScores": {
          "description": "Optional. Confidence score of the support references. Ranges from 0 to 1. 1 is the most confident. This list must have the same size as the grounding_chunk_indices.",
          "items": {
            "type": "number",
            "format": "float"
          },
          "type": "array"
        },
        "renderedParts": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Indices into the `parts` field of the candidate's content. These indices specify which rendered parts are associated with this support source."
        },
        "segment": {
          "description": "Segment of the content this support belongs to.",
          "$ref": "GoogleAiGenerativelanguageV1betaSegment"
        },
        "groundingChunkIndices": {
          "description": "Optional. A list of indices (into 'grounding_chunk' in `response.candidate.grounding_metadata`) specifying the citations associated with the claim. For instance [1,3,4] means that grounding_chunk[1], grounding_chunk[3], grounding_chunk[4] are the retrieved content attributed to the claim. If the response is streaming, the grounding_chunk_indices refer to the indices across all responses. It is the client's responsibility to accumulate the grounding chunks from all responses (while maintaining the same order).",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        }
      }
    },
    "LogprobsResultCandidate": {
      "type": "object",
      "properties": {
        "token": {
          "description": "The candidate’s token string value.",
          "type": "string"
        },
        "tokenId": {
          "description": "The candidate’s token id value.",
          "type": "integer",
          "format": "int32"
        },
        "logProbability": {
          "description": "The candidate's log probability.",
          "type": "number",
          "format": "float"
        }
      },
      "id": "LogprobsResultCandidate",
      "description": "Candidate for the logprobs token and score."
    },
    "Example": {
      "type": "object",
      "id": "Example",
      "description": "An input/output example used to instruct the Model. It demonstrates how the model should respond or format its response.",
      "properties": {
        "input": {
          "description": "Required. An example of an input `Message` from the user.",
          "$ref": "Message"
        },
        "output": {
          "description": "Required. An example of what the model should output given the input.",
          "$ref": "Message"
        }
      }
    },
    "Blob": {
      "type": "object",
      "properties": {
        "data": {
          "description": "Raw bytes for media formats.",
          "type": "string",
          "format": "byte"
        },
        "mimeType": {
          "description": "The IANA standard MIME type of the source data. Examples of supported types: - Images: image/png, image/jpeg, image/jpg, image/webp, image/heic, image/heif, image/gif, image/avif - Audio: audio/*, video/audio/s16le, video/audio/wav - Video: video/* - Text: text/plain, text/html, text/css, text/javascript, text/x-typescript, text/csv, text/markdown, text/x-python, text/xml, text/rtf, video/text/timestamp - Applications: application/x-javascript, application/x-typescript, application/x-python-code, application/json, application/x-ipynb+json, application/rtf, application/pdf For additional context, see [Supported file formats](https://ai.google.dev/gemini-api/docs/file-input-methods#supported-content-types). //",
          "type": "string"
        }
      },
      "id": "Blob",
      "description": "Raw media bytes. Text should not be sent as raw bytes, use the 'text' field."
    },
    "CustomLongRunningOperation": {
      "id": "CustomLongRunningOperation",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        }
      },
      "type": "object"
    },
    "Part": {
      "id": "Part",
      "description": "A datatype containing media that is part of a multi-part `Content` message. A `Part` consists of data which has an associated datatype. A `Part` can only contain one of the accepted types in `Part.data`. A `Part` must have a fixed IANA MIME type identifying the type and subtype of the media if the `inline_data` field is filled with raw bytes.",
      "properties": {
        "functionCall": {
          "description": "A predicted `FunctionCall` returned from the model that contains a string representing the `FunctionDeclaration.name` with the arguments and their values.",
          "$ref": "FunctionCall"
        },
        "thought": {
          "type": "boolean",
          "description": "Optional. Indicates if the part is thought from the model."
        },
        "text": {
          "description": "Inline text.",
          "type": "string"
        },
        "inlineData": {
          "description": "Inline media bytes.",
          "$ref": "Blob"
        },
        "mediaResolution": {
          "description": "Optional. Media resolution for the input media.",
          "$ref": "MediaResolution"
        },
        "fileData": {
          "description": "URI based data.",
          "$ref": "FileData"
        },
        "toolResponse": {
          "description": "The output from a server-side `ToolCall` execution. This field is populated by the client with the results of executing the corresponding `ToolCall`.",
          "$ref": "ToolResponse"
        },
        "executableCode": {
          "description": "Code generated by the model that is meant to be executed.",
          "$ref": "ExecutableCode"
        },
        "functionResponse": {
          "description": "The result output of a `FunctionCall` that contains a string representing the `FunctionDeclaration.name` and a structured JSON object containing any output from the function is used as context to the model.",
          "$ref": "FunctionResponse"
        },
        "toolCall": {
          "description": "Server-side tool call. This field is populated when the model predicts a tool invocation that should be executed on the server. The client is expected to echo this message back to the API.",
          "$ref": "ToolCall"
        },
        "thoughtSignature": {
          "description": "Optional. An opaque signature for the thought so it can be reused in subsequent requests.",
          "type": "string",
          "format": "byte"
        },
        "videoMetadata": {
          "description": "Optional. Video metadata. The metadata should only be specified while the video data is presented in inline_data or file_data.",
          "$ref": "VideoMetadata"
        },
        "partMetadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Custom metadata associated with the Part. Agents using genai.Part as content representation may need to keep track of the additional information. For example it can be name of a file/source from which the Part originates or a way to multiplex multiple Part streams."
        },
        "codeExecutionResult": {
          "description": "Result of executing the `ExecutableCode`.",
          "$ref": "CodeExecutionResult"
        }
      },
      "type": "object"
    },
    "ContextWindowCompressionConfig": {
      "id": "ContextWindowCompressionConfig",
      "description": "Enables context window compression — a mechanism for managing the model's context window so that it does not exceed a given length.",
      "properties": {
        "triggerTokens": {
          "type": "string",
          "format": "int64",
          "description": "The number of tokens (before running a turn) required to trigger a context window compression. This can be used to balance quality against latency as shorter context windows may result in faster model responses. However, any compression operation will cause a temporary latency increase, so they should not be triggered frequently. If not set, the default is 80% of the model's context window limit. This leaves 20% for the next user request/model response."
        },
        "slidingWindow": {
          "description": "A sliding-window mechanism.",
          "$ref": "SlidingWindow"
        }
      },
      "type": "object"
    },
    "CachedContentUsageMetadata": {
      "id": "CachedContentUsageMetadata",
      "description": "Metadata on the usage of the cached content.",
      "properties": {
        "totalTokenCount": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of tokens that the cached content consumes."
        }
      },
      "type": "object"
    },
    "ReviewSnippet": {
      "type": "object",
      "properties": {
        "reviewId": {
          "type": "string",
          "description": "The ID of the review snippet."
        },
        "googleMapsUri": {
          "description": "A link that corresponds to the user review on Google Maps.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Title of the review."
        }
      },
      "id": "ReviewSnippet",
      "description": "Encapsulates a snippet of a user review that answers a question about the features of a specific place in Google Maps."
    },
    "AttributionSourceId": {
      "id": "AttributionSourceId",
      "description": "Identifier for the source contributing to this attribution.",
      "properties": {
        "groundingPassage": {
          "description": "Identifier for an inline passage.",
          "$ref": "GroundingPassageId"
        },
        "semanticRetrieverChunk": {
          "description": "Identifier for a `Chunk` fetched via Semantic Retriever.",
          "$ref": "SemanticRetrieverChunk"
        }
      },
      "type": "object"
    },
    "GroundingAttribution": {
      "id": "GroundingAttribution",
      "description": "Attribution for a source that contributed to an answer.",
      "properties": {
        "sourceId": {
          "readOnly": true,
          "$ref": "AttributionSourceId",
          "description": "Output only. Identifier for the source contributing to this attribution."
        },
        "content": {
          "description": "Grounding source content that makes up this attribution.",
          "$ref": "Content"
        }
      },
      "type": "object"
    },
    "Tool": {
      "type": "object",
      "id": "Tool",
      "description": "Tool details that the model may use to generate response. A `Tool` is a piece of code that enables the system to interact with external systems to perform an action, or set of actions, outside of knowledge and scope of the model. Next ID: 16",
      "properties": {
        "googleMaps": {
          "description": "Optional. Tool that allows grounding the model's response with geospatial context related to the user's query.",
          "$ref": "GoogleMaps"
        },
        "codeExecution": {
          "description": "Optional. Enables the model to execute code as part of generation.",
          "$ref": "CodeExecution"
        },
        "googleSearchRetrieval": {
          "description": "Optional. Retrieval tool that is powered by Google search.",
          "$ref": "GoogleSearchRetrieval"
        },
        "fileSearch": {
          "description": "Optional. FileSearch tool type. Tool to retrieve knowledge from Semantic Retrieval corpora.",
          "$ref": "FileSearch"
        },
        "mcpServers": {
          "description": "Optional. MCP Servers to connect to.",
          "items": {
            "$ref": "McpServer"
          },
          "type": "array"
        },
        "functionDeclarations": {
          "items": {
            "$ref": "FunctionDeclaration"
          },
          "type": "array",
          "description": "Optional. A list of `FunctionDeclarations` available to the model that can be used for function calling. The model or system does not execute the function. Instead the defined function may be returned as a FunctionCall with arguments to the client side for execution. The model may decide to call a subset of these functions by populating FunctionCall in the response. The next conversation turn may contain a FunctionResponse with the Content.role \"function\" generation context for the next model turn."
        },
        "googleSearch": {
          "description": "Optional. GoogleSearch tool type. Tool to support Google Search in Model. Powered by Google.",
          "$ref": "GoogleSearch"
        },
        "urlContext": {
          "description": "Optional. Tool to support URL context retrieval.",
          "$ref": "UrlContext"
        },
        "computerUse": {
          "description": "Optional. Tool to support the model interacting directly with the computer. If enabled, it automatically populates computer-use specific Function Declarations.",
          "$ref": "ComputerUse"
        }
      }
    },
    "CountMessageTokensRequest": {
      "type": "object",
      "id": "CountMessageTokensRequest",
      "description": "Counts the number of tokens in the `prompt` sent to a model. Models may tokenize text differently, so each model may return a different `token_count`.",
      "properties": {
        "prompt": {
          "description": "Required. The prompt, whose token count is to be returned.",
          "$ref": "MessagePrompt"
        }
      }
    },
    "UploadToFileSearchStoreRequest": {
      "id": "UploadToFileSearchStoreRequest",
      "description": "Request for `UploadToFileSearchStore`.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Optional. Display name of the created document."
        },
        "chunkingConfig": {
          "description": "Optional. Config for telling the service how to chunk the data. If not provided, the service will use default parameters.",
          "$ref": "ChunkingConfig"
        },
        "mimeType": {
          "type": "string",
          "description": "Optional. MIME type of the data. If not provided, it will be inferred from the uploaded content."
        },
        "customMetadata": {
          "items": {
            "$ref": "CustomMetadata"
          },
          "type": "array",
          "description": "Custom metadata to be associated with the data."
        }
      },
      "type": "object"
    },
    "BatchEmbedTextRequest": {
      "type": "object",
      "properties": {
        "texts": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The free-form input texts that the model will turn into an embedding. The current limit is 100 texts, over which an error will be thrown."
        },
        "requests": {
          "items": {
            "$ref": "EmbedTextRequest"
          },
          "type": "array",
          "description": "Optional. Embed requests for the batch. Only one of `texts` or `requests` can be set."
        }
      },
      "id": "BatchEmbedTextRequest",
      "description": "Batch request to get a text embedding from the model."
    },
    "EmbedTextRequest": {
      "type": "object",
      "id": "EmbedTextRequest",
      "description": "Request to get a text embedding from the model.",
      "properties": {
        "model": {
          "type": "string",
          "description": "Required. The model name to use with the format model=models/{model}."
        },
        "text": {
          "type": "string",
          "description": "Optional. The free-form input text that the model will turn into an embedding."
        }
      }
    },
    "Status": {
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "InputFeedback": {
      "type": "object",
      "properties": {
        "blockReason": {
          "description": "Optional. If set, the input was blocked and no candidates are returned. Rephrase the input.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Input was blocked due to safety reasons. Inspect `safety_ratings` to understand which safety category blocked it.",
            "Input was blocked due to other reasons."
          ],
          "enum": [
            "BLOCK_REASON_UNSPECIFIED",
            "SAFETY",
            "OTHER"
          ],
          "type": "string"
        },
        "safetyRatings": {
          "items": {
            "$ref": "SafetyRating"
          },
          "type": "array",
          "description": "Ratings for safety of the input. There is at most one rating per category."
        }
      },
      "id": "InputFeedback",
      "description": "Feedback related to the input data used to answer the question, as opposed to the model-generated response to the question."
    },
    "GenerateTextRequest": {
      "id": "GenerateTextRequest",
      "description": "Request to generate a text completion response from the model.",
      "properties": {
        "prompt": {
          "description": "Required. The free-form input text given to the model as a prompt. Given a prompt, the model will generate a TextCompletion response it predicts as the completion of the input text.",
          "$ref": "TextPrompt"
        },
        "safetySettings": {
          "description": "Optional. A list of unique `SafetySetting` instances for blocking unsafe content. that will be enforced on the `GenerateTextRequest.prompt` and `GenerateTextResponse.candidates`. There should not be more than one setting for each `SafetyCategory` type. The API will block any prompts and responses that fail to meet the thresholds set by these settings. This list overrides the default settings for each `SafetyCategory` specified in the safety_settings. If there is no `SafetySetting` for a given `SafetyCategory` provided in the list, the API will use the default safety setting for that category. Harm categories HARM_CATEGORY_DEROGATORY, HARM_CATEGORY_TOXICITY, HARM_CATEGORY_VIOLENCE, HARM_CATEGORY_SEXUAL, HARM_CATEGORY_MEDICAL, HARM_CATEGORY_DANGEROUS are supported in text service.",
          "items": {
            "$ref": "SafetySetting"
          },
          "type": "array"
        },
        "maxOutputTokens": {
          "description": "Optional. The maximum number of tokens to include in a candidate. If unset, this will default to output_token_limit specified in the `Model` specification.",
          "type": "integer",
          "format": "int32"
        },
        "topP": {
          "description": "Optional. The maximum cumulative probability of tokens to consider when sampling. The model uses combined Top-k and nucleus sampling. Tokens are sorted based on their assigned probabilities so that only the most likely tokens are considered. Top-k sampling directly limits the maximum number of tokens to consider, while Nucleus sampling limits number of tokens based on the cumulative probability. Note: The default value varies by model, see the `Model.top_p` attribute of the `Model` returned the `getModel` function.",
          "type": "number",
          "format": "float"
        },
        "candidateCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Number of generated responses to return. This value must be between [1, 8], inclusive. If unset, this will default to 1."
        },
        "stopSequences": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of character sequences (up to 5) that will stop output generation. If specified, the API will stop at the first appearance of a stop sequence. The stop sequence will not be included as part of the response."
        },
        "temperature": {
          "type": "number",
          "format": "float",
          "description": "Optional. Controls the randomness of the output. Note: The default value varies by model, see the `Model.temperature` attribute of the `Model` returned the `getModel` function. Values can range from [0.0,1.0], inclusive. A value closer to 1.0 will produce responses that are more varied and creative, while a value closer to 0.0 will typically result in more straightforward responses from the model."
        },
        "topK": {
          "description": "Optional. The maximum number of tokens to consider when sampling. The model uses combined Top-k and nucleus sampling. Top-k sampling considers the set of `top_k` most probable tokens. Defaults to 40. Note: The default value varies by model, see the `Model.top_k` attribute of the `Model` returned the `getModel` function.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "FileSearchStore": {
      "type": "object",
      "properties": {
        "sizeBytes": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The size of raw bytes ingested into the `FileSearchStore`. This is the total size of all the documents in the `FileSearchStore`."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The human-readable display name for the `FileSearchStore`. The display name must be no more than 512 characters in length, including spaces. Example: \"Docs on Semantic Retriever\""
        },
        "updateTime": {
          "description": "Output only. The Timestamp of when the `FileSearchStore` was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "embeddingModel": {
          "type": "string",
          "description": "Optional. The embedding model to use for the `FileSearchStore`. The model's resource name. This serves as an ID for the Model to use. Format: `models/{model}`. If not specified, the default embedding model will be used."
        },
        "pendingDocumentsCount": {
          "description": "Output only. The number of documents in the `FileSearchStore` that are being processed.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "failedDocumentsCount": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The number of documents in the `FileSearchStore` that have failed processing."
        },
        "name": {
          "description": "Output only. Immutable. Identifier. The `FileSearchStore` resource name. It is an ID (name excluding the \"fileSearchStores/\" prefix) that can contain up to 40 characters that are lowercase alphanumeric or dashes (-). It is output only. The unique name will be derived from `display_name` along with a 12 character random suffix. Example: `fileSearchStores/my-awesome-file-search-store-123a456b789c` If `display_name` is not provided, the name will be randomly generated.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The Timestamp of when the `FileSearchStore` was created."
        },
        "activeDocumentsCount": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The number of documents in the `FileSearchStore` that are active and ready for retrieval."
        }
      },
      "id": "FileSearchStore",
      "description": "A `FileSearchStore` is a collection of `Document`s."
    },
    "RegisterFilesRequest": {
      "type": "object",
      "properties": {
        "uris": {
          "description": "Required. The Google Cloud Storage URIs to register. Example: `gs://bucket/object`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "RegisterFilesRequest",
      "description": "Request for `RegisterFiles`."
    },
    "AudioResponseFormat": {
      "id": "AudioResponseFormat",
      "description": "Configuration for audio output format.",
      "properties": {
        "delivery": {
          "type": "string",
          "description": "Optional. The delivery mode for the audio output.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Audio data is returned inline in the response.",
            "Audio data is returned as a URI."
          ],
          "enum": [
            "DELIVERY_UNSPECIFIED",
            "INLINE",
            "URI"
          ]
        },
        "sampleRate": {
          "description": "Optional. Sample rate in Hz.",
          "type": "integer",
          "format": "int32"
        },
        "bitRate": {
          "description": "Optional. Bit rate in bits per second (bps). Only applicable for compressed formats (MP3, Opus).",
          "type": "integer",
          "format": "int32"
        },
        "mimeType": {
          "type": "string",
          "description": "Optional. The MIME type of the audio output.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "MP3 audio format.",
            "OGG Opus audio format.",
            "Raw PCM (L16) audio format.",
            "WAV audio format.",
            "A-law audio format.",
            "Mu-law audio format."
          ],
          "enum": [
            "MIME_TYPE_UNSPECIFIED",
            "AUDIO_MP3",
            "AUDIO_OGG_OPUS",
            "AUDIO_L16",
            "AUDIO_WAV",
            "AUDIO_ALAW",
            "AUDIO_MULAW"
          ]
        }
      },
      "type": "object"
    },
    "FunctionCall": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Optional. Unique identifier of the function call. If populated, the client to execute the `function_call` and return the response with the matching `id`.",
          "type": "string"
        },
        "name": {
          "description": "Required. The name of the function to call. Must be a-z, A-Z, 0-9, or contain underscores and dashes, with a maximum length of 128.",
          "type": "string"
        },
        "args": {
          "description": "Optional. The function parameters and values in JSON object format.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "id": "FunctionCall",
      "description": "A predicted `FunctionCall` returned from the model that contains a string representing the `FunctionDeclaration.name` with the arguments and their values."
    },
    "ListOperationsResponse": {
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object"
    },
    "MessagePrompt": {
      "type": "object",
      "properties": {
        "context": {
          "type": "string",
          "description": "Optional. Text that should be provided to the model first to ground the response. If not empty, this `context` will be given to the model first before the `examples` and `messages`. When using a `context` be sure to provide it with every request to maintain continuity. This field can be a description of your prompt to the model to help provide context and guide the responses. Examples: \"Translate the phrase from English to French.\" or \"Given a statement, classify the sentiment as happy, sad or neutral.\" Anything included in this field will take precedence over message history if the total input size exceeds the model's `input_token_limit` and the input request is truncated."
        },
        "examples": {
          "items": {
            "$ref": "Example"
          },
          "type": "array",
          "description": "Optional. Examples of what the model should generate. This includes both user input and the response that the model should emulate. These `examples` are treated identically to conversation messages except that they take precedence over the history in `messages`: If the total input size exceeds the model's `input_token_limit` the input will be truncated. Items will be dropped from `messages` before `examples`."
        },
        "messages": {
          "items": {
            "$ref": "Message"
          },
          "type": "array",
          "description": "Required. A snapshot of the recent conversation history sorted chronologically. Turns alternate between two authors. If the total input size exceeds the model's `input_token_limit` the input will be truncated: The oldest items will be dropped from `messages`."
        }
      },
      "id": "MessagePrompt",
      "description": "All of the structured input text passed to the model as a prompt. A `MessagePrompt` contains a structured set of fields that provide context for the conversation, examples of user input/model output message pairs that prime the model to respond in different ways, and the conversation history or list of messages representing the alternating turns of the conversation between the user and the model."
    },
    "BatchEmbedContentsRequest": {
      "type": "object",
      "properties": {
        "requests": {
          "description": "Required. Embed requests for the batch. The model in each of these requests must match the model specified `BatchEmbedContentsRequest.model`.",
          "type": "array",
          "items": {
            "$ref": "EmbedContentRequest"
          }
        }
      },
      "id": "BatchEmbedContentsRequest",
      "description": "Batch request to get embeddings from the model for a list of prompts."
    },
    "WhiteSpaceConfig": {
      "properties": {
        "maxTokensPerChunk": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of tokens per chunk. Tokens are defined as words for this chunking algorithm. Note: we are defining tokens as words split by whitespace as opposed to the output of a tokenizer. The context window of the latest gemini embedding model as of 2025-04-17 is currently 8192 tokens. We assume that the average word is 5 characters. Therefore, we set the upper limit to 2**9, which is 512 words, or 2560 tokens, assuming worst case a character per token. This is a conservative estimate meant to prevent context window overflow."
        },
        "maxOverlapTokens": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of overlapping tokens between two adjacent chunks."
        }
      },
      "id": "WhiteSpaceConfig",
      "description": "Configuration for a white space chunking algorithm [white space delimited].",
      "type": "object"
    },
    "InputEmbedContentConfig": {
      "type": "object",
      "properties": {
        "fileName": {
          "description": "The name of the `File` containing the input requests.",
          "type": "string"
        },
        "requests": {
          "description": "The requests to be processed in the batch.",
          "$ref": "InlinedEmbedContentRequests"
        }
      },
      "id": "InputEmbedContentConfig",
      "description": "Configures the input to the batch request."
    },
    "DownloadParameters": {
      "properties": {
        "allowGzipCompression": {
          "description": "A boolean to be returned in the response to Scotty. Allows/disallows gzip encoding of the payload content when the server thinks it's advantageous (hence, does not guarantee compression) which allows Scotty to GZip the response to the client.",
          "type": "boolean"
        },
        "ignoreRange": {
          "type": "boolean",
          "description": "Determining whether or not Apiary should skip the inclusion of any Content-Range header on its response to Scotty."
        }
      },
      "id": "DownloadParameters",
      "description": "Parameters specific to media downloads.",
      "type": "object"
    },
    "BatchEmbedTextResponse": {
      "type": "object",
      "properties": {
        "embeddings": {
          "description": "Output only. The embeddings generated from the input text.",
          "items": {
            "$ref": "Embedding"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "id": "BatchEmbedTextResponse",
      "description": "The response to a EmbedTextRequest."
    },
    "LanguageHints": {
      "type": "object",
      "properties": {
        "languageCodes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. BCP-47 language codes."
        }
      },
      "id": "LanguageHints",
      "description": "Provides hints to the model about possible languages present in the audio."
    },
    "ListPermissionsResponse": {
      "properties": {
        "permissions": {
          "description": "Returned permissions.",
          "type": "array",
          "items": {
            "$ref": "Permission"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no more pages.",
          "type": "string"
        }
      },
      "id": "ListPermissionsResponse",
      "description": "Response from `ListPermissions` containing a paginated list of permissions.",
      "type": "object"
    },
    "PredictResponse": {
      "type": "object",
      "properties": {
        "predictions": {
          "items": {
            "type": "any"
          },
          "type": "array",
          "description": "The outputs of the prediction call."
        }
      },
      "id": "PredictResponse",
      "description": "Response message for [PredictionService.Predict]."
    },
    "Dataset": {
      "properties": {
        "examples": {
          "description": "Optional. Inline examples with simple input/output text.",
          "$ref": "TuningExamples"
        }
      },
      "id": "Dataset",
      "description": "Dataset for training or validation.",
      "type": "object"
    },
    "RetrievalMetadata": {
      "type": "object",
      "id": "RetrievalMetadata",
      "description": "Metadata related to retrieval in the grounding flow.",
      "properties": {
        "googleSearchDynamicRetrievalScore": {
          "type": "number",
          "format": "float",
          "description": "Optional. Score indicating how likely information from google search could help answer the prompt. The score is in the range [0, 1], where 0 is the least likely and 1 is the most likely. This score is only populated when google search grounding and dynamic retrieval is enabled. It will be compared to the threshold to determine whether to trigger google search."
        }
      }
    },
    "FunctionResponsePart": {
      "type": "object",
      "id": "FunctionResponsePart",
      "description": "A datatype containing media that is part of a `FunctionResponse` message. A `FunctionResponsePart` consists of data which has an associated datatype. A `FunctionResponsePart` can only contain one of the accepted types in `FunctionResponsePart.data`. A `FunctionResponsePart` must have a fixed IANA MIME type identifying the type and subtype of the media if the `inline_data` field is filled with raw bytes.",
      "properties": {
        "inlineData": {
          "description": "Inline media bytes.",
          "$ref": "FunctionResponseBlob"
        }
      }
    },
    "Corpus": {
      "id": "Corpus",
      "description": "A `Corpus` is a collection of `Document`s. A project can create up to 10 corpora.",
      "properties": {
        "displayName": {
          "description": "Optional. The human-readable display name for the `Corpus`. The display name must be no more than 512 characters in length, including spaces. Example: \"Docs on Semantic Retriever\"",
          "type": "string"
        },
        "name": {
          "description": "Output only. Immutable. Identifier. The `Corpus` resource name. The ID (name excluding the \"corpora/\" prefix) can contain up to 40 characters that are lowercase alphanumeric or dashes (-). The ID cannot start or end with a dash. If the name is empty on create, a unique name will be derived from `display_name` along with a 12 character random suffix. Example: `corpora/my-awesome-corpora-123a456b789c`",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The Timestamp of when the `Corpus` was created."
        },
        "updateTime": {
          "description": "Output only. The Timestamp of when the `Corpus` was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "Web": {
      "type": "object",
      "properties": {
        "uri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. URI reference of the chunk."
        },
        "title": {
          "description": "Output only. Title of the chunk.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "Web",
      "description": "Chunk from the web."
    },
    "UrlMetadata": {
      "type": "object",
      "id": "UrlMetadata",
      "description": "Context of the a single url retrieval.",
      "properties": {
        "retrievedUrl": {
          "type": "string",
          "description": "Retrieved url by the tool."
        },
        "urlRetrievalStatus": {
          "description": "Status of the url retrieval.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Url retrieval is successful.",
            "Url retrieval is failed due to error.",
            "Url retrieval is failed because the content is behind paywall.",
            "Url retrieval is failed because the content is unsafe."
          ],
          "enum": [
            "URL_RETRIEVAL_STATUS_UNSPECIFIED",
            "URL_RETRIEVAL_STATUS_SUCCESS",
            "URL_RETRIEVAL_STATUS_ERROR",
            "URL_RETRIEVAL_STATUS_PAYWALL",
            "URL_RETRIEVAL_STATUS_UNSAFE"
          ],
          "type": "string"
        }
      }
    },
    "File": {
      "type": "object",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp of when the `File` was last updated."
        },
        "uri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The uri of the `File`."
        },
        "error": {
          "$ref": "Status",
          "readOnly": true,
          "description": "Output only. Error status if File processing failed."
        },
        "sha256Hash": {
          "readOnly": true,
          "type": "string",
          "format": "byte",
          "description": "Output only. SHA-256 hash of the uploaded bytes."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The human-readable display name for the `File`. The display name must be no more than 512 characters in length, including spaces. Example: \"Welcome Image\""
        },
        "downloadUri": {
          "description": "Output only. The download uri of the `File`.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PROCESSING",
            "ACTIVE",
            "FAILED"
          ],
          "type": "string",
          "description": "Output only. Processing state of the File.",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "File is being processed and cannot be used for inference yet.",
            "File is processed and available for inference.",
            "File failed processing."
          ]
        },
        "expirationTime": {
          "description": "Output only. The timestamp of when the `File` will be deleted. Only set if the `File` is scheduled to expire.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Immutable. Identifier. The `File` resource name. The ID (name excluding the \"files/\" prefix) can contain up to 40 characters that are lowercase alphanumeric or dashes (-). The ID cannot start or end with a dash. If the name is empty on create, a unique name will be generated. Example: `files/123-456`",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp of when the `File` was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "mimeType": {
          "description": "Output only. MIME type of the file.",
          "readOnly": true,
          "type": "string"
        },
        "videoMetadata": {
          "readOnly": true,
          "$ref": "VideoFileMetadata",
          "description": "Output only. Metadata for a video."
        },
        "source": {
          "type": "string",
          "description": "Source of the File.",
          "enumDescriptions": [
            "Used if source is not specified.",
            "Indicates the file is uploaded by the user.",
            "Indicates the file is generated by Google.",
            "Indicates the file is a registered, i.e. a Google Cloud Storage file."
          ],
          "enum": [
            "SOURCE_UNSPECIFIED",
            "UPLOADED",
            "GENERATED",
            "REGISTERED"
          ]
        },
        "sizeBytes": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Size of the file in bytes."
        }
      },
      "id": "File",
      "description": "A file uploaded to the API. Next ID: 15"
    },
    "InlinedRequests": {
      "type": "object",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "InlinedRequest"
          },
          "description": "Required. The requests to be processed in the batch."
        }
      },
      "id": "InlinedRequests",
      "description": "The requests to be processed in the batch if provided as part of the batch creation request."
    },
    "Message": {
      "type": "object",
      "properties": {
        "citationMetadata": {
          "$ref": "CitationMetadata",
          "readOnly": true,
          "description": "Output only. Citation information for model-generated `content` in this `Message`. If this `Message` was generated as output from the model, this field may be populated with attribution information for any text included in the `content`. This field is used only on output."
        },
        "author": {
          "type": "string",
          "description": "Optional. The author of this Message. This serves as a key for tagging the content of this Message when it is fed to the model as text. The author can be any alphanumeric string."
        },
        "content": {
          "description": "Required. The text content of the structured `Message`.",
          "type": "string"
        }
      },
      "id": "Message",
      "description": "The base unit of structured text. A `Message` includes an `author` and the `content` of the `Message`. The `author` is used to tag messages when they are fed to the model as text."
    },
    "ListTunedModelsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no more pages."
        },
        "tunedModels": {
          "description": "The returned Models.",
          "items": {
            "$ref": "TunedModel"
          },
          "type": "array"
        }
      },
      "id": "ListTunedModelsResponse",
      "description": "Response from `ListTunedModels` containing a paginated list of Models.",
      "type": "object"
    },
    "DiffUploadRequest": {
      "type": "object",
      "properties": {
        "objectInfo": {
          "description": "The location of the new object. Agents must clone the object located here, as the upload server will delete the contents once a response is received.",
          "$ref": "CompositeMedia"
        },
        "objectVersion": {
          "type": "string",
          "description": "The object version of the object that is the base version the incoming diff script will be applied to. This field will always be filled in."
        },
        "checksumsInfo": {
          "description": "The location of the checksums for the new object. Agents must clone the object located here, as the upload server will delete the contents once a response is received. For details on the format of the checksums, see http://go/scotty-diff-protocol.",
          "$ref": "CompositeMedia"
        }
      },
      "id": "DiffUploadRequest",
      "description": "A Diff upload request. For details on the Scotty Diff protocol, visit http://go/scotty-diff-protocol."
    },
    "ContentFilter": {
      "properties": {
        "reason": {
          "type": "string",
          "description": "The reason content was blocked during request processing.",
          "enumDescriptions": [
            "A blocked reason was not specified.",
            "Content was blocked by safety settings.",
            "Content was blocked, but the reason is uncategorized."
          ],
          "enum": [
            "BLOCKED_REASON_UNSPECIFIED",
            "SAFETY",
            "OTHER"
          ]
        },
        "message": {
          "description": "A string that describes the filtering behavior in more detail.",
          "type": "string"
        }
      },
      "id": "ContentFilter",
      "description": "Content filtering metadata associated with processing a single request. ContentFilter contains a reason and an optional supporting string. The reason may be unspecified.",
      "type": "object"
    },
    "AutomaticActivityDetection": {
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Optional. If enabled (the default), detected voice and text input count as activity. If disabled, the client must send activity signals."
        },
        "silenceDurationMs": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The required duration of detected non-speech (e.g. silence) before end-of-speech is committed. The larger this value, the longer speech gaps can be without interrupting the user's activity but this will increase the model's latency."
        },
        "startOfSpeechSensitivity": {
          "type": "string",
          "description": "Optional. Determines how likely speech is to be detected.",
          "enumDescriptions": [
            "The default is START_SENSITIVITY_HIGH.",
            "Automatic detection will detect the start of speech more often.",
            "Automatic detection will detect the start of speech less often."
          ],
          "enum": [
            "START_SENSITIVITY_UNSPECIFIED",
            "START_SENSITIVITY_HIGH",
            "START_SENSITIVITY_LOW"
          ]
        },
        "prefixPaddingMs": {
          "description": "Optional. The required duration of detected speech before start-of-speech is committed. The lower this value, the more sensitive the start-of-speech detection is and shorter speech can be recognized. However, this also increases the probability of false positives.",
          "type": "integer",
          "format": "int32"
        },
        "endOfSpeechSensitivity": {
          "description": "Optional. Determines how likely detected speech is ended.",
          "enumDescriptions": [
            "The default is END_SENSITIVITY_HIGH.",
            "Automatic detection ends speech more often.",
            "Automatic detection ends speech less often."
          ],
          "enum": [
            "END_SENSITIVITY_UNSPECIFIED",
            "END_SENSITIVITY_HIGH",
            "END_SENSITIVITY_LOW"
          ],
          "type": "string"
        }
      },
      "id": "AutomaticActivityDetection",
      "description": "Configures automatic detection of activity.",
      "type": "object"
    },
    "GdataMedia": {
      "type": "object",
      "properties": {
        "diffVersionResponse": {
          "description": "Set if reference_type is DIFF_VERSION_RESPONSE.",
          "$ref": "DiffVersionResponse"
        },
        "crc32cHash": {
          "description": "For Scotty Uploads: Scotty-provided hashes for uploads For Scotty Downloads: (WARNING: DO NOT USE WITHOUT PERMISSION FROM THE SCOTTY TEAM.) A Hash provided by the agent to be used to verify the data being downloaded. Currently only supported for inline payloads. Further, only crc32c_hash is currently supported.",
          "type": "integer",
          "format": "uint32"
        },
        "sha512Hash": {
          "type": "string",
          "format": "byte",
          "description": "Scotty-provided SHA512 hash for an upload."
        },
        "filename": {
          "description": "Original file name",
          "type": "string"
        },
        "diffDownloadResponse": {
          "description": "Set if reference_type is DIFF_DOWNLOAD_RESPONSE.",
          "$ref": "DiffDownloadResponse"
        },
        "downloadParameters": {
          "description": "Parameters for a media download.",
          "$ref": "DownloadParameters"
        },
        "diffUploadRequest": {
          "description": "Set if reference_type is DIFF_UPLOAD_REQUEST.",
          "$ref": "DiffUploadRequest"
        },
        "blobstore2Info": {
          "description": "Blobstore v2 info, set if reference_type is BLOBSTORE_REF and it refers to a v2 blob.",
          "$ref": "Blobstore2Info"
        },
        "contentType": {
          "description": "MIME type of the data",
          "type": "string"
        },
        "diffUploadResponse": {
          "description": "Set if reference_type is DIFF_UPLOAD_RESPONSE.",
          "$ref": "DiffUploadResponse"
        },
        "token": {
          "type": "string",
          "description": "A unique fingerprint/version id for the media data"
        },
        "objectId": {
          "description": "Reference to a TI Blob, set if reference_type is BIGSTORE_REF.",
          "$ref": "ObjectId"
        },
        "mediaId": {
          "description": "Media id to forward to the operation GetMedia. Can be set if reference_type is GET_MEDIA.",
          "type": "string",
          "format": "byte"
        },
        "bigstoreObjectRef": {
          "description": "Use object_id instead.",
          "deprecated": true,
          "type": "string",
          "format": "byte"
        },
        "diffChecksumsResponse": {
          "description": "Set if reference_type is DIFF_CHECKSUMS_RESPONSE.",
          "$ref": "DiffChecksumsResponse"
        },
        "hash": {
          "deprecated": true,
          "type": "string",
          "description": "Deprecated, use one of explicit hash type fields instead. These two hash related fields will only be populated on Scotty based media uploads and will contain the content of the hash group in the NotificationRequest: http://cs/#google3/blobstore2/api/scotty/service/proto/upload_listener.proto&q=class:Hash Hex encoded hash value of the uploaded media."
        },
        "md5Hash": {
          "description": "Scotty-provided MD5 hash for an upload.",
          "type": "string",
          "format": "byte"
        },
        "sha1Hash": {
          "description": "Scotty-provided SHA1 hash for an upload.",
          "type": "string",
          "format": "byte"
        },
        "contentTypeInfo": {
          "description": "Extended content type information provided for Scotty uploads.",
          "$ref": "ContentTypeInfo"
        },
        "length": {
          "type": "string",
          "format": "int64",
          "description": "Size of the data, in bytes"
        },
        "timestamp": {
          "description": "Time at which the media data was last updated, in milliseconds since UNIX epoch",
          "type": "string",
          "format": "uint64"
        },
        "algorithm": {
          "description": "Deprecated, use one of explicit hash type fields instead. Algorithm used for calculating the hash. As of 2011/01/21, \"MD5\" is the only possible value for this field. New values may be added at any time.",
          "deprecated": true,
          "type": "string"
        },
        "cosmoBinaryReference": {
          "description": "A binary data reference for a media download. Serves as a technology-agnostic binary reference in some Google infrastructure. This value is a serialized storage_cosmo.BinaryReference proto. Storing it as bytes is a hack to get around the fact that the cosmo proto (as well as others it includes) doesn't support JavaScript. This prevents us from including the actual type of this field.",
          "type": "string",
          "format": "byte"
        },
        "compositeMedia": {
          "items": {
            "$ref": "CompositeMedia"
          },
          "type": "array",
          "description": "A composite media composed of one or more media objects, set if reference_type is COMPOSITE_MEDIA. The media length field must be set to the sum of the lengths of all composite media objects. Note: All composite media must have length specified."
        },
        "isPotentialRetry": {
          "type": "boolean",
          "description": "|is_potential_retry| is set false only when Scotty is certain that it has not sent the request before. When a client resumes an upload, this field must be set true in agent calls, because Scotty cannot be certain that it has never sent the request before due to potential failure in the session state persistence."
        },
        "hashVerified": {
          "description": "For Scotty uploads only. If a user sends a hash code and the backend has requested that Scotty verify the upload against the client hash, Scotty will perform the check on behalf of the backend and will reject it if the hashes don't match. This is set to true if Scotty performed this verification.",
          "type": "boolean"
        },
        "referenceType": {
          "type": "string",
          "description": "Describes what the field reference contains.",
          "enumDescriptions": [
            "Reference contains a GFS path or a local path.",
            "Reference points to a blobstore object. This could be either a v1 blob_ref or a v2 blobstore2_info. Clients should check blobstore2_info first, since v1 is being deprecated.",
            "Data is included into this proto buffer",
            "Data should be accessed from the current service using the operation GetMedia.",
            "The content for this media object is stored across multiple partial media objects under the composite_media field.",
            "Reference points to a bigstore object",
            "Indicates the data is stored in diff_version_response.",
            "Indicates the data is stored in diff_checksums_response.",
            "Indicates the data is stored in diff_download_response.",
            "Indicates the data is stored in diff_upload_request.",
            "Indicates the data is stored in diff_upload_response.",
            "Indicates the data is stored in cosmo_binary_reference.",
            "Informs Scotty to generate a response payload with the size specified in the length field. The contents of the payload are generated by Scotty and are undefined. This is useful for testing download speeds between the user and Scotty without involving a real payload source. Note: range is not supported when using arbitrary_bytes."
          ],
          "enum": [
            "PATH",
            "BLOB_REF",
            "INLINE",
            "GET_MEDIA",
            "COMPOSITE_MEDIA",
            "BIGSTORE_REF",
            "DIFF_VERSION_RESPONSE",
            "DIFF_CHECKSUMS_RESPONSE",
            "DIFF_DOWNLOAD_RESPONSE",
            "DIFF_UPLOAD_REQUEST",
            "DIFF_UPLOAD_RESPONSE",
            "COSMO_BINARY_REFERENCE",
            "ARBITRARY_BYTES"
          ]
        },
        "blobRef": {
          "description": "Blobstore v1 reference, set if reference_type is BLOBSTORE_REF This should be the byte representation of a blobstore.BlobRef. Since Blobstore is deprecating v1, use blobstore2_info instead. For now, any v2 blob will also be represented in this field as v1 BlobRef.",
          "deprecated": true,
          "type": "string",
          "format": "byte"
        },
        "inline": {
          "type": "string",
          "format": "byte",
          "description": "Media data, set if reference_type is INLINE"
        },
        "path": {
          "description": "Path to the data, set if reference_type is PATH",
          "type": "string"
        },
        "sha256Hash": {
          "description": "Scotty-provided SHA256 hash for an upload.",
          "type": "string",
          "format": "byte"
        }
      },
      "id": "GdataMedia",
      "description": "A reference to data stored on the filesystem, on GFS or in blobstore."
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "TranslationConfig": {
      "properties": {
        "echoTargetLanguage": {
          "description": "Optional. If true, the model will generate audio when the target language is spoken, essentially it will parrot the input. If false, we will not produce audio for the target language.",
          "type": "boolean"
        },
        "targetLanguageCode": {
          "description": "Required. The target language for translation. Supported values are BCP-47 language codes (e.g. \"en\", \"es\", \"fr\").",
          "type": "string"
        }
      },
      "id": "TranslationConfig",
      "description": "Config for translation features.",
      "type": "object"
    },
    "ComputerUse": {
      "type": "object",
      "id": "ComputerUse",
      "description": "Computer Use tool type.",
      "properties": {
        "environment": {
          "type": "string",
          "description": "Required. The environment being operated.",
          "enumDescriptions": [
            "Defaults to browser.",
            "Operates in a web browser.",
            "Operates in a mobile environment.",
            "Operates in a desktop environment."
          ],
          "enum": [
            "ENVIRONMENT_UNSPECIFIED",
            "ENVIRONMENT_BROWSER",
            "ENVIRONMENT_MOBILE",
            "ENVIRONMENT_DESKTOP"
          ]
        },
        "disabledSafetyPolicies": {
          "description": "Optional. Disabled safety policies for computer use.",
          "items": {
            "enumDescriptions": [
              "Unspecified safety policy.",
              "Safety policy for financial transactions.",
              "Safety policy for sensitive data modification.",
              "Safety policy for communication tools (e.g. Gmail, Chat, Meet).",
              "Safety policy for account creation.",
              "Safety policy for data modification.",
              "Safety policy for user consent management.",
              "Safety policy for legal terms and agreements."
            ],
            "enum": [
              "SAFETY_POLICY_UNSPECIFIED",
              "FINANCIAL_TRANSACTIONS",
              "SENSITIVE_DATA_MODIFICATION",
              "COMMUNICATION_TOOL",
              "ACCOUNT_CREATION",
              "DATA_MODIFICATION",
              "USER_CONSENT_MANAGEMENT",
              "LEGAL_TERMS_AND_AGREEMENTS"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "excludedPredefinedFunctions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. By default, predefined functions are included in the final model call. Some of them can be explicitly excluded from being automatically included. This can serve two purposes: 1. Using a more restricted / different action space. 2. Improving the definitions / instructions of predefined functions."
        },
        "enablePromptInjectionDetection": {
          "type": "boolean",
          "description": "Optional. Whether enable the prompt injection detection check on computer-use request."
        }
      }
    },
    "UrlContext": {
      "properties": {},
      "id": "UrlContext",
      "description": "Tool to support URL context retrieval.",
      "type": "object"
    },
    "TunedModel": {
      "type": "object",
      "properties": {
        "topP": {
          "description": "Optional. For Nucleus sampling. Nucleus sampling considers the smallest set of tokens whose probability sum is at least `top_p`. This value specifies default to be the one used by the base model while creating the model.",
          "type": "number",
          "format": "float"
        },
        "readerProjectNumbers": {
          "description": "Optional. List of project numbers that have read access to the tuned model.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "state": {
          "type": "string",
          "description": "Output only. The state of the tuned model.",
          "enumDescriptions": [
            "The default value. This value is unused.",
            "The model is being created.",
            "The model is ready to be used.",
            "The model failed to be created."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "FAILED"
          ]
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The tuned model name. A unique name will be generated on create. Example: `tunedModels/az2mb0bpw6i` If display_name is set on create, the id portion of the name will be set by concatenating the words of the display_name with hyphens and adding a random portion for uniqueness. Example: * display_name = `Sentence Translator` * name = `tunedModels/sentence-translator-u3b7m`"
        },
        "description": {
          "description": "Optional. A short description of this model.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when this model was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "baseModel": {
          "description": "Immutable. The name of the `Model` to tune. Example: `models/gemini-1.5-flash-001`",
          "type": "string"
        },
        "temperature": {
          "type": "number",
          "format": "float",
          "description": "Optional. Controls the randomness of the output. Values can range over `[0.0,1.0]`, inclusive. A value closer to `1.0` will produce responses that are more varied, while a value closer to `0.0` will typically result in less surprising responses from the model. This value specifies default to be the one used by the base model while creating the model."
        },
        "topK": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. For Top-k sampling. Top-k sampling considers the set of `top_k` most probable tokens. This value specifies default to be used by the backend while making the call to the model. This value specifies default to be the one used by the base model while creating the model."
        },
        "updateTime": {
          "description": "Output only. The timestamp when this model was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The name to display for this model in user interfaces. The display name must be up to 40 characters including spaces."
        },
        "tuningTask": {
          "description": "Required. The tuning task that creates the tuned model.",
          "$ref": "TuningTask"
        },
        "tunedModelSource": {
          "description": "Optional. TunedModel to use as the starting point for training the new model.",
          "$ref": "TunedModelSource"
        }
      },
      "id": "TunedModel",
      "description": "A fine-tuned model created using ModelService.CreateTunedModel."
    },
    "GenerateContentRequest": {
      "type": "object",
      "properties": {
        "systemInstruction": {
          "description": "Optional. Developer set [system instruction(s)](https://ai.google.dev/gemini-api/docs/system-instructions). Currently, text only.",
          "$ref": "Content"
        },
        "generationConfig": {
          "description": "Optional. Configuration options for model generation and outputs.",
          "$ref": "GenerationConfig"
        },
        "serviceTier": {
          "description": "Optional. The service tier of the request.",
          "enumDescriptions": [
            "Default service tier, which is standard.",
            "Standard service tier.",
            "Flex service tier.",
            "Priority service tier."
          ],
          "enum": [
            "unspecified",
            "standard",
            "flex",
            "priority"
          ],
          "type": "string"
        },
        "cachedContent": {
          "type": "string",
          "description": "Optional. The name of the content [cached](https://ai.google.dev/gemini-api/docs/caching) to use as context to serve the prediction. Format: `cachedContents/{cachedContent}`"
        },
        "store": {
          "type": "boolean",
          "description": "Optional. Configures the logging behavior for a given request. If set, it takes precedence over the project-level logging config."
        },
        "contents": {
          "items": {
            "$ref": "Content"
          },
          "type": "array",
          "description": "Required. The content of the current conversation with the model. For single-turn queries, this is a single instance. For multi-turn queries like [chat](https://ai.google.dev/gemini-api/docs/text-generation#chat), this is a repeated field that contains the conversation history and the latest request."
        },
        "model": {
          "type": "string",
          "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`."
        },
        "safetySettings": {
          "description": "Optional. A list of unique `SafetySetting` instances for blocking unsafe content. This will be enforced on the `GenerateContentRequest.contents` and `GenerateContentResponse.candidates`. There should not be more than one setting for each `SafetyCategory` type. The API will block any contents and responses that fail to meet the thresholds set by these settings. This list overrides the default settings for each `SafetyCategory` specified in the safety_settings. If there is no `SafetySetting` for a given `SafetyCategory` provided in the list, the API will use the default safety setting for that category. Harm categories HARM_CATEGORY_HATE_SPEECH, HARM_CATEGORY_SEXUALLY_EXPLICIT, HARM_CATEGORY_DANGEROUS_CONTENT, HARM_CATEGORY_HARASSMENT, HARM_CATEGORY_CIVIC_INTEGRITY, HARM_CATEGORY_JAILBREAK are supported. Refer to the [guide](https://ai.google.dev/gemini-api/docs/safety-settings) for detailed information on available safety settings. Also refer to the [Safety guidance](https://ai.google.dev/gemini-api/docs/safety-guidance) to learn how to incorporate safety considerations in your AI applications.",
          "type": "array",
          "items": {
            "$ref": "SafetySetting"
          }
        },
        "tools": {
          "description": "Optional. A list of `Tools` the `Model` may use to generate the next response. A `Tool` is a piece of code that enables the system to interact with external systems to perform an action, or set of actions, outside of knowledge and scope of the `Model`. Supported `Tool`s are `Function` and `code_execution`. Refer to the [Function calling](https://ai.google.dev/gemini-api/docs/function-calling) and the [Code execution](https://ai.google.dev/gemini-api/docs/code-execution) guides to learn more.",
          "type": "array",
          "items": {
            "$ref": "Tool"
          }
        },
        "toolConfig": {
          "description": "Optional. Tool configuration for any `Tool` specified in the request. Refer to the [Function calling guide](https://ai.google.dev/gemini-api/docs/function-calling#function_calling_mode) for a usage example.",
          "$ref": "ToolConfig"
        }
      },
      "id": "GenerateContentRequest",
      "description": "Request to generate a completion from the model."
    },
    "StreamableHttpTransport": {
      "type": "object",
      "properties": {
        "url": {
          "type": "string",
          "description": "The full URL for the MCPServer endpoint. Example: \"https://api.example.com/mcp\""
        },
        "timeout": {
          "type": "string",
          "format": "google-duration",
          "description": "HTTP timeout for regular operations."
        },
        "terminateOnClose": {
          "description": "Whether to close the client session when the transport closes.",
          "type": "boolean"
        },
        "sseReadTimeout": {
          "type": "string",
          "format": "google-duration",
          "description": "Timeout for SSE read operations."
        },
        "headers": {
          "description": "Optional: Fields for authentication headers, timeouts, etc., if needed.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "StreamableHttpTransport",
      "description": "A transport that can stream HTTP requests and responses. Next ID: 6"
    },
    "ListGeneratedFilesResponse": {
      "id": "ListGeneratedFilesResponse",
      "description": "Response for `ListGeneratedFiles`.",
      "properties": {
        "generatedFiles": {
          "items": {
            "$ref": "GeneratedFile"
          },
          "type": "array",
          "description": "The list of `GeneratedFile`s."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as a `page_token` into a subsequent `ListGeneratedFiles` call."
        }
      },
      "type": "object"
    },
    "EmbedTextResponse": {
      "type": "object",
      "properties": {
        "embedding": {
          "readOnly": true,
          "$ref": "Embedding",
          "description": "Output only. The embedding generated from the input text."
        }
      },
      "id": "EmbedTextResponse",
      "description": "The response to a EmbedTextRequest."
    },
    "FunctionResponseBlob": {
      "id": "FunctionResponseBlob",
      "description": "Raw media bytes for function response. Text should not be sent as raw bytes, use the 'FunctionResponse.response' field.",
      "properties": {
        "data": {
          "description": "Raw bytes for media formats.",
          "type": "string",
          "format": "byte"
        },
        "mimeType": {
          "description": "The IANA standard MIME type of the source data. Examples: - image/png - image/jpeg If an unsupported MIME type is provided, an error will be returned. For a complete list of supported types, see [Supported file formats](https://ai.google.dev/gemini-api/docs/prompting_with_media#supported_file_formats).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleSearchRetrieval": {
      "properties": {
        "dynamicRetrievalConfig": {
          "description": "Specifies the dynamic retrieval configuration for the given source.",
          "$ref": "DynamicRetrievalConfig"
        }
      },
      "id": "GoogleSearchRetrieval",
      "description": "Tool to retrieve public web data for grounding, powered by Google.",
      "type": "object"
    },
    "McpServer": {
      "id": "McpServer",
      "description": "A MCPServer is a server that can be called by the model to perform actions. It is a server that implements the MCP protocol. Next ID: 6",
      "properties": {
        "streamableHttpTransport": {
          "description": "A transport that can stream HTTP requests and responses.",
          "$ref": "StreamableHttpTransport"
        },
        "name": {
          "type": "string",
          "description": "The name of the MCPServer."
        }
      },
      "type": "object"
    },
    "TuningExamples": {
      "type": "object",
      "id": "TuningExamples",
      "description": "A set of tuning examples. Can be training or validation data.",
      "properties": {
        "examples": {
          "description": "The examples. Example input can be for text or discuss, but all examples in a set must be of the same type.",
          "items": {
            "$ref": "TuningExample"
          },
          "type": "array"
        }
      }
    },
    "PromptFeedback": {
      "type": "object",
      "properties": {
        "blockReason": {
          "description": "Optional. If set, the prompt was blocked and no candidates are returned. Rephrase the prompt.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Prompt was blocked due to safety reasons. Inspect `safety_ratings` to understand which safety category blocked it.",
            "Prompt was blocked due to unknown reasons.",
            "Prompt was blocked due to the terms which are included from the terminology blocklist.",
            "Prompt was blocked due to prohibited content.",
            "Candidates blocked due to unsafe image generation content."
          ],
          "enum": [
            "BLOCK_REASON_UNSPECIFIED",
            "SAFETY",
            "OTHER",
            "BLOCKLIST",
            "PROHIBITED_CONTENT",
            "IMAGE_SAFETY"
          ],
          "type": "string"
        },
        "safetyRatings": {
          "items": {
            "$ref": "SafetyRating"
          },
          "type": "array",
          "description": "Ratings for safety of the prompt. There is at most one rating per category."
        }
      },
      "id": "PromptFeedback",
      "description": "A set of the feedback metadata the prompt specified in `GenerateContentRequest.content`."
    },
    "InlinedEmbedContentResponse": {
      "id": "InlinedEmbedContentResponse",
      "description": "The response to a single request in the batch.",
      "properties": {
        "error": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. The error encountered while processing the request."
        },
        "response": {
          "$ref": "EmbedContentResponse",
          "readOnly": true,
          "description": "Output only. The response to the request."
        },
        "metadata": {
          "description": "Output only. The metadata associated with the request.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "type": "object"
    },
    "EmbedContentResponse": {
      "type": "object",
      "properties": {
        "embedding": {
          "readOnly": true,
          "$ref": "ContentEmbedding",
          "description": "Output only. The embedding generated from the input content."
        },
        "usageMetadata": {
          "$ref": "EmbeddingUsageMetadata",
          "readOnly": true,
          "description": "Output only. The usage metadata for the request."
        }
      },
      "id": "EmbedContentResponse",
      "description": "The response to an `EmbedContentRequest`."
    },
    "EmbedContentRequest": {
      "type": "object",
      "properties": {
        "model": {
          "type": "string",
          "description": "Required. The model's resource name. This serves as an ID for the Model to use. This name should match a model name returned by the `ListModels` method. Format: `models/{model}`"
        },
        "content": {
          "description": "Required. The content to embed. Only the `parts.text` fields will be counted.",
          "$ref": "Content"
        },
        "outputDimensionality": {
          "deprecated": true,
          "type": "integer",
          "format": "int32",
          "description": "Optional. Deprecated: Please use EmbedContentConfig.output_dimensionality instead. Optional reduced dimension for the output embedding. If set, excessive values in the output embedding are truncated from the end. Supported by newer models since 2024 only. You cannot set this value if using the earlier model (`models/embedding-001`)."
        },
        "title": {
          "deprecated": true,
          "type": "string",
          "description": "Optional. Deprecated: Please use EmbedContentConfig.title instead. An optional title for the text. Only applicable when TaskType is `RETRIEVAL_DOCUMENT`. Note: Specifying a `title` for `RETRIEVAL_DOCUMENT` provides better quality embeddings for retrieval."
        },
        "taskType": {
          "description": "Optional. Deprecated: Please use EmbedContentConfig.task_type instead. Optional task type for which the embeddings will be used. Not supported on earlier models (`models/embedding-001`).",
          "enumDescriptions": [
            "Unset value, which will default to one of the other enum values.",
            "Specifies the given text is a query in a search/retrieval setting.",
            "Specifies the given text is a document from the corpus being searched.",
            "Specifies the given text will be used for STS.",
            "Specifies that the given text will be classified.",
            "Specifies that the embeddings will be used for clustering.",
            "Specifies that the given text will be used for question answering.",
            "Specifies that the given text will be used for fact verification.",
            "Specifies that the given text will be used for code retrieval."
          ],
          "type": "string",
          "enum": [
            "TASK_TYPE_UNSPECIFIED",
            "RETRIEVAL_QUERY",
            "RETRIEVAL_DOCUMENT",
            "SEMANTIC_SIMILARITY",
            "CLASSIFICATION",
            "CLUSTERING",
            "QUESTION_ANSWERING",
            "FACT_VERIFICATION",
            "CODE_RETRIEVAL_QUERY"
          ],
          "deprecated": true
        },
        "embedContentConfig": {
          "description": "Optional. Configuration for the EmbedContent request.",
          "$ref": "EmbedContentConfig"
        }
      },
      "id": "EmbedContentRequest",
      "description": "Request containing the `Content` for the model to embed."
    },
    "ListFilesResponse": {
      "id": "ListFilesResponse",
      "description": "Response for `ListFiles`.",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as a `page_token` into a subsequent `ListFiles` call.",
          "type": "string"
        },
        "files": {
          "type": "array",
          "items": {
            "$ref": "File"
          },
          "description": "The list of `File`s."
        }
      },
      "type": "object"
    },
    "Operation": {
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      },
[...]
