{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/devstorage.read_only": {
          "description": "View your data in Google Cloud Storage"
        }
      }
    }
  },
  "ownerName": "Google",
  "servicePath": "",
  "discoveryVersion": "v1",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    }
  },
  "mtlsRootUrl": "https://generativelanguage.mtls.googleapis.com/",
  "title": "Gemini API",
  "batchPath": "batch",
  "revision": "20260614",
  "baseUrl": "https://generativelanguage.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "id": "generativelanguage:v1beta",
  "version_module": true,
  "protocol": "rest",
  "canonicalName": "Generative Language",
  "documentationLink": "https://developers.generativeai.google/api",
  "basePath": "",
  "rootUrl": "https://generativelanguage.googleapis.com/",
  "kind": "discovery#restDescription",
  "schemas": {
    "EmbedContentResponse": {
      "id": "EmbedContentResponse",
      "type": "object",
      "properties": {
        "embedding": {
          "description": "Output only. The embedding generated from the input content.",
          "$ref": "ContentEmbedding",
          "readOnly": true
        },
        "usageMetadata": {
          "description": "Output only. The usage metadata for the request.",
          "$ref": "EmbeddingUsageMetadata",
          "readOnly": true
        }
      },
      "description": "The response to an `EmbedContentRequest`."
    },
    "ThinkingConfig": {
      "id": "ThinkingConfig",
      "type": "object",
      "properties": {
        "thinkingLevel": {
          "enum": [
            "THINKING_LEVEL_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "type": "string",
          "description": "Optional. Controls the maximum depth of the model's internal reasoning process before it produces a response. The default value is model-dependent. Refer to the [Thinking levels guide](https://ai.google.dev/gemini-api/docs/thinking#thinking-levels) for more details. Recommended for Gemini 3 or later models. Use with earlier models results in an error.",
          "enumDescriptions": [
            "Default value.",
            "Little to no thinking.",
            "Low thinking level.",
            "Medium thinking level.",
            "High thinking level."
          ]
        },
        "includeThoughts": {
          "description": "Indicates whether to include thoughts in the response. If true, thoughts are returned only when available.",
          "type": "boolean"
        },
        "thinkingBudget": {
          "description": "The number of thoughts tokens that the model should generate.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Config for thinking features."
    },
    "Content": {
      "description": "The base structured datatype containing multi-part content of a message. A `Content` includes a `role` field designating the producer of the `Content` and a `parts` field containing multi-part data that contains the content of the message turn.",
      "properties": {
        "parts": {
          "description": "Ordered `Parts` that constitute a single message. Parts may have different MIME types.",
          "type": "array",
          "items": {
            "$ref": "Part"
          }
        },
        "role": {
          "description": "Optional. The producer of the content. Must be either 'user' or 'model'. Useful to set for multi-turn conversations, otherwise can be left blank or unset.",
          "type": "string"
        }
      },
      "id": "Content",
      "type": "object"
    },
    "InputEmbedContentConfig": {
      "id": "InputEmbedContentConfig",
      "type": "object",
      "description": "Configures the input to the batch request.",
      "properties": {
        "fileName": {
          "description": "The name of the `File` containing the input requests.",
          "type": "string"
        },
        "requests": {
          "description": "The requests to be processed in the batch.",
          "$ref": "InlinedEmbedContentRequests"
        }
      }
    },
    "TransferOwnershipResponse": {
      "id": "TransferOwnershipResponse",
      "type": "object",
      "properties": {},
      "description": "Response from `TransferOwnership`."
    },
    "SafetySetting": {
      "id": "SafetySetting",
      "type": "object",
      "description": "Safety setting, affecting the safety-blocking behavior. Passing a safety setting for a category changes the allowed probability that content is blocked.",
      "properties": {
        "threshold": {
          "type": "string",
          "enum": [
            "HARM_BLOCK_THRESHOLD_UNSPECIFIED",
            "BLOCK_LOW_AND_ABOVE",
            "BLOCK_MEDIUM_AND_ABOVE",
            "BLOCK_ONLY_HIGH",
            "BLOCK_NONE",
            "OFF"
          ],
          "description": "Required. Controls the probability threshold at which harm is blocked.",
          "enumDescriptions": [
            "Threshold is unspecified.",
            "Content with NEGLIGIBLE will be allowed.",
            "Content with NEGLIGIBLE and LOW will be allowed.",
            "Content with NEGLIGIBLE, LOW, and MEDIUM will be allowed.",
            "All content will be allowed.",
            "Turn off the safety filter."
          ]
        },
        "category": {
          "type": "string",
          "description": "Required. The category for this setting.",
          "enumDescriptions": [
            "Category is unspecified.",
            "**PaLM** - Negative or harmful comments targeting identity and/or protected attribute.",
            "**PaLM** - Content that is rude, disrespectful, or profane.",
            "**PaLM** - Describes scenarios depicting violence against an individual or group, or general descriptions of gore.",
            "**PaLM** - Contains references to sexual acts or other lewd content.",
            "**PaLM** - Promotes unchecked medical advice.",
            "**PaLM** - Dangerous content that promotes, facilitates, or encourages harmful acts.",
            "**Gemini** - Harassment content.",
            "**Gemini** - Hate speech and content.",
            "**Gemini** - Sexually explicit content.",
            "**Gemini** - Dangerous content.",
            "**Gemini** - Content that may be used to harm civic integrity. DEPRECATED: use enable_enhanced_civic_answers instead."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ],
          "enum": [
            "HARM_CATEGORY_UNSPECIFIED",
            "HARM_CATEGORY_DEROGATORY",
            "HARM_CATEGORY_TOXICITY",
            "HARM_CATEGORY_VIOLENCE",
            "HARM_CATEGORY_SEXUAL",
            "HARM_CATEGORY_MEDICAL",
            "HARM_CATEGORY_DANGEROUS",
            "HARM_CATEGORY_HARASSMENT",
            "HARM_CATEGORY_HATE_SPEECH",
            "HARM_CATEGORY_SEXUALLY_EXPLICIT",
            "HARM_CATEGORY_DANGEROUS_CONTENT",
            "HARM_CATEGORY_CIVIC_INTEGRITY"
          ]
        }
      }
    },
    "GroundingChunkCustomMetadata": {
      "id": "GroundingChunkCustomMetadata",
      "type": "object",
      "description": "User provided metadata about the GroundingFact.",
      "properties": {
        "stringValue": {
          "description": "Optional. The string value of the metadata.",
          "type": "string"
        },
        "stringListValue": {
          "description": "Optional. A list of string values for the metadata.",
          "$ref": "GroundingChunkStringList"
        },
        "numericValue": {
          "type": "number",
          "description": "Optional. The numeric value of the metadata. The expected range for this value depends on the specific `key` used.",
          "format": "float"
        },
        "key": {
          "description": "The key of the metadata.",
          "type": "string"
        }
      }
    },
    "GroundingChunkStringList": {
      "id": "GroundingChunkStringList",
      "type": "object",
      "description": "A list of string values.",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The string values of the list."
        }
      }
    },
    "StringList": {
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The string values of the metadata to store."
        }
      },
      "description": "User provided string values assigned to a single metadata key.",
      "id": "StringList",
      "type": "object"
    },
    "UrlContext": {
      "description": "Tool to support URL context retrieval.",
      "properties": {},
      "id": "UrlContext",
      "type": "object"
    },
    "FunctionResponsePart": {
      "properties": {
        "inlineData": {
          "description": "Inline media bytes.",
          "$ref": "FunctionResponseBlob"
        }
      },
      "description": "A datatype containing media that is part of a `FunctionResponse` message. A `FunctionResponsePart` consists of data which has an associated datatype. A `FunctionResponsePart` can only contain one of the accepted types in `FunctionResponsePart.data`. A `FunctionResponsePart` must have a fixed IANA MIME type identifying the type and subtype of the media if the `inline_data` field is filled with raw bytes.",
      "id": "FunctionResponsePart",
      "type": "object"
    },
    "Condition": {
      "description": "Filter condition applicable to a single key.",
      "properties": {
        "operation": {
          "description": "Required. Operator applied to the given key-value pair to trigger the condition.",
          "enumDescriptions": [
            "The default value. This value is unused.",
            "Supported by numeric.",
            "Supported by numeric.",
            "Supported by numeric & string.",
            "Supported by numeric.",
            "Supported by numeric.",
            "Supported by numeric & string.",
            "Supported by string only when `CustomMetadata` value type for the given key has a `string_list_value`.",
            "Supported by string only when `CustomMetadata` value type for the given key has a `string_list_value`."
          ],
          "type": "string",
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "LESS",
            "LESS_EQUAL",
            "EQUAL",
            "GREATER_EQUAL",
            "GREATER",
            "NOT_EQUAL",
            "INCLUDES",
            "EXCLUDES"
          ]
        },
        "numericValue": {
          "description": "The numeric value to filter the metadata on.",
          "format": "float",
          "type": "number"
        },
        "stringValue": {
          "description": "The string value to filter the metadata on.",
          "type": "string"
        }
      },
      "id": "Condition",
      "type": "object"
    },
    "ListPermissionsResponse": {
      "id": "ListPermissionsResponse",
      "type": "object",
      "description": "Response from `ListPermissions` containing a paginated list of permissions.",
      "properties": {
        "permissions": {
          "description": "Returned permissions.",
          "type": "array",
          "items": {
            "$ref": "Permission"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no more pages.",
          "type": "string"
        }
      }
    },
    "ExecutableCode": {
      "id": "ExecutableCode",
      "type": "object",
      "properties": {
        "code": {
          "description": "Required. The code to be executed.",
          "type": "string"
        },
        "id": {
          "description": "Optional. Unique identifier of the `ExecutableCode` part. The server returns the `CodeExecutionResult` with the matching `id`.",
          "type": "string"
        },
        "language": {
          "enum": [
            "LANGUAGE_UNSPECIFIED",
            "PYTHON"
          ],
          "type": "string",
          "description": "Required. Programming language of the `code`.",
          "enumDescriptions": [
            "Unspecified language. This value should not be used.",
            "Python \u003e= 3.10, with numpy and simpy available. Python is the default language."
          ]
        }
      },
      "description": "Code generated by the model that is meant to be executed, and the result returned to the model. Only generated when using the `CodeExecution` tool, in which the code will be automatically executed, and a corresponding `CodeExecutionResult` will also be generated."
    },
    "InlinedRequest": {
      "description": "The request to be processed in the batch.",
      "properties": {
        "request": {
          "description": "Required. The request to be processed in the batch.",
          "$ref": "GenerateContentRequest"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. The metadata to be associated with the request."
        }
      },
      "id": "InlinedRequest",
      "type": "object"
    },
    "TunedModelSource": {
      "properties": {
        "tunedModel": {
          "description": "Immutable. The name of the `TunedModel` to use as the starting point for training the new model. Example: `tunedModels/my-tuned-model`",
          "type": "string"
        },
        "baseModel": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the base `Model` this `TunedModel` was tuned from. Example: `models/gemini-1.5-flash-001`"
        }
      },
      "description": "Tuned model as a source for training a new model.",
      "id": "TunedModelSource",
      "type": "object"
    },
    "InputFeedback": {
      "id": "InputFeedback",
      "type": "object",
      "description": "Feedback related to the input data used to answer the question, as opposed to the model-generated response to the question.",
      "properties": {
        "blockReason": {
          "enum": [
            "BLOCK_REASON_UNSPECIFIED",
            "SAFETY",
            "OTHER"
          ],
          "type": "string",
          "description": "Optional. If set, the input was blocked and no candidates are returned. Rephrase the input.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Input was blocked due to safety reasons. Inspect `safety_ratings` to understand which safety category blocked it.",
            "Input was blocked due to other reasons."
          ]
        },
        "safetyRatings": {
          "description": "Ratings for safety of the input. There is at most one rating per category.",
          "type": "array",
          "items": {
            "$ref": "SafetyRating"
          }
        }
      }
    },
    "GenerateTextResponse": {
      "description": "The response from the model, including candidate completions.",
      "properties": {
        "filters": {
          "type": "array",
          "items": {
            "$ref": "ContentFilter"
          },
          "description": "A set of content filtering metadata for the prompt and response text. This indicates which `SafetyCategory`(s) blocked a candidate from this response, the lowest `HarmProbability` that triggered a block, and the HarmThreshold setting for that category. This indicates the smallest change to the `SafetySettings` that would be necessary to unblock at least 1 response. The blocking is configured by the `SafetySettings` in the request (or the default `SafetySettings` of the API)."
        },
        "safetyFeedback": {
          "type": "array",
          "items": {
            "$ref": "SafetyFeedback"
          },
          "description": "Returns any safety feedback related to content filtering."
        },
        "candidates": {
          "type": "array",
          "items": {
            "$ref": "TextCompletion"
          },
          "description": "Candidate responses from the model."
        }
      },
      "id": "GenerateTextResponse",
      "type": "object"
    },
    "InlinedResponse": {
      "description": "The response to a single request in the batch.",
      "properties": {
        "response": {
          "readOnly": true,
          "description": "Output only. The response to the request.",
          "$ref": "GenerateContentResponse"
        },
        "error": {
          "readOnly": true,
          "description": "Output only. The error encountered while processing the request.",
          "$ref": "Status"
        },
        "metadata": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Output only. The metadata associated with the request."
        }
      },
      "id": "InlinedResponse",
      "type": "object"
    },
    "ImageSearch": {
      "id": "ImageSearch",
      "type": "object",
      "properties": {},
      "description": "Image search for grounding and related configurations."
    },
    "Part": {
      "description": "A datatype containing media that is part of a multi-part `Content` message. A `Part` consists of data which has an associated datatype. A `Part` can only contain one of the accepted types in `Part.data`. A `Part` must have a fixed IANA MIME type identifying the type and subtype of the media if the `inline_data` field is filled with raw bytes.",
      "properties": {
        "partMetadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Custom metadata associated with the Part. Agents using genai.Part as content representation may need to keep track of the additional information. For example it can be name of a file/source from which the Part originates or a way to multiplex multiple Part streams."
        },
        "mediaResolution": {
          "description": "Optional. Media resolution for the input media.",
          "$ref": "MediaResolution"
        },
        "functionResponse": {
          "description": "The result output of a `FunctionCall` that contains a string representing the `FunctionDeclaration.name` and a structured JSON object containing any output from the function is used as context to the model.",
          "$ref": "FunctionResponse"
        },
        "thought": {
          "description": "Optional. Indicates if the part is thought from the model.",
          "type": "boolean"
        },
        "toolResponse": {
          "description": "The output from a server-side `ToolCall` execution. This field is populated by the client with the results of executing the corresponding `ToolCall`.",
          "$ref": "ToolResponse"
        },
        "functionCall": {
          "description": "A predicted `FunctionCall` returned from the model that contains a string representing the `FunctionDeclaration.name` with the arguments and their values.",
          "$ref": "FunctionCall"
        },
        "executableCode": {
          "description": "Code generated by the model that is meant to be executed.",
          "$ref": "ExecutableCode"
        },
        "text": {
          "description": "Inline text.",
          "type": "string"
        },
        "toolCall": {
          "description": "Server-side tool call. This field is populated when the model predicts a tool invocation that should be executed on the server. The client is expected to echo this message back to the API.",
          "$ref": "ToolCall"
        },
        "inlineData": {
          "description": "Inline media bytes.",
          "$ref": "Blob"
        },
        "fileData": {
          "description": "URI based data.",
          "$ref": "FileData"
        },
        "thoughtSignature": {
          "description": "Optional. An opaque signature for the thought so it can be reused in subsequent requests.",
          "format": "byte",
          "type": "string"
        },
        "videoMetadata": {
          "description": "Optional. Video metadata. The metadata should only be specified while the video data is presented in inline_data or file_data.",
          "$ref": "VideoMetadata"
        },
        "codeExecutionResult": {
          "description": "Result of executing the `ExecutableCode`.",
          "$ref": "CodeExecutionResult"
        }
      },
      "id": "Part",
      "type": "object"
    },
    "ListModelsResponse": {
      "properties": {
        "models": {
          "type": "array",
          "items": {
            "$ref": "Model"
          },
          "description": "The returned Models."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no more pages.",
          "type": "string"
        }
      },
      "description": "Response from `ListModel` containing a paginated list of Models.",
      "id": "ListModelsResponse",
      "type": "object"
    },
    "ResponseFormatConfig": {
      "properties": {
        "text": {
          "description": "Optional. Text output format configuration.",
          "$ref": "TextResponseFormat"
        },
        "audio": {
          "description": "Optional. Audio output format configuration.",
          "$ref": "AudioResponseFormat"
        },
        "image": {
          "description": "Optional. Image output format configuration.",
          "$ref": "ImageResponseFormat"
        }
      },
      "description": "Configuration for the response output format. This is a flat object where each optional sub-field configures a specific output modality.",
      "id": "ResponseFormatConfig",
      "type": "object"
    },
    "EmbedTextResponse": {
      "id": "EmbedTextResponse",
      "type": "object",
      "properties": {
        "embedding": {
          "readOnly": true,
          "description": "Output only. The embedding generated from the input text.",
          "$ref": "Embedding"
        }
      },
      "description": "The response to a EmbedTextRequest."
    },
    "ModalityTokenCount": {
      "id": "ModalityTokenCount",
      "type": "object",
      "description": "Represents token counting info for a single modality.",
      "properties": {
        "tokenCount": {
          "description": "Number of tokens.",
          "format": "int32",
          "type": "integer"
        },
        "modality": {
          "description": "The modality associated with this token count.",
          "enumDescriptions": [
            "Unspecified modality.",
            "Plain text.",
            "Image.",
            "Video.",
            "Audio.",
            "Document, e.g. PDF."
          ],
          "enum": [
            "MODALITY_UNSPECIFIED",
            "TEXT",
            "IMAGE",
            "VIDEO",
            "AUDIO",
            "DOCUMENT"
          ],
          "type": "string"
        }
      }
    },
    "DownloadFileResponse": {
      "id": "DownloadFileResponse",
      "type": "object",
      "description": "Response for `DownloadFile`.",
      "properties": {}
    },
    "MetadataFilter": {
      "id": "MetadataFilter",
      "type": "object",
      "properties": {
        "key": {
          "description": "Required. The key of the metadata to filter on.",
          "type": "string"
        },
        "conditions": {
          "description": "Required. The `Condition`s for the given key that will trigger this filter. Multiple `Condition`s are joined by logical ORs.",
          "type": "array",
          "items": {
            "$ref": "Condition"
          }
        }
      },
      "description": "User provided filter to limit retrieval based on `Chunk` or `Document` level metadata values. Example (genre = drama OR genre = action): key = \"document.custom_metadata.genre\" conditions = [{string_value = \"drama\", operation = EQUAL}, {string_value = \"action\", operation = EQUAL}]"
    },
    "Dataset": {
      "description": "Dataset for training or validation.",
      "properties": {
        "examples": {
          "description": "Optional. Inline examples with simple input/output text.",
          "$ref": "TuningExamples"
        }
      },
      "id": "Dataset",
      "type": "object"
    },
    "Interval": {
      "id": "Interval",
      "type": "object",
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "properties": {
        "startTime": {
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GroundingPassage": {
      "id": "GroundingPassage",
      "type": "object",
      "properties": {
        "id": {
          "description": "Identifier for the passage for attributing this passage in grounded answers.",
          "type": "string"
        },
        "content": {
          "description": "Content of the passage.",
          "$ref": "Content"
        }
      },
      "description": "Passage included inline with a grounding configuration."
    },
    "FunctionResponse": {
      "id": "FunctionResponse",
      "type": "object",
      "properties": {
        "willContinue": {
          "description": "Optional. Signals that function call continues, and more responses will be returned, turning the function call into a generator. Is only applicable to NON_BLOCKING function calls, is ignored otherwise. If set to false, future responses will not be considered. It is allowed to return empty `response` with `will_continue=False` to signal that the function call is finished. This may still trigger the model generation. To avoid triggering the generation and finish the function call, additionally set `scheduling` to `SILENT`.",
          "type": "boolean"
        },
        "id": {
          "description": "Optional. The identifier of the function call this response is for. Populated by the client to match the corresponding function call `id`.",
          "type": "string"
        },
        "name": {
          "description": "Required. The name of the function to call. Must be a-z, A-Z, 0-9, or contain underscores and dashes, with a maximum length of 128.",
          "type": "string"
        },
        "response": {
          "description": "Required. The function response in JSON object format. Callers can use any keys of their choice that fit the function's syntax to return the function output, e.g. \"output\", \"result\", etc. In particular, if the function call failed to execute, the response can have an \"error\" key to return error details to the model. Multimedia can be included by using a subobject containing a single \"$ref\" key whose value is the `inline_data.display_name` of a `FunctionResponsePart` holding the multimedia. See https://ai.google.dev/gemini-api/docs/function-calling#multimodal.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "parts": {
          "type": "array",
          "items": {
            "$ref": "FunctionResponsePart"
          },
          "description": "Optional. Ordered `Parts` that constitute a function response. Parts may have different IANA MIME types."
        },
        "scheduling": {
          "description": "Optional. Specifies how the response should be scheduled in the conversation. Only applicable to NON_BLOCKING function calls, is ignored otherwise. Defaults to WHEN_IDLE.",
          "enumDescriptions": [
            "This value is unused.",
            "Only add the result to the conversation context, do not interrupt or trigger generation.",
            "Add the result to the conversation context, and prompt to generate output without interrupting ongoing generation.",
            "Add the result to the conversation context, interrupt ongoing generation and prompt to generate output."
          ],
          "type": "string",
          "enum": [
            "SCHEDULING_UNSPECIFIED",
            "SILENT",
            "WHEN_IDLE",
            "INTERRUPT"
          ]
        }
      },
      "description": "The result output from a `FunctionCall` that contains a string representing the `FunctionDeclaration.name` and a structured JSON object containing any output from the function is used as context to the model. This should contain the result of a`FunctionCall` made based on model prediction."
    },
    "TuningExamples": {
      "properties": {
        "examples": {
          "type": "array",
          "items": {
            "$ref": "TuningExample"
          },
          "description": "The examples. Example input can be for text or discuss, but all examples in a set must be of the same type."
        }
      },
      "description": "A set of tuning examples. Can be training or validation data.",
      "id": "TuningExamples",
      "type": "object"
    },
    "CitationMetadata": {
      "id": "CitationMetadata",
      "type": "object",
      "properties": {
        "citationSources": {
          "type": "array",
          "items": {
            "$ref": "CitationSource"
          },
          "description": "Citations to sources for a specific response."
        }
      },
      "description": "A collection of source attributions for a piece of content."
    },
    "Schema": {
      "description": "The `Schema` object allows the definition of input and output data types. These types can be objects, but also primitives and arrays. Represents a select subset of an [OpenAPI 3.0 schema object](https://spec.openapis.org/oas/v3.0.3#schema).",
      "properties": {
        "format": {
          "description": "Optional. The format of the data. Any value is allowed, but most do not trigger any special functionality.",
          "type": "string"
        },
        "example": {
          "description": "Optional. Example of the object. Will only populated when the object is the root.",
          "type": "any"
        },
        "properties": {
          "description": "Optional. Properties of Type.OBJECT.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Schema"
          }
        },
        "maxProperties": {
          "type": "string",
          "description": "Optional. Maximum number of the properties for Type.OBJECT.",
          "format": "int64"
        },
        "propertyOrdering": {
          "description": "Optional. The order of the properties. Not a standard field in open api spec. Used to determine the order of the properties in the response.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "maximum": {
          "description": "Optional. Maximum value of the Type.INTEGER and Type.NUMBER",
          "format": "double",
          "type": "number"
        },
        "enum": {
          "description": "Optional. Possible values of the element of Type.STRING with enum format. For example we can define an Enum Direction as : {type:STRING, format:enum, enum:[\"EAST\", NORTH\", \"SOUTH\", \"WEST\"]}",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "maxItems": {
          "type": "string",
          "description": "Optional. Maximum number of the elements for Type.ARRAY.",
          "format": "int64"
        },
        "description": {
          "description": "Optional. A brief description of the parameter. This could contain examples of use. Parameter description may be formatted as Markdown.",
          "type": "string"
        },
        "anyOf": {
          "type": "array",
          "items": {
            "$ref": "Schema"
          },
          "description": "Optional. The value should be validated against any (one or more) of the subschemas in the list."
        },
        "type": {
          "description": "Required. Data type.",
          "enumDescriptions": [
            "Not specified, should not be used.",
            "String type.",
            "Number type.",
            "Integer type.",
            "Boolean type.",
            "Array type.",
            "Object type.",
            "Null type."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "NUMBER",
            "INTEGER",
            "BOOLEAN",
            "ARRAY",
            "OBJECT",
            "NULL"
          ],
          "type": "string"
        },
        "default": {
          "description": "Optional. Default value of the field. Per JSON Schema, this field is intended for documentation generators and doesn't affect validation. Thus it's included here and ignored so that developers who send schemas with a `default` field don't get unknown-field errors.",
          "type": "any"
        },
        "minProperties": {
          "description": "Optional. Minimum number of the properties for Type.OBJECT.",
          "format": "int64",
          "type": "string"
        },
        "items": {
          "description": "Optional. Schema of the elements of Type.ARRAY.",
          "$ref": "Schema"
        },
        "minLength": {
          "description": "Optional. SCHEMA FIELDS FOR TYPE STRING Minimum length of the Type.STRING",
          "format": "int64",
          "type": "string"
        },
        "title": {
          "description": "Optional. The title of the schema.",
          "type": "string"
        },
        "minimum": {
          "type": "number",
          "description": "Optional. SCHEMA FIELDS FOR TYPE INTEGER and NUMBER Minimum value of the Type.INTEGER and Type.NUMBER",
          "format": "double"
        },
        "maxLength": {
          "description": "Optional. Maximum length of the Type.STRING",
          "format": "int64",
          "type": "string"
        },
        "nullable": {
          "description": "Optional. Indicates if the value may be null.",
          "type": "boolean"
        },
        "pattern": {
          "description": "Optional. Pattern of the Type.STRING to restrict a string to a regular expression.",
          "type": "string"
        },
        "required": {
          "description": "Optional. Required properties of Type.OBJECT.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "minItems": {
          "description": "Optional. Minimum number of the elements for Type.ARRAY.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "Schema",
      "type": "object"
    },
    "ContentEmbedding": {
      "id": "ContentEmbedding",
      "type": "object",
      "description": "A list of floats representing an embedding.",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "float"
          },
          "description": "The embedding values. This is for 3P users only and will not be populated for 1P calls."
        },
        "shape": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "This field stores the soft tokens tensor frame shape (e.g. [1, 1, 256, 2048])."
        }
      }
    },
    "ListOperationsResponse": {
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "type": "object"
    },
    "SemanticRetrieverChunk": {
      "id": "SemanticRetrieverChunk",
      "type": "object",
      "description": "Identifier for a `Chunk` retrieved via Semantic Retriever specified in the `GenerateAnswerRequest` using `SemanticRetrieverConfig`.",
      "properties": {
        "chunk": {
          "description": "Output only. Name of the `Chunk` containing the attributed text. Example: `corpora/123/documents/abc/chunks/xyz`",
          "readOnly": true,
          "type": "string"
        },
        "source": {
          "description": "Output only. Name of the source matching the request's `SemanticRetrieverConfig.source`. Example: `corpora/123` or `corpora/123/documents/abc`",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "InlinedRequests": {
      "description": "The requests to be processed in the batch if provided as part of the batch creation request.",
      "properties": {
        "requests": {
          "description": "Required. The requests to be processed in the batch.",
          "type": "array",
          "items": {
            "$ref": "InlinedRequest"
          }
        }
      },
      "id": "InlinedRequests",
      "type": "object"
    },
    "ListFileSearchStoresResponse": {
      "id": "ListFileSearchStoresResponse",
      "type": "object",
      "properties": {
        "fileSearchStores": {
          "type": "array",
          "items": {
            "$ref": "FileSearchStore"
          },
          "description": "The returned rag_stores."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no more pages.",
          "type": "string"
        }
      },
      "description": "Response from `ListFileSearchStores` containing a paginated list of `FileSearchStores`. The results are sorted by ascending `file_search_store.create_time`."
    },
    "FunctionCallingConfig": {
      "properties": {
        "mode": {
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "AUTO",
            "ANY",
            "NONE",
            "VALIDATED"
          ],
          "description": "Optional. Specifies the mode in which function calling should execute. If unspecified, the default value will be set to AUTO.",
          "enumDescriptions": [
            "Unspecified function calling mode. This value should not be used.",
            "Default model behavior, model decides to predict either a function call or a natural language response.",
            "Model is constrained to always predicting a function call only. If \"allowed_function_names\" are set, the predicted function call will be limited to any one of \"allowed_function_names\", else the predicted function call will be any one of the provided \"function_declarations\".",
            "Model will not predict any function call. Model behavior is same as when not passing any function declarations.",
            "Model decides to predict either a function call or a natural language response, but will validate function calls with constrained decoding. If \"allowed_function_names\" are set, the predicted function call will be limited to any one of \"allowed_function_names\", else the predicted function call will be any one of the provided \"function_declarations\"."
          ]
        },
        "allowedFunctionNames": {
          "description": "Optional. A set of function names that, when provided, limits the functions the model will call. This should only be set when the Mode is ANY or VALIDATED. Function names should match [FunctionDeclaration.name]. When set, model will predict a function call from only allowed function names.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Configuration for specifying function calling behavior.",
      "id": "FunctionCallingConfig",
      "type": "object"
    },
    "CitationSource": {
      "description": "A citation to a source for a portion of a specific response.",
      "properties": {
        "endIndex": {
          "type": "integer",
          "description": "Optional. End of the attributed segment, exclusive.",
          "format": "int32"
        },
        "uri": {
          "description": "Optional. URI that is attributed as a source for a portion of the text.",
          "type": "string"
        },
        "license": {
          "description": "Optional. License for the GitHub project that is attributed as a source for segment. License info is required for code citations.",
          "type": "string"
        },
        "startIndex": {
          "description": "Optional. Start of segment of the response that is attributed to this source. Index indicates the start of the segment, measured in bytes.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "CitationSource",
      "type": "object"
    },
    "TextResponseFormat": {
      "id": "TextResponseFormat",
      "type": "object",
      "properties": {
        "mimeType": {
          "description": "Optional. The MIME type of the text output.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "JSON output format.",
            "Plain text output format."
          ],
          "type": "string",
          "enum": [
            "MIME_TYPE_UNSPECIFIED",
            "APPLICATION_JSON",
            "TEXT_PLAIN"
          ]
        },
        "schema": {
          "description": "Optional. The JSON schema that the output should conform to. Only applicable when mime_type is APPLICATION_JSON.",
          "type": "any"
        }
      },
      "description": "Configuration for text output format."
    },
    "CountMessageTokensRequest": {
      "description": "Counts the number of tokens in the `prompt` sent to a model. Models may tokenize text differently, so each model may return a different `token_count`.",
      "properties": {
        "prompt": {
          "description": "Required. The prompt, whose token count is to be returned.",
          "$ref": "MessagePrompt"
        }
      },
      "id": "CountMessageTokensRequest",
      "type": "object"
    },
    "MessagePrompt": {
      "id": "MessagePrompt",
      "type": "object",
      "properties": {
        "context": {
          "description": "Optional. Text that should be provided to the model first to ground the response. If not empty, this `context` will be given to the model first before the `examples` and `messages`. When using a `context` be sure to provide it with every request to maintain continuity. This field can be a description of your prompt to the model to help provide context and guide the responses. Examples: \"Translate the phrase from English to French.\" or \"Given a statement, classify the sentiment as happy, sad or neutral.\" Anything included in this field will take precedence over message history if the total input size exceeds the model's `input_token_limit` and the input request is truncated.",
          "type": "string"
        },
        "examples": {
          "type": "array",
          "items": {
            "$ref": "Example"
          },
          "description": "Optional. Examples of what the model should generate. This includes both user input and the response that the model should emulate. These `examples` are treated identically to conversation messages except that they take precedence over the history in `messages`: If the total input size exceeds the model's `input_token_limit` the input will be truncated. Items will be dropped from `messages` before `examples`."
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "Message"
          },
          "description": "Required. A snapshot of the recent conversation history sorted chronologically. Turns alternate between two authors. If the total input size exceeds the model's `input_token_limit` the input will be truncated: The oldest items will be dropped from `messages`."
        }
      },
      "description": "All of the structured input text passed to the model as a prompt. A `MessagePrompt` contains a structured set of fields that provide context for the conversation, examples of user input/model output message pairs that prime the model to respond in different ways, and the conversation history or list of messages representing the alternating turns of the conversation between the user and the model."
    },
    "AttributionSourceId": {
      "id": "AttributionSourceId",
      "type": "object",
      "properties": {
        "groundingPassage": {
          "description": "Identifier for an inline passage.",
          "$ref": "GroundingPassageId"
        },
        "semanticRetrieverChunk": {
          "description": "Identifier for a `Chunk` fetched via Semantic Retriever.",
          "$ref": "SemanticRetrieverChunk"
        }
      },
      "description": "Identifier for the source contributing to this attribution."
    },
    "FunctionResponseBlob": {
      "description": "Raw media bytes for function response. Text should not be sent as raw bytes, use the 'FunctionResponse.response' field.",
      "properties": {
        "mimeType": {
          "description": "The IANA standard MIME type of the source data. Examples: - image/png - image/jpeg If an unsupported MIME type is provided, an error will be returned. For a complete list of supported types, see [Supported file formats](https://ai.google.dev/gemini-api/docs/prompting_with_media#supported_file_formats).",
          "type": "string"
        },
        "data": {
          "type": "string",
          "description": "Raw bytes for media formats.",
          "format": "byte"
        }
      },
      "id": "FunctionResponseBlob",
      "type": "object"
    },
    "UploadToFileSearchStoreRequest": {
      "id": "UploadToFileSearchStoreRequest",
      "type": "object",
      "description": "Request for `UploadToFileSearchStore`.",
      "properties": {
        "chunkingConfig": {
          "description": "Optional. Config for telling the service how to chunk the data. If not provided, the service will use default parameters.",
          "$ref": "ChunkingConfig"
        },
        "mimeType": {
          "description": "Optional. MIME type of the data. If not provided, it will be inferred from the uploaded content.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. Display name of the created document.",
          "type": "string"
        },
        "customMetadata": {
          "description": "Custom metadata to be associated with the data.",
          "type": "array",
          "items": {
            "$ref": "CustomMetadata"
          }
        }
      }
    },
    "WebSearch": {
      "description": "Standard web search for grounding and related configurations.",
      "properties": {},
      "id": "WebSearch",
      "type": "object"
    },
    "TuningSnapshot": {
      "description": "Record for a single tuning step.",
      "properties": {
        "step": {
          "description": "Output only. The tuning step.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "meanLoss": {
          "readOnly": true,
          "type": "number",
          "description": "Output only. The mean loss of the training examples for this step.",
          "format": "float"
        },
        "computeTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when this metric was computed.",
          "format": "google-datetime"
        },
        "epoch": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The epoch this step was part of.",
          "format": "int32"
        }
      },
      "id": "TuningSnapshot",
      "type": "object"
    },
    "RetrievalConfig": {
      "id": "RetrievalConfig",
      "type": "object",
      "properties": {
        "languageCode": {
          "description": "Optional. The language code of the user. Language code for content. Use language tags defined by [BCP47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt).",
          "type": "string"
        },
        "latLng": {
          "description": "Optional. The location of the user.",
          "$ref": "LatLng"
        }
      },
      "description": "Retrieval config."
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object"
    },
    "GoogleSearch": {
      "properties": {
        "timeRangeFilter": {
          "description": "Optional. Filter search results to a specific time range. If customers set a start time, they must set an end time (and vice versa).",
          "$ref": "Interval"
        },
        "searchTypes": {
          "description": "Optional. The set of search types to enable. If not set, web search is enabled by default.",
          "$ref": "SearchTypes"
        }
      },
      "description": "GoogleSearch tool type. Tool to support Google Search in Model. Powered by Google.",
      "id": "GoogleSearch",
      "type": "object"
    },
    "Example": {
      "id": "Example",
      "type": "object",
      "description": "An input/output example used to instruct the Model. It demonstrates how the model should respond or format its response.",
      "properties": {
        "input": {
          "description": "Required. An example of an input `Message` from the user.",
          "$ref": "Message"
        },
        "output": {
          "description": "Required. An example of what the model should output given the input.",
          "$ref": "Message"
        }
      }
    },
    "RegisterFilesResponse": {
      "id": "RegisterFilesResponse",
      "type": "object",
      "description": "Response for `RegisterFiles`.",
      "properties": {
        "files": {
          "description": "The registered files to be used when calling GenerateContent.",
          "type": "array",
          "items": {
            "$ref": "File"
          }
        }
      }
    },
    "CodeExecutionResult": {
      "id": "CodeExecutionResult",
      "type": "object",
      "properties": {
        "output": {
          "description": "Optional. Contains stdout when code execution is successful, stderr or other description otherwise.",
          "type": "string"
        },
        "id": {
          "description": "Optional. The identifier of the `ExecutableCode` part this result is for. Only populated if the corresponding `ExecutableCode` has an id.",
          "type": "string"
        },
        "outcome": {
          "description": "Required. Outcome of the code execution.",
          "enumDescriptions": [
            "Unspecified status. This value should not be used.",
            "Code execution completed successfully. `output` contains the stdout, if any.",
            "Code execution failed. `output` contains the stderr and stdout, if any.",
            "Code execution ran for too long, and was cancelled. There may or may not be a partial `output` present."
          ],
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "OUTCOME_OK",
            "OUTCOME_FAILED",
            "OUTCOME_DEADLINE_EXCEEDED"
          ],
          "type": "string"
        }
      },
      "description": "Result of executing the `ExecutableCode`. Generated only when the `CodeExecution` tool is used."
    },
    "EmbedContentBatchOutput": {
      "properties": {
        "responsesFile": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The file ID of the file containing the responses. The file will be a JSONL file with a single response per line. The responses will be `EmbedContentResponse` messages formatted as JSON. The responses will be written in the same order as the input requests."
        },
        "inlinedResponses": {
          "description": "Output only. The responses to the requests in the batch. Returned when the batch was built using inlined requests. The responses will be in the same order as the input requests.",
          "$ref": "InlinedEmbedContentResponses",
          "readOnly": true
        }
      },
      "description": "The output of a batch request. This is returned in the `AsyncBatchEmbedContentResponse` or the `EmbedContentBatch.output` field.",
      "id": "EmbedContentBatchOutput",
      "type": "object"
    },
    "Document": {
      "id": "Document",
      "type": "object",
      "description": "A `Document` is a collection of `Chunk`s.",
      "properties": {
        "createTime": {
          "description": "Output only. The Timestamp of when the `Document` was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "customMetadata": {
          "description": "Optional. User provided custom metadata stored as key-value pairs used for querying. A `Document` can have a maximum of 20 `CustomMetadata`.",
          "type": "array",
          "items": {
            "$ref": "CustomMetadata"
          }
        },
        "mimeType": {
          "description": "Output only. The mime type of the Document.",
          "readOnly": true,
          "type": "string"
        },
        "sizeBytes": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The size of raw bytes ingested into the Document.",
          "format": "int64"
        },
        "name": {
          "description": "Immutable. Identifier. The `Document` resource name. The ID (name excluding the \"fileSearchStores/*/documents/\" prefix) can contain up to 40 characters that are lowercase alphanumeric or dashes (-). The ID cannot start or end with a dash. If the name is empty on create, a unique name will be derived from `display_name` along with a 12 character random suffix. Example: `fileSearchStores/{file_search_store_id}/documents/my-awesome-doc-123a456b789c`",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. The human-readable display name for the `Document`. The display name must be no more than 512 characters in length, including spaces. Example: \"Semantic Retriever Documentation\"",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The Timestamp of when the `Document` was last updated.",
          "format": "google-datetime"
        },
        "state": {
          "type": "string",
          "description": "Output only. Current state of the `Document`.",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "Some `Chunks` of the `Document` are being processed (embedding and vector storage).",
            "All `Chunks` of the `Document` is processed and available for querying.",
            "Some `Chunks` of the `Document` failed processing."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_PENDING",
            "STATE_ACTIVE",
            "STATE_FAILED"
          ],
          "readOnly": true
        }
      }
    },
    "RetrievalMetadata": {
      "id": "RetrievalMetadata",
      "type": "object",
      "properties": {
        "googleSearchDynamicRetrievalScore": {
          "description": "Optional. Score indicating how likely information from google search could help answer the prompt. The score is in the range [0, 1], where 0 is the least likely and 1 is the most likely. This score is only populated when google search grounding and dynamic retrieval is enabled. It will be compared to the threshold to determine whether to trigger google search.",
          "format": "float",
          "type": "number"
        }
      },
      "description": "Metadata related to retrieval in the grounding flow."
    },
    "McpServer": {
      "id": "McpServer",
      "type": "object",
      "description": "A MCPServer is a server that can be called by the model to perform actions. It is a server that implements the MCP protocol. Next ID: 6",
      "properties": {
        "name": {
          "description": "The name of the MCPServer.",
          "type": "string"
        },
        "streamableHttpTransport": {
          "description": "A transport that can stream HTTP requests and responses.",
          "$ref": "StreamableHttpTransport"
        }
      }
    },
    "InlinedEmbedContentResponse": {
      "id": "InlinedEmbedContentResponse",
      "type": "object",
      "properties": {
        "metadata": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Output only. The metadata associated with the request."
        },
        "error": {
          "readOnly": true,
          "description": "Output only. The error encountered while processing the request.",
          "$ref": "Status"
        },
        "response": {
          "readOnly": true,
          "description": "Output only. The response to the request.",
          "$ref": "EmbedContentResponse"
        }
      },
      "description": "The response to a single request in the batch."
    },
    "TextPrompt": {
      "properties": {
        "text": {
          "description": "Required. The prompt text.",
          "type": "string"
        }
      },
      "description": "Text given to the model as a prompt. The Model will use this TextPrompt to Generate a text completion.",
      "id": "TextPrompt",
      "type": "object"
    },
    "CountTokensRequest": {
      "id": "CountTokensRequest",
      "type": "object",
      "properties": {
        "generateContentRequest": {
          "description": "Optional. The overall input given to the `Model`. This includes the prompt as well as other model steering information like [system instructions](https://ai.google.dev/gemini-api/docs/system-instructions), and/or function declarations for [function calling](https://ai.google.dev/gemini-api/docs/function-calling). `Model`s/`Content`s and `generate_content_request`s are mutually exclusive. You can either send `Model` + `Content`s or a `generate_content_request`, but never both.",
          "$ref": "GenerateContentRequest"
        },
        "contents": {
          "type": "array",
          "items": {
            "$ref": "Content"
          },
          "description": "Optional. The input given to the model as a prompt. This field is ignored when `generate_content_request` is set."
        }
      },
      "description": "Counts the number of tokens in the `prompt` sent to a model. Models may tokenize text differently, so each model may return a different `token_count`."
    },
    "LatLng": {
      "properties": {
        "longitude": {
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0].",
          "format": "double",
          "type": "number"
        },
        "latitude": {
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0].",
          "format": "double",
          "type": "number"
        }
      },
      "description": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges.",
      "id": "LatLng",
      "type": "object"
    },
    "BatchGenerateContentRequest": {
      "properties": {
        "batch": {
          "description": "Required. The batch to create.",
          "$ref": "GenerateContentBatch"
        }
      },
      "description": "Request for a `BatchGenerateContent` operation.",
      "id": "BatchGenerateContentRequest",
      "type": "object"
    },
    "GenerateAnswerRequest": {
      "id": "GenerateAnswerRequest",
      "type": "object",
      "properties": {
        "contents": {
          "description": "Required. The content of the current conversation with the `Model`. For single-turn queries, this is a single question to answer. For multi-turn queries, this is a repeated field that contains conversation history and the last `Content` in the list containing the question. Note: `GenerateAnswer` only supports queries in English.",
          "type": "array",
          "items": {
            "$ref": "Content"
          }
        },
        "safetySettings": {
          "type": "array",
          "items": {
            "$ref": "SafetySetting"
          },
          "description": "Optional. A list of unique `SafetySetting` instances for blocking unsafe content. This will be enforced on the `GenerateAnswerRequest.contents` and `GenerateAnswerResponse.candidate`. There should not be more than one setting for each `SafetyCategory` type. The API will block any contents and responses that fail to meet the thresholds set by these settings. This list overrides the default settings for each `SafetyCategory` specified in the safety_settings. If there is no `SafetySetting` for a given `SafetyCategory` provided in the list, the API will use the default safety setting for that category. Harm categories HARM_CATEGORY_HATE_SPEECH, HARM_CATEGORY_SEXUALLY_EXPLICIT, HARM_CATEGORY_DANGEROUS_CONTENT, HARM_CATEGORY_HARASSMENT are supported. Refer to the [guide](https://ai.google.dev/gemini-api/docs/safety-settings) for detailed information on available safety settings. Also refer to the [Safety guidance](https://ai.google.dev/gemini-api/docs/safety-guidance) to learn how to incorporate safety considerations in your AI applications."
        },
        "temperature": {
          "type": "number",
          "description": "Optional. Controls the randomness of the output. Values can range from [0.0,1.0], inclusive. A value closer to 1.0 will produce responses that are more varied and creative, while a value closer to 0.0 will typically result in more straightforward responses from the model. A low temperature (~0.2) is usually recommended for Attributed-Question-Answering use cases.",
          "format": "float"
        },
        "inlinePassages": {
          "description": "Passages provided inline with the request.",
          "$ref": "GroundingPassages"
        },
        "answerStyle": {
          "type": "string",
          "enum": [
            "ANSWER_STYLE_UNSPECIFIED",
            "ABSTRACTIVE",
            "EXTRACTIVE",
            "VERBOSE"
          ],
          "description": "Required. Style in which answers should be returned.",
          "enumDescriptions": [
            "Unspecified answer style.",
            "Succinct but abstract style.",
            "Very brief and extractive style.",
            "Verbose style including extra details. The response may be formatted as a sentence, paragraph, multiple paragraphs, or bullet points, etc."
          ]
        },
        "semanticRetriever": {
          "description": "Content retrieved from resources created via the Semantic Retriever API.",
          "$ref": "SemanticRetrieverConfig"
        }
      },
      "description": "Request to generate a grounded answer from the `Model`."
    },
    "ListCorporaResponse": {
      "id": "ListCorporaResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no more pages.",
          "type": "string"
        },
        "corpora": {
          "type": "array",
          "items": {
            "$ref": "Corpus"
          },
          "description": "The returned corpora."
        }
      },
      "description": "Response from `ListCorpora` containing a paginated list of `Corpora`. The results are sorted by ascending `corpus.create_time`."
    },
    "BatchEmbedTextResponse": {
      "properties": {
        "embeddings": {
          "description": "Output only. The embeddings generated from the input text.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Embedding"
          }
        }
      },
      "description": "The response to a EmbedTextRequest.",
      "id": "BatchEmbedTextResponse",
      "type": "object"
    },
    "AsyncBatchEmbedContentRequest": {
      "properties": {
        "batch": {
          "description": "Required. The batch to create.",
          "$ref": "EmbedContentBatch"
        }
      },
      "description": "Request for an `AsyncBatchEmbedContent` operation.",
      "id": "AsyncBatchEmbedContentRequest",
      "type": "object"
    },
    "Message": {
      "properties": {
        "citationMetadata": {
          "readOnly": true,
          "description": "Output only. Citation information for model-generated `content` in this `Message`. If this `Message` was generated as output from the model, this field may be populated with attribution information for any text included in the `content`. This field is used only on output.",
          "$ref": "CitationMetadata"
        },
        "author": {
          "description": "Optional. The author of this Message. This serves as a key for tagging the content of this Message when it is fed to the model as text. The author can be any alphanumeric string.",
          "type": "string"
        },
        "content": {
          "description": "Required. The text content of the structured `Message`.",
          "type": "string"
        }
      },
      "description": "The base unit of structured text. A `Message` includes an `author` and the `content` of the `Message`. The `author` is used to tag messages when they are fed to the model as text.",
      "id": "Message",
      "type": "object"
    },
    "SpeechConfig": {
      "properties": {
        "voiceConfig": {
          "description": "The configuration in case of single-voice output.",
          "$ref": "VoiceConfig"
        },
        "multiSpeakerVoiceConfig": {
          "description": "Optional. The configuration for the multi-speaker setup. It is mutually exclusive with the voice_config field.",
          "$ref": "MultiSpeakerVoiceConfig"
        },
        "languageCode": {
          "description": "Optional. The IETF [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language code that the user configured the app to use. Used for speech recognition and synthesis. Valid values are: `de-DE`, `en-AU`, `en-GB`, `en-IN`, `en-US`, `es-US`, `fr-FR`, `hi-IN`, `pt-BR`, `ar-XA`, `es-ES`, `fr-CA`, `id-ID`, `it-IT`, `ja-JP`, `tr-TR`, `vi-VN`, `bn-IN`, `gu-IN`, `kn-IN`, `ml-IN`, `mr-IN`, `ta-IN`, `te-IN`, `nl-NL`, `ko-KR`, `cmn-CN`, `pl-PL`, `ru-RU`, and `th-TH`.",
          "type": "string"
        }
      },
      "description": "Config for speech generation and transcription.",
      "id": "SpeechConfig",
      "type": "object"
    },
    "File": {
      "id": "File",
      "type": "object",
      "properties": {
        "sha256Hash": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. SHA-256 hash of the uploaded bytes.",
          "format": "byte"
        },
        "expirationTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp of when the `File` will be deleted. Only set if the `File` is scheduled to expire.",
          "format": "google-datetime"
        },
        "downloadUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The download uri of the `File`."
        },
        "displayName": {
          "description": "Optional. The human-readable display name for the `File`. The display name must be no more than 512 characters in length, including spaces. Example: \"Welcome Image\"",
          "type": "string"
        },
        "state": {
          "description": "Output only. Processing state of the File.",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "File is being processed and cannot be used for inference yet.",
            "File is processed and available for inference.",
            "File failed processing."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PROCESSING",
            "ACTIVE",
            "FAILED"
          ]
        },
        "source": {
          "type": "string",
          "enum": [
            "SOURCE_UNSPECIFIED",
            "UPLOADED",
            "GENERATED",
            "REGISTERED"
          ],
          "description": "Source of the File.",
          "enumDescriptions": [
            "Used if source is not specified.",
            "Indicates the file is uploaded by the user.",
            "Indicates the file is generated by Google.",
            "Indicates the file is a registered, i.e. a Google Cloud Storage file."
          ]
        },
        "name": {
          "description": "Immutable. Identifier. The `File` resource name. The ID (name excluding the \"files/\" prefix) can contain up to 40 characters that are lowercase alphanumeric or dashes (-). The ID cannot start or end with a dash. If the name is empty on create, a unique name will be generated. Example: `files/123-456`",
          "type": "string"
        },
        "mimeType": {
          "description": "Output only. MIME type of the file.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp of when the `File` was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "sizeBytes": {
          "description": "Output only. Size of the file in bytes.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "uri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The uri of the `File`."
        },
        "error": {
          "description": "Output only. Error status if File processing failed.",
          "$ref": "Status",
          "readOnly": true
        },
        "videoMetadata": {
          "description": "Output only. Metadata for a video.",
          "$ref": "VideoFileMetadata",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp of when the `File` was last updated.",
          "format": "google-datetime"
        }
      },
      "description": "A file uploaded to the API. Next ID: 15"
    },
    "AudioResponseFormat": {
      "id": "AudioResponseFormat",
      "type": "object",
      "description": "Configuration for audio output format.",
      "properties": {
        "mimeType": {
          "description": "Optional. The MIME type of the audio output.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "MP3 audio format.",
            "OGG Opus audio format.",
            "Raw PCM (L16) audio format.",
            "WAV audio format.",
            "A-law audio format.",
            "Mu-law audio format."
          ],
          "type": "string",
          "enum": [
            "MIME_TYPE_UNSPECIFIED",
            "AUDIO_MP3",
            "AUDIO_OGG_OPUS",
            "AUDIO_L16",
            "AUDIO_WAV",
            "AUDIO_ALAW",
            "AUDIO_MULAW"
          ]
        },
        "sampleRate": {
          "type": "integer",
          "description": "Optional. Sample rate in Hz.",
          "format": "int32"
        },
        "delivery": {
          "description": "Optional. The delivery mode for the audio output.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Audio data is returned inline in the response.",
            "Audio data is returned as a URI."
          ],
          "enum": [
            "DELIVERY_UNSPECIFIED",
            "INLINE",
            "URI"
          ],
          "type": "string"
        },
        "bitRate": {
          "description": "Optional. Bit rate in bits per second (bps). Only applicable for compressed formats (MP3, Opus).",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ListGeneratedFilesResponse": {
      "properties": {
        "generatedFiles": {
          "type": "array",
          "items": {
            "$ref": "GeneratedFile"
          },
          "description": "The list of `GeneratedFile`s."
        },
        "nextPageToken": {
          "description": "A token that can be sent as a `page_token` into a subsequent `ListGeneratedFiles` call.",
          "type": "string"
        }
      },
      "description": "Response for `ListGeneratedFiles`.",
      "id": "ListGeneratedFilesResponse",
      "type": "object"
    },
    "MultiSpeakerVoiceConfig": {
      "properties": {
        "speakerVoiceConfigs": {
          "description": "Required. All the enabled speaker voices.",
          "type": "array",
          "items": {
            "$ref": "SpeakerVoiceConfig"
          }
        }
      },
      "description": "The configuration for the multi-speaker setup.",
      "id": "MultiSpeakerVoiceConfig",
      "type": "object"
    },
    "GenerateMessageResponse": {
      "id": "GenerateMessageResponse",
      "type": "object",
      "properties": {
        "messages": {
          "type": "array",
          "items": {
            "$ref": "Message"
          },
          "description": "The conversation history used by the model."
        },
        "filters": {
          "description": "A set of content filtering metadata for the prompt and response text. This indicates which `SafetyCategory`(s) blocked a candidate from this response, the lowest `HarmProbability` that triggered a block, and the HarmThreshold setting for that category.",
          "type": "array",
          "items": {
            "$ref": "ContentFilter"
          }
        },
        "candidates": {
          "description": "Candidate response messages from the model.",
          "type": "array",
          "items": {
            "$ref": "Message"
          }
        }
      },
      "description": "The response from the model. This includes candidate messages and conversation history in the form of chronologically-ordered messages."
    },
    "TransferOwnershipRequest": {
      "properties": {
        "emailAddress": {
          "description": "Required. The email address of the user to whom the tuned model is being transferred to.",
          "type": "string"
        }
      },
      "description": "Request to transfer the ownership of the tuned model.",
      "id": "TransferOwnershipRequest",
      "type": "object"
    },
    "VoiceConfig": {
      "description": "The configuration for the voice to use.",
      "properties": {
        "prebuiltVoiceConfig": {
          "description": "The configuration for the prebuilt voice to use.",
          "$ref": "PrebuiltVoiceConfig"
        }
      },
      "id": "VoiceConfig",
      "type": "object"
    },
    "GroundingPassageId": {
      "id": "GroundingPassageId",
      "type": "object",
      "properties": {
        "passageId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. ID of the passage matching the `GenerateAnswerRequest`'s `GroundingPassage.id`."
        },
        "partIndex": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Index of the part within the `GenerateAnswerRequest`'s `GroundingPassage.content`.",
          "format": "int32"
        }
      },
      "description": "Identifier for a part within a `GroundingPassage`."
    },
    "FunctionCall": {
      "description": "A predicted `FunctionCall` returned from the model that contains a string representing the `FunctionDeclaration.name` with the arguments and their values.",
      "properties": {
        "id": {
          "description": "Optional. Unique identifier of the function call. If populated, the client to execute the `function_call` and return the response with the matching `id`.",
          "type": "string"
        },
        "name": {
          "description": "Required. The name of the function to call. Must be a-z, A-Z, 0-9, or contain underscores and dashes, with a maximum length of 128.",
          "type": "string"
        },
        "args": {
          "description": "Optional. The function parameters and values in JSON object format.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "id": "FunctionCall",
      "type": "object"
    },
    "EmbedContentBatchStats": {
      "id": "EmbedContentBatchStats",
      "type": "object",
      "properties": {
        "successfulRequestCount": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The number of requests that were successfully processed.",
          "format": "int64"
        },
        "failedRequestCount": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The number of requests that failed to be processed.",
          "format": "int64"
        },
        "requestCount": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The number of requests in the batch.",
          "format": "int64"
        },
        "pendingRequestCount": {
          "description": "Output only. The number of requests that are still pending processing.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Stats about the batch."
    },
    "CountTextTokensResponse": {
      "properties": {
        "tokenCount": {
          "description": "The number of tokens that the `model` tokenizes the `prompt` into. Always non-negative.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "A response from `CountTextTokens`. It returns the model's `token_count` for the `prompt`.",
      "id": "CountTextTokensResponse",
      "type": "object"
    },
    "Corpus": {
      "properties": {
        "updateTime": {
          "description": "Output only. The Timestamp of when the `Corpus` was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Optional. The human-readable display name for the `Corpus`. The display name must be no more than 512 characters in length, including spaces. Example: \"Docs on Semantic Retriever\"",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. Identifier. The `Corpus` resource name. The ID (name excluding the \"corpora/\" prefix) can contain up to 40 characters that are lowercase alphanumeric or dashes (-). The ID cannot start or end with a dash. If the name is empty on create, a unique name will be derived from `display_name` along with a 12 character random suffix. Example: `corpora/my-awesome-corpora-123a456b789c`"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The Timestamp of when the `Corpus` was created.",
          "format": "google-datetime"
        }
      },
      "description": "A `Corpus` is a collection of `Document`s. A project can create up to 10 corpora.",
      "id": "Corpus",
      "type": "object"
    },
    "GroundingAttribution": {
      "id": "GroundingAttribution",
      "type": "object",
      "properties": {
        "sourceId": {
          "description": "Output only. Identifier for the source contributing to this attribution.",
          "$ref": "AttributionSourceId",
          "readOnly": true
        },
        "content": {
          "description": "Grounding source content that makes up this attribution.",
          "$ref": "Content"
        }
      },
      "description": "Attribution for a source that contributed to an answer."
    },
    "GoogleSearchRetrieval": {
      "properties": {
        "dynamicRetrievalConfig": {
          "description": "Specifies the dynamic retrieval configuration for the given source.",
          "$ref": "DynamicRetrievalConfig"
        }
      },
      "description": "Tool to retrieve public web data for grounding, powered by Google.",
      "id": "GoogleSearchRetrieval",
      "type": "object"
    },
    "TopCandidates": {
      "id": "TopCandidates",
      "type": "object",
      "description": "Candidates with top log probabilities at each decoding step.",
      "properties": {
        "candidates": {
          "description": "Sorted by log probability in descending order.",
          "type": "array",
          "items": {
            "$ref": "LogprobsResultCandidate"
          }
        }
      }
    },
    "GenerateContentBatchOutput": {
      "description": "The output of a batch request. This is returned in the `BatchGenerateContentResponse` or the `GenerateContentBatch.output` field.",
      "properties": {
        "responsesFile": {
          "description": "Output only. The file ID of the file containing the responses. The file will be a JSONL file with a single response per line. The responses will be `GenerateContentResponse` messages formatted as JSON. The responses will be written in the same order as the input requests.",
          "readOnly": true,
          "type": "string"
        },
        "inlinedResponses": {
          "readOnly": true,
          "description": "Output only. The responses to the requests in the batch. Returned when the batch was built using inlined requests. The responses will be in the same order as the input requests.",
          "$ref": "InlinedResponses"
        }
      },
      "id": "GenerateContentBatchOutput",
      "type": "object"
    },
    "ContentFilter": {
      "description": "Content filtering metadata associated with processing a single request. ContentFilter contains a reason and an optional supporting string. The reason may be unspecified.",
      "properties": {
        "message": {
          "description": "A string that describes the filtering behavior in more detail.",
          "type": "string"
        },
        "reason": {
          "type": "string",
          "enum": [
            "BLOCKED_REASON_UNSPECIFIED",
            "SAFETY",
            "OTHER"
          ],
          "description": "The reason content was blocked during request processing.",
          "enumDescriptions": [
            "A blocked reason was not specified.",
            "Content was blocked by safety settings.",
            "Content was blocked, but the reason is uncategorized."
          ]
        }
      },
      "id": "ContentFilter",
      "type": "object"
    },
    "UsageMetadata": {
      "id": "UsageMetadata",
      "type": "object",
      "properties": {
        "candidatesTokensDetails": {
          "description": "Output only. List of modalities that were returned in the response.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ModalityTokenCount"
          }
        },
        "thoughtsTokenCount": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Number of tokens of thoughts for thinking models.",
          "format": "int32"
        },
        "promptTokensDetails": {
          "description": "Output only. List of modalities that were processed in the request input.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ModalityTokenCount"
          }
        },
        "promptTokenCount": {
          "description": "Number of tokens in the prompt. When `cached_content` is set, this is still the total effective prompt size meaning this includes the number of tokens in the cached content.",
          "format": "int32",
          "type": "integer"
        },
        "toolUsePromptTokensDetails": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ModalityTokenCount"
          },
          "description": "Output only. List of modalities that were processed for tool-use request inputs."
        },
        "cacheTokensDetails": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ModalityTokenCount"
          },
          "description": "Output only. List of modalities of the cached content in the request input."
        },
        "cachedContentTokenCount": {
          "description": "Number of tokens in the cached part of the prompt (the cached content)",
          "format": "int32",
          "type": "integer"
        },
        "candidatesTokenCount": {
          "description": "Total number of tokens across all the generated response candidates.",
          "format": "int32",
          "type": "integer"
        },
        "totalTokenCount": {
          "type": "integer",
          "description": "Total token count for the generation request (prompt + thoughts + response candidates).",
          "format": "int32"
        },
        "toolUsePromptTokenCount": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Number of tokens present in tool-use prompt(s).",
          "format": "int32"
        },
        "serviceTier": {
          "description": "Output only. Service tier of the request.",
          "enumDescriptions": [
            "Default service tier, which is standard.",
            "Standard service tier.",
            "Flex service tier.",
            "Priority service tier."
          ],
          "type": "string",
          "enum": [
            "unspecified",
            "standard",
            "flex",
            "priority"
          ],
          "readOnly": true
        }
      },
      "description": "Metadata on the generation request's token usage."
    },
    "SearchTypes": {
      "properties": {
        "webSearch": {
          "description": "Optional. Enables web search. Only text results are returned.",
          "$ref": "WebSearch"
        },
        "imageSearch": {
          "description": "Optional. Enables image search. Image bytes are returned.",
          "$ref": "ImageSearch"
        }
      },
      "description": "Different types of search that can be enabled on the GoogleSearch tool.",
      "id": "SearchTypes",
      "type": "object"
    },
    "PredictResponse": {
      "id": "PredictResponse",
      "type": "object",
      "description": "Response message for [PredictionService.Predict].",
      "properties": {
        "predictions": {
          "type": "array",
          "items": {
            "type": "any"
          },
          "description": "The outputs of the prediction call."
        }
      }
    },
    "CustomMetadata": {
      "id": "CustomMetadata",
      "type": "object",
      "properties": {
        "stringListValue": {
          "description": "The StringList value of the metadata to store.",
          "$ref": "StringList"
        },
        "numericValue": {
          "description": "The numeric value of the metadata to store.",
          "format": "float",
          "type": "number"
        },
        "key": {
          "description": "Required. The key of the metadata to store.",
          "type": "string"
        },
        "stringValue": {
          "description": "The string value of the metadata to store.",
          "type": "string"
        }
      },
      "description": "User provided metadata stored as key-value pairs."
    },
    "PromptFeedback": {
      "id": "PromptFeedback",
      "type": "object",
      "description": "A set of the feedback metadata the prompt specified in `GenerateContentRequest.content`.",
      "properties": {
        "blockReason": {
          "description": "Optional. If set, the prompt was blocked and no candidates are returned. Rephrase the prompt.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Prompt was blocked due to safety reasons. Inspect `safety_ratings` to understand which safety category blocked it.",
            "Prompt was blocked due to unknown reasons.",
            "Prompt was blocked due to the terms which are included from the terminology blocklist.",
            "Prompt was blocked due to prohibited content.",
            "Candidates blocked due to unsafe image generation content."
          ],
          "type": "string",
          "enum": [
            "BLOCK_REASON_UNSPECIFIED",
            "SAFETY",
            "OTHER",
            "BLOCKLIST",
            "PROHIBITED_CONTENT",
            "IMAGE_SAFETY"
          ]
        },
        "safetyRatings": {
          "type": "array",
          "items": {
            "$ref": "SafetyRating"
          },
          "description": "Ratings for safety of the prompt. There is at most one rating per category."
        }
      }
    },
    "ObjectId": {
      "description": "This is a copy of the tech.blob.ObjectId proto, which could not be used directly here due to transitive closure issues with JavaScript support; see http://b/8801763.",
      "properties": {
        "objectName": {
          "description": "The name of the object.",
          "type": "string"
        },
        "bucketName": {
          "description": "The name of the bucket to which this object belongs.",
          "type": "string"
        },
        "generation": {
          "description": "Generation of the object. Generations are monotonically increasing across writes, allowing them to be be compared to determine which generation is newer. If this is omitted in a request, then you are requesting the live object. See http://go/bigstore-versions",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "ObjectId",
      "type": "object"
    },
    "CreateFileRequest": {
      "description": "Request for `CreateFile`.",
      "properties": {
        "file": {
          "description": "Optional. Metadata for the file to create.",
          "$ref": "File"
        }
      },
      "id": "CreateFileRequest",
      "type": "object"
    },
    "ImportFileRequest": {
      "properties": {
        "customMetadata": {
          "description": "Custom metadata to be associated with the file.",
          "type": "array",
          "items": {
            "$ref": "CustomMetadata"
          }
        },
        "fileName": {
          "description": "Required. The name of the `File` to import. Example: `files/abc-123`",
          "type": "string"
        },
        "chunkingConfig": {
          "description": "Optional. Config for telling the service how to chunk the file. If not provided, the service will use default parameters.",
          "$ref": "ChunkingConfig"
        }
      },
      "description": "Request for `ImportFile` to import a File API file with a `FileSearchStore`.",
      "id": "ImportFileRequest",
      "type": "object"
    },
    "Tool": {
      "id": "Tool",
      "type": "object",
      "description": "Tool details that the model may use to generate response. A `Tool` is a piece of code that enables the system to interact with external systems to perform an action, or set of actions, outside of knowledge and scope of the model. Next ID: 16",
      "properties": {
        "fileSearch": {
          "description": "Optional. FileSearch tool type. Tool to retrieve knowledge from Semantic Retrieval corpora.",
          "$ref": "FileSearch"
        },
        "googleSearchRetrieval": {
          "description": "Optional. Retrieval tool that is powered by Google search.",
          "$ref": "GoogleSearchRetrieval"
        },
        "googleSearch": {
          "description": "Optional. GoogleSearch tool type. Tool to support Google Search in Model. Powered by Google.",
          "$ref": "GoogleSearch"
        },
        "googleMaps": {
          "description": "Optional. Tool that allows grounding the model's response with geospatial context related to the user's query.",
          "$ref": "GoogleMaps"
        },
        "mcpServers": {
          "description": "Optional. MCP Servers to connect to.",
          "type": "array",
          "items": {
            "$ref": "McpServer"
          }
        },
        "computerUse": {
          "description": "Optional. Tool to support the model interacting directly with the computer. If enabled, it automatically populates computer-use specific Function Declarations.",
          "$ref": "ComputerUse"
        },
        "functionDeclarations": {
          "description": "Optional. A list of `FunctionDeclarations` available to the model that can be used for function calling. The model or system does not execute the function. Instead the defined function may be returned as a FunctionCall with arguments to the client side for execution. The model may decide to call a subset of these functions by populating FunctionCall in the response. The next conversation turn may contain a FunctionResponse with the Content.role \"function\" generation context for the next model turn.",
          "type": "array",
          "items": {
            "$ref": "FunctionDeclaration"
          }
        },
        "urlContext": {
          "description": "Optional. Tool to support URL context retrieval.",
          "$ref": "UrlContext"
        },
        "codeExecution": {
          "description": "Optional. Enables the model to execute code as part of generation.",
          "$ref": "CodeExecution"
        }
      }
    },
    "RegisterFilesRequest": {
      "id": "RegisterFilesRequest",
      "type": "object",
      "properties": {
        "uris": {
          "description": "Required. The Google Cloud Storage URIs to register. Example: `gs://bucket/object`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Request for `RegisterFiles`."
    },
    "StreamableHttpTransport": {
      "id": "StreamableHttpTransport",
      "type": "object",
      "description": "A transport that can stream HTTP requests and responses. Next ID: 6",
      "properties": {
        "terminateOnClose": {
          "description": "Whether to close the client session when the transport closes.",
          "type": "boolean"
        },
        "url": {
          "description": "The full URL for the MCPServer endpoint. Example: \"https://api.example.com/mcp\"",
          "type": "string"
        },
        "timeout": {
          "type": "string",
          "description": "HTTP timeout for regular operations.",
          "format": "google-duration"
        },
        "headers": {
          "description": "Optional: Fields for authentication headers, timeouts, etc., if needed.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "sseReadTimeout": {
          "type": "string",
          "description": "Timeout for SSE read operations.",
          "format": "google-duration"
        }
      }
    },
    "GenerateMessageRequest": {
      "id": "GenerateMessageRequest",
      "type": "object",
      "properties": {
        "temperature": {
          "description": "Optional. Controls the randomness of the output. Values can range over `[0.0,1.0]`, inclusive. A value closer to `1.0` will produce responses that are more varied, while a value closer to `0.0` will typically result in less surprising responses from the model.",
          "format": "float",
[...]
