{
  "servicePath": "",
  "revision": "20260614",
  "discoveryVersion": "v1",
  "title": "Gemini API",
  "description": "The Gemini API allows developers to build generative AI applications using Gemini models. Gemini is our most capable model, built from the ground up to be multimodal. It can generalize and seamlessly understand, operate across, and combine different types of information including language, images, audio, video, and code. You can use the Gemini API for use cases like reasoning across text and images, content generation, dialogue agents, summarization and classification systems, and more.",
  "version": "v1beta",
  "rootUrl": "https://generativelanguage.googleapis.com/",
  "canonicalName": "Generative Language",
  "basePath": "",
  "id": "generativelanguage:v1beta",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/devstorage.read_only": {
          "description": "View your data in Google Cloud Storage"
        }
      }
    }
  },
  "documentationLink": "https://developers.generativeai.google/api",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "parameters": {
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    }
  },
  "version_module": true,
  "schemas": {
    "EmbedContentBatchStats": {
      "id": "EmbedContentBatchStats",
      "type": "object",
      "properties": {
        "requestCount": {
          "description": "Output only. The number of requests in the batch.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "failedRequestCount": {
          "description": "Output only. The number of requests that failed to be processed.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "successfulRequestCount": {
          "description": "Output only. The number of requests that were successfully processed.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "pendingRequestCount": {
          "description": "Output only. The number of requests that are still pending processing.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Stats about the batch."
    },
    "FileSearch": {
      "id": "FileSearch",
      "type": "object",
      "properties": {
        "topK": {
          "description": "Optional. The number of semantic retrieval chunks to retrieve.",
          "format": "int32",
          "type": "integer"
        },
        "fileSearchStoreNames": {
          "items": {
            "type": "string"
          },
          "description": "Required. The names of the file_search_stores to retrieve from. Example: `fileSearchStores/my-file-search-store-123`",
          "type": "array"
        },
        "metadataFilter": {
          "description": "Optional. Metadata filter to apply to the semantic retrieval documents and chunks.",
          "type": "string"
        }
      },
      "description": "The FileSearch tool that retrieves knowledge from Semantic Retrieval corpora. Files are imported to Semantic Retrieval corpora using the ImportFile API."
    },
    "FunctionResponseBlob": {
      "id": "FunctionResponseBlob",
      "type": "object",
      "properties": {
        "mimeType": {
          "description": "The IANA standard MIME type of the source data. Examples: - image/png - image/jpeg If an unsupported MIME type is provided, an error will be returned. For a complete list of supported types, see [Supported file formats](https://ai.google.dev/gemini-api/docs/prompting_with_media#supported_file_formats).",
          "type": "string"
        },
        "data": {
          "type": "string",
          "format": "byte",
          "description": "Raw bytes for media formats."
        }
      },
      "description": "Raw media bytes for function response. Text should not be sent as raw bytes, use the 'FunctionResponse.response' field."
    },
    "DiffUploadResponse": {
      "id": "DiffUploadResponse",
      "type": "object",
      "properties": {
        "originalObject": {
          "description": "The location of the original file for a diff upload request. Must be filled in if responding to an upload start notification.",
          "$ref": "CompositeMedia"
        },
        "objectVersion": {
          "description": "The object version of the object at the server. Must be included in the end notification response. The version in the end notification response must correspond to the new version of the object that is now stored at the server, after the upload.",
          "type": "string"
        }
      },
      "description": "Backend response for a Diff upload request. For details on the Scotty Diff protocol, visit http://go/scotty-diff-protocol."
    },
    "GenerateContentRequest": {
      "description": "Request to generate a completion from the model.",
      "id": "GenerateContentRequest",
      "type": "object",
      "properties": {
        "serviceTier": {
          "description": "Optional. The service tier of the request.",
          "type": "string",
          "enum": [
            "unspecified",
            "standard",
            "flex",
            "priority"
          ],
          "enumDescriptions": [
            "Default service tier, which is standard.",
            "Standard service tier.",
            "Flex service tier.",
            "Priority service tier."
          ]
        },
        "contents": {
          "items": {
            "$ref": "Content"
          },
          "description": "Required. The content of the current conversation with the model. For single-turn queries, this is a single instance. For multi-turn queries like [chat](https://ai.google.dev/gemini-api/docs/text-generation#chat), this is a repeated field that contains the conversation history and the latest request.",
          "type": "array"
        },
        "cachedContent": {
          "description": "Optional. The name of the content [cached](https://ai.google.dev/gemini-api/docs/caching) to use as context to serve the prediction. Format: `cachedContents/{cachedContent}`",
          "type": "string"
        },
        "generationConfig": {
          "description": "Optional. Configuration options for model generation and outputs.",
          "$ref": "GenerationConfig"
        },
        "model": {
          "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`.",
          "type": "string"
        },
        "toolConfig": {
          "description": "Optional. Tool configuration for any `Tool` specified in the request. Refer to the [Function calling guide](https://ai.google.dev/gemini-api/docs/function-calling#function_calling_mode) for a usage example.",
          "$ref": "ToolConfig"
        },
        "store": {
          "description": "Optional. Configures the logging behavior for a given request. If set, it takes precedence over the project-level logging config.",
          "type": "boolean"
        },
        "safetySettings": {
          "items": {
            "$ref": "SafetySetting"
          },
          "description": "Optional. A list of unique `SafetySetting` instances for blocking unsafe content. This will be enforced on the `GenerateContentRequest.contents` and `GenerateContentResponse.candidates`. There should not be more than one setting for each `SafetyCategory` type. The API will block any contents and responses that fail to meet the thresholds set by these settings. This list overrides the default settings for each `SafetyCategory` specified in the safety_settings. If there is no `SafetySetting` for a given `SafetyCategory` provided in the list, the API will use the default safety setting for that category. Harm categories HARM_CATEGORY_HATE_SPEECH, HARM_CATEGORY_SEXUALLY_EXPLICIT, HARM_CATEGORY_DANGEROUS_CONTENT, HARM_CATEGORY_HARASSMENT, HARM_CATEGORY_CIVIC_INTEGRITY are supported. Refer to the [guide](https://ai.google.dev/gemini-api/docs/safety-settings) for detailed information on available safety settings. Also refer to the [Safety guidance](https://ai.google.dev/gemini-api/docs/safety-guidance) to learn how to incorporate safety considerations in your AI applications.",
          "type": "array"
        },
        "systemInstruction": {
          "description": "Optional. Developer set [system instruction(s)](https://ai.google.dev/gemini-api/docs/system-instructions). Currently, text only.",
          "$ref": "Content"
        },
        "tools": {
          "description": "Optional. A list of `Tools` the `Model` may use to generate the next response. A `Tool` is a piece of code that enables the system to interact with external systems to perform an action, or set of actions, outside of knowledge and scope of the `Model`. Supported `Tool`s are `Function` and `code_execution`. Refer to the [Function calling](https://ai.google.dev/gemini-api/docs/function-calling) and the [Code execution](https://ai.google.dev/gemini-api/docs/code-execution) guides to learn more.",
          "items": {
            "$ref": "Tool"
          },
          "type": "array"
        }
      }
    },
    "ContentEmbedding": {
      "id": "ContentEmbedding",
      "type": "object",
      "properties": {
        "shape": {
          "description": "This field stores the soft tokens tensor frame shape (e.g. [1, 1, 256, 2048]).",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array"
        },
        "values": {
          "type": "array",
          "description": "The embedding values. This is for 3P users only and will not be populated for 1P calls.",
          "items": {
            "format": "float",
            "type": "number"
          }
        }
      },
      "description": "A list of floats representing an embedding."
    },
    "VideoMetadata": {
      "id": "VideoMetadata",
      "type": "object",
      "properties": {
        "startOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. The start offset of the video."
        },
        "fps": {
          "description": "Optional. The frame rate of the video sent to the model. If not specified, the default value will be 1.0. The fps range is (0.0, 24.0].",
          "type": "number",
          "format": "double"
        },
        "endOffset": {
          "description": "Optional. The end offset of the video.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "deprecated": true,
      "description": "Deprecated: Use `GenerateContentRequest.processing_options` instead. Metadata describes the input video content."
    },
    "ComputerUse": {
      "description": "Computer Use tool type.",
      "id": "ComputerUse",
      "type": "object",
      "properties": {
        "environment": {
          "type": "string",
          "enum": [
            "ENVIRONMENT_UNSPECIFIED",
            "ENVIRONMENT_BROWSER"
          ],
          "enumDescriptions": [
            "Defaults to browser.",
            "Operates in a web browser."
          ],
          "description": "Required. The environment being operated."
        },
        "excludedPredefinedFunctions": {
          "items": {
            "type": "string"
          },
          "description": "Optional. By default, predefined functions are included in the final model call. Some of them can be explicitly excluded from being automatically included. This can serve two purposes: 1. Using a more restricted / different action space. 2. Improving the definitions / instructions of predefined functions.",
          "type": "array"
        }
      }
    },
    "ListCorporaResponse": {
      "id": "ListCorporaResponse",
      "type": "object",
      "properties": {
        "corpora": {
          "description": "The returned corpora.",
          "items": {
            "$ref": "Corpus"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no more pages.",
          "type": "string"
        }
      },
      "description": "Response from `ListCorpora` containing a paginated list of `Corpora`. The results are sorted by ascending `corpus.create_time`."
    },
    "RetrievalConfig": {
      "id": "RetrievalConfig",
      "type": "object",
      "properties": {
        "latLng": {
          "description": "Optional. The location of the user.",
          "$ref": "LatLng"
        },
        "languageCode": {
          "description": "Optional. The language code of the user. Language code for content. Use language tags defined by [BCP47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt).",
          "type": "string"
        }
      },
      "description": "Retrieval config."
    },
    "ListPermissionsResponse": {
      "id": "ListPermissionsResponse",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "Returned permissions.",
          "items": {
            "$ref": "Permission"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no more pages.",
          "type": "string"
        }
      },
      "description": "Response from `ListPermissions` containing a paginated list of permissions."
    },
    "EmbedContentBatch": {
      "description": "A resource representing a batch of `EmbedContent` requests.",
      "id": "EmbedContentBatch",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Required. The user-defined name of this batch.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the batch.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "BATCH_STATE_UNSPECIFIED",
            "BATCH_STATE_PENDING",
            "BATCH_STATE_RUNNING",
            "BATCH_STATE_SUCCEEDED",
            "BATCH_STATE_FAILED",
            "BATCH_STATE_CANCELLED",
            "BATCH_STATE_EXPIRED"
          ],
          "enumDescriptions": [
            "The batch state is unspecified.",
            "The service is preparing to run the batch.",
            "The batch is in progress.",
            "The batch completed successfully.",
            "The batch failed.",
            "The batch has been cancelled.",
            "The batch has expired."
          ]
        },
        "model": {
          "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`.",
          "type": "string"
        },
        "inputConfig": {
          "description": "Required. Input configuration of the instances on which batch processing are performed.",
          "$ref": "InputEmbedContentConfig"
        },
        "batchStats": {
          "readOnly": true,
          "$ref": "EmbedContentBatchStats",
          "description": "Output only. Stats about the batch."
        },
        "createTime": {
          "description": "Output only. The time at which the batch was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. Resource name of the batch. Format: `batches/{batch_id}`."
        },
        "updateTime": {
          "description": "Output only. The time at which the batch was last updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time at which the batch processing completed.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "priority": {
          "description": "Optional. The priority of the batch. Batches with a higher priority value will be processed before batches with a lower priority value. Negative values are allowed. Default is 0.",
          "type": "string",
          "format": "int64"
        },
        "output": {
          "$ref": "EmbedContentBatchOutput",
          "readOnly": true,
          "description": "Output only. The output of the batch request."
        }
      }
    },
    "CitationMetadata": {
      "description": "A collection of source attributions for a piece of content.",
      "id": "CitationMetadata",
      "type": "object",
      "properties": {
        "citationSources": {
          "type": "array",
          "description": "Citations to sources for a specific response.",
          "items": {
            "$ref": "CitationSource"
          }
        }
      }
    },
    "FunctionResponsePart": {
      "id": "FunctionResponsePart",
      "type": "object",
      "properties": {
        "inlineData": {
          "description": "Inline media bytes.",
          "$ref": "FunctionResponseBlob"
        }
      },
      "description": "A datatype containing media that is part of a `FunctionResponse` message. A `FunctionResponsePart` consists of data which has an associated datatype. A `FunctionResponsePart` can only contain one of the accepted types in `FunctionResponsePart.data`. A `FunctionResponsePart` must have a fixed IANA MIME type identifying the type and subtype of the media if the `inline_data` field is filled with raw bytes."
    },
    "GenerateContentBatchOutput": {
      "id": "GenerateContentBatchOutput",
      "type": "object",
      "properties": {
        "responsesFile": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The file ID of the file containing the responses. The file will be a JSONL file with a single response per line. The responses will be `GenerateContentResponse` messages formatted as JSON. The responses will be written in the same order as the input requests."
        },
        "inlinedResponses": {
          "description": "Output only. The responses to the requests in the batch. Returned when the batch was built using inlined requests. The responses will be in the same order as the input requests.",
          "readOnly": true,
          "$ref": "InlinedResponses"
        }
      },
      "description": "The output of a batch request. This is returned in the `BatchGenerateContentResponse` or the `GenerateContentBatch.output` field."
    },
    "GoogleSearch": {
      "id": "GoogleSearch",
      "type": "object",
      "properties": {
        "timeRangeFilter": {
          "description": "Optional. Filter search results to a specific time range. If customers set a start time, they must set an end time (and vice versa).",
          "$ref": "Interval"
        },
        "searchTypes": {
          "description": "Optional. The set of search types to enable. If not set, web search is enabled by default.",
          "$ref": "SearchTypes"
        }
      },
      "description": "GoogleSearch tool type. Tool to support Google Search in Model. Powered by Google."
    },
    "GroundingPassage": {
      "description": "Passage included inline with a grounding configuration.",
      "id": "GroundingPassage",
      "type": "object",
      "properties": {
        "content": {
          "description": "Content of the passage.",
          "$ref": "Content"
        },
        "id": {
          "description": "Identifier for the passage for attributing this passage in grounded answers.",
          "type": "string"
        }
      }
    },
    "GoogleSearchRetrieval": {
      "description": "Tool to retrieve public web data for grounding, powered by Google.",
      "id": "GoogleSearchRetrieval",
      "type": "object",
      "properties": {
        "dynamicRetrievalConfig": {
          "description": "Specifies the dynamic retrieval configuration for the given source.",
          "$ref": "DynamicRetrievalConfig"
        }
      }
    },
    "ResponseFormatConfig": {
      "id": "ResponseFormatConfig",
      "type": "object",
      "properties": {
        "text": {
          "description": "Optional. Text output format configuration.",
          "$ref": "TextResponseFormat"
        },
        "audio": {
          "description": "Optional. Audio output format configuration.",
          "$ref": "AudioResponseFormat"
        },
        "image": {
          "description": "Optional. Image output format configuration.",
          "$ref": "ImageResponseFormat"
        }
      },
      "description": "Configuration for the response output format. This is a flat object where each optional sub-field configures a specific output modality."
    },
    "CitationSource": {
      "description": "A citation to a source for a portion of a specific response.",
      "id": "CitationSource",
      "type": "object",
      "properties": {
        "uri": {
          "description": "Optional. URI that is attributed as a source for a portion of the text.",
          "type": "string"
        },
        "startIndex": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Start of segment of the response that is attributed to this source. Index indicates the start of the segment, measured in bytes."
        },
        "endIndex": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. End of the attributed segment, exclusive."
        },
        "license": {
          "description": "Optional. License for the GitHub project that is attributed as a source for segment. License info is required for code citations.",
          "type": "string"
        }
      }
    },
    "DiffDownloadResponse": {
      "description": "Backend response for a Diff download response. For details on the Scotty Diff protocol, visit http://go/scotty-diff-protocol.",
      "id": "DiffDownloadResponse",
      "type": "object",
      "properties": {
        "objectLocation": {
          "description": "The original object location.",
          "$ref": "CompositeMedia"
        }
      }
    },
    "DownloadFileResponse": {
      "description": "Response for `DownloadFile`.",
      "id": "DownloadFileResponse",
      "type": "object",
      "properties": {}
    },
    "ListModelsResponse": {
      "description": "Response from `ListModel` containing a paginated list of Models.",
      "id": "ListModelsResponse",
      "type": "object",
      "properties": {
        "models": {
          "description": "The returned Models.",
          "items": {
            "$ref": "Model"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no more pages.",
          "type": "string"
        }
      }
    },
    "SpeechConfig": {
      "description": "Config for speech generation and transcription.",
      "id": "SpeechConfig",
      "type": "object",
      "properties": {
        "languageCode": {
          "description": "Optional. The IETF [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language code that the user configured the app to use. Used for speech recognition and synthesis. Valid values are: `de-DE`, `en-AU`, `en-GB`, `en-IN`, `en-US`, `es-US`, `fr-FR`, `hi-IN`, `pt-BR`, `ar-XA`, `es-ES`, `fr-CA`, `id-ID`, `it-IT`, `ja-JP`, `tr-TR`, `vi-VN`, `bn-IN`, `gu-IN`, `kn-IN`, `ml-IN`, `mr-IN`, `ta-IN`, `te-IN`, `nl-NL`, `ko-KR`, `cmn-CN`, `pl-PL`, `ru-RU`, and `th-TH`.",
          "type": "string"
        },
        "voiceConfig": {
          "description": "The configuration in case of single-voice output.",
          "$ref": "VoiceConfig"
        },
        "multiSpeakerVoiceConfig": {
          "description": "Optional. The configuration for the multi-speaker setup. It is mutually exclusive with the voice_config field.",
          "$ref": "MultiSpeakerVoiceConfig"
        }
      }
    },
    "Part": {
      "id": "Part",
      "type": "object",
      "properties": {
        "thoughtSignature": {
          "type": "string",
          "format": "byte",
          "description": "Optional. An opaque signature for the thought so it can be reused in subsequent requests."
        },
        "inlineData": {
          "description": "Inline media bytes.",
          "$ref": "Blob"
        },
        "thought": {
          "description": "Optional. Indicates if the part is thought from the model.",
          "type": "boolean"
        },
        "functionResponse": {
          "description": "The result output of a `FunctionCall` that contains a string representing the `FunctionDeclaration.name` and a structured JSON object containing any output from the function is used as context to the model.",
          "$ref": "FunctionResponse"
        },
        "mediaResolution": {
          "description": "Optional. Media resolution for the input media.",
          "$ref": "MediaResolution"
        },
        "toolCall": {
          "description": "Server-side tool call. This field is populated when the model predicts a tool invocation that should be executed on the server. The client is expected to echo this message back to the API.",
          "$ref": "ToolCall"
        },
        "fileData": {
          "description": "URI based data.",
          "$ref": "FileData"
        },
        "partMetadata": {
          "type": "object",
          "description": "Custom metadata associated with the Part. Agents using genai.Part as content representation may need to keep track of the additional information. For example it can be name of a file/source from which the Part originates or a way to multiplex multiple Part streams.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "executableCode": {
          "description": "Code generated by the model that is meant to be executed.",
          "$ref": "ExecutableCode"
        },
        "videoMetadata": {
          "description": "Optional. Video metadata. The metadata should only be specified while the video data is presented in inline_data or file_data.",
          "$ref": "VideoMetadata"
        },
        "text": {
          "description": "Inline text.",
          "type": "string"
        },
        "codeExecutionResult": {
          "description": "Result of executing the `ExecutableCode`.",
          "$ref": "CodeExecutionResult"
        },
        "functionCall": {
          "description": "A predicted `FunctionCall` returned from the model that contains a string representing the `FunctionDeclaration.name` with the arguments and their values.",
          "$ref": "FunctionCall"
        },
        "toolResponse": {
          "description": "The output from a server-side `ToolCall` execution. This field is populated by the client with the results of executing the corresponding `ToolCall`.",
          "$ref": "ToolResponse"
        }
      },
      "description": "A datatype containing media that is part of a multi-part `Content` message. A `Part` consists of data which has an associated datatype. A `Part` can only contain one of the accepted types in `Part.data`. A `Part` must have a fixed IANA MIME type identifying the type and subtype of the media if the `inline_data` field is filled with raw bytes."
    },
    "VoiceConfig": {
      "id": "VoiceConfig",
      "type": "object",
      "properties": {
        "prebuiltVoiceConfig": {
          "description": "The configuration for the prebuilt voice to use.",
          "$ref": "PrebuiltVoiceConfig"
        }
      },
      "description": "The configuration for the voice to use."
    },
    "GroundingChunk": {
      "id": "GroundingChunk",
      "type": "object",
      "properties": {
        "retrievedContext": {
          "description": "Optional. Grounding chunk from context retrieved by the file search tool.",
          "$ref": "RetrievedContext"
        },
        "image": {
          "description": "Optional. Grounding chunk from image search.",
          "$ref": "Image"
        },
        "maps": {
          "description": "Optional. Grounding chunk from Google Maps.",
          "$ref": "Maps"
        },
        "web": {
          "description": "Grounding chunk from the web.",
          "$ref": "Web"
        }
      },
      "description": "A `GroundingChunk` represents a segment of supporting evidence that grounds the model's response. It can be a chunk from the web, a retrieved context from a file, or information from Google Maps."
    },
    "GoogleMaps": {
      "description": "The GoogleMaps Tool that provides geospatial context for the user's query.",
      "id": "GoogleMaps",
      "type": "object",
      "properties": {
        "enableWidget": {
          "description": "Optional. Whether to return a widget context token in the GroundingMetadata of the response. Developers can use the widget context token to render a Google Maps widget with geospatial context related to the places that the model references in the response.",
          "type": "boolean"
        }
      }
    },
    "AudioResponseFormat": {
      "id": "AudioResponseFormat",
      "type": "object",
      "properties": {
        "delivery": {
          "description": "Optional. The delivery mode for the audio output.",
          "type": "string",
          "enum": [
            "DELIVERY_UNSPECIFIED",
            "INLINE",
            "URI"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Audio data is returned inline in the response.",
            "Audio data is returned as a URI."
          ]
        },
        "sampleRate": {
          "description": "Optional. Sample rate in Hz.",
          "format": "int32",
          "type": "integer"
        },
        "bitRate": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Bit rate in bits per second (bps). Only applicable for compressed formats (MP3, Opus)."
        },
        "mimeType": {
          "description": "Optional. The MIME type of the audio output.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "MP3 audio format.",
            "OGG Opus audio format.",
            "Raw PCM (L16) audio format.",
            "WAV audio format.",
            "A-law audio format.",
            "Mu-law audio format."
          ],
          "type": "string",
          "enum": [
            "MIME_TYPE_UNSPECIFIED",
            "AUDIO_MP3",
            "AUDIO_OGG_OPUS",
            "AUDIO_L16",
            "AUDIO_WAV",
            "AUDIO_ALAW",
            "AUDIO_MULAW"
          ]
        }
      },
      "description": "Configuration for audio output format."
    },
    "GenerateContentBatch": {
      "id": "GenerateContentBatch",
      "type": "object",
      "properties": {
        "endTime": {
          "description": "Output only. The time at which the batch processing completed.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "Output only. Identifier. Resource name of the batch. Format: `batches/{batch_id}`.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time at which the batch was last updated."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time at which the batch was created."
        },
        "output": {
          "description": "Output only. The output of the batch request.",
          "$ref": "GenerateContentBatchOutput",
          "readOnly": true
        },
        "priority": {
          "description": "Optional. The priority of the batch. Batches with a higher priority value will be processed before batches with a lower priority value. Negative values are allowed. Default is 0.",
          "format": "int64",
          "type": "string"
        },
        "state": {
          "enum": [
            "BATCH_STATE_UNSPECIFIED",
            "BATCH_STATE_PENDING",
            "BATCH_STATE_RUNNING",
            "BATCH_STATE_SUCCEEDED",
            "BATCH_STATE_FAILED",
            "BATCH_STATE_CANCELLED",
            "BATCH_STATE_EXPIRED"
          ],
          "enumDescriptions": [
            "The batch state is unspecified.",
            "The service is preparing to run the batch.",
            "The batch is in progress.",
            "The batch completed successfully.",
            "The batch failed.",
            "The batch has been cancelled.",
            "The batch has expired."
          ],
          "description": "Output only. The state of the batch.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "Required. The user-defined name of this batch.",
          "type": "string"
        },
        "batchStats": {
          "description": "Output only. Stats about the batch.",
          "$ref": "BatchStats",
          "readOnly": true
        },
        "model": {
          "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`.",
          "type": "string"
        },
        "inputConfig": {
          "description": "Required. Input configuration of the instances on which batch processing are performed.",
          "$ref": "InputConfig"
        }
      },
      "description": "A resource representing a batch of `GenerateContent` requests."
    },
    "CustomMetadata": {
      "description": "User provided metadata stored as key-value pairs.",
      "id": "CustomMetadata",
      "type": "object",
      "properties": {
        "numericValue": {
          "description": "The numeric value of the metadata to store.",
          "type": "number",
          "format": "float"
        },
        "stringValue": {
          "description": "The string value of the metadata to store.",
          "type": "string"
        },
        "stringListValue": {
          "description": "The StringList value of the metadata to store.",
          "$ref": "StringList"
        },
        "key": {
          "description": "Required. The key of the metadata to store.",
          "type": "string"
        }
      }
    },
    "ToolResponse": {
      "id": "ToolResponse",
      "type": "object",
      "properties": {
        "toolType": {
          "description": "Required. The type of tool that was called, matching the `tool_type` in the corresponding `ToolCall`.",
          "enumDescriptions": [
            "Unspecified tool type.",
            "Google search tool, maps to Tool.google_search.search_types.web_search.",
            "Image search tool, maps to Tool.google_search.search_types.image_search.",
            "URL context tool, maps to Tool.url_context.",
            "Google maps tool, maps to Tool.google_maps.",
            "File search tool, maps to Tool.file_search."
          ],
          "type": "string",
          "enum": [
            "TOOL_TYPE_UNSPECIFIED",
            "GOOGLE_SEARCH_WEB",
            "GOOGLE_SEARCH_IMAGE",
            "URL_CONTEXT",
            "GOOGLE_MAPS",
            "FILE_SEARCH"
          ]
        },
        "id": {
          "description": "Optional. The identifier of the tool call this response is for.",
          "type": "string"
        },
        "response": {
          "type": "object",
          "description": "Optional. The tool response.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "description": "The output from a server-side `ToolCall` execution. This message contains the results of a tool invocation that was initiated by a `ToolCall` from the model. The client should pass this `ToolResponse` back to the API in a subsequent turn within a `Content` message, along with the corresponding `ToolCall`."
    },
    "TransferOwnershipResponse": {
      "id": "TransferOwnershipResponse",
      "type": "object",
      "properties": {},
      "description": "Response from `TransferOwnership`."
    },
    "CompositeMedia": {
      "id": "CompositeMedia",
      "type": "object",
      "properties": {
        "inline": {
          "description": "Media data, set if reference_type is INLINE",
          "type": "string",
          "format": "byte"
        },
        "crc32cHash": {
          "description": "crc32.c hash for the payload.",
          "format": "uint32",
          "type": "integer"
        },
        "blobstore2Info": {
          "description": "Blobstore v2 info, set if reference_type is BLOBSTORE_REF and it refers to a v2 blob.",
          "$ref": "Blobstore2Info"
        },
        "cosmoBinaryReference": {
          "description": "A binary data reference for a media download. Serves as a technology-agnostic binary reference in some Google infrastructure. This value is a serialized storage_cosmo.BinaryReference proto. Storing it as bytes is a hack to get around the fact that the cosmo proto (as well as others it includes) doesn't support JavaScript. This prevents us from including the actual type of this field.",
          "type": "string",
          "format": "byte"
        },
        "referenceType": {
          "description": "Describes what the field reference contains.",
          "type": "string",
          "enum": [
            "PATH",
            "BLOB_REF",
            "INLINE",
            "BIGSTORE_REF",
            "COSMO_BINARY_REFERENCE"
          ],
          "enumDescriptions": [
            "Reference contains a GFS path or a local path.",
            "Reference points to a blobstore object. This could be either a v1 blob_ref or a v2 blobstore2_info. Clients should check blobstore2_info first, since v1 is being deprecated.",
            "Data is included into this proto buffer",
            "Reference points to a bigstore object",
            "Indicates the data is stored in cosmo_binary_reference."
          ]
        },
        "path": {
          "description": "Path to the data, set if reference_type is PATH",
          "type": "string"
        },
        "objectId": {
          "description": "Reference to a TI Blob, set if reference_type is BIGSTORE_REF.",
          "$ref": "ObjectId"
        },
        "sha1Hash": {
          "type": "string",
          "format": "byte",
          "description": "SHA-1 hash for the payload."
        },
        "blobRef": {
          "description": "Blobstore v1 reference, set if reference_type is BLOBSTORE_REF This should be the byte representation of a blobstore.BlobRef. Since Blobstore is deprecating v1, use blobstore2_info instead. For now, any v2 blob will also be represented in this field as v1 BlobRef.",
          "deprecated": true,
          "type": "string",
          "format": "byte"
        },
        "length": {
          "description": "Size of the data, in bytes",
          "type": "string",
          "format": "int64"
        },
        "md5Hash": {
          "description": "MD5 hash for the payload.",
          "format": "byte",
          "type": "string"
        }
      },
      "description": "A sequence of media data references representing composite data. Introduced to support Bigstore composite objects. For details, visit http://go/bigstore-composites."
    },
    "SafetyFeedback": {
      "description": "Safety feedback for an entire request. This field is populated if content in the input and/or response is blocked due to safety settings. SafetyFeedback may not exist for every HarmCategory. Each SafetyFeedback will return the safety settings used by the request as well as the lowest HarmProbability that should be allowed in order to return a result.",
      "id": "SafetyFeedback",
      "type": "object",
      "properties": {
        "setting": {
          "description": "Safety settings applied to the request.",
          "$ref": "SafetySetting"
        },
        "rating": {
          "description": "Safety rating evaluated from content.",
          "$ref": "SafetyRating"
        }
      }
    },
    "CodeExecutionResult": {
      "description": "Result of executing the `ExecutableCode`. Generated only when the `CodeExecution` tool is used.",
      "id": "CodeExecutionResult",
      "type": "object",
      "properties": {
        "outcome": {
          "enumDescriptions": [
            "Unspecified status. This value should not be used.",
            "Code execution completed successfully. `output` contains the stdout, if any.",
            "Code execution failed. `output` contains the stderr and stdout, if any.",
            "Code execution ran for too long, and was cancelled. There may or may not be a partial `output` present."
          ],
          "type": "string",
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "OUTCOME_OK",
            "OUTCOME_FAILED",
            "OUTCOME_DEADLINE_EXCEEDED"
          ],
          "description": "Required. Outcome of the code execution."
        },
        "id": {
          "description": "Optional. The identifier of the `ExecutableCode` part this result is for. Only populated if the corresponding `ExecutableCode` has an id.",
          "type": "string"
        },
        "output": {
          "description": "Optional. Contains stdout when code execution is successful, stderr or other description otherwise.",
          "type": "string"
        }
      }
    },
    "CachedContentUsageMetadata": {
      "id": "CachedContentUsageMetadata",
      "type": "object",
      "properties": {
        "totalTokenCount": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of tokens that the cached content consumes."
        }
      },
      "description": "Metadata on the usage of the cached content."
    },
    "Embedding": {
      "id": "Embedding",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "description": "The embedding values.",
          "items": {
            "type": "number",
            "format": "float"
          }
        }
      },
      "description": "A list of floats representing the embedding."
    },
    "ModelStatus": {
      "description": "The status of the underlying model. This is used to indicate the stage of the underlying model and the retirement time if applicable.",
      "id": "ModelStatus",
      "type": "object",
      "properties": {
        "message": {
          "description": "A message explaining the model status.",
          "type": "string"
        },
        "modelStage": {
          "description": "The stage of the underlying model.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified model stage.",
            "The underlying model is subject to lots of tunings.",
            "Models in this stage are for experimental purposes only.",
            "Models in this stage are more mature than experimental models.",
            "Models in this stage are considered stable and ready for production use.",
            "If the model is on this stage, it means that this model is on the path to deprecation in near future. Only existing customers can use this model.",
            "Models in this stage are deprecated. These models cannot be used.",
            "Models in this stage are retired. These models cannot be used."
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            true,
            false
          ],
          "enum": [
            "MODEL_STAGE_UNSPECIFIED",
            "UNSTABLE_EXPERIMENTAL",
            "EXPERIMENTAL",
            "PREVIEW",
            "STABLE",
            "LEGACY",
            "DEPRECATED",
            "RETIRED"
          ]
        },
        "retirementTime": {
          "description": "The time at which the model will be retired.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "Condition": {
      "id": "Condition",
      "type": "object",
      "properties": {
        "stringValue": {
          "description": "The string value to filter the metadata on.",
          "type": "string"
        },
        "operation": {
          "description": "Required. Operator applied to the given key-value pair to trigger the condition.",
          "enumDescriptions": [
            "The default value. This value is unused.",
            "Supported by numeric.",
            "Supported by numeric.",
            "Supported by numeric & string.",
            "Supported by numeric.",
            "Supported by numeric.",
            "Supported by numeric & string.",
            "Supported by string only when `CustomMetadata` value type for the given key has a `string_list_value`.",
            "Supported by string only when `CustomMetadata` value type for the given key has a `string_list_value`."
          ],
          "type": "string",
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "LESS",
            "LESS_EQUAL",
            "EQUAL",
            "GREATER_EQUAL",
            "GREATER",
            "NOT_EQUAL",
            "INCLUDES",
            "EXCLUDES"
          ]
        },
        "numericValue": {
          "format": "float",
          "type": "number",
          "description": "The numeric value to filter the metadata on."
        }
      },
      "description": "Filter condition applicable to a single key."
    },
    "Dataset": {
      "id": "Dataset",
      "type": "object",
      "properties": {
        "examples": {
          "description": "Optional. Inline examples with simple input/output text.",
          "$ref": "TuningExamples"
        }
      },
      "description": "Dataset for training or validation."
    },
    "ChunkingConfig": {
      "id": "ChunkingConfig",
      "type": "object",
      "properties": {
        "whiteSpaceConfig": {
          "description": "White space chunking configuration.",
          "$ref": "WhiteSpaceConfig"
        }
      },
      "description": "Parameters for telling the service how to chunk the file. inspired by google3/cloud/ai/platform/extension/lib/retrieval/config/chunker_config.proto"
    },
    "DiffVersionResponse": {
      "id": "DiffVersionResponse",
      "type": "object",
      "properties": {
        "objectVersion": {
          "description": "The version of the object stored at the server.",
          "type": "string"
        },
        "objectSizeBytes": {
          "description": "The total size of the server object.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Backend response for a Diff get version response. For details on the Scotty Diff protocol, visit http://go/scotty-diff-protocol."
    },
    "GoogleAiGenerativelanguageV1betaGroundingSupport": {
      "description": "Grounding support.",
      "id": "GoogleAiGenerativelanguageV1betaGroundingSupport",
      "type": "object",
      "properties": {
        "groundingChunkIndices": {
          "type": "array",
          "description": "Optional. A list of indices (into 'grounding_chunk' in `response.candidate.grounding_metadata`) specifying the citations associated with the claim. For instance [1,3,4] means that grounding_chunk[1], grounding_chunk[3], grounding_chunk[4] are the retrieved content attributed to the claim. If the response is streaming, the grounding_chunk_indices refer to the indices across all responses. It is the client's responsibility to accumulate the grounding chunks from all responses (while maintaining the same order).",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "confidenceScores": {
          "type": "array",
          "items": {
            "format": "float",
            "type": "number"
          },
          "description": "Optional. Confidence score of the support references. Ranges from 0 to 1. 1 is the most confident. This list must have the same size as the grounding_chunk_indices."
        },
        "renderedParts": {
          "description": "Output only. Indices into the `parts` field of the candidate's content. These indices specify which rendered parts are associated with this support source.",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array",
          "readOnly": true
        },
        "segment": {
          "description": "Segment of the content this support belongs to.",
          "$ref": "GoogleAiGenerativelanguageV1betaSegment"
        }
      }
    },
    "BatchEmbedTextRequest": {
      "id": "BatchEmbedTextRequest",
      "type": "object",
      "properties": {
        "texts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The free-form input texts that the model will turn into an embedding. The current limit is 100 texts, over which an error will be thrown."
        },
        "requests": {
          "description": "Optional. Embed requests for the batch. Only one of `texts` or `requests` can be set.",
          "items": {
            "$ref": "EmbedTextRequest"
          },
          "type": "array"
        }
      },
      "description": "Batch request to get a text embedding from the model."
    },
    "InlinedRequest": {
      "id": "InlinedRequest",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Optional. The metadata to be associated with the request.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "request": {
          "description": "Required. The request to be processed in the batch.",
          "$ref": "GenerateContentRequest"
        }
      },
      "description": "The request to be processed in the batch."
    },
    "GroundingPassages": {
      "description": "A repeated list of passages.",
      "id": "GroundingPassages",
      "type": "object",
      "properties": {
        "passages": {
          "items": {
            "$ref": "GroundingPassage"
          },
          "description": "List of passages.",
          "type": "array"
        }
      }
    },
    "GroundingMetadata": {
      "id": "GroundingMetadata",
      "type": "object",
      "properties": {
        "groundingChunks": {
          "items": {
            "$ref": "GroundingChunk"
          },
          "description": "List of supporting references retrieved from specified grounding source. When streaming, this only contains the grounding chunks that have not been included in the grounding metadata of previous responses.",
          "type": "array"
        },
        "groundingSupports": {
          "description": "List of grounding support.",
          "items": {
            "$ref": "GoogleAiGenerativelanguageV1betaGroundingSupport"
          },
          "type": "array"
        },
        "imageSearchQueries": {
          "description": "Image search queries used for grounding.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "webSearchQueries": {
          "items": {
            "type": "string"
          },
          "description": "Web search queries for the following-up web search.",
          "type": "array"
        },
        "googleMapsWidgetContextToken": {
          "description": "Optional. Resource name of the Google Maps widget context token that can be used with the PlacesContextElement widget in order to render contextual data. Only populated in the case that grounding with Google Maps is enabled.",
          "type": "string"
        },
        "searchEntryPoint": {
          "description": "Optional. Google search entry for the following-up web searches.",
          "$ref": "SearchEntryPoint"
        },
        "retrievalMetadata": {
          "description": "Metadata related to retrieval in the grounding flow.",
          "$ref": "RetrievalMetadata"
        }
      },
      "description": "Metadata returned to client when grounding is enabled."
    },
    "ToolConfig": {
      "description": "The Tool configuration containing parameters for specifying `Tool` use in the request.",
      "id": "ToolConfig",
      "type": "object",
      "properties": {
        "retrievalConfig": {
          "description": "Optional. Retrieval config.",
          "$ref": "RetrievalConfig"
        },
        "functionCallingConfig": {
          "description": "Optional. Function calling config.",
          "$ref": "FunctionCallingConfig"
        },
        "includeServerSideToolInvocations": {
          "description": "Optional. If true, the API response will include the server-side tool calls and responses within the `Content` message. This allows clients to observe the server's tool interactions.",
          "type": "boolean"
        }
      }
    },
    "Maps": {
      "description": "A grounding chunk from Google Maps. A Maps chunk corresponds to a single place.",
      "id": "Maps",
      "type": "object",
      "properties": {
        "uri": {
          "description": "URI reference of the place.",
          "type": "string"
        },
        "placeAnswerSources": {
          "description": "Sources that provide answers about the features of a given place in Google Maps.",
          "$ref": "PlaceAnswerSources"
        },
        "text": {
          "description": "Text description of the place answer.",
          "type": "string"
        },
        "title": {
          "description": "Title of the place.",
          "type": "string"
        },
        "placeId": {
          "description": "The ID of the place, in `places/{place_id}` format. A user can use this ID to look up that place.",
          "type": "string"
        }
      }
    },
    "FunctionResponse": {
      "id": "FunctionResponse",
      "type": "object",
      "properties": {
        "response": {
          "description": "Required. The function response in JSON object format. Callers can use any keys of their choice that fit the function's syntax to return the function output, e.g. \"output\", \"result\", etc. In particular, if the function call failed to execute, the response can have an \"error\" key to return error details to the model. Multimedia can be included by using a subobject containing a single \"$ref\" key whose value is the `inline_data.display_name` of a `FunctionResponsePart` holding the multimedia. See https://ai.google.dev/gemini-api/docs/function-calling#multimodal.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "scheduling": {
          "description": "Optional. Specifies how the response should be scheduled in the conversation. Only applicable to NON_BLOCKING function calls, is ignored otherwise. Defaults to WHEN_IDLE.",
          "type": "string",
          "enum": [
            "SCHEDULING_UNSPECIFIED",
            "SILENT",
            "WHEN_IDLE",
            "INTERRUPT"
          ],
          "enumDescriptions": [
            "This value is unused.",
            "Only add the result to the conversation context, do not interrupt or trigger generation.",
            "Add the result to the conversation context, and prompt to generate output without interrupting ongoing generation.",
            "Add the result to the conversation context, interrupt ongoing generation and prompt to generate output."
          ]
        },
        "parts": {
          "items": {
            "$ref": "FunctionResponsePart"
          },
          "description": "Optional. Ordered `Parts` that constitute a function response. Parts may have different IANA MIME types.",
          "type": "array"
        },
        "willContinue": {
          "description": "Optional. Signals that function call continues, and more responses will be returned, turning the function call into a generator. Is only applicable to NON_BLOCKING function calls, is ignored otherwise. If set to false, future responses will not be considered. It is allowed to return empty `response` with `will_continue=False` to signal that the function call is finished. This may still trigger the model generation. To avoid triggering the generation and finish the function call, additionally set `scheduling` to `SILENT`.",
          "type": "boolean"
        },
        "id": {
          "description": "Optional. The identifier of the function call this response is for. Populated by the client to match the corresponding function call `id`.",
          "type": "string"
        },
        "name": {
          "description": "Required. The name of the function to call. Must be a-z, A-Z, 0-9, or contain underscores and dashes, with a maximum length of 128.",
          "type": "string"
        }
      },
      "description": "The result output from a `FunctionCall` that contains a string representing the `FunctionDeclaration.name` and a structured JSON object containing any output from the function is used as context to the model. This should contain the result of a`FunctionCall` made based on model prediction."
    },
    "Hyperparameters": {
      "description": "Hyperparameters controlling the tuning process. Read more at https://ai.google.dev/docs/model_tuning_guidance",
      "id": "Hyperparameters",
      "type": "object",
      "properties": {
        "epochCount": {
          "format": "int32",
          "type": "integer",
          "description": "Immutable. The number of training epochs. An epoch is one pass through the training data. If not set, a default of 5 will be used."
        },
        "learningRate": {
          "description": "Optional. Immutable. The learning rate hyperparameter for tuning. If not set, a default of 0.001 or 0.0002 will be calculated based on the number of training examples.",
          "format": "float",
          "type": "number"
        },
        "learningRateMultiplier": {
          "description": "Optional. Immutable. The learning rate multiplier is used to calculate a final learning_rate based on the default (recommended) value. Actual learning rate := learning_rate_multiplier * default learning rate Default learning rate is dependent on base model and dataset size. If not set, a default of 1.0 will be used.",
          "format": "float",
          "type": "number"
        },
        "batchSize": {
          "type": "integer",
          "format": "int32",
          "description": "Immutable. The batch size hyperparameter for tuning. If not set, a default of 4 or 16 will be used based on the number of training examples."
        }
      }
    },
    "EmbedContentResponse": {
      "id": "EmbedContentResponse",
      "type": "object",
      "properties": {
        "usageMetadata": {
          "$ref": "EmbeddingUsageMetadata",
          "readOnly": true,
          "description": "Output only. The usage metadata for the request."
        },
        "embedding": {
          "$ref": "ContentEmbedding",
          "readOnly": true,
          "description": "Output only. The embedding generated from the input content."
        }
      },
      "description": "The response to an `EmbedContentRequest`."
    },
    "ImageConfig": {
      "id": "ImageConfig",
      "type": "object",
      "properties": {
        "imageSize": {
          "description": "Optional. Specifies the size of generated images. Supported values are `512`, `1K`, `2K`, `4K`. If not specified, the model will use default value `1K`.",
          "type": "string"
        },
        "aspectRatio": {
          "description": "Optional. The aspect ratio of the image to generate. Supported aspect ratios: `1:1`, `1:4`, `4:1`, `1:8`, `8:1`, `2:3`, `3:2`, `3:4`, `4:3`, `4:5`, `5:4`, `9:16`, `16:9`, or `21:9`. If not specified, the model will choose a default aspect ratio based on any reference images provided.",
          "type": "string"
        }
      },
      "description": "Config for image generation features."
    },
    "GenerateContentResponse": {
      "description": "Response from the model supporting multiple candidate responses. Safety ratings and content filtering are reported for both prompt in `GenerateContentResponse.prompt_feedback` and for each candidate in `finish_reason` and in `safety_ratings`. The API: - Returns either all requested candidates or none of them - Returns no candidates at all only if there was something wrong with the prompt (check `prompt_feedback`) - Reports feedback on each candidate in `finish_reason` and `safety_ratings`.",
      "id": "GenerateContentResponse",
      "type": "object",
      "properties": {
        "promptFeedback": {
          "description": "Returns the prompt's feedback related to the content filters.",
          "$ref": "PromptFeedback"
        },
        "usageMetadata": {
          "$ref": "UsageMetadata",
          "readOnly": true,
          "description": "Output only. Metadata on the generation requests' token usage."
        },
        "responseId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. response_id is used to identify each response."
        },
        "modelStatus": {
          "description": "Output only. The current model status of this model.",
          "$ref": "ModelStatus",
          "readOnly": true
        },
        "modelVersion": {
          "description": "Output only. The model version used to generate the response.",
          "readOnly": true,
          "type": "string"
        },
        "candidates": {
          "type": "array",
          "items": {
            "$ref": "Candidate"
          },
          "description": "Candidate responses from the model."
        }
      }
    },
    "RetrievalMetadata": {
      "id": "RetrievalMetadata",
      "type": "object",
      "properties": {
        "googleSearchDynamicRetrievalScore": {
          "description": "Optional. Score indicating how likely information from google search could help answer the prompt. The score is in the range [0, 1], where 0 is the least likely and 1 is the most likely. This score is only populated when google search grounding and dynamic retrieval is enabled. It will be compared to the threshold to determine whether to trigger google search.",
          "type": "number",
          "format": "float"
        }
      },
      "description": "Metadata related to retrieval in the grounding flow."
    },
    "Interval": {
      "id": "Interval",
      "type": "object",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end."
        },
        "startTime": {
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time."
    },
    "GenerationConfig": {
      "id": "GenerationConfig",
      "type": "object",
      "properties": {
        "imageConfig": {
          "description": "Optional. Config for image generation. An error will be returned if this field is set for models that don't support these config options.",
          "$ref": "ImageConfig"
        },
        "speechConfig": {
          "description": "Optional. The speech generation config.",
          "$ref": "SpeechConfig"
        },
        "responseFormat": {
          "description": "Optional. Configuration for the response output format. Allows specifying output configuration per modality (text, audio, image) in a flat structure.",
          "$ref": "ResponseFormatConfig"
        },
        "responseModalities": {
          "description": "Optional. The requested modalities of the response. Represents the set of modalities that the model can return, and should be expected in the response. This is an exact match to the modalities of the response. A model may have multiple combinations of supported modalities. If the requested modalities do not match any of the supported combinations, an error will be returned. An empty list is equivalent to requesting only text.",
          "items": {
            "enumDescriptions": [
              "Default value.",
              "Indicates the model should return text.",
              "Indicates the model should return images.",
              "Indicates the model should return audio."
            ],
            "type": "string",
            "enum": [
              "MODALITY_UNSPECIFIED",
              "TEXT",
              "IMAGE",
              "AUDIO"
            ]
          },
          "type": "array"
        },
        "temperature": {
          "description": "Optional. Controls the randomness of the output. Note: The default value varies by model, see the `Model.temperature` attribute of the `Model` returned from the `getModel` function. Values can range from [0.0, 2.0].",
          "type": "number",
          "format": "float"
        },
        "maxOutputTokens": {
          "description": "Optional. The maximum number of tokens to include in a response candidate. Note: The default value varies by model, see the `Model.output_token_limit` attribute of the `Model` returned from the `getModel` function.",
          "type": "integer",
          "format": "int32"
        },
        "topK": {
          "description": "Optional. The maximum number of tokens to consider when sampling. Gemini models use Top-p (nucleus) sampling or a combination of Top-k and nucleus sampling. Top-k sampling considers the set of `top_k` most probable tokens. Models running with nucleus sampling don't allow top_k setting. Note: The default value varies by `Model` and is specified by the`Model.top_p` attribute returned from the `getModel` function. An empty `top_k` attribute indicates that the model doesn't apply top-k sampling and doesn't allow setting `top_k` on requests.",
          "type": "integer",
          "format": "int32"
        },
        "seed": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Seed used in decoding. If not set, the request uses a randomly generated seed."
        },
        "responseJsonSchema": {
          "description": "Optional. An internal detail. Use `responseJsonSchema` rather than this field.",
          "type": "any"
        },
        "responseSchema": {
          "description": "Optional. Output schema of the generated candidate text. Schemas must be a subset of the [OpenAPI schema](https://spec.openapis.org/oas/v3.0.3#schema) and can be objects, primitives or arrays. If set, a compatible `response_mime_type` must also be set. Compatible MIME types: `application/json`: Schema for JSON response. Refer to the [JSON text generation guide](https://ai.google.dev/gemini-api/docs/json-mode) for more details.",
          "$ref": "Schema"
        },
        "presencePenalty": {
          "description": "Optional. Presence penalty applied to the next token's logprobs if the token has already been seen in the response. This penalty is binary on/off and not dependant on the number of times the token is used (after the first). Use frequency_penalty for a penalty that increases with each use. A positive penalty will discourage the use of tokens that have already been used in the response, increasing the vocabulary. A negative penalty will encourage the use of tokens that have already been used in the response, decreasing the vocabulary.",
          "format": "float",
          "type": "number"
        },
        "frequencyPenalty": {
          "description": "Optional. Frequency penalty applied to the next token's logprobs, multiplied by the number of times each token has been seen in the respponse so far. A positive penalty will discourage the use of tokens that have already been used, proportional to the number of times the token has been used: The more a token is used, the more difficult it is for the model to use that token again increasing the vocabulary of responses. Caution: A _negative_ penalty will encourage the model to reuse tokens proportional to the number of times the token has been used. Small negative values will reduce the vocabulary of a response. Larger negative values will cause the model to start repeating a common token until it hits the max_output_tokens limit.",
          "type": "number",
          "format": "float"
        },
        "mediaResolution": {
          "description": "Optional. If specified, the media resolution specified will be used.",
          "type": "string",
          "enum": [
            "MEDIA_RESOLUTION_UNSPECIFIED",
            "MEDIA_RESOLUTION_LOW",
            "MEDIA_RESOLUTION_MEDIUM",
            "MEDIA_RESOLUTION_HIGH"
          ],
          "enumDescriptions": [
            "Media resolution has not been set.",
            "Media resolution set to low (64 tokens).",
            "Media resolution set to medium (256 tokens).",
            "Media resolution set to high (zoomed reframing with 256 tokens)."
          ]
        },
        "responseMimeType": {
          "description": "Optional. MIME type of the generated candidate text. Supported MIME types are: `text/plain`: (default) Text output. `application/json`: JSON response in the response candidates. `text/x.enum`: ENUM as a string response in the response candidates. Refer to the [docs](https://ai.google.dev/gemini-api/docs/prompting_with_media#plain_text_formats) for a list of all supported text MIME types.",
          "type": "string"
        },
        "responseLogprobs": {
          "description": "Optional. If true, export the logprobs results in response.",
          "type": "boolean"
        },
        "stopSequences": {
          "type": "array",
          "description": "Optional. The set of character sequences (up to 5) that will stop output generation. If specified, the API will stop at the first appearance of a `stop_sequence`. The stop sequence will not be included as part of the response.",
          "items": {
            "type": "string"
          }
        },
        "translationConfig": {
          "description": "Optional. Config for translation.",
          "$ref": "TranslationConfig"
        },
        "enableEnhancedCivicAnswers": {
          "description": "Optional. Enables enhanced civic answers. It may not be available for all models.",
          "type": "boolean"
        },
        "thinkingConfig": {
          "description": "Optional. Config for thinking features. An error will be returned if this field is set for models that don't support thinking.",
          "$ref": "ThinkingConfig"
        },
        "topP": {
          "description": "Optional. The maximum cumulative probability of tokens to consider when sampling. The model uses combined Top-k and Top-p (nucleus) sampling. Tokens are sorted based on their assigned probabilities so that only the most likely tokens are considered. Top-k sampling directly limits the maximum number of tokens to consider, while Nucleus sampling limits the number of tokens based on the cumulative probability. Note: The default value varies by `Model` and is specified by the`Model.top_p` attribute returned from the `getModel` function. An empty `top_k` attribute indicates that the model doesn't apply top-k sampling and doesn't allow setting `top_k` on requests.",
          "format": "float",
          "type": "number"
        },
        "_responseJsonSchema": {
          "description": "Optional. Output schema of the generated response. This is an alternative to `response_schema` that accepts [JSON Schema](https://json-schema.org/). If set, `response_schema` must be omitted, but `response_mime_type` is required. While the full JSON Schema may be sent, not all features are supported. Specifically, only the following properties are supported: - `$id` - `$defs` - `$ref` - `$anchor` - `type` - `format` - `title` - `description` - `enum` (for strings and numbers) - `items` - `prefixItems` - `minItems` - `maxItems` - `minimum` - `maximum` - `anyOf` - `oneOf` (interpreted the same as `anyOf`) - `properties` - `additionalProperties` - `required` The non-standard `propertyOrdering` property may also be set. Cyclic references are unrolled to a limited degree and, as such, may only be used within non-required properties. (Nullable properties are not sufficient.) If `$ref` is set on a sub-schema, no other properties, except for than those starting as a `$`, may be set.",
          "type": "any"
        },
        "logprobs": {
          "description": "Optional. Only valid if response_logprobs=True. This sets the number of top logprobs, including the chosen candidate, to return at each decoding step in the Candidate.logprobs_result. The number must be in the range of [0, 20].",
          "type": "integer",
          "format": "int32"
        },
        "candidateCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Number of generated responses to return. If unset, this will default to 1. Please note that this doesn't work for previous generation models (Gemini 1.0 family)"
        }
      },
      "description": "Configuration options for model generation and outputs. Not all parameters are configurable for every model."
    },
    "Example": {
      "description": "An input/output example used to instruct the Model. It demonstrates how the model should respond or format its response.",
      "id": "Example",
      "type": "object",
      "properties": {
        "input": {
          "description": "Required. An example of an input `Message` from the user.",
          "$ref": "Message"
        },
        "output": {
          "description": "Required. An example of what the model should output given the input.",
          "$ref": "Message"
        }
      }
    },
    "GenerateMessageRequest": {
      "description": "Request to generate a message response from the model.",
      "id": "GenerateMessageRequest",
      "type": "object",
      "properties": {
        "prompt": {
          "description": "Required. The structured textual input given to the model as a prompt. Given a prompt, the model will return what it predicts is the next message in the discussion.",
          "$ref": "MessagePrompt"
        },
        "topK": {
          "description": "Optional. The maximum number of tokens to consider when sampling. The model uses combined Top-k and nucleus sampling. Top-k sampling considers the set of `top_k` most probable tokens.",
          "type": "integer",
          "format": "int32"
        },
        "candidateCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of generated response messages to return. This value must be between `[1, 8]`, inclusive. If unset, this will default to `1`."
        },
        "temperature": {
          "format": "float",
          "type": "number",
          "description": "Optional. Controls the randomness of the output. Values can range over `[0.0,1.0]`, inclusive. A value closer to `1.0` will produce responses that are more varied, while a value closer to `0.0` will typically result in less surprising responses from the model."
        },
        "topP": {
          "description": "Optional. The maximum cumulative probability of tokens to consider when sampling. The model uses combined Top-k and nucleus sampling. Nucleus sampling considers the smallest set of tokens whose probability sum is at least `top_p`.",
          "format": "float",
          "type": "number"
        }
      }
    },
    "InlinedEmbedContentRequests": {
      "id": "InlinedEmbedContentRequests",
      "type": "object",
      "properties": {
        "requests": {
          "type": "array",
          "description": "Required. The requests to be processed in the batch.",
          "items": {
            "$ref": "InlinedEmbedContentRequest"
          }
        }
      },
      "description": "The requests to be processed in the batch if provided as part of the batch creation request."
    },
    "AttributionSourceId": {
      "description": "Identifier for the source contributing to this attribution.",
      "id": "AttributionSourceId",
      "type": "object",
      "properties": {
        "groundingPassage": {
          "description": "Identifier for an inline passage.",
          "$ref": "GroundingPassageId"
        },
        "semanticRetrieverChunk": {
          "description": "Identifier for a `Chunk` fetched via Semantic Retriever.",
          "$ref": "SemanticRetrieverChunk"
        }
      }
    },
    "PromptFeedback": {
      "id": "PromptFeedback",
      "type": "object",
      "properties": {
        "blockReason": {
          "type": "string",
          "enum": [
            "BLOCK_REASON_UNSPECIFIED",
            "SAFETY",
            "OTHER",
            "BLOCKLIST",
            "PROHIBITED_CONTENT",
            "IMAGE_SAFETY"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Prompt was blocked due to safety reasons. Inspect `safety_ratings` to understand which safety category blocked it.",
            "Prompt was blocked due to unknown reasons.",
            "Prompt was blocked due to the terms which are included from the terminology blocklist.",
            "Prompt was blocked due to prohibited content.",
            "Candidates blocked due to unsafe image generation content."
          ],
          "description": "Optional. If set, the prompt was blocked and no candidates are returned. Rephrase the prompt."
        },
        "safetyRatings": {
          "type": "array",
          "items": {
            "$ref": "SafetyRating"
          },
          "description": "Ratings for safety of the prompt. There is at most one rating per category."
        }
      },
      "description": "A set of the feedback metadata the prompt specified in `GenerateContentRequest.content`."
    },
    "Schema": {
      "id": "Schema",
      "type": "object",
      "properties": {
        "pattern": {
          "description": "Optional. Pattern of the Type.STRING to restrict a string to a regular expression.",
          "type": "string"
        },
        "maxItems": {
          "description": "Optional. Maximum number of the elements for Type.ARRAY.",
          "type": "string",
          "format": "int64"
        },
        "required": {
          "description": "Optional. Required properties of Type.OBJECT.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "maximum": {
          "type": "number",
          "format": "double",
          "description": "Optional. Maximum value of the Type.INTEGER and Type.NUMBER"
        },
        "maxProperties": {
          "description": "Optional. Maximum number of the properties for Type.OBJECT.",
          "format": "int64",
          "type": "string"
        },
        "minimum": {
          "format": "double",
          "type": "number",
          "description": "Optional. SCHEMA FIELDS FOR TYPE INTEGER and NUMBER Minimum value of the Type.INTEGER and Type.NUMBER"
        },
        "type": {
          "description": "Required. Data type.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "NUMBER",
            "INTEGER",
            "BOOLEAN",
            "ARRAY",
            "OBJECT",
            "NULL"
          ],
          "enumDescriptions": [
            "Not specified, should not be used.",
            "String type.",
            "Number type.",
            "Integer type.",
            "Boolean type.",
            "Array type.",
            "Object type.",
            "Null type."
          ]
        },
        "minLength": {
          "format": "int64",
          "type": "string",
          "description": "Optional. SCHEMA FIELDS FOR TYPE STRING Minimum length of the Type.STRING"
        },
        "maxLength": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Maximum length of the Type.STRING"
        },
        "description": {
          "description": "Optional. A brief description of the parameter. This could contain examples of use. Parameter description may be formatted as Markdown.",
          "type": "string"
        },
        "title": {
          "description": "Optional. The title of the schema.",
          "type": "string"
        },
        "nullable": {
          "description": "Optional. Indicates if the value may be null.",
          "type": "boolean"
        },
        "minProperties": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Minimum number of the properties for Type.OBJECT."
        },
        "propertyOrdering": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The order of the properties. Not a standard field in open api spec. Used to determine the order of the properties in the response.",
          "type": "array"
        },
        "default": {
          "description": "Optional. Default value of the field. Per JSON Schema, this field is intended for documentation generators and doesn't affect validation. Thus it's included here and ignored so that developers who send schemas with a `default` field don't get unknown-field errors.",
          "type": "any"
        },
        "items": {
          "description": "Optional. Schema of the elements of Type.ARRAY.",
          "$ref": "Schema"
        },
        "format": {
          "description": "Optional. The format of the data. Any value is allowed, but most do not trigger any special functionality.",
          "type": "string"
        },
        "anyOf": {
          "description": "Optional. The value should be validated against any (one or more) of the subschemas in the list.",
          "items": {
            "$ref": "Schema"
          },
          "type": "array"
        },
        "enum": {
          "description": "Optional. Possible values of the element of Type.STRING with enum format. For example we can define an Enum Direction as : {type:STRING, format:enum, enum:[\"EAST\", NORTH\", \"SOUTH\", \"WEST\"]}",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "example": {
          "description": "Optional. Example of the object. Will only populated when the object is the root.",
          "type": "any"
        },
        "minItems": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Minimum number of the elements for Type.ARRAY."
        },
        "properties": {
          "type": "object",
          "description": "Optional. Properties of Type.OBJECT.",
          "additionalProperties": {
            "$ref": "Schema"
          }
        }
      },
      "description": "The `Schema` object allows the definition of input and output data types. These types can be objects, but also primitives and arrays. Represents a select subset of an [OpenAPI 3.0 schema object](https://spec.openapis.org/oas/v3.0.3#schema)."
    },
    "ListFilesResponse": {
      "id": "ListFilesResponse",
      "type": "object",
      "properties": {
        "files": {
          "description": "The list of `File`s.",
          "items": {
            "$ref": "File"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as a `page_token` into a subsequent `ListFiles` call.",
          "type": "string"
        }
      },
      "description": "Response for `ListFiles`."
    },
    "LogprobsResult": {
      "description": "Logprobs Result",
      "id": "LogprobsResult",
      "type": "object",
      "properties": {
        "logProbabilitySum": {
          "type": "number",
          "format": "float",
          "description": "Sum of log probabilities for all tokens."
        },
        "topCandidates": {
          "type": "array",
          "description": "Length = total number of decoding steps.",
          "items": {
            "$ref": "TopCandidates"
          }
        },
        "chosenCandidates": {
          "items": {
            "$ref": "LogprobsResultCandidate"
          },
          "description": "Length = total number of decoding steps. The chosen candidates may or may not be in top_candidates.",
          "type": "array"
        }
      }
    },
    "CodeExecution": {
      "description": "Tool that executes code generated by the model, and automatically returns the result to the model. See also `ExecutableCode` and `CodeExecutionResult` which are only generated when using this tool.",
      "id": "CodeExecution",
      "type": "object",
      "properties": {}
    },
    "CountMessageTokensResponse": {
      "id": "CountMessageTokensResponse",
      "type": "object",
      "properties": {
        "tokenCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of tokens that the `model` tokenizes the `prompt` into. Always non-negative."
        }
      },
      "description": "A response from `CountMessageTokens`. It returns the model's `token_count` for the `prompt`."
    },
    "DownloadMediaResponse": {
      "description": "Response for DownloadMedia.",
      "id": "DownloadMediaResponse",
      "type": "object",
      "properties": {
        "blob": {
          "$ref": "GdataMedia",
          "readOnly": true,
          "description": "Output only. The blob data."
        }
      }
    },
    "BatchEmbedContentsRequest": {
      "id": "BatchEmbedContentsRequest",
      "type": "object",
      "properties": {
        "requests": {
          "items": {
            "$ref": "EmbedContentRequest"
          },
          "description": "Required. Embed requests for the batch. The model in each of these requests must match the model specified `BatchEmbedContentsRequest.model`.",
          "type": "array"
        }
      },
      "description": "Batch request to get embeddings from the model for a list of prompts."
    },
    "DownloadParameters": {
      "description": "Parameters specific to media downloads.",
      "id": "DownloadParameters",
      "type": "object",
      "properties": {
        "ignoreRange": {
          "description": "Determining whether or not Apiary should skip the inclusion of any Content-Range header on its response to Scotty.",
          "type": "boolean"
        },
        "allowGzipCompression": {
          "description": "A boolean to be returned in the response to Scotty. Allows/disallows gzip encoding of the payload content when the server thinks it's advantageous (hence, does not guarantee compression) which allows Scotty to GZip the response to the client.",
          "type": "boolean"
        }
      }
    },
    "TunedModelSource": {
      "id": "TunedModelSource",
      "type": "object",
      "properties": {
        "baseModel": {
          "description": "Output only. The name of the base `Model` this `TunedModel` was tuned from. Example: `models/gemini-1.5-flash-001`",
          "readOnly": true,
          "type": "string"
        },
        "tunedModel": {
          "description": "Immutable. The name of the `TunedModel` to use as the starting point for training the new model. Example: `tunedModels/my-tuned-model`",
          "type": "string"
        }
      },
      "description": "Tuned model as a source for training a new model."
    },
    "SemanticRetrieverConfig": {
      "id": "SemanticRetrieverConfig",
      "type": "object",
      "properties": {
        "query": {
          "description": "Required. Query to use for matching `Chunk`s in the given resource by similarity.",
          "$ref": "Content"
        },
        "maxChunksCount": {
          "description": "Optional. Maximum number of relevant `Chunk`s to retrieve.",
          "type": "integer",
          "format": "int32"
        },
        "source": {
          "description": "Required. Name of the resource for retrieval. Example: `corpora/123` or `corpora/123/documents/abc`.",
          "type": "string"
        },
        "metadataFilters": {
          "description": "Optional. Filters for selecting `Document`s and/or `Chunk`s from the resource.",
          "items": {
            "$ref": "MetadataFilter"
          },
          "type": "array"
        },
        "minimumRelevanceScore": {
          "type": "number",
          "format": "float",
          "description": "Optional. Minimum relevance score for retrieved relevant `Chunk`s."
        }
      },
      "description": "Configuration for retrieving grounding content from a `Corpus` or `Document` created using the Semantic Retriever API."
    },
    "MessagePrompt": {
      "description": "All of the structured input text passed to the model as a prompt. A `MessagePrompt` contains a structured set of fields that provide context for the conversation, examples of user input/model output message pairs that prime the model to respond in different ways, and the conversation history or list of messages representing the alternating turns of the conversation between the user and the model.",
      "id": "MessagePrompt",
      "type": "object",
      "properties": {
        "context": {
          "description": "Optional. Text that should be provided to the model first to ground the response. If not empty, this `context` will be given to the model first before the `examples` and `messages`. When using a `context` be sure to provide it with every request to maintain continuity. This field can be a description of your prompt to the model to help provide context and guide the responses. Examples: \"Translate the phrase from English to French.\" or \"Given a statement, classify the sentiment as happy, sad or neutral.\" Anything included in this field will take precedence over message history if the total input size exceeds the model's `input_token_limit` and the input request is truncated.",
          "type": "string"
        },
        "examples": {
          "type": "array",
          "description": "Optional. Examples of what the model should generate. This includes both user input and the response that the model should emulate. These `examples` are treated identically to conversation messages except that they take precedence over the history in `messages`: If the total input size exceeds the model's `input_token_limit` the input will be truncated. Items will be dropped from `messages` before `examples`.",
          "items": {
            "$ref": "Example"
          }
        },
        "messages": {
          "type": "array",
          "description": "Required. A snapshot of the recent conversation history sorted chronologically. Turns alternate between two authors. If the total input size exceeds the model's `input_token_limit` the input will be truncated: The oldest items will be dropped from `messages`.",
          "items": {
            "$ref": "Message"
          }
        }
      }
    },
    "GroundingAttribution": {
      "description": "Attribution for a source that contributed to an answer.",
      "id": "GroundingAttribution",
      "type": "object",
      "properties": {
        "content": {
          "description": "Grounding source content that makes up this attribution.",
          "$ref": "Content"
        },
        "sourceId": {
          "description": "Output only. Identifier for the source contributing to this attribution.",
          "$ref": "AttributionSourceId",
          "readOnly": true
        }
      }
    },
    "WhiteSpaceConfig": {
      "id": "WhiteSpaceConfig",
      "type": "object",
      "properties": {
        "maxOverlapTokens": {
          "description": "Maximum number of overlapping tokens between two adjacent chunks.",
          "format": "int32",
          "type": "integer"
        },
        "maxTokensPerChunk": {
          "description": "Maximum number of tokens per chunk. Tokens are defined as words for this chunking algorithm. Note: we are defining tokens as words split by whitespace as opposed to the output of a tokenizer. The context window of the latest gemini embedding model as of 2025-04-17 is currently 8192 tokens. We assume that the average word is 5 characters. Therefore, we set the upper limit to 2**9, which is 512 words, or 2560 tokens, assuming worst case a character per token. This is a conservative estimate meant to prevent context window overflow.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Configuration for a white space chunking algorithm [white space delimited]."
    },
    "Blobstore2Info": {
      "id": "Blobstore2Info",
      "type": "object",
      "properties": {
        "blobId": {
          "description": "The blob id, e.g., /blobstore/prod/playground/scotty",
          "type": "string"
        },
        "blobGeneration": {
          "description": "The blob generation id.",
          "type": "string",
          "format": "int64"
        },
        "downloadExternalReadToken": {
          "format": "byte",
          "type": "string",
          "description": "A serialized External Read Token passed from Bigstore -\u003e Scotty for a GCS download. This field must never be consumed outside of Bigstore, and is not applicable to non-GCS media uploads."
        },
        "uploadFragmentListCreationInfo": {
          "format": "byte",
          "type": "string",
          "description": "A serialized Object Fragment List Creation Info passed from Bigstore -\u003e Scotty for a GCS upload. This field must never be consumed outside of Bigstore, and is not applicable to non-GCS media uploads."
        },
        "downloadReadHandle": {
          "description": "Read handle passed from Bigstore -\u003e Scotty for a GCS download. This is a signed, serialized blobstore2.ReadHandle proto which must never be set outside of Bigstore, and is not applicable to non-GCS media downloads.",
          "format": "byte",
          "type": "string"
        },
        "readToken": {
          "description": "The blob read token. Needed to read blobs that have not been replicated. Might not be available until the final call.",
          "type": "string"
        },
        "uploadMetadataContainer": {
          "format": "byte",
          "type": "string",
          "description": "Metadata passed from Blobstore -\u003e Scotty for a new GCS upload. This is a signed, serialized blobstore2.BlobMetadataContainer proto which must never be consumed outside of Bigstore, and is not applicable to non-GCS media uploads."
        }
      },
      "description": "Information to read/write to blobstore2."
    },
    "UrlMetadata": {
      "description": "Context of the a single url retrieval.",
      "id": "UrlMetadata",
      "type": "object",
      "properties": {
        "retrievedUrl": {
          "description": "Retrieved url by the tool.",
          "type": "string"
        },
        "urlRetrievalStatus": {
          "description": "Status of the url retrieval.",
          "type": "string",
          "enum": [
            "URL_RETRIEVAL_STATUS_UNSPECIFIED",
            "URL_RETRIEVAL_STATUS_SUCCESS",
            "URL_RETRIEVAL_STATUS_ERROR",
            "URL_RETRIEVAL_STATUS_PAYWALL",
            "URL_RETRIEVAL_STATUS_UNSAFE"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Url retrieval is successful.",
            "Url retrieval is failed due to error.",
            "Url retrieval is failed because the content is behind paywall.",
            "Url retrieval is failed because the content is unsafe."
          ]
        }
      }
    },
    "PredictLongRunningRequest": {
      "description": "Request message for [PredictionService.PredictLongRunning].",
      "id": "PredictLongRunningRequest",
      "type": "object",
      "properties": {
        "instances": {
          "type": "array",
          "description": "Required. The instances that are the input to the prediction call.",
          "items": {
            "type": "any"
          }
        },
        "parameters": {
          "description": "Optional. The parameters that govern the prediction call.",
          "type": "any"
        }
      }
    },
    "Empty": {
[...]
