{
  "name": "generativelanguage",
  "batchPath": "batch",
  "parameters": {
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "discoveryVersion": "v1",
  "canonicalName": "Generative Language",
  "version_module": true,
  "title": "Gemini API",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://generativelanguage.mtls.googleapis.com/",
  "id": "generativelanguage:v1beta",
  "baseUrl": "https://generativelanguage.googleapis.com/",
  "documentationLink": "https://developers.generativeai.google/api",
  "revision": "20260729",
  "schemas": {
    "SlidingWindow": {
      "properties": {
        "targetTokens": {
          "type": "string",
          "description": "The target number of tokens to keep. The default value is trigger_tokens/2. Discarding parts of the context window causes a temporary latency increase so this value should be calibrated to avoid frequent compression operations.",
          "format": "int64"
        }
      },
      "id": "SlidingWindow",
      "type": "object",
      "description": "The SlidingWindow method operates by discarding content at the beginning of the context window. The resulting context will always begin at the start of a USER role turn. System instructions and any `BidiGenerateContentSetup.prefix_turns` will always remain at the beginning of the result."
    },
    "ObjectId": {
      "type": "object",
      "description": "This is a copy of the tech.blob.ObjectId proto, which could not be used directly here due to transitive closure issues with JavaScript support; see http://b/8801763.",
      "properties": {
        "objectName": {
          "description": "The name of the object.",
          "type": "string"
        },
        "generation": {
          "format": "int64",
          "type": "string",
          "description": "Generation of the object. Generations are monotonically increasing across writes, allowing them to be be compared to determine which generation is newer. If this is omitted in a request, then you are requesting the live object. See http://go/bigstore-versions"
        },
        "bucketName": {
          "description": "The name of the bucket to which this object belongs.",
          "type": "string"
        }
      },
      "id": "ObjectId"
    },
    "SemanticRetrieverChunk": {
      "id": "SemanticRetrieverChunk",
      "properties": {
        "source": {
          "description": "Output only. Name of the source matching the request's `SemanticRetrieverConfig.source`. Example: `corpora/123` or `corpora/123/documents/abc`",
          "readOnly": true,
          "type": "string"
        },
        "chunk": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the `Chunk` containing the attributed text. Example: `corpora/123/documents/abc/chunks/xyz`"
        }
      },
      "description": "Identifier for a `Chunk` retrieved via Semantic Retriever specified in the `GenerateAnswerRequest` using `SemanticRetrieverConfig`.",
      "type": "object"
    },
    "Condition": {
      "id": "Condition",
      "properties": {
        "stringValue": {
          "description": "The string value to filter the metadata on.",
          "type": "string"
        },
        "operation": {
          "type": "string",
          "description": "Required. Operator applied to the given key-value pair to trigger the condition.",
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "LESS",
            "LESS_EQUAL",
            "EQUAL",
            "GREATER_EQUAL",
            "GREATER",
            "NOT_EQUAL",
            "INCLUDES",
            "EXCLUDES"
          ],
          "enumDescriptions": [
            "The default value. This value is unused.",
            "Supported by numeric.",
            "Supported by numeric.",
            "Supported by numeric & string.",
            "Supported by numeric.",
            "Supported by numeric.",
            "Supported by numeric & string.",
            "Supported by string only when `CustomMetadata` value type for the given key has a `string_list_value`.",
            "Supported by string only when `CustomMetadata` value type for the given key has a `string_list_value`."
          ]
        },
        "numericValue": {
          "type": "number",
          "description": "The numeric value to filter the metadata on.",
          "format": "float"
        }
      },
      "description": "Filter condition applicable to a single key.",
      "type": "object"
    },
    "WebSearch": {
      "properties": {},
      "id": "WebSearch",
      "type": "object",
      "description": "Standard web search for grounding and related configurations."
    },
    "PromptFeedback": {
      "description": "A set of the feedback metadata the prompt specified in `GenerateContentRequest.content`.",
      "type": "object",
      "id": "PromptFeedback",
      "properties": {
        "blockReason": {
          "type": "string",
          "description": "Optional. If set, the prompt was blocked and no candidates are returned. Rephrase the prompt.",
          "enum": [
            "BLOCK_REASON_UNSPECIFIED",
            "SAFETY",
            "OTHER",
            "BLOCKLIST",
            "PROHIBITED_CONTENT",
            "IMAGE_SAFETY"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Prompt was blocked due to safety reasons. Inspect `safety_ratings` to understand which safety category blocked it.",
            "Prompt was blocked due to unknown reasons.",
            "Prompt was blocked due to the terms which are included from the terminology blocklist.",
            "Prompt was blocked due to prohibited content.",
            "Candidates blocked due to unsafe image generation content."
          ]
        },
        "safetyRatings": {
          "items": {
            "$ref": "SafetyRating"
          },
          "type": "array",
          "description": "Ratings for safety of the prompt. There is at most one rating per category."
        }
      }
    },
    "GroundingPassageId": {
      "description": "Identifier for a part within a `GroundingPassage`.",
      "type": "object",
      "id": "GroundingPassageId",
      "properties": {
        "partIndex": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Index of the part within the `GenerateAnswerRequest`'s `GroundingPassage.content`."
        },
        "passageId": {
          "description": "Output only. ID of the passage matching the `GenerateAnswerRequest`'s `GroundingPassage.id`.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "DownloadParameters": {
      "properties": {
        "allowGzipCompression": {
          "type": "boolean",
          "description": "A boolean to be returned in the response to Scotty. Allows/disallows gzip encoding of the payload content when the server thinks it's advantageous (hence, does not guarantee compression) which allows Scotty to GZip the response to the client."
        },
        "ignoreRange": {
          "type": "boolean",
          "description": "Determining whether or not Apiary should skip the inclusion of any Content-Range header on its response to Scotty."
        }
      },
      "id": "DownloadParameters",
      "type": "object",
      "description": "Parameters specific to media downloads."
    },
    "ToolResponse": {
      "description": "The output from a server-side `ToolCall` execution. This message contains the results of a tool invocation that was initiated by a `ToolCall` from the model. The client should pass this `ToolResponse` back to the API in a subsequent turn within a `Content` message, along with the corresponding `ToolCall`.",
      "type": "object",
      "id": "ToolResponse",
      "properties": {
        "id": {
          "type": "string",
          "description": "Optional. The identifier of the tool call this response is for."
        },
        "response": {
          "type": "object",
          "description": "Optional. The tool response.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "toolType": {
          "enumDescriptions": [
            "Unspecified tool type.",
            "Google search tool, maps to Tool.google_search.search_types.web_search.",
            "Image search tool, maps to Tool.google_search.search_types.image_search.",
            "URL context tool, maps to Tool.url_context.",
            "Google maps tool, maps to Tool.google_maps.",
            "File search tool, maps to Tool.file_search."
          ],
          "description": "Required. The type of tool that was called, matching the `tool_type` in the corresponding `ToolCall`.",
          "enum": [
            "TOOL_TYPE_UNSPECIFIED",
            "GOOGLE_SEARCH_WEB",
            "GOOGLE_SEARCH_IMAGE",
            "URL_CONTEXT",
            "GOOGLE_MAPS",
            "FILE_SEARCH"
          ],
          "type": "string"
        }
      }
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "id": "ListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      }
    },
    "FileData": {
      "type": "object",
      "description": "URI based data.",
      "properties": {
        "mimeType": {
          "description": "Optional. The IANA standard MIME type of the source data.",
          "type": "string"
        },
        "fileUri": {
          "description": "Required. URI.",
          "type": "string"
        }
      },
      "id": "FileData"
    },
    "ContentEmbedding": {
      "id": "ContentEmbedding",
      "properties": {
        "values": {
          "description": "The embedding values. This is for 3P users only and will not be populated for 1P calls.",
          "type": "array",
          "items": {
            "type": "number",
            "format": "float"
          }
        },
        "shape": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array",
          "description": "This field stores the soft tokens tensor frame shape (e.g. [1, 1, 256, 2048])."
        }
      },
      "description": "A list of floats representing an embedding.",
      "type": "object"
    },
    "Message": {
      "properties": {
        "content": {
          "type": "string",
          "description": "Required. The text content of the structured `Message`."
        },
        "author": {
          "type": "string",
          "description": "Optional. The author of this Message. This serves as a key for tagging the content of this Message when it is fed to the model as text. The author can be any alphanumeric string."
        },
        "citationMetadata": {
          "description": "Output only. Citation information for model-generated `content` in this `Message`. If this `Message` was generated as output from the model, this field may be populated with attribution information for any text included in the `content`. This field is used only on output.",
          "readOnly": true,
          "$ref": "CitationMetadata"
        }
      },
      "id": "Message",
      "type": "object",
      "description": "The base unit of structured text. A `Message` includes an `author` and the `content` of the `Message`. The `author` is used to tag messages when they are fed to the model as text."
    },
    "UrlContext": {
      "type": "object",
      "description": "Tool to support URL context retrieval.",
      "properties": {},
      "id": "UrlContext"
    },
    "ContentFilter": {
      "id": "ContentFilter",
      "properties": {
        "reason": {
          "enumDescriptions": [
            "A blocked reason was not specified.",
            "Content was blocked by safety settings.",
            "Content was blocked, but the reason is uncategorized."
          ],
          "description": "The reason content was blocked during request processing.",
          "enum": [
            "BLOCKED_REASON_UNSPECIFIED",
            "SAFETY",
            "OTHER"
          ],
          "type": "string"
        },
        "message": {
          "description": "A string that describes the filtering behavior in more detail.",
          "type": "string"
        }
      },
      "description": "Content filtering metadata associated with processing a single request. ContentFilter contains a reason and an optional supporting string. The reason may be unspecified.",
      "type": "object"
    },
    "AuthToken": {
      "id": "AuthToken",
      "properties": {
        "name": {
          "description": "Output only. Identifier. The token itself.",
          "readOnly": true,
          "type": "string"
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "Optional. Input only. Immutable. An optional time after which, when using the resulting token, messages in BidiGenerateContent sessions will be rejected. (Gemini may preemptively close the session after this time.) If not set then this defaults to 30 minutes in the future. If set, this value must be less than 20 hours in the future.",
          "type": "string"
        },
        "newSessionExpireTime": {
          "format": "google-datetime",
          "description": "Optional. Input only. Immutable. The time after which new Live API sessions using the token resulting from this request will be rejected. If not set this defaults to 60 seconds in the future. If set, this value must be less than 20 hours in the future.",
          "type": "string"
        },
        "fieldMask": {
          "format": "google-fieldmask",
          "description": "Optional. Input only. Immutable. If field_mask is empty, and `bidi_generate_content_setup` is not present, then the effective `BidiGenerateContentSetup` message is taken from the Live API connection. If field_mask is empty, and `bidi_generate_content_setup` _is_ present, then the effective `BidiGenerateContentSetup` message is taken entirely from `bidi_generate_content_setup` in this request. The setup message from the Live API connection is ignored. If field_mask is not empty, then the corresponding fields from `bidi_generate_content_setup` will overwrite the fields from the setup message in the Live API connection.",
          "type": "string"
        },
        "interactionId": {
          "type": "string",
          "description": "Optional. Input only. Immutable. The interaction ID that this token is scoped to. Specific to the Live Interactions API."
        },
        "bidiGenerateContentSetup": {
          "description": "Optional. Input only. Immutable. Configuration specific to `BidiGenerateContent`.",
          "$ref": "BidiGenerateContentSetup"
        },
        "uses": {
          "format": "int32",
          "description": "Optional. Input only. Immutable. The number of times the token can be used. If this value is zero then no limit is applied. Resuming a Live API session does not count as a use. If unspecified, the default is 1.",
          "type": "integer"
        }
      },
      "description": "A request to create an ephemeral authentication token.",
      "type": "object"
    },
    "HistoryConfig": {
      "properties": {
        "initialHistoryInClientContent": {
          "type": "boolean",
          "description": "Optional. If true, after sending `setup_complete`, the server will wait and at first process `client_content` messages until `turn_complete` is `true`. This initial history will not trigger a model call and may end with role `MODEL`. After `turn_complete` is `true`, the client can start the realtime conversation via `realtime_input`."
        }
      },
      "id": "HistoryConfig",
      "type": "object",
      "description": "History configuration. This message is included in the session configuration as `BidiGenerateContentSetup.history_config`. Configures the exchange of history messages."
    },
    "EmbedContentBatchStats": {
      "properties": {
        "pendingRequestCount": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The number of requests that are still pending processing.",
          "format": "int64"
        },
        "requestCount": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The number of requests in the batch."
        },
        "successfulRequestCount": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The number of requests that were successfully processed."
        },
        "failedRequestCount": {
          "format": "int64",
          "description": "Output only. The number of requests that failed to be processed.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "EmbedContentBatchStats",
      "type": "object",
      "description": "Stats about the batch."
    },
    "GroundingMetadata": {
      "properties": {
        "webSearchQueries": {
          "description": "Web search queries for the following-up web search.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "googleMapsWidgetContextToken": {
          "type": "string",
          "description": "Optional. Resource name of the Google Maps widget context token that can be used with the PlacesContextElement widget in order to render contextual data. Only populated in the case that grounding with Google Maps is enabled."
        },
        "groundingSupports": {
          "type": "array",
          "description": "List of grounding support.",
          "items": {
            "$ref": "GoogleAiGenerativelanguageV1betaGroundingSupport"
          }
        },
        "imageSearchQueries": {
          "type": "array",
          "description": "Image search queries used for grounding.",
          "items": {
            "type": "string"
          }
        },
        "searchEntryPoint": {
          "description": "Optional. Google search entry for the following-up web searches.",
          "$ref": "SearchEntryPoint"
        },
        "retrievalMetadata": {
          "description": "Metadata related to retrieval in the grounding flow.",
          "$ref": "RetrievalMetadata"
        },
        "groundingChunks": {
          "items": {
            "$ref": "GroundingChunk"
          },
          "description": "List of supporting references retrieved from specified grounding source. When streaming, this only contains the grounding chunks that have not been included in the grounding metadata of previous responses.",
          "type": "array"
        }
      },
      "id": "GroundingMetadata",
      "type": "object",
      "description": "Metadata returned to client when grounding is enabled."
    },
    "RegisterFilesResponse": {
      "properties": {
        "files": {
          "items": {
            "$ref": "File"
          },
          "description": "The registered files to be used when calling GenerateContent.",
          "type": "array"
        }
      },
      "id": "RegisterFilesResponse",
      "type": "object",
      "description": "Response for `RegisterFiles`."
    },
    "InputFeedback": {
      "id": "InputFeedback",
      "properties": {
        "blockReason": {
          "description": "Optional. If set, the input was blocked and no candidates are returned. Rephrase the input.",
          "enum": [
            "BLOCK_REASON_UNSPECIFIED",
            "SAFETY",
            "OTHER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Input was blocked due to safety reasons. Inspect `safety_ratings` to understand which safety category blocked it.",
            "Input was blocked due to other reasons."
          ]
        },
        "safetyRatings": {
          "items": {
            "$ref": "SafetyRating"
          },
          "description": "Ratings for safety of the input. There is at most one rating per category.",
          "type": "array"
        }
      },
      "description": "Feedback related to the input data used to answer the question, as opposed to the model-generated response to the question.",
      "type": "object"
    },
    "AttributionSourceId": {
      "properties": {
        "groundingPassage": {
          "$ref": "GroundingPassageId",
          "description": "Identifier for an inline passage."
        },
        "semanticRetrieverChunk": {
          "description": "Identifier for a `Chunk` fetched via Semantic Retriever.",
          "$ref": "SemanticRetrieverChunk"
        }
      },
      "id": "AttributionSourceId",
      "type": "object",
      "description": "Identifier for the source contributing to this attribution."
    },
    "SearchEntryPoint": {
      "properties": {
        "renderedContent": {
          "description": "Optional. Web content snippet that can be embedded in a web page or an app webview.",
          "type": "string"
        },
        "sdkBlob": {
          "description": "Optional. Base64 encoded JSON representing array of tuple.",
          "type": "string",
          "format": "byte"
        }
      },
      "id": "SearchEntryPoint",
      "type": "object",
      "description": "Google search entry point."
    },
    "CountTokensRequest": {
      "type": "object",
      "description": "Counts the number of tokens in the `prompt` sent to a model. Models may tokenize text differently, so each model may return a different `token_count`.",
      "properties": {
        "contents": {
          "items": {
            "$ref": "Content"
          },
          "description": "Optional. The input given to the model as a prompt. This field is ignored when `generate_content_request` is set.",
          "type": "array"
        },
        "generateContentRequest": {
          "description": "Optional. The overall input given to the `Model`. This includes the prompt as well as other model steering information like [system instructions](https://ai.google.dev/gemini-api/docs/system-instructions), and/or function declarations for [function calling](https://ai.google.dev/gemini-api/docs/function-calling). `Model`s/`Content`s and `generate_content_request`s are mutually exclusive. You can either send `Model` + `Content`s or a `generate_content_request`, but never both.",
          "$ref": "GenerateContentRequest"
        }
      },
      "id": "CountTokensRequest"
    },
    "Permission": {
      "description": "Permission resource grants user, group or the rest of the world access to the PaLM API resource (e.g. a tuned model, corpus). A role is a collection of permitted operations that allows users to perform specific actions on PaLM API resources. To make them available to users, groups, or service accounts, you assign roles. When you assign a role, you grant permissions that the role contains. There are three concentric roles. Each role is a superset of the previous role's permitted operations: - reader can use the resource (e.g. tuned model, corpus) for inference - writer has reader's permissions and additionally can edit and share - owner has writer's permissions and additionally can delete",
      "type": "object",
      "id": "Permission",
      "properties": {
        "emailAddress": {
          "type": "string",
          "description": "Optional. Immutable. The email address of the user of group which this permission refers. Field is not set when permission's grantee type is EVERYONE."
        },
        "role": {
          "description": "Required. The role granted by this permission.",
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "WRITER",
            "READER"
          ],
          "type": "string",
          "enumDescriptions": [
            "The default value. This value is unused.",
            "Owner can use, update, share and delete the resource.",
            "Writer can use, update and share the resource.",
            "Reader can use the resource."
          ]
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. The permission name. A unique name will be generated on create. Examples: tunedModels/{tuned_model}/permissions/{permission} corpora/{corpus}/permissions/{permission} Output only."
        },
        "granteeType": {
          "enumDescriptions": [
            "The default value. This value is unused.",
            "Represents a user. When set, you must provide email_address for the user.",
            "Represents a group. When set, you must provide email_address for the group.",
            "Represents access to everyone. No extra information is required."
          ],
          "description": "Optional. Immutable. The type of the grantee.",
          "enum": [
            "GRANTEE_TYPE_UNSPECIFIED",
            "USER",
            "GROUP",
            "EVERYONE"
          ],
          "type": "string"
        }
      }
    },
    "InlinedRequests": {
      "description": "The requests to be processed in the batch if provided as part of the batch creation request.",
      "type": "object",
      "id": "InlinedRequests",
      "properties": {
        "requests": {
          "description": "Required. The requests to be processed in the batch.",
          "type": "array",
          "items": {
            "$ref": "InlinedRequest"
          }
        }
      }
    },
    "GenerateContentResponse": {
      "properties": {
        "candidates": {
          "type": "array",
          "description": "Candidate responses from the model.",
          "items": {
            "$ref": "Candidate"
          }
        },
        "modelVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The model version used to generate the response."
        },
        "usageMetadata": {
          "$ref": "UsageMetadata",
          "readOnly": true,
          "description": "Output only. Metadata on the generation requests' token usage."
        },
        "responseId": {
          "description": "Output only. response_id is used to identify each response.",
          "readOnly": true,
          "type": "string"
        },
        "modelStatus": {
          "readOnly": true,
          "description": "Output only. The current model status of this model.",
          "$ref": "ModelStatus"
        },
        "promptFeedback": {
          "$ref": "PromptFeedback",
          "description": "Returns the prompt's feedback related to the content filters."
        }
      },
      "id": "GenerateContentResponse",
      "type": "object",
      "description": "Response from the model supporting multiple candidate responses. Safety ratings and content filtering are reported for both prompt in `GenerateContentResponse.prompt_feedback` and for each candidate in `finish_reason` and in `safety_ratings`. The API: - Returns either all requested candidates or none of them - Returns no candidates at all only if there was something wrong with the prompt (check `prompt_feedback`) - Reports feedback on each candidate in `finish_reason` and `safety_ratings`."
    },
    "LogprobsResultCandidate": {
      "properties": {
        "tokenId": {
          "format": "int32",
          "type": "integer",
          "description": "The candidate’s token id value."
        },
        "logProbability": {
          "type": "number",
          "description": "The candidate's log probability.",
          "format": "float"
        },
        "token": {
          "description": "The candidate’s token string value.",
          "type": "string"
        }
      },
      "id": "LogprobsResultCandidate",
      "type": "object",
      "description": "Candidate for the logprobs token and score."
    },
    "UrlContextMetadata": {
      "properties": {
        "urlMetadata": {
          "type": "array",
          "description": "List of url context.",
          "items": {
            "$ref": "UrlMetadata"
          }
        }
      },
      "id": "UrlContextMetadata",
      "type": "object",
      "description": "Metadata related to url context retrieval tool."
    },
    "Part": {
      "id": "Part",
      "properties": {
        "fileData": {
          "description": "URI based data.",
          "$ref": "FileData"
        },
        "thoughtSignature": {
          "description": "Optional. An opaque signature for the thought so it can be reused in subsequent requests.",
          "type": "string",
          "format": "byte"
        },
        "toolCall": {
          "$ref": "ToolCall",
          "description": "Server-side tool call. This field is populated when the model predicts a tool invocation that should be executed on the server. The client is expected to echo this message back to the API."
        },
        "codeExecutionResult": {
          "description": "Result of executing the `ExecutableCode`.",
          "$ref": "CodeExecutionResult"
        },
        "functionResponse": {
          "$ref": "FunctionResponse",
          "description": "The result output of a `FunctionCall` that contains a string representing the `FunctionDeclaration.name` and a structured JSON object containing any output from the function is used as context to the model."
        },
        "toolResponse": {
          "$ref": "ToolResponse",
          "description": "The output from a server-side `ToolCall` execution. This field is populated by the client with the results of executing the corresponding `ToolCall`."
        },
        "partMetadata": {
          "description": "Custom metadata associated with the Part. Agents using genai.Part as content representation may need to keep track of the additional information. For example it can be name of a file/source from which the Part originates or a way to multiplex multiple Part streams.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "text": {
          "type": "string",
          "description": "Inline text."
        },
        "executableCode": {
          "$ref": "ExecutableCode",
          "description": "Code generated by the model that is meant to be executed."
        },
        "videoMetadata": {
          "description": "Optional. Video metadata. The metadata should only be specified while the video data is presented in inline_data or file_data.",
          "$ref": "VideoMetadata"
        },
        "inlineData": {
          "$ref": "Blob",
          "description": "Inline media bytes."
        },
        "thought": {
          "description": "Optional. Indicates if the part is thought from the model.",
          "type": "boolean"
        },
        "mediaResolution": {
          "$ref": "V1mainMediaResolution",
          "description": "Optional. Media resolution for the input media."
        },
        "functionCall": {
          "$ref": "FunctionCall",
          "description": "A predicted `FunctionCall` returned from the model that contains a string representing the `FunctionDeclaration.name` with the arguments and their values."
        }
      },
      "description": "A datatype containing media that is part of a multi-part `Content` message. A `Part` consists of data which has an associated datatype. A `Part` can only contain one of the accepted types in `Part.data`. A `Part` must have a fixed IANA MIME type identifying the type and subtype of the media if the `inline_data` field is filled with raw bytes.",
      "type": "object"
    },
    "TransferOwnershipResponse": {
      "properties": {},
      "id": "TransferOwnershipResponse",
      "type": "object",
      "description": "Response from `TransferOwnership`."
    },
    "GdataMedia": {
      "type": "object",
      "description": "A reference to data stored on the filesystem, on GFS or in blobstore.",
      "properties": {
        "hash": {
          "description": "Deprecated, use one of explicit hash type fields instead. These two hash related fields will only be populated on Scotty based media uploads and will contain the content of the hash group in the NotificationRequest: http://cs/#google3/blobstore2/api/scotty/service/proto/upload_listener.proto&q=class:Hash Hex encoded hash value of the uploaded media.",
          "deprecated": true,
          "type": "string"
        },
        "diffVersionResponse": {
          "description": "Set if reference_type is DIFF_VERSION_RESPONSE.",
          "$ref": "DiffVersionResponse"
        },
        "path": {
          "type": "string",
          "description": "Path to the data, set if reference_type is PATH"
        },
        "md5Hash": {
          "format": "byte",
          "description": "Scotty-provided MD5 hash for an upload.",
          "type": "string"
        },
        "downloadParameters": {
          "description": "Parameters for a media download.",
          "$ref": "DownloadParameters"
        },
        "blobstore2Info": {
          "$ref": "Blobstore2Info",
          "description": "Blobstore v2 info, set if reference_type is BLOBSTORE_REF and it refers to a v2 blob."
        },
        "cosmoBinaryReference": {
          "type": "string",
          "description": "A binary data reference for a media download. Serves as a technology-agnostic binary reference in some Google infrastructure. This value is a serialized storage_cosmo.BinaryReference proto. Storing it as bytes is a hack to get around the fact that the cosmo proto (as well as others it includes) doesn't support JavaScript. This prevents us from including the actual type of this field.",
          "format": "byte"
        },
        "objectId": {
          "description": "Reference to a TI Blob, set if reference_type is BIGSTORE_REF.",
          "$ref": "ObjectId"
        },
        "inline": {
          "format": "byte",
          "type": "string",
          "description": "Media data, set if reference_type is INLINE"
        },
        "diffUploadResponse": {
          "description": "Set if reference_type is DIFF_UPLOAD_RESPONSE.",
          "$ref": "DiffUploadResponse"
        },
        "contentType": {
          "description": "MIME type of the data",
          "type": "string"
        },
        "mediaId": {
          "format": "byte",
          "type": "string",
          "description": "Media id to forward to the operation GetMedia. Can be set if reference_type is GET_MEDIA."
        },
        "sha1Hash": {
          "format": "byte",
          "description": "Scotty-provided SHA1 hash for an upload.",
          "type": "string"
        },
        "hashVerified": {
          "type": "boolean",
          "description": "For Scotty uploads only. If a user sends a hash code and the backend has requested that Scotty verify the upload against the client hash, Scotty will perform the check on behalf of the backend and will reject it if the hashes don't match. This is set to true if Scotty performed this verification."
        },
        "compositeMedia": {
          "items": {
            "$ref": "CompositeMedia"
          },
          "type": "array",
          "description": "A composite media composed of one or more media objects, set if reference_type is COMPOSITE_MEDIA. The media length field must be set to the sum of the lengths of all composite media objects. Note: All composite media must have length specified."
        },
        "token": {
          "description": "A unique fingerprint/version id for the media data",
          "type": "string"
        },
        "sha512Hash": {
          "format": "byte",
          "type": "string",
          "description": "Scotty-provided SHA512 hash for an upload."
        },
        "filename": {
          "description": "Original file name",
          "type": "string"
        },
        "referenceType": {
          "type": "string",
          "description": "Describes what the field reference contains.",
          "enum": [
            "PATH",
            "BLOB_REF",
            "INLINE",
            "GET_MEDIA",
            "COMPOSITE_MEDIA",
            "BIGSTORE_REF",
            "DIFF_VERSION_RESPONSE",
            "DIFF_CHECKSUMS_RESPONSE",
            "DIFF_DOWNLOAD_RESPONSE",
            "DIFF_UPLOAD_REQUEST",
            "DIFF_UPLOAD_RESPONSE",
            "COSMO_BINARY_REFERENCE",
            "ARBITRARY_BYTES"
          ],
          "enumDescriptions": [
            "Reference contains a GFS path or a local path.",
            "Reference points to a blobstore object. This could be either a v1 blob_ref or a v2 blobstore2_info. Clients should check blobstore2_info first, since v1 is being deprecated.",
            "Data is included into this proto buffer",
            "Data should be accessed from the current service using the operation GetMedia.",
            "The content for this media object is stored across multiple partial media objects under the composite_media field.",
            "Reference points to a bigstore object",
            "Indicates the data is stored in diff_version_response.",
            "Indicates the data is stored in diff_checksums_response.",
            "Indicates the data is stored in diff_download_response.",
            "Indicates the data is stored in diff_upload_request.",
            "Indicates the data is stored in diff_upload_response.",
            "Indicates the data is stored in cosmo_binary_reference.",
            "Informs Scotty to generate a response payload with the size specified in the length field. The contents of the payload are generated by Scotty and are undefined. This is useful for testing download speeds between the user and Scotty without involving a real payload source. Note: range is not supported when using arbitrary_bytes."
          ]
        },
        "diffUploadRequest": {
          "$ref": "DiffUploadRequest",
          "description": "Set if reference_type is DIFF_UPLOAD_REQUEST."
        },
        "length": {
          "format": "int64",
          "description": "Size of the data, in bytes",
          "type": "string"
        },
        "diffDownloadResponse": {
          "$ref": "DiffDownloadResponse",
          "description": "Set if reference_type is DIFF_DOWNLOAD_RESPONSE."
        },
        "contentTypeInfo": {
          "description": "Extended content type information provided for Scotty uploads.",
          "$ref": "ContentTypeInfo"
        },
        "isPotentialRetry": {
          "description": "|is_potential_retry| is set false only when Scotty is certain that it has not sent the request before. When a client resumes an upload, this field must be set true in agent calls, because Scotty cannot be certain that it has never sent the request before due to potential failure in the session state persistence.",
          "type": "boolean"
        },
        "diffChecksumsResponse": {
          "description": "Set if reference_type is DIFF_CHECKSUMS_RESPONSE.",
          "$ref": "DiffChecksumsResponse"
        },
        "sha256Hash": {
          "format": "byte",
          "type": "string",
          "description": "Scotty-provided SHA256 hash for an upload."
        },
        "algorithm": {
          "description": "Deprecated, use one of explicit hash type fields instead. Algorithm used for calculating the hash. As of 2011/01/21, \"MD5\" is the only possible value for this field. New values may be added at any time.",
          "deprecated": true,
          "type": "string"
        },
        "crc32cHash": {
          "description": "For Scotty Uploads: Scotty-provided hashes for uploads For Scotty Downloads: (WARNING: DO NOT USE WITHOUT PERMISSION FROM THE SCOTTY TEAM.) A Hash provided by the agent to be used to verify the data being downloaded. Currently only supported for inline payloads. Further, only crc32c_hash is currently supported.",
          "type": "integer",
          "format": "uint32"
        },
        "blobRef": {
          "format": "byte",
          "description": "Blobstore v1 reference, set if reference_type is BLOBSTORE_REF This should be the byte representation of a blobstore.BlobRef. Since Blobstore is deprecating v1, use blobstore2_info instead. For now, any v2 blob will also be represented in this field as v1 BlobRef.",
          "deprecated": true,
          "type": "string"
        },
        "bigstoreObjectRef": {
          "format": "byte",
          "description": "Use object_id instead.",
          "deprecated": true,
          "type": "string"
        },
        "timestamp": {
          "format": "uint64",
          "type": "string",
          "description": "Time at which the media data was last updated, in milliseconds since UNIX epoch"
        }
      },
      "id": "GdataMedia"
    },
    "ListTunedModelsResponse": {
      "properties": {
        "tunedModels": {
          "items": {
            "$ref": "TunedModel"
          },
          "description": "The returned Models.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no more pages.",
          "type": "string"
        }
      },
      "id": "ListTunedModelsResponse",
      "type": "object",
      "description": "Response from `ListTunedModels` containing a paginated list of Models."
    },
    "V1mainCreateTunedModelMetadata": {
      "id": "V1mainCreateTunedModelMetadata",
      "properties": {
        "snapshots": {
          "items": {
            "$ref": "V1mainTuningSnapshot"
          },
          "type": "array",
          "description": "Metrics collected during tuning."
        },
        "totalSteps": {
          "format": "int32",
          "description": "The total number of tuning steps.",
          "type": "integer"
        },
        "completedSteps": {
          "type": "integer",
          "description": "The number of steps completed.",
          "format": "int32"
        },
        "completedPercent": {
          "type": "number",
          "description": "The completed percentage for the tuning operation.",
          "format": "float"
        },
        "tunedModel": {
          "type": "string",
          "description": "Name of the tuned model associated with the tuning operation."
        }
      },
      "description": "Metadata about the state and progress of creating a tuned model returned from the long-running operation",
      "type": "object"
    },
    "GroundingPassages": {
      "type": "object",
      "description": "A repeated list of passages.",
      "properties": {
        "passages": {
          "items": {
            "$ref": "GroundingPassage"
          },
          "description": "List of passages.",
          "type": "array"
        }
      },
      "id": "GroundingPassages"
    },
    "StringList": {
      "description": "User provided string values assigned to a single metadata key.",
      "type": "object",
      "id": "StringList",
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "description": "The string values of the metadata to store.",
          "type": "array"
        }
      }
    },
    "InlinedRequest": {
      "properties": {
        "metadata": {
          "description": "Optional. The metadata to be associated with the request.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "request": {
          "description": "Required. The request to be processed in the batch.",
          "$ref": "GenerateContentRequest"
        }
      },
      "id": "InlinedRequest",
      "type": "object",
      "description": "The request to be processed in the batch."
    },
    "InlinedResponse": {
      "description": "The response to a single request in the batch.",
      "type": "object",
      "id": "InlinedResponse",
      "properties": {
        "error": {
          "readOnly": true,
          "description": "Output only. The error encountered while processing the request.",
          "$ref": "Status"
        },
        "metadata": {
          "readOnly": true,
          "type": "object",
          "description": "Output only. The metadata associated with the request.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "response": {
          "$ref": "GenerateContentResponse",
          "description": "Output only. The response to the request.",
          "readOnly": true
        }
      }
    },
    "CountTextTokensRequest": {
      "type": "object",
      "description": "Counts the number of tokens in the `prompt` sent to a model. Models may tokenize text differently, so each model may return a different `token_count`.",
      "properties": {
        "prompt": {
          "$ref": "TextPrompt",
          "description": "Required. The free-form input text given to the model as a prompt."
        }
      },
      "id": "CountTextTokensRequest"
    },
    "ContentTypeInfo": {
      "type": "object",
      "description": "Detailed Content-Type information from Scotty. The Content-Type of the media will typically be filled in by the header or Scotty's best_guess, but this extended information provides the backend with more information so that it can make a better decision if needed. This is only used on media upload requests from Scotty.",
      "properties": {
        "fromFileName": {
          "type": "string",
          "description": "The content type of the file derived from the file extension of the original file name used by the client."
        },
        "fromBytes": {
          "description": "The content type of the file derived by looking at specific bytes (i.e. \"magic bytes\") of the actual file.",
          "type": "string"
        },
        "bestGuess": {
          "type": "string",
          "description": "Scotty's best guess of what the content type of the file is."
        },
        "fromHeader": {
          "description": "The content type of the file as specified in the request headers, multipart headers, or RUPIO start request.",
          "type": "string"
        },
        "fusionIdDetectionMetadata": {
          "type": "string",
          "description": "Metadata information from Fusion ID detection. Serialized FusionIdDetectionMetadata proto. Only set if from_fusion_id is set.",
          "format": "byte"
        },
        "fromFusionId": {
          "type": "string",
          "description": "The content type of the file detected by Fusion ID. go/fusionid"
        },
        "fromUrlPath": {
          "description": "The content type of the file derived from the file extension of the URL path. The URL path is assumed to represent a file name (which is typically only true for agents that are providing a REST API).",
          "type": "string"
        }
      },
      "id": "ContentTypeInfo"
    },
    "MessagePrompt": {
      "type": "object",
      "description": "All of the structured input text passed to the model as a prompt. A `MessagePrompt` contains a structured set of fields that provide context for the conversation, examples of user input/model output message pairs that prime the model to respond in different ways, and the conversation history or list of messages representing the alternating turns of the conversation between the user and the model.",
      "properties": {
        "context": {
          "description": "Optional. Text that should be provided to the model first to ground the response. If not empty, this `context` will be given to the model first before the `examples` and `messages`. When using a `context` be sure to provide it with every request to maintain continuity. This field can be a description of your prompt to the model to help provide context and guide the responses. Examples: \"Translate the phrase from English to French.\" or \"Given a statement, classify the sentiment as happy, sad or neutral.\" Anything included in this field will take precedence over message history if the total input size exceeds the model's `input_token_limit` and the input request is truncated.",
          "type": "string"
        },
        "examples": {
          "items": {
            "$ref": "Example"
          },
          "type": "array",
          "description": "Optional. Examples of what the model should generate. This includes both user input and the response that the model should emulate. These `examples` are treated identically to conversation messages except that they take precedence over the history in `messages`: If the total input size exceeds the model's `input_token_limit` the input will be truncated. Items will be dropped from `messages` before `examples`."
        },
        "messages": {
          "items": {
            "$ref": "Message"
          },
          "type": "array",
          "description": "Required. A snapshot of the recent conversation history sorted chronologically. Turns alternate between two authors. If the total input size exceeds the model's `input_token_limit` the input will be truncated: The oldest items will be dropped from `messages`."
        }
      },
      "id": "MessagePrompt"
    },
    "TuningExample": {
      "description": "A single example for tuning.",
      "type": "object",
      "id": "TuningExample",
      "properties": {
        "textInput": {
          "type": "string",
          "description": "Optional. Text model input."
        },
        "output": {
          "type": "string",
          "description": "Required. The expected model output."
        }
      }
    },
    "Candidate": {
      "properties": {
        "citationMetadata": {
          "$ref": "CitationMetadata",
          "description": "Output only. Citation information for model-generated candidate. This field may be populated with recitation information for any text included in the `content`. These are passages that are \"recited\" from copyrighted material in the foundational LLM's training data.",
          "readOnly": true
        },
        "tokenCount": {
          "format": "int32",
          "description": "Output only. Token count for this candidate.",
          "readOnly": true,
          "type": "integer"
        },
        "groundingMetadata": {
          "description": "Output only. Grounding metadata for the candidate. This field is populated for `GenerateContent` calls.",
          "readOnly": true,
          "$ref": "GroundingMetadata"
        },
        "index": {
          "description": "Output only. Index of the candidate in the list of response candidates.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "content": {
          "readOnly": true,
          "description": "Output only. Generated content returned from the model.",
          "$ref": "Content"
        },
        "avgLogprobs": {
          "format": "double",
          "readOnly": true,
          "type": "number",
          "description": "Output only. Average log probability score of the candidate."
        },
        "finishMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Optional. Output only. Details the reason why the model stopped generating tokens. This is populated only when `finish_reason` is set."
        },
        "urlContextMetadata": {
          "readOnly": true,
          "description": "Output only. Metadata related to url context retrieval tool.",
          "$ref": "UrlContextMetadata"
        },
        "safetyRatings": {
          "items": {
            "$ref": "SafetyRating"
          },
          "type": "array",
          "description": "List of ratings for the safety of a response candidate. There is at most one rating per category."
        },
        "groundingAttributions": {
          "items": {
            "$ref": "GroundingAttribution"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Attribution information for sources that contributed to a grounded answer. This field is populated for `GenerateAnswer` calls."
        },
        "finishReason": {
          "enum": [
            "FINISH_REASON_UNSPECIFIED",
            "STOP",
            "MAX_TOKENS",
            "SAFETY",
            "RECITATION",
            "LANGUAGE",
            "OTHER",
            "BLOCKLIST",
            "PROHIBITED_CONTENT",
            "SPII",
            "MALFORMED_FUNCTION_CALL",
            "IMAGE_SAFETY",
            "IMAGE_PROHIBITED_CONTENT",
            "IMAGE_OTHER",
            "NO_IMAGE",
            "IMAGE_RECITATION",
            "UNEXPECTED_TOOL_CALL",
            "TOO_MANY_TOOL_CALLS",
            "MISSING_THOUGHT_SIGNATURE",
            "MALFORMED_RESPONSE",
            "ESCALATION"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Natural stop point of the model or provided stop sequence.",
            "The maximum number of tokens as specified in the request was reached.",
            "The response candidate content was flagged for safety reasons.",
            "The response candidate content was flagged for recitation reasons.",
            "The response candidate content was flagged for using an unsupported language.",
            "Unknown reason.",
            "Token generation stopped because the content contains forbidden terms.",
            "Token generation stopped for potentially containing prohibited content.",
            "Token generation stopped because the content potentially contains Sensitive Personally Identifiable Information (SPII).",
            "The function call generated by the model is invalid.",
            "Token generation stopped because generated images contain safety violations.",
            "Image generation stopped because generated images has other prohibited content.",
            "Image generation stopped because of other miscellaneous issue.",
            "The model was expected to generate an image, but none was generated.",
            "Image generation stopped due to recitation.",
            "Model generated a tool call but no tools were enabled in the request.",
            "Model called too many tools consecutively, thus the system exited execution.",
            "Request has at least one thought signature missing.",
            "Finished due to malformed response.",
            "Request was filtered by an escalation rule."
          ],
          "description": "Optional. Output only. The reason why the model stopped generating tokens. If empty, the model has not stopped generating tokens."
        },
        "logprobsResult": {
          "$ref": "LogprobsResult",
          "readOnly": true,
          "description": "Output only. Log-likelihood scores for the response tokens and top tokens"
        }
      },
      "id": "Candidate",
      "type": "object",
      "description": "A response candidate generated from the model."
    },
    "RetrievalMetadata": {
      "description": "Metadata related to retrieval in the grounding flow.",
      "type": "object",
      "id": "RetrievalMetadata",
      "properties": {
        "googleSearchDynamicRetrievalScore": {
          "format": "float",
          "description": "Optional. Score indicating how likely information from google search could help answer the prompt. The score is in the range [0, 1], where 0 is the least likely and 1 is the most likely. This score is only populated when google search grounding and dynamic retrieval is enabled. It will be compared to the threshold to determine whether to trigger google search.",
          "type": "number"
        }
      }
    },
    "ListDocumentsResponse": {
      "type": "object",
      "description": "Response from `ListDocuments` containing a paginated list of `Document`s. The `Document`s are sorted by ascending `document.create_time`.",
      "properties": {
        "documents": {
          "description": "The returned `Document`s.",
          "type": "array",
          "items": {
            "$ref": "Document"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no more pages."
        }
      },
      "id": "ListDocumentsResponse"
    },
    "FunctionResponse": {
      "type": "object",
      "description": "The result output from a `FunctionCall` that contains a string representing the `FunctionDeclaration.name` and a structured JSON object containing any output from the function is used as context to the model. This should contain the result of a`FunctionCall` made based on model prediction.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Optional. The identifier of the function call this response is for. Populated by the client to match the corresponding function call `id`."
        },
        "response": {
          "description": "Required. The function response in JSON object format. Callers can use any keys of their choice that fit the function's syntax to return the function output, e.g. \"output\", \"result\", etc. In particular, if the function call failed to execute, the response can have an \"error\" key to return error details to the model. Multimedia can be included by using a subobject containing a single \"$ref\" key whose value is the `inline_data.display_name` of a `FunctionResponsePart` holding the multimedia. See https://ai.google.dev/gemini-api/docs/function-calling#multimodal.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the function to call. Must be a-z, A-Z, 0-9, or contain underscores and dashes, with a maximum length of 128."
        },
        "willContinue": {
          "description": "Optional. Signals that function call continues, and more responses will be returned, turning the function call into a generator. Is only applicable to NON_BLOCKING function calls, is ignored otherwise. If set to false, future responses will not be considered. It is allowed to return empty `response` with `will_continue=False` to signal that the function call is finished. This may still trigger the model generation. To avoid triggering the generation and finish the function call, additionally set `scheduling` to `SILENT`.",
          "type": "boolean"
        },
        "parts": {
          "description": "Optional. Ordered `Parts` that constitute a function response. Parts may have different IANA MIME types.",
          "type": "array",
          "items": {
            "$ref": "FunctionResponsePart"
          }
        },
        "scheduling": {
          "description": "Optional. Specifies how the response should be scheduled in the conversation. Only applicable to NON_BLOCKING function calls, is ignored otherwise. Defaults to WHEN_IDLE.",
          "enum": [
            "SCHEDULING_UNSPECIFIED",
            "SILENT",
            "WHEN_IDLE",
            "INTERRUPT"
          ],
          "type": "string",
          "enumDescriptions": [
            "This value is unused.",
            "Only add the result to the conversation context, do not interrupt or trigger generation.",
            "Add the result to the conversation context, and prompt to generate output without interrupting ongoing generation.",
            "Add the result to the conversation context, interrupt ongoing generation and prompt to generate output."
          ]
        }
      },
      "id": "FunctionResponse"
    },
    "MultiSpeakerVoiceConfig": {
      "type": "object",
      "description": "The configuration for the multi-speaker setup.",
      "properties": {
        "speakerVoiceConfigs": {
          "items": {
            "$ref": "SpeakerVoiceConfig"
          },
          "description": "Required. All the enabled speaker voices.",
          "type": "array"
        }
      },
      "id": "MultiSpeakerVoiceConfig"
    },
    "CountMessageTokensResponse": {
      "type": "object",
      "description": "A response from `CountMessageTokens`. It returns the model's `token_count` for the `prompt`.",
      "properties": {
        "tokenCount": {
          "format": "int32",
          "description": "The number of tokens that the `model` tokenizes the `prompt` into. Always non-negative.",
          "type": "integer"
        }
      },
      "id": "CountMessageTokensResponse"
    },
    "ListPermissionsResponse": {
      "id": "ListPermissionsResponse",
      "properties": {
        "permissions": {
          "items": {
            "$ref": "Permission"
          },
          "description": "Returned permissions.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no more pages.",
          "type": "string"
        }
      },
      "description": "Response from `ListPermissions` containing a paginated list of permissions.",
      "type": "object"
    },
    "ListCorporaResponse": {
      "description": "Response from `ListCorpora` containing a paginated list of `Corpora`. The results are sorted by ascending `corpus.create_time`.",
      "type": "object",
      "id": "ListCorporaResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no more pages.",
          "type": "string"
        },
        "corpora": {
          "items": {
            "$ref": "Corpus"
          },
          "description": "The returned corpora.",
          "type": "array"
        }
      }
    },
    "Schema": {
      "id": "Schema",
      "properties": {
        "enum": {
          "description": "Optional. Possible values of the element of Type.STRING with enum format. For example we can define an Enum Direction as : {type:STRING, format:enum, enum:[\"EAST\", NORTH\", \"SOUTH\", \"WEST\"]}",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "maximum": {
          "type": "number",
          "description": "Optional. Maximum value of the Type.INTEGER and Type.NUMBER",
          "format": "double"
        },
        "description": {
          "type": "string",
          "description": "Optional. A brief description of the parameter. This could contain examples of use. Parameter description may be formatted as Markdown."
        },
        "pattern": {
          "description": "Optional. Pattern of the Type.STRING to restrict a string to a regular expression.",
          "type": "string"
        },
        "propertyOrdering": {
          "type": "array",
          "description": "Optional. The order of the properties. Not a standard field in open api spec. Used to determine the order of the properties in the response.",
          "items": {
            "type": "string"
          }
        },
        "format": {
          "description": "Optional. The format of the data. Any value is allowed, but most do not trigger any special functionality.",
          "type": "string"
        },
        "maxLength": {
          "format": "int64",
          "description": "Optional. Maximum length of the Type.STRING",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Not specified, should not be used.",
            "String type.",
            "Number type.",
            "Integer type.",
            "Boolean type.",
            "Array type.",
            "Object type.",
            "Null type."
          ],
          "type": "string",
          "description": "Required. Data type.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "NUMBER",
            "INTEGER",
            "BOOLEAN",
            "ARRAY",
            "OBJECT",
            "NULL"
          ]
        },
        "items": {
          "description": "Optional. Schema of the elements of Type.ARRAY.",
          "$ref": "Schema"
        },
        "default": {
          "description": "Optional. Default value of the field. Per JSON Schema, this field is intended for documentation generators and doesn't affect validation. Thus it's included here and ignored so that developers who send schemas with a `default` field don't get unknown-field errors.",
          "type": "any"
        },
        "maxItems": {
          "format": "int64",
          "description": "Optional. Maximum number of the elements for Type.ARRAY.",
          "type": "string"
        },
        "minimum": {
          "format": "double",
          "type": "number",
          "description": "Optional. SCHEMA FIELDS FOR TYPE INTEGER and NUMBER Minimum value of the Type.INTEGER and Type.NUMBER"
        },
        "nullable": {
          "description": "Optional. Indicates if the value may be null.",
          "type": "boolean"
        },
        "anyOf": {
          "type": "array",
          "description": "Optional. The value should be validated against any (one or more) of the subschemas in the list.",
          "items": {
            "$ref": "Schema"
          }
        },
        "title": {
          "type": "string",
          "description": "Optional. The title of the schema."
        },
        "required": {
          "type": "array",
          "description": "Optional. Required properties of Type.OBJECT.",
          "items": {
            "type": "string"
          }
        },
        "minItems": {
          "format": "int64",
          "description": "Optional. Minimum number of the elements for Type.ARRAY.",
          "type": "string"
        },
        "minLength": {
          "description": "Optional. SCHEMA FIELDS FOR TYPE STRING Minimum length of the Type.STRING",
          "type": "string",
          "format": "int64"
        },
        "example": {
          "type": "any",
          "description": "Optional. Example of the object. Will only populated when the object is the root."
        },
        "maxProperties": {
          "type": "string",
          "description": "Optional. Maximum number of the properties for Type.OBJECT.",
          "format": "int64"
        },
        "properties": {
          "type": "object",
          "description": "Optional. Properties of Type.OBJECT.",
          "additionalProperties": {
            "$ref": "Schema"
          }
        },
        "minProperties": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Minimum number of the properties for Type.OBJECT."
        }
      },
      "description": "The `Schema` object allows the definition of input and output data types. These types can be objects, but also primitives and arrays. Represents a select subset of an [OpenAPI 3.0 schema object](https://spec.openapis.org/oas/v3.0.3#schema).",
      "type": "object"
    },
    "ModelStatus": {
      "properties": {
        "modelStage": {
          "enum": [
            "MODEL_STAGE_UNSPECIFIED",
            "UNSTABLE_EXPERIMENTAL",
            "EXPERIMENTAL",
            "PREVIEW",
            "STABLE",
            "LEGACY",
            "DEPRECATED",
            "RETIRED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified model stage.",
            "The underlying model is subject to lots of tunings.",
            "Models in this stage are for experimental purposes only.",
            "Models in this stage are more mature than experimental models.",
            "Models in this stage are considered stable and ready for production use.",
            "If the model is on this stage, it means that this model is on the path to deprecation in near future. Only existing customers can use this model.",
            "Models in this stage are deprecated. These models cannot be used.",
            "Models in this stage are retired. These models cannot be used."
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            true,
            false
          ],
          "description": "The stage of the underlying model."
        },
        "message": {
          "description": "A message explaining the model status.",
          "type": "string"
        },
        "retirementTime": {
          "type": "string",
          "description": "The time at which the model will be retired.",
          "format": "google-datetime"
        }
      },
      "id": "ModelStatus",
      "type": "object",
      "description": "The status of the underlying model. This is used to indicate the stage of the underlying model and the retirement time if applicable."
    },
    "CachedContent": {
      "properties": {
        "model": {
          "type": "string",
          "description": "Required. Immutable. The name of the `Model` to use for cached content Format: `models/{model}`"
        },
        "tools": {
          "description": "Optional. Input only. Immutable. A list of `Tools` the model may use to generate the next response",
          "type": "array",
          "items": {
            "$ref": "Tool"
          }
        },
        "displayName": {
          "description": "Optional. Immutable. The user-generated meaningful display name of the cached content. Maximum 128 Unicode characters.",
          "type": "string"
        },
        "systemInstruction": {
          "$ref": "Content",
          "description": "Optional. Input only. Immutable. Developer set system instruction. Currently text only."
        },
        "toolConfig": {
          "$ref": "ToolConfig",
          "description": "Optional. Input only. Immutable. Tool config. This config is shared for all tools."
        },
        "ttl": {
          "format": "google-duration",
          "type": "string",
          "description": "Input only. New TTL for this resource, input only."
        },
        "contents": {
          "description": "Optional. Input only. Immutable. The content to cache.",
          "type": "array",
          "items": {
            "$ref": "Content"
          }
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Creation time of the cache entry.",
          "format": "google-datetime"
        },
        "usageMetadata": {
          "$ref": "CachedContentUsageMetadata",
          "description": "Output only. Metadata on the usage of the cached content.",
          "readOnly": true
        },
        "expireTime": {
          "type": "string",
          "description": "Timestamp in UTC of when this resource is considered expired. This is *always* provided on output, regardless of what was sent on input.",
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. Identifier. The resource name referring to the cached content. Format: `cachedContents/{id}`",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. When the cache entry was last updated in UTC time."
        }
      },
      "id": "CachedContent",
      "type": "object",
      "description": "Content that has been preprocessed and can be used in subsequent request to GenerativeService. Cached content can be only used with model it was created for."
    },
    "DiffChecksumsResponse": {
      "description": "Backend response for a Diff get checksums response. For details on the Scotty Diff protocol, visit http://go/scotty-diff-protocol.",
      "type": "object",
      "id": "DiffChecksumsResponse",
      "properties": {
        "chunkSizeBytes": {
          "type": "string",
          "description": "The chunk size of checksums. Must be a multiple of 256KB.",
          "format": "int64"
        },
        "objectSizeBytes": {
          "description": "The total size of the server object.",
          "type": "string",
          "format": "int64"
        },
        "objectLocation": {
          "description": "If set, calculate the checksums based on the contents and return them to the caller.",
          "$ref": "CompositeMedia"
        },
        "checksumsLocation": {
          "$ref": "CompositeMedia",
          "description": "Exactly one of these fields must be populated. If checksums_location is filled, the server will return the corresponding contents to the user. If object_location is filled, the server will calculate the checksums based on the content there and return that to the user. For details on the format of the checksums, see http://go/scotty-diff-protocol."
        },
        "objectVersion": {
          "description": "The object version of the object the checksums are being returned for.",
          "type": "string"
        }
      }
    },
    "GoogleSearchRetrieval": {
      "properties": {
        "dynamicRetrievalConfig": {
          "$ref": "DynamicRetrievalConfig",
          "description": "Specifies the dynamic retrieval configuration for the given source."
        }
      },
      "id": "GoogleSearchRetrieval",
      "type": "object",
      "description": "Tool to retrieve public web data for grounding, powered by Google."
    },
    "CachedContentUsageMetadata": {
      "id": "CachedContentUsageMetadata",
      "properties": {
        "totalTokenCount": {
          "description": "Total number of tokens that the cached content consumes.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Metadata on the usage of the cached content.",
      "type": "object"
    },
    "GenerateContentBatchOutput": {
      "properties": {
        "inlinedResponses": {
          "$ref": "InlinedResponses",
          "readOnly": true,
          "description": "Output only. The responses to the requests in the batch. Returned when the batch was built using inlined requests. The responses will be in the same order as the input requests."
        },
        "responsesFile": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The file ID of the file containing the responses. The file will be a JSONL file with a single response per line. The responses will be `GenerateContentResponse` messages formatted as JSON. The responses will be written in the same order as the input requests."
        }
      },
      "id": "GenerateContentBatchOutput",
      "type": "object",
      "description": "The output of a batch request. This is returned in the `BatchGenerateContentResponse` or the `GenerateContentBatch.output` field."
    },
    "Hyperparameters": {
      "type": "object",
      "description": "Hyperparameters controlling the tuning process. Read more at https://ai.google.dev/docs/model_tuning_guidance",
      "properties": {
        "learningRateMultiplier": {
          "format": "float",
          "description": "Optional. Immutable. The learning rate multiplier is used to calculate a final learning_rate based on the default (recommended) value. Actual learning rate := learning_rate_multiplier * default learning rate Default learning rate is dependent on base model and dataset size. If not set, a default of 1.0 will be used.",
          "type": "number"
        },
        "batchSize": {
          "description": "Immutable. The batch size hyperparameter for tuning. If not set, a default of 4 or 16 will be used based on the number of training examples.",
          "type": "integer",
          "format": "int32"
        },
        "learningRate": {
          "format": "float",
          "description": "Optional. Immutable. The learning rate hyperparameter for tuning. If not set, a default of 0.001 or 0.0002 will be calculated based on the number of training examples.",
          "type": "number"
        },
        "epochCount": {
          "description": "Immutable. The number of training epochs. An epoch is one pass through the training data. If not set, a default of 5 will be used.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Hyperparameters"
    },
    "GenerateTextResponse": {
      "description": "The response from the model, including candidate completions.",
      "type": "object",
      "id": "GenerateTextResponse",
      "properties": {
        "filters": {
          "items": {
            "$ref": "ContentFilter"
          },
          "description": "A set of content filtering metadata for the prompt and response text. This indicates which `SafetyCategory`(s) blocked a candidate from this response, the lowest `HarmProbability` that triggered a block, and the HarmThreshold setting for that category. This indicates the smallest change to the `SafetySettings` that would be necessary to unblock at least 1 response. The blocking is configured by the `SafetySettings` in the request (or the default `SafetySettings` of the API).",
          "type": "array"
        },
        "candidates": {
          "description": "Candidate responses from the model.",
          "type": "array",
          "items": {
            "$ref": "TextCompletion"
          }
        },
        "safetyFeedback": {
          "description": "Returns any safety feedback related to content filtering.",
          "type": "array",
          "items": {
            "$ref": "SafetyFeedback"
          }
        }
      }
    },
    "ModalityTokenCount": {
      "id": "ModalityTokenCount",
      "properties": {
        "modality": {
          "type": "string",
          "description": "The modality associated with this token count.",
          "enum": [
            "MODALITY_UNSPECIFIED",
            "TEXT",
            "IMAGE",
            "VIDEO",
            "AUDIO",
            "DOCUMENT"
          ],
          "enumDescriptions": [
            "Unspecified modality.",
            "Plain text.",
            "Image.",
            "Video.",
            "Audio.",
            "Document, e.g. PDF."
          ]
        },
        "tokenCount": {
          "format": "int32",
          "type": "integer",
          "description": "Number of tokens."
        }
      },
      "description": "Represents token counting info for a single modality.",
      "type": "object"
    },
    "ListCachedContentsResponse": {
      "id": "ListCachedContentsResponse",
      "properties": {
        "cachedContents": {
          "description": "List of cached contents.",
          "type": "array",
          "items": {
            "$ref": "CachedContent"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response with CachedContents list.",
      "type": "object"
    },
    "V1mainTuningSnapshot": {
      "id": "V1mainTuningSnapshot",
      "properties": {
        "epoch": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The epoch this step was part of."
        },
        "meanLoss": {
          "format": "float",
          "readOnly": true,
          "type": "number",
          "description": "Output only. The mean loss of the training examples for this step."
        },
        "computeTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when this metric was computed."
        },
        "step": {
          "format": "int32",
          "description": "Output only. The tuning step.",
          "readOnly": true,
          "type": "integer"
        }
      },
      "description": "Record for a single tuning step.",
      "type": "object"
    },
    "TuningSnapshot": {
      "description": "Record for a single tuning step.",
      "type": "object",
      "id": "TuningSnapshot",
      "properties": {
        "epoch": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The epoch this step was part of.",
          "format": "int32"
        },
        "meanLoss": {
          "description": "Output only. The mean loss of the training examples for this step.",
          "readOnly": true,
          "type": "number",
          "format": "float"
        },
        "computeTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when this metric was computed.",
          "readOnly": true,
          "type": "string"
        },
        "step": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The tuning step.",
          "format": "int32"
        }
      }
    },
    "ListFileSearchStoresResponse": {
      "type": "object",
      "description": "Response from `ListFileSearchStores` containing a paginated list of `FileSearchStores`. The results are sorted by ascending `file_search_store.create_time`.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no more pages."
        },
        "fileSearchStores": {
          "items": {
            "$ref": "FileSearchStore"
          },
          "type": "array",
          "description": "The returned rag_stores."
        }
      },
      "id": "ListFileSearchStoresResponse"
    },
    "PrebuiltVoiceConfig": {
      "description": "The configuration for the prebuilt speaker to use.",
      "type": "object",
      "id": "PrebuiltVoiceConfig",
      "properties": {
        "voiceName": {
          "description": "The name of the preset voice to use.",
          "type": "string"
        }
      }
    },
    "GroundingPassage": {
      "description": "Passage included inline with a grounding configuration.",
      "type": "object",
      "id": "GroundingPassage",
      "properties": {
        "id": {
          "description": "Identifier for the passage for attributing this passage in grounded answers.",
          "type": "string"
        },
        "content": {
          "$ref": "Content",
          "description": "Content of the passage."
        }
      }
    },
    "TunedModelSource": {
      "properties": {
        "tunedModel": {
          "type": "string",
          "description": "Immutable. The name of the `TunedModel` to use as the starting point for training the new model. Example: `tunedModels/my-tuned-model`"
        },
        "baseModel": {
          "description": "Output only. The name of the base `Model` this `TunedModel` was tuned from. Example: `models/gemini-1.5-flash-001`",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "TunedModelSource",
      "type": "object",
      "description": "Tuned model as a source for training a new model."
    },
    "SpeakerVoiceConfig": {
      "type": "object",
      "description": "The configuration for a single speaker in a multi speaker setup.",
      "properties": {
        "speaker": {
          "type": "string",
          "description": "Required. The name of the speaker to use. Should be the same as in the prompt."
        },
        "voiceConfig": {
          "$ref": "VoiceConfig",
          "description": "Required. The configuration for the voice to use."
        }
      },
      "id": "SpeakerVoiceConfig"
    },
    "Content": {
      "type": "object",
      "description": "The base structured datatype containing multi-part content of a message. A `Content` includes a `role` field designating the producer of the `Content` and a `parts` field containing multi-part data that contains the content of the message turn.",
      "properties": {
        "role": {
          "type": "string",
          "description": "Optional. The producer of the content. Must be either 'user' or 'model'. Useful to set for multi-turn conversations, otherwise can be left blank or unset."
        },
        "parts": {
          "type": "array",
          "description": "Ordered `Parts` that constitute a single message. Parts may have different MIME types.",
          "items": {
            "$ref": "Part"
          }
        }
      },
      "id": "Content"
    },
    "Model": {
      "id": "Model",
      "properties": {
        "topK": {
          "format": "int32",
          "description": "For Top-k sampling. Top-k sampling considers the set of `top_k` most probable tokens. This value specifies default to be used by the backend while making the call to the model. If empty, indicates the model doesn't use top-k sampling, and `top_k` isn't allowed as a generation parameter.",
          "type": "integer"
        },
        "inputTokenLimit": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum number of input tokens allowed for this model."
        },
        "thinking": {
          "description": "Whether the model supports thinking.",
          "type": "boolean"
        },
        "displayName": {
          "type": "string",
          "description": "The human-readable name of the model. E.g. \"Gemini 1.5 Flash\". The name can be up to 128 characters long and can consist of any UTF-8 characters."
        },
        "supportedGenerationMethods": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The model's supported generation methods. The corresponding API method names are defined as Pascal case strings, such as `generateMessage` and `generateContent`."
        },
        "temperature": {
          "description": "Controls the randomness of the output. Values can range over `[0.0,max_temperature]`, inclusive. A higher value will produce responses that are more varied, while a value closer to `0.0` will typically result in less surprising responses from the model. This value specifies default to be used by the backend while making the call to the model.",
          "type": "number",
          "format": "float"
        },
        "description": {
          "type": "string",
          "description": "A short description of the model."
        },
        "topP": {
          "type": "number",
          "description": "For [Nucleus sampling](https://ai.google.dev/gemini-api/docs/prompting-strategies#top-p). Nucleus sampling considers the smallest set of tokens whose probability sum is at least `top_p`. This value specifies default to be used by the backend while making the call to the model.",
          "format": "float"
        },
        "name": {
          "type": "string",
          "description": "Required. The resource name of the `Model`. Refer to [Model variants](https://ai.google.dev/gemini-api/docs/models/gemini#model-variations) for all allowed values. Format: `models/{model}` with a `{model}` naming convention of: * \"{base_model_id}-{version}\" Examples: * `models/gemini-1.5-flash-001`"
        },
        "version": {
          "type": "string",
          "description": "Required. The version number of the model. This represents the major version (`1.0` or `1.5`)"
        },
        "maxTemperature": {
          "format": "float",
          "description": "The maximum temperature this model can use.",
          "type": "number"
        },
        "baseModelId": {
          "description": "Required. The name of the base model, pass this to the generation request. Examples: * `gemini-1.5-flash`",
          "type": "string"
        },
        "outputTokenLimit": {
          "description": "Maximum number of output tokens available for this model.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Information about a Generative Language Model.",
      "type": "object"
    },
    "CustomMetadata": {
      "id": "CustomMetadata",
      "properties": {
        "numericValue": {
          "type": "number",
          "description": "The numeric value of the metadata to store.",
          "format": "float"
        },
        "key": {
          "type": "string",
          "description": "Required. The key of the metadata to store."
        },
        "stringValue": {
          "type": "string",
          "description": "The string value of the metadata to store."
        },
        "stringListValue": {
          "description": "The StringList value of the metadata to store.",
          "$ref": "StringList"
        }
      },
      "description": "User provided metadata stored as key-value pairs.",
      "type": "object"
    },
    "ExecutableCode": {
      "type": "object",
      "description": "Code generated by the model that is meant to be executed, and the result returned to the model. Only generated when using the `CodeExecution` tool, in which the code will be automatically executed, and a corresponding `CodeExecutionResult` will also be generated.",
      "properties": {
        "language": {
          "description": "Required. Programming language of the `code`.",
          "enum": [
            "LANGUAGE_UNSPECIFIED",
            "PYTHON"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified language. This value should not be used.",
            "Python \u003e= 3.10, with numpy and simpy available. Python is the default language."
          ]
        },
        "id": {
          "description": "Optional. Unique identifier of the `ExecutableCode` part. The server returns the `CodeExecutionResult` with the matching `id`.",
          "type": "string"
        },
        "code": {
          "description": "Required. The code to be executed.",
          "type": "string"
        }
      },
      "id": "ExecutableCode"
    },
    "GoogleSearch": {
      "type": "object",
      "description": "GoogleSearch tool type. Tool to support Google Search in Model. Powered by Google.",
      "properties": {
        "searchTypes": {
          "description": "Optional. The set of search types to enable. If not set, web search is enabled by default.",
          "$ref": "SearchTypes"
        },
        "timeRangeFilter": {
          "description": "Optional. Filter search results to a specific time range. If customers set a start time, they must set an end time (and vice versa).",
          "$ref": "Interval"
        }
      },
      "id": "GoogleSearch"
    },
    "RetrievedContext": {
      "type": "object",
      "description": "Chunk from context retrieved by the file search tool.",
      "properties": {
        "fileSearchStore": {
          "type": "string",
          "description": "Optional. Name of the `FileSearchStore` containing the document. Example: `fileSearchStores/123`"
        },
        "uri": {
          "description": "Optional. URI reference of the semantic retrieval document.",
          "type": "string"
        },
        "text": {
          "type": "string",
          "description": "Optional. Text of the chunk."
        },
        "pageNumber": {
          "format": "int32",
          "description": "Optional. Page number of the retrieved context, if applicable.",
          "type": "integer"
        },
        "mediaId": {
          "type": "string",
          "description": "Optional. The media blob resource name for multimodal file search results. Format: fileSearchStores/{file_search_store_id}/media/{blob_id}"
        },
        "title": {
          "description": "Optional. Title of the document.",
          "type": "string"
        },
        "customMetadata": {
          "type": "array",
          "description": "Optional. User-provided metadata about the retrieved context.",
          "items": {
            "$ref": "GroundingChunkCustomMetadata"
          }
        }
      },
      "id": "RetrievedContext"
    },
    "LanguageAuto": {
      "type": "object",
      "description": "Indicates the language of the audio should be automatically detected.",
      "properties": {},
      "id": "LanguageAuto"
    },
    "InlinedEmbedContentRequests": {
      "description": "The requests to be processed in the batch if provided as part of the batch creation request.",
      "type": "object",
      "id": "InlinedEmbedContentRequests",
      "properties": {
        "requests": {
          "type": "array",
          "description": "Required. The requests to be processed in the batch.",
          "items": {
            "$ref": "InlinedEmbedContentRequest"
          }
        }
      }
    },
    "PlaceAnswerSources": {
      "id": "PlaceAnswerSources",
      "properties": {
        "reviewSnippets": {
          "items": {
            "$ref": "ReviewSnippet"
          },
          "description": "Snippets of reviews that are used to generate answers about the features of a given place in Google Maps.",
          "type": "array"
        }
      },
      "description": "Collection of sources that provide answers about the features of a given place in Google Maps. Each PlaceAnswerSources message corresponds to a specific place in Google Maps. The Google Maps tool used these sources in order to answer questions about features of the place (e.g: \"does Bar Foo have Wifi\" or \"is Foo Bar wheelchair accessible?\"). Currently we only support review snippets as sources.",
      "type": "object"
    },
    "StreamableHttpTransport": {
      "id": "StreamableHttpTransport",
      "properties": {
        "headers": {
          "type": "object",
          "description": "Optional: Fields for authentication headers, timeouts, etc., if needed.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "timeout": {
          "format": "google-duration",
          "description": "HTTP timeout for regular operations.",
          "type": "string"
        },
        "sseReadTimeout": {
          "description": "Timeout for SSE read operations.",
          "type": "string",
          "format": "google-duration"
        },
        "terminateOnClose": {
          "description": "Whether to close the client session when the transport closes.",
          "type": "boolean"
        },
        "url": {
          "type": "string",
          "description": "The full URL for the MCPServer endpoint. Example: \"https://api.example.com/mcp\""
        }
      },
      "description": "A transport that can stream HTTP requests and responses. Next ID: 6",
      "type": "object"
    },
    "Document": {
      "id": "Document",
      "properties": {
        "sizeBytes": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The size of raw bytes ingested into the Document."
        },
        "mimeType": {
          "description": "Output only. The mime type of the Document.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The Timestamp of when the `Document` was last updated."
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The `Document` resource name. The ID (name excluding the \"fileSearchStores/*/documents/\" prefix) can contain up to 40 characters that are lowercase alphanumeric or dashes (-). The ID cannot start or end with a dash. If the name is empty on create, a unique name will be derived from `display_name` along with a 12 character random suffix. Example: `fileSearchStores/{file_search_store_id}/documents/my-awesome-doc-123a456b789c`"
        },
        "customMetadata": {
          "description": "Optional. User provided custom metadata stored as key-value pairs used for querying. A `Document` can have a maximum of 20 `CustomMetadata`.",
          "type": "array",
          "items": {
            "$ref": "CustomMetadata"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The Timestamp of when the `Document` was created.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
[...]
