{
  "fullyEncodeReservedExpansion": true,
  "title": "Gemini API",
  "version_module": true,
  "discoveryVersion": "v1",
  "version": "v1beta",
  "schemas": {
    "GenerateTextRequest": {
      "type": "object",
      "properties": {
        "temperature": {
          "type": "number",
          "description": "Optional. Controls the randomness of the output. Note: The default value varies by model, see the `Model.temperature` attribute of the `Model` returned the `getModel` function. Values can range from [0.0,1.0], inclusive. A value closer to 1.0 will produce responses that are more varied and creative, while a value closer to 0.0 will typically result in more straightforward responses from the model.",
          "format": "float"
        },
        "candidateCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Number of generated responses to return. This value must be between [1, 8], inclusive. If unset, this will default to 1."
        },
        "maxOutputTokens": {
          "description": "Optional. The maximum number of tokens to include in a candidate. If unset, this will default to output_token_limit specified in the `Model` specification.",
          "format": "int32",
          "type": "integer"
        },
        "topP": {
          "format": "float",
          "description": "Optional. The maximum cumulative probability of tokens to consider when sampling. The model uses combined Top-k and nucleus sampling. Tokens are sorted based on their assigned probabilities so that only the most likely tokens are considered. Top-k sampling directly limits the maximum number of tokens to consider, while Nucleus sampling limits number of tokens based on the cumulative probability. Note: The default value varies by model, see the `Model.top_p` attribute of the `Model` returned the `getModel` function.",
          "type": "number"
        },
        "stopSequences": {
          "description": "The set of character sequences (up to 5) that will stop output generation. If specified, the API will stop at the first appearance of a stop sequence. The stop sequence will not be included as part of the response.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "topK": {
          "type": "integer",
          "description": "Optional. The maximum number of tokens to consider when sampling. The model uses combined Top-k and nucleus sampling. Top-k sampling considers the set of `top_k` most probable tokens. Defaults to 40. Note: The default value varies by model, see the `Model.top_k` attribute of the `Model` returned the `getModel` function.",
          "format": "int32"
        },
        "safetySettings": {
          "type": "array",
          "description": "Optional. A list of unique `SafetySetting` instances for blocking unsafe content. that will be enforced on the `GenerateTextRequest.prompt` and `GenerateTextResponse.candidates`. There should not be more than one setting for each `SafetyCategory` type. The API will block any prompts and responses that fail to meet the thresholds set by these settings. This list overrides the default settings for each `SafetyCategory` specified in the safety_settings. If there is no `SafetySetting` for a given `SafetyCategory` provided in the list, the API will use the default safety setting for that category. Harm categories HARM_CATEGORY_DEROGATORY, HARM_CATEGORY_TOXICITY, HARM_CATEGORY_VIOLENCE, HARM_CATEGORY_SEXUAL, HARM_CATEGORY_MEDICAL, HARM_CATEGORY_DANGEROUS are supported in text service.",
          "items": {
            "$ref": "SafetySetting"
          }
        },
        "prompt": {
          "description": "Required. The free-form input text given to the model as a prompt. Given a prompt, the model will generate a TextCompletion response it predicts as the completion of the input text.",
          "$ref": "TextPrompt"
        }
      },
      "id": "GenerateTextRequest",
      "description": "Request to generate a text completion response from the model."
    },
    "GenerateContentResponse": {
      "id": "GenerateContentResponse",
      "description": "Response from the model supporting multiple candidate responses. Safety ratings and content filtering are reported for both prompt in `GenerateContentResponse.prompt_feedback` and for each candidate in `finish_reason` and in `safety_ratings`. The API: - Returns either all requested candidates or none of them - Returns no candidates at all only if there was something wrong with the prompt (check `prompt_feedback`) - Reports feedback on each candidate in `finish_reason` and `safety_ratings`.",
      "type": "object",
      "properties": {
        "modelStatus": {
          "description": "Output only. The current model status of this model.",
          "readOnly": true,
          "$ref": "ModelStatus"
        },
        "promptFeedback": {
          "description": "Returns the prompt's feedback related to the content filters.",
          "$ref": "PromptFeedback"
        },
        "responseId": {
          "description": "Output only. response_id is used to identify each response.",
          "readOnly": true,
          "type": "string"
        },
        "candidates": {
          "type": "array",
          "description": "Candidate responses from the model.",
          "items": {
            "$ref": "Candidate"
          }
        },
        "modelVersion": {
          "description": "Output only. The model version used to generate the response.",
          "readOnly": true,
          "type": "string"
        },
        "usageMetadata": {
          "description": "Output only. Metadata on the generation requests' token usage.",
          "readOnly": true,
          "$ref": "UsageMetadata"
        }
      }
    },
    "TunedModelSource": {
      "type": "object",
      "properties": {
        "tunedModel": {
          "description": "Immutable. The name of the `TunedModel` to use as the starting point for training the new model. Example: `tunedModels/my-tuned-model`",
          "type": "string"
        },
        "baseModel": {
          "type": "string",
          "description": "Output only. The name of the base `Model` this `TunedModel` was tuned from. Example: `models/gemini-1.5-flash-001`",
          "readOnly": true
        }
      },
      "id": "TunedModelSource",
      "description": "Tuned model as a source for training a new model."
    },
    "ContentTypeInfo": {
      "type": "object",
      "properties": {
        "fromFileName": {
          "description": "The content type of the file derived from the file extension of the original file name used by the client.",
          "type": "string"
        },
        "fromFusionId": {
          "description": "The content type of the file detected by Fusion ID. go/fusionid",
          "type": "string"
        },
        "bestGuess": {
          "description": "Scotty's best guess of what the content type of the file is.",
          "type": "string"
        },
        "fromHeader": {
          "description": "The content type of the file as specified in the request headers, multipart headers, or RUPIO start request.",
          "type": "string"
        },
        "fromUrlPath": {
          "description": "The content type of the file derived from the file extension of the URL path. The URL path is assumed to represent a file name (which is typically only true for agents that are providing a REST API).",
          "type": "string"
        },
        "fromBytes": {
          "description": "The content type of the file derived by looking at specific bytes (i.e. \"magic bytes\") of the actual file.",
          "type": "string"
        },
        "fusionIdDetectionMetadata": {
          "format": "byte",
          "description": "Metadata information from Fusion ID detection. Serialized FusionIdDetectionMetadata proto. Only set if from_fusion_id is set.",
          "type": "string"
        }
      },
      "id": "ContentTypeInfo",
      "description": "Detailed Content-Type information from Scotty. The Content-Type of the media will typically be filled in by the header or Scotty's best_guess, but this extended information provides the backend with more information so that it can make a better decision if needed. This is only used on media upload requests from Scotty."
    },
    "PlaceAnswerSources": {
      "type": "object",
      "properties": {
        "reviewSnippets": {
          "type": "array",
          "description": "Snippets of reviews that are used to generate answers about the features of a given place in Google Maps.",
          "items": {
            "$ref": "ReviewSnippet"
          }
        }
      },
      "id": "PlaceAnswerSources",
      "description": "Collection of sources that provide answers about the features of a given place in Google Maps. Each PlaceAnswerSources message corresponds to a specific place in Google Maps. The Google Maps tool used these sources in order to answer questions about features of the place (e.g: \"does Bar Foo have Wifi\" or \"is Foo Bar wheelchair accessible?\"). Currently we only support review snippets as sources."
    },
    "CountMessageTokensRequest": {
      "id": "CountMessageTokensRequest",
      "description": "Counts the number of tokens in the `prompt` sent to a model. Models may tokenize text differently, so each model may return a different `token_count`.",
      "type": "object",
      "properties": {
        "prompt": {
          "description": "Required. The prompt, whose token count is to be returned.",
          "$ref": "MessagePrompt"
        }
      }
    },
    "FunctionResponse": {
      "id": "FunctionResponse",
      "description": "The result output from a `FunctionCall` that contains a string representing the `FunctionDeclaration.name` and a structured JSON object containing any output from the function is used as context to the model. This should contain the result of a`FunctionCall` made based on model prediction.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The name of the function to call. Must be a-z, A-Z, 0-9, or contain underscores and dashes, with a maximum length of 128.",
          "type": "string"
        },
        "parts": {
          "type": "array",
          "description": "Optional. Ordered `Parts` that constitute a function response. Parts may have different IANA MIME types.",
          "items": {
            "$ref": "FunctionResponsePart"
          }
        },
        "scheduling": {
          "description": "Optional. Specifies how the response should be scheduled in the conversation. Only applicable to NON_BLOCKING function calls, is ignored otherwise. Defaults to WHEN_IDLE.",
          "enumDescriptions": [
            "This value is unused.",
            "Only add the result to the conversation context, do not interrupt or trigger generation.",
            "Add the result to the conversation context, and prompt to generate output without interrupting ongoing generation.",
            "Add the result to the conversation context, interrupt ongoing generation and prompt to generate output."
          ],
          "type": "string",
          "enum": [
            "SCHEDULING_UNSPECIFIED",
            "SILENT",
            "WHEN_IDLE",
            "INTERRUPT"
          ]
        },
        "id": {
          "description": "Optional. The identifier of the function call this response is for. Populated by the client to match the corresponding function call `id`.",
          "type": "string"
        },
        "willContinue": {
          "description": "Optional. Signals that function call continues, and more responses will be returned, turning the function call into a generator. Is only applicable to NON_BLOCKING function calls, is ignored otherwise. If set to false, future responses will not be considered. It is allowed to return empty `response` with `will_continue=False` to signal that the function call is finished. This may still trigger the model generation. To avoid triggering the generation and finish the function call, additionally set `scheduling` to `SILENT`.",
          "type": "boolean"
        },
        "response": {
          "type": "object",
          "description": "Required. The function response in JSON object format. Callers can use any keys of their choice that fit the function's syntax to return the function output, e.g. \"output\", \"result\", etc. In particular, if the function call failed to execute, the response can have an \"error\" key to return error details to the model. Multimedia can be included by using a subobject containing a single \"$ref\" key whose value is the `inline_data.display_name` of a `FunctionResponsePart` holding the multimedia. See https://ai.google.dev/gemini-api/docs/function-calling#multimodal.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "CitationMetadata": {
      "id": "CitationMetadata",
      "description": "A collection of source attributions for a piece of content.",
      "type": "object",
      "properties": {
        "citationSources": {
          "description": "Citations to sources for a specific response.",
          "items": {
            "$ref": "CitationSource"
          },
          "type": "array"
        }
      }
    },
    "GenerateMessageRequest": {
      "type": "object",
      "properties": {
        "temperature": {
          "type": "number",
          "format": "float",
          "description": "Optional. Controls the randomness of the output. Values can range over `[0.0,1.0]`, inclusive. A value closer to `1.0` will produce responses that are more varied, while a value closer to `0.0` will typically result in less surprising responses from the model."
        },
        "candidateCount": {
          "type": "integer",
          "description": "Optional. The number of generated response messages to return. This value must be between `[1, 8]`, inclusive. If unset, this will default to `1`.",
          "format": "int32"
        },
        "topP": {
          "description": "Optional. The maximum cumulative probability of tokens to consider when sampling. The model uses combined Top-k and nucleus sampling. Nucleus sampling considers the smallest set of tokens whose probability sum is at least `top_p`.",
          "format": "float",
          "type": "number"
        },
        "prompt": {
          "description": "Required. The structured textual input given to the model as a prompt. Given a prompt, the model will return what it predicts is the next message in the discussion.",
          "$ref": "MessagePrompt"
        },
        "topK": {
          "description": "Optional. The maximum number of tokens to consider when sampling. The model uses combined Top-k and nucleus sampling. Top-k sampling considers the set of `top_k` most probable tokens.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GenerateMessageRequest",
      "description": "Request to generate a message response from the model."
    },
    "EmbedContentRequest": {
      "type": "object",
      "properties": {
        "model": {
          "description": "Required. The model's resource name. This serves as an ID for the Model to use. This name should match a model name returned by the `ListModels` method. Format: `models/{model}`",
          "type": "string"
        },
        "title": {
          "description": "Optional. Deprecated: Please use EmbedContentConfig.title instead. An optional title for the text. Only applicable when TaskType is `RETRIEVAL_DOCUMENT`. Note: Specifying a `title` for `RETRIEVAL_DOCUMENT` provides better quality embeddings for retrieval.",
          "deprecated": true,
          "type": "string"
        },
        "outputDimensionality": {
          "type": "integer",
          "description": "Optional. Deprecated: Please use EmbedContentConfig.output_dimensionality instead. Optional reduced dimension for the output embedding. If set, excessive values in the output embedding are truncated from the end. Supported by newer models since 2024 only. You cannot set this value if using the earlier model (`models/embedding-001`).",
          "deprecated": true,
          "format": "int32"
        },
        "content": {
          "description": "Required. The content to embed. Only the `parts.text` fields will be counted.",
          "$ref": "Content"
        },
        "taskType": {
          "deprecated": true,
          "enumDescriptions": [
            "Unset value, which will default to one of the other enum values.",
            "Specifies the given text is a query in a search/retrieval setting.",
            "Specifies the given text is a document from the corpus being searched.",
            "Specifies the given text will be used for STS.",
            "Specifies that the given text will be classified.",
            "Specifies that the embeddings will be used for clustering.",
            "Specifies that the given text will be used for question answering.",
            "Specifies that the given text will be used for fact verification.",
            "Specifies that the given text will be used for code retrieval."
          ],
          "description": "Optional. Deprecated: Please use EmbedContentConfig.task_type instead. Optional task type for which the embeddings will be used. Not supported on earlier models (`models/embedding-001`).",
          "enum": [
            "TASK_TYPE_UNSPECIFIED",
            "RETRIEVAL_QUERY",
            "RETRIEVAL_DOCUMENT",
            "SEMANTIC_SIMILARITY",
            "CLASSIFICATION",
            "CLUSTERING",
            "QUESTION_ANSWERING",
            "FACT_VERIFICATION",
            "CODE_RETRIEVAL_QUERY"
          ],
          "type": "string"
        },
        "embedContentConfig": {
          "description": "Optional. Configuration for the EmbedContent request.",
          "$ref": "EmbedContentConfig"
        }
      },
      "id": "EmbedContentRequest",
      "description": "Request containing the `Content` for the model to embed."
    },
    "FunctionResponsePart": {
      "type": "object",
      "properties": {
        "inlineData": {
          "description": "Inline media bytes.",
          "$ref": "FunctionResponseBlob"
        }
      },
      "id": "FunctionResponsePart",
      "description": "A datatype containing media that is part of a `FunctionResponse` message. A `FunctionResponsePart` consists of data which has an associated datatype. A `FunctionResponsePart` can only contain one of the accepted types in `FunctionResponsePart.data`. A `FunctionResponsePart` must have a fixed IANA MIME type identifying the type and subtype of the media if the `inline_data` field is filled with raw bytes."
    },
    "AudioTranscriptionConfig": {
      "type": "object",
      "properties": {
        "languageAuto": {
          "description": "Optional. The model will detect the language automatically.",
          "$ref": "LanguageAuto"
        },
        "languageHints": {
          "description": "Optional. Specifies one or more languages in the audio.",
          "$ref": "LanguageHints"
        },
        "adaptationPhrases": {
          "description": "Optional. A list of phrases used for speech adaptation, which biases the ASR model to improve recognition of these specific terms.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "AudioTranscriptionConfig",
      "description": "The audio transcription configuration."
    },
    "Corpus": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Optional. The human-readable display name for the `Corpus`. The display name must be no more than 512 characters in length, including spaces. Example: \"Docs on Semantic Retriever\"",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The Timestamp of when the `Corpus` was created.",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The Timestamp of when the `Corpus` was last updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Output only. Immutable. Identifier. The `Corpus` resource name. The ID (name excluding the \"corpora/\" prefix) can contain up to 40 characters that are lowercase alphanumeric or dashes (-). The ID cannot start or end with a dash. If the name is empty on create, a unique name will be derived from `display_name` along with a 12 character random suffix. Example: `corpora/my-awesome-corpora-123a456b789c`",
          "readOnly": true
        }
      },
      "id": "Corpus",
      "description": "A `Corpus` is a collection of `Document`s. A project can create up to 10 corpora."
    },
    "ListFilesResponse": {
      "id": "ListFilesResponse",
      "description": "Response for `ListFiles`.",
      "type": "object",
      "properties": {
        "files": {
          "type": "array",
          "description": "The list of `File`s.",
          "items": {
            "$ref": "File"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as a `page_token` into a subsequent `ListFiles` call.",
          "type": "string"
        }
      }
    },
    "ResponseFormatConfig": {
      "id": "ResponseFormatConfig",
      "description": "Configuration for the response output format. This is a flat object where each optional sub-field configures a specific output modality.",
      "type": "object",
      "properties": {
        "image": {
          "description": "Optional. Image output format configuration.",
          "$ref": "ImageResponseFormat"
        },
        "audio": {
          "description": "Optional. Audio output format configuration.",
          "$ref": "AudioResponseFormat"
        },
        "text": {
          "description": "Optional. Text output format configuration.",
          "$ref": "TextResponseFormat"
        }
      }
    },
    "AudioResponseFormat": {
      "type": "object",
      "properties": {
        "mimeType": {
          "description": "Optional. The MIME type of the audio output.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "MP3 audio format.",
            "OGG Opus audio format.",
            "Raw PCM (L16) audio format.",
            "WAV audio format.",
            "A-law audio format.",
            "Mu-law audio format."
          ],
          "type": "string",
          "enum": [
            "MIME_TYPE_UNSPECIFIED",
            "AUDIO_MP3",
            "AUDIO_OGG_OPUS",
            "AUDIO_L16",
            "AUDIO_WAV",
            "AUDIO_ALAW",
            "AUDIO_MULAW"
          ]
        },
        "bitRate": {
          "description": "Optional. Bit rate in bits per second (bps). Only applicable for compressed formats (MP3, Opus).",
          "format": "int32",
          "type": "integer"
        },
        "delivery": {
          "type": "string",
          "enum": [
            "DELIVERY_UNSPECIFIED",
            "INLINE",
            "URI"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Audio data is returned inline in the response.",
            "Audio data is returned as a URI."
          ],
          "description": "Optional. The delivery mode for the audio output."
        },
        "sampleRate": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Sample rate in Hz."
        }
      },
      "id": "AudioResponseFormat",
      "description": "Configuration for audio output format."
    },
    "CodeExecutionResult": {
      "id": "CodeExecutionResult",
      "description": "Result of executing the `ExecutableCode`. Generated only when the `CodeExecution` tool is used.",
      "type": "object",
      "properties": {
        "output": {
          "description": "Optional. Contains stdout when code execution is successful, stderr or other description otherwise.",
          "type": "string"
        },
        "id": {
          "description": "Optional. The identifier of the `ExecutableCode` part this result is for. Only populated if the corresponding `ExecutableCode` has an id.",
          "type": "string"
        },
        "outcome": {
          "description": "Required. Outcome of the code execution.",
          "enumDescriptions": [
            "Unspecified status. This value should not be used.",
            "Code execution completed successfully. `output` contains the stdout, if any.",
            "Code execution failed. `output` contains the stderr and stdout, if any.",
            "Code execution ran for too long, and was cancelled. There may or may not be a partial `output` present."
          ],
          "type": "string",
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "OUTCOME_OK",
            "OUTCOME_FAILED",
            "OUTCOME_DEADLINE_EXCEEDED"
          ]
        }
      }
    },
    "EmbedTextResponse": {
      "type": "object",
      "properties": {
        "embedding": {
          "description": "Output only. The embedding generated from the input text.",
          "readOnly": true,
          "$ref": "Embedding"
        }
      },
      "id": "EmbedTextResponse",
      "description": "The response to a EmbedTextRequest."
    },
    "ImageSearch": {
      "type": "object",
      "properties": {},
      "id": "ImageSearch",
      "description": "Image search for grounding and related configurations."
    },
    "TuningExample": {
      "id": "TuningExample",
      "description": "A single example for tuning.",
      "type": "object",
      "properties": {
        "textInput": {
          "description": "Optional. Text model input.",
          "type": "string"
        },
        "output": {
          "description": "Required. The expected model output.",
          "type": "string"
        }
      }
    },
    "CountTextTokensResponse": {
      "id": "CountTextTokensResponse",
      "description": "A response from `CountTextTokens`. It returns the model's `token_count` for the `prompt`.",
      "type": "object",
      "properties": {
        "tokenCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of tokens that the `model` tokenizes the `prompt` into. Always non-negative."
        }
      }
    },
    "FunctionCall": {
      "id": "FunctionCall",
      "description": "A predicted `FunctionCall` returned from the model that contains a string representing the `FunctionDeclaration.name` with the arguments and their values.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The name of the function to call. Must be a-z, A-Z, 0-9, or contain underscores and dashes, with a maximum length of 128.",
          "type": "string"
        },
        "args": {
          "description": "Optional. The function parameters and values in JSON object format.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "id": {
          "description": "Optional. Unique identifier of the function call. If populated, the client to execute the `function_call` and return the response with the matching `id`.",
          "type": "string"
        }
      }
    },
    "ReviewSnippet": {
      "type": "object",
      "properties": {
        "googleMapsUri": {
          "description": "A link that corresponds to the user review on Google Maps.",
          "type": "string"
        },
        "reviewId": {
          "description": "The ID of the review snippet.",
          "type": "string"
        },
        "title": {
          "description": "Title of the review.",
          "type": "string"
        }
      },
      "id": "ReviewSnippet",
      "description": "Encapsulates a snippet of a user review that answers a question about the features of a specific place in Google Maps."
    },
    "GroundingAttribution": {
      "type": "object",
      "properties": {
        "content": {
          "description": "Grounding source content that makes up this attribution.",
          "$ref": "Content"
        },
        "sourceId": {
          "description": "Output only. Identifier for the source contributing to this attribution.",
          "readOnly": true,
          "$ref": "AttributionSourceId"
        }
      },
      "id": "GroundingAttribution",
      "description": "Attribution for a source that contributed to an answer."
    },
    "GeneratedFile": {
      "id": "GeneratedFile",
      "description": "A file generated on behalf of a user.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The name of the generated file. Example: `generatedFiles/abc-123`",
          "type": "string"
        },
        "mimeType": {
          "description": "MIME type of the generatedFile.",
          "type": "string"
        },
        "error": {
          "description": "Error details if the GeneratedFile ends up in the STATE_FAILED state.",
          "$ref": "Status"
        },
        "state": {
          "description": "Output only. The state of the GeneratedFile.",
          "readOnly": true,
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "Being generated.",
            "Generated and is ready for download.",
            "Failed to generate the GeneratedFile."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "GENERATING",
            "GENERATED",
            "FAILED"
          ],
          "type": "string"
        }
      }
    },
    "ComputerUse": {
      "id": "ComputerUse",
      "description": "Computer Use tool type.",
      "type": "object",
      "properties": {
        "disabledSafetyPolicies": {
          "description": "Optional. Disabled safety policies for computer use.",
          "items": {
            "enumDescriptions": [
              "Unspecified safety policy.",
              "Safety policy for financial transactions.",
              "Safety policy for sensitive data modification.",
              "Safety policy for communication tools (e.g. Gmail, Chat, Meet).",
              "Safety policy for account creation.",
              "Safety policy for data modification.",
              "Safety policy for user consent management.",
              "Safety policy for legal terms and agreements."
            ],
            "type": "string",
            "enum": [
              "SAFETY_POLICY_UNSPECIFIED",
              "FINANCIAL_TRANSACTIONS",
              "SENSITIVE_DATA_MODIFICATION",
              "COMMUNICATION_TOOL",
              "ACCOUNT_CREATION",
              "DATA_MODIFICATION",
              "USER_CONSENT_MANAGEMENT",
              "LEGAL_TERMS_AND_AGREEMENTS"
            ]
          },
          "type": "array"
        },
        "environment": {
          "type": "string",
          "enum": [
            "ENVIRONMENT_UNSPECIFIED",
            "ENVIRONMENT_BROWSER",
            "ENVIRONMENT_MOBILE",
            "ENVIRONMENT_DESKTOP"
          ],
          "description": "Required. The environment being operated.",
          "enumDescriptions": [
            "Defaults to browser.",
            "Operates in a web browser.",
            "Operates in a mobile environment.",
            "Operates in a desktop environment."
          ]
        },
        "enablePromptInjectionDetection": {
          "description": "Optional. Whether enable the prompt injection detection check on computer-use request.",
          "type": "boolean"
        },
        "excludedPredefinedFunctions": {
          "type": "array",
          "description": "Optional. By default, predefined functions are included in the final model call. Some of them can be explicitly excluded from being automatically included. This can serve two purposes: 1. Using a more restricted / different action space. 2. Improving the definitions / instructions of predefined functions.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "FileSearch": {
      "type": "object",
      "properties": {
        "fileSearchStoreNames": {
          "description": "Required. The names of the file_search_stores to retrieve from. Example: `fileSearchStores/my-file-search-store-123`",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "topK": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of semantic retrieval chunks to retrieve."
        },
        "metadataFilter": {
          "description": "Optional. Metadata filter to apply to the semantic retrieval documents and chunks.",
          "type": "string"
        }
      },
      "id": "FileSearch",
      "description": "The FileSearch tool that retrieves knowledge from Semantic Retrieval corpora. Files are imported to Semantic Retrieval corpora using the ImportFile API."
    },
    "PredictLongRunningRequest": {
      "type": "object",
      "properties": {
        "instances": {
          "description": "Required. The instances that are the input to the prediction call.",
          "items": {
            "type": "any"
          },
          "type": "array"
        },
        "parameters": {
          "description": "Optional. The parameters that govern the prediction call.",
          "type": "any"
        }
      },
      "id": "PredictLongRunningRequest",
      "description": "Request message for [PredictionService.PredictLongRunning]."
    },
    "BatchEmbedTextResponse": {
      "type": "object",
      "properties": {
        "embeddings": {
          "description": "Output only. The embeddings generated from the input text.",
          "readOnly": true,
          "items": {
            "$ref": "Embedding"
          },
          "type": "array"
        }
      },
      "id": "BatchEmbedTextResponse",
      "description": "The response to a EmbedTextRequest."
    },
    "CountTokensResponse": {
      "id": "CountTokensResponse",
      "description": "A response from `CountTokens`. It returns the model's `token_count` for the `prompt`.",
      "type": "object",
      "properties": {
        "totalTokens": {
          "type": "integer",
          "description": "The number of tokens that the `Model` tokenizes the `prompt` into. Always non-negative.",
          "format": "int32"
        },
        "cachedContentTokenCount": {
          "type": "integer",
          "description": "Number of tokens in the cached part of the prompt (the cached content).",
          "format": "int32"
        },
        "cacheTokensDetails": {
          "type": "array",
          "description": "Output only. List of modalities that were processed in the cached content.",
          "readOnly": true,
          "items": {
            "$ref": "ModalityTokenCount"
          }
        },
        "promptTokensDetails": {
          "description": "Output only. List of modalities that were processed in the request input.",
          "readOnly": true,
          "items": {
            "$ref": "ModalityTokenCount"
          },
          "type": "array"
        }
      }
    },
    "Blobstore2Info": {
      "id": "Blobstore2Info",
      "description": "Information to read/write to blobstore2.",
      "type": "object",
      "properties": {
        "readToken": {
          "description": "The blob read token. Needed to read blobs that have not been replicated. Might not be available until the final call.",
          "type": "string"
        },
        "downloadReadHandle": {
          "format": "byte",
          "description": "Read handle passed from Bigstore -\u003e Scotty for a GCS download. This is a signed, serialized blobstore2.ReadHandle proto which must never be set outside of Bigstore, and is not applicable to non-GCS media downloads.",
          "type": "string"
        },
        "blobId": {
          "description": "The blob id, e.g., /blobstore/prod/playground/scotty",
          "type": "string"
        },
        "downloadExternalReadToken": {
          "description": "A serialized External Read Token passed from Bigstore -\u003e Scotty for a GCS download. This field must never be consumed outside of Bigstore, and is not applicable to non-GCS media uploads.",
          "format": "byte",
          "type": "string"
        },
        "uploadFragmentListCreationInfo": {
          "format": "byte",
          "description": "A serialized Object Fragment List Creation Info passed from Bigstore -\u003e Scotty for a GCS upload. This field must never be consumed outside of Bigstore, and is not applicable to non-GCS media uploads.",
          "type": "string"
        },
        "blobGeneration": {
          "type": "string",
          "format": "int64",
          "description": "The blob generation id."
        },
        "uploadMetadataContainer": {
          "format": "byte",
          "description": "Metadata passed from Blobstore -\u003e Scotty for a new GCS upload. This is a signed, serialized blobstore2.BlobMetadataContainer proto which must never be consumed outside of Bigstore, and is not applicable to non-GCS media uploads.",
          "type": "string"
        }
      }
    },
    "InlinedRequests": {
      "type": "object",
      "properties": {
        "requests": {
          "type": "array",
          "description": "Required. The requests to be processed in the batch.",
          "items": {
            "$ref": "InlinedRequest"
          }
        }
      },
      "id": "InlinedRequests",
      "description": "The requests to be processed in the batch if provided as part of the batch creation request."
    },
    "File": {
      "type": "object",
      "properties": {
        "error": {
          "description": "Output only. Error status if File processing failed.",
          "readOnly": true,
          "$ref": "Status"
        },
        "videoMetadata": {
          "description": "Output only. Metadata for a video.",
          "readOnly": true,
          "$ref": "VideoFileMetadata"
        },
        "sha256Hash": {
          "type": "string",
          "description": "Output only. SHA-256 hash of the uploaded bytes.",
          "readOnly": true,
          "format": "byte"
        },
        "sizeBytes": {
          "format": "int64",
          "description": "Output only. Size of the file in bytes.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Optional. The human-readable display name for the `File`. The display name must be no more than 512 characters in length, including spaces. Example: \"Welcome Image\"",
          "type": "string"
        },
        "name": {
          "description": "Immutable. Identifier. The `File` resource name. The ID (name excluding the \"files/\" prefix) can contain up to 40 characters that are lowercase alphanumeric or dashes (-). The ID cannot start or end with a dash. If the name is empty on create, a unique name will be generated. Example: `files/123-456`",
          "type": "string"
        },
        "source": {
          "type": "string",
          "enum": [
            "SOURCE_UNSPECIFIED",
            "UPLOADED",
            "GENERATED",
            "REGISTERED"
          ],
          "enumDescriptions": [
            "Used if source is not specified.",
            "Indicates the file is uploaded by the user.",
            "Indicates the file is generated by Google.",
            "Indicates the file is a registered, i.e. a Google Cloud Storage file."
          ],
          "description": "Source of the File."
        },
        "expirationTime": {
          "description": "Output only. The timestamp of when the `File` will be deleted. Only set if the `File` is scheduled to expire.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp of when the `File` was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "uri": {
          "description": "Output only. The uri of the `File`.",
          "readOnly": true,
          "type": "string"
        },
        "downloadUri": {
          "type": "string",
          "description": "Output only. The download uri of the `File`.",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROCESSING",
            "ACTIVE",
            "FAILED"
          ],
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "File is being processed and cannot be used for inference yet.",
            "File is processed and available for inference.",
            "File failed processing."
          ],
          "description": "Output only. Processing state of the File.",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp of when the `File` was created.",
          "readOnly": true,
          "type": "string"
        },
        "mimeType": {
          "type": "string",
          "description": "Output only. MIME type of the file.",
          "readOnly": true
        }
      },
      "id": "File",
      "description": "A file uploaded to the API. Next ID: 15"
    },
    "GenerateAnswerRequest": {
      "id": "GenerateAnswerRequest",
      "description": "Request to generate a grounded answer from the `Model`.",
      "type": "object",
      "properties": {
        "answerStyle": {
          "description": "Required. Style in which answers should be returned.",
          "enumDescriptions": [
            "Unspecified answer style.",
            "Succinct but abstract style.",
            "Very brief and extractive style.",
            "Verbose style including extra details. The response may be formatted as a sentence, paragraph, multiple paragraphs, or bullet points, etc."
          ],
          "type": "string",
          "enum": [
            "ANSWER_STYLE_UNSPECIFIED",
            "ABSTRACTIVE",
            "EXTRACTIVE",
            "VERBOSE"
          ]
        },
        "contents": {
          "description": "Required. The content of the current conversation with the `Model`. For single-turn queries, this is a single question to answer. For multi-turn queries, this is a repeated field that contains conversation history and the last `Content` in the list containing the question. Note: `GenerateAnswer` only supports queries in English.",
          "items": {
            "$ref": "Content"
          },
          "type": "array"
        },
        "safetySettings": {
          "type": "array",
          "description": "Optional. A list of unique `SafetySetting` instances for blocking unsafe content. This will be enforced on the `GenerateAnswerRequest.contents` and `GenerateAnswerResponse.candidate`. There should not be more than one setting for each `SafetyCategory` type. The API will block any contents and responses that fail to meet the thresholds set by these settings. This list overrides the default settings for each `SafetyCategory` specified in the safety_settings. If there is no `SafetySetting` for a given `SafetyCategory` provided in the list, the API will use the default safety setting for that category. Harm categories HARM_CATEGORY_HATE_SPEECH, HARM_CATEGORY_SEXUALLY_EXPLICIT, HARM_CATEGORY_DANGEROUS_CONTENT, HARM_CATEGORY_HARASSMENT are supported. Refer to the [guide](https://ai.google.dev/gemini-api/docs/safety-settings) for detailed information on available safety settings. Also refer to the [Safety guidance](https://ai.google.dev/gemini-api/docs/safety-guidance) to learn how to incorporate safety considerations in your AI applications.",
          "items": {
            "$ref": "SafetySetting"
          }
        },
        "semanticRetriever": {
          "description": "Content retrieved from resources created via the Semantic Retriever API.",
          "$ref": "SemanticRetrieverConfig"
        },
        "inlinePassages": {
          "description": "Passages provided inline with the request.",
          "$ref": "GroundingPassages"
        },
        "temperature": {
          "format": "float",
          "description": "Optional. Controls the randomness of the output. Values can range from [0.0,1.0], inclusive. A value closer to 1.0 will produce responses that are more varied and creative, while a value closer to 0.0 will typically result in more straightforward responses from the model. A low temperature (~0.2) is usually recommended for Attributed-Question-Answering use cases.",
          "type": "number"
        }
      }
    },
    "VideoMetadata": {
      "type": "object",
      "id": "VideoMetadata",
      "description": "Deprecated: Use `GenerateContentRequest.processing_options` instead. Metadata describes the input video content.",
      "deprecated": true,
      "properties": {
        "startOffset": {
          "format": "google-duration",
          "description": "Optional. The start offset of the video.",
          "type": "string"
        },
        "endOffset": {
          "format": "google-duration",
          "description": "Optional. The end offset of the video.",
          "type": "string"
        },
        "fps": {
          "type": "number",
          "format": "double",
          "description": "Optional. The frame rate of the video sent to the model. If not specified, the default value will be 1.0. The fps range is (0.0, 24.0]."
        }
      }
    },
    "PredictResponse": {
      "type": "object",
      "properties": {
        "predictions": {
          "type": "array",
          "description": "The outputs of the prediction call.",
          "items": {
            "type": "any"
          }
        }
      },
      "id": "PredictResponse",
      "description": "Response message for [PredictionService.Predict]."
    },
    "FunctionCallingConfig": {
      "id": "FunctionCallingConfig",
      "description": "Configuration for specifying function calling behavior.",
      "type": "object",
      "properties": {
        "mode": {
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "AUTO",
            "ANY",
            "NONE",
            "VALIDATED"
          ],
          "enumDescriptions": [
            "Unspecified function calling mode. This value should not be used.",
            "Default model behavior, model decides to predict either a function call or a natural language response.",
            "Model is constrained to always predicting a function call only. If \"allowed_function_names\" are set, the predicted function call will be limited to any one of \"allowed_function_names\", else the predicted function call will be any one of the provided \"function_declarations\".",
            "Model will not predict any function call. Model behavior is same as when not passing any function declarations.",
            "Model decides to predict either a function call or a natural language response, but will validate function calls with constrained decoding. If \"allowed_function_names\" are set, the predicted function call will be limited to any one of \"allowed_function_names\", else the predicted function call will be any one of the provided \"function_declarations\"."
          ],
          "description": "Optional. Specifies the mode in which function calling should execute. If unspecified, the default value will be set to AUTO."
        },
        "allowedFunctionNames": {
          "description": "Optional. A set of function names that, when provided, limits the functions the model will call. This should only be set when the Mode is ANY or VALIDATED. Function names should match [FunctionDeclaration.name]. When set, model will predict a function call from only allowed function names.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "TuningExamples": {
      "type": "object",
      "properties": {
        "examples": {
          "type": "array",
          "description": "The examples. Example input can be for text or discuss, but all examples in a set must be of the same type.",
          "items": {
            "$ref": "TuningExample"
          }
        }
      },
      "id": "TuningExamples",
      "description": "A set of tuning examples. Can be training or validation data."
    },
    "LatLng": {
      "type": "object",
      "properties": {
        "latitude": {
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0].",
          "format": "double",
          "type": "number"
        },
        "longitude": {
          "format": "double",
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0].",
          "type": "number"
        }
      },
      "id": "LatLng",
      "description": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges."
    },
    "GenerateContentRequest": {
      "type": "object",
      "properties": {
        "store": {
          "description": "Optional. Configures the logging behavior for a given request. If set, it takes precedence over the project-level logging config.",
          "type": "boolean"
        },
        "systemInstruction": {
          "description": "Optional. Developer set [system instruction(s)](https://ai.google.dev/gemini-api/docs/system-instructions). Currently, text only.",
          "$ref": "Content"
        },
        "tools": {
          "type": "array",
          "description": "Optional. A list of `Tools` the `Model` may use to generate the next response. A `Tool` is a piece of code that enables the system to interact with external systems to perform an action, or set of actions, outside of knowledge and scope of the `Model`. Supported `Tool`s are `Function` and `code_execution`. Refer to the [Function calling](https://ai.google.dev/gemini-api/docs/function-calling) and the [Code execution](https://ai.google.dev/gemini-api/docs/code-execution) guides to learn more.",
          "items": {
            "$ref": "Tool"
          }
        },
        "serviceTier": {
          "type": "string",
          "enum": [
            "unspecified",
            "standard",
            "flex",
            "priority"
          ],
          "enumDescriptions": [
            "Default service tier, which is standard.",
            "Standard service tier.",
            "Flex service tier.",
            "Priority service tier."
          ],
          "description": "Optional. The service tier of the request."
        },
        "contents": {
          "type": "array",
          "description": "Required. The content of the current conversation with the model. For single-turn queries, this is a single instance. For multi-turn queries like [chat](https://ai.google.dev/gemini-api/docs/text-generation#chat), this is a repeated field that contains the conversation history and the latest request.",
          "items": {
            "$ref": "Content"
          }
        },
        "safetySettings": {
          "type": "array",
          "description": "Optional. A list of unique `SafetySetting` instances for blocking unsafe content. This will be enforced on the `GenerateContentRequest.contents` and `GenerateContentResponse.candidates`. There should not be more than one setting for each `SafetyCategory` type. The API will block any contents and responses that fail to meet the thresholds set by these settings. This list overrides the default settings for each `SafetyCategory` specified in the safety_settings. If there is no `SafetySetting` for a given `SafetyCategory` provided in the list, the API will use the default safety setting for that category. Harm categories HARM_CATEGORY_HATE_SPEECH, HARM_CATEGORY_SEXUALLY_EXPLICIT, HARM_CATEGORY_DANGEROUS_CONTENT, HARM_CATEGORY_HARASSMENT, HARM_CATEGORY_CIVIC_INTEGRITY, HARM_CATEGORY_JAILBREAK are supported. Refer to the [guide](https://ai.google.dev/gemini-api/docs/safety-settings) for detailed information on available safety settings. Also refer to the [Safety guidance](https://ai.google.dev/gemini-api/docs/safety-guidance) to learn how to incorporate safety considerations in your AI applications.",
          "items": {
            "$ref": "SafetySetting"
          }
        },
        "model": {
          "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`.",
          "type": "string"
        },
        "cachedContent": {
          "description": "Optional. The name of the content [cached](https://ai.google.dev/gemini-api/docs/caching) to use as context to serve the prediction. Format: `cachedContents/{cachedContent}`",
          "type": "string"
        },
        "toolConfig": {
          "description": "Optional. Tool configuration for any `Tool` specified in the request. Refer to the [Function calling guide](https://ai.google.dev/gemini-api/docs/function-calling#function_calling_mode) for a usage example.",
          "$ref": "ToolConfig"
        },
        "generationConfig": {
          "description": "Optional. Configuration options for model generation and outputs.",
          "$ref": "GenerationConfig"
        }
      },
      "id": "GenerateContentRequest",
      "description": "Request to generate a completion from the model."
    },
    "CachedContent": {
      "id": "CachedContent",
      "description": "Content that has been preprocessed and can be used in subsequent request to GenerativeService. Cached content can be only used with model it was created for.",
      "type": "object",
      "properties": {
        "usageMetadata": {
          "description": "Output only. Metadata on the usage of the cached content.",
          "readOnly": true,
          "$ref": "CachedContentUsageMetadata"
        },
        "toolConfig": {
          "description": "Optional. Input only. Immutable. Tool config. This config is shared for all tools.",
          "$ref": "ToolConfig"
        },
        "displayName": {
          "description": "Optional. Immutable. The user-generated meaningful display name of the cached content. Maximum 128 Unicode characters.",
          "type": "string"
        },
        "model": {
          "description": "Required. Immutable. The name of the `Model` to use for cached content Format: `models/{model}`",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Creation time of the cache entry.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "Output only. Identifier. The resource name referring to the cached content. Format: `cachedContents/{id}`",
          "readOnly": true,
          "type": "string"
        },
        "systemInstruction": {
          "description": "Optional. Input only. Immutable. Developer set system instruction. Currently text only.",
          "$ref": "Content"
        },
        "expireTime": {
          "type": "string",
          "description": "Timestamp in UTC of when this resource is considered expired. This is *always* provided on output, regardless of what was sent on input.",
          "format": "google-datetime"
        },
        "ttl": {
          "type": "string",
          "description": "Input only. New TTL for this resource, input only.",
          "format": "google-duration"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. When the cache entry was last updated in UTC time.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "contents": {
          "type": "array",
          "description": "Optional. Input only. Immutable. The content to cache.",
          "items": {
            "$ref": "Content"
          }
        },
        "tools": {
          "type": "array",
          "description": "Optional. Input only. Immutable. A list of `Tools` the model may use to generate the next response",
          "items": {
            "$ref": "Tool"
          }
        }
      }
    },
    "Message": {
      "id": "Message",
      "description": "The base unit of structured text. A `Message` includes an `author` and the `content` of the `Message`. The `author` is used to tag messages when they are fed to the model as text.",
      "type": "object",
      "properties": {
        "author": {
          "description": "Optional. The author of this Message. This serves as a key for tagging the content of this Message when it is fed to the model as text. The author can be any alphanumeric string.",
          "type": "string"
        },
        "citationMetadata": {
          "description": "Output only. Citation information for model-generated `content` in this `Message`. If this `Message` was generated as output from the model, this field may be populated with attribution information for any text included in the `content`. This field is used only on output.",
          "readOnly": true,
          "$ref": "CitationMetadata"
        },
        "content": {
          "description": "Required. The text content of the structured `Message`.",
          "type": "string"
        }
      }
    },
    "TextPrompt": {
      "id": "TextPrompt",
      "description": "Text given to the model as a prompt. The Model will use this TextPrompt to Generate a text completion.",
      "type": "object",
      "properties": {
        "text": {
          "description": "Required. The prompt text.",
          "type": "string"
        }
      }
    },
    "EmbedContentBatchStats": {
      "type": "object",
      "properties": {
        "successfulRequestCount": {
          "format": "int64",
          "description": "Output only. The number of requests that were successfully processed.",
          "readOnly": true,
          "type": "string"
        },
        "failedRequestCount": {
          "description": "Output only. The number of requests that failed to be processed.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "requestCount": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The number of requests in the batch.",
          "readOnly": true
        },
        "pendingRequestCount": {
          "format": "int64",
          "description": "Output only. The number of requests that are still pending processing.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "EmbedContentBatchStats",
      "description": "Stats about the batch."
    },
    "Content": {
      "id": "Content",
      "description": "The base structured datatype containing multi-part content of a message. A `Content` includes a `role` field designating the producer of the `Content` and a `parts` field containing multi-part data that contains the content of the message turn.",
      "type": "object",
      "properties": {
        "parts": {
          "description": "Ordered `Parts` that constitute a single message. Parts may have different MIME types.",
          "items": {
            "$ref": "Part"
          },
          "type": "array"
        },
        "role": {
          "description": "Optional. The producer of the content. Must be either 'user' or 'model'. Useful to set for multi-turn conversations, otherwise can be left blank or unset.",
          "type": "string"
        }
      }
    },
    "SpeechConfig": {
      "id": "SpeechConfig",
      "description": "Config for speech generation and transcription.",
      "type": "object",
      "properties": {
        "multiSpeakerVoiceConfig": {
          "description": "Optional. The configuration for the multi-speaker setup. It is mutually exclusive with the voice_config field.",
          "$ref": "MultiSpeakerVoiceConfig"
        },
        "languageCode": {
          "description": "Optional. The IETF [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language code that the user configured the app to use. Used for speech recognition and synthesis. Valid values are: `de-DE`, `en-AU`, `en-GB`, `en-IN`, `en-US`, `es-US`, `fr-FR`, `hi-IN`, `pt-BR`, `ar-XA`, `es-ES`, `fr-CA`, `id-ID`, `it-IT`, `ja-JP`, `tr-TR`, `vi-VN`, `bn-IN`, `gu-IN`, `kn-IN`, `ml-IN`, `mr-IN`, `ta-IN`, `te-IN`, `nl-NL`, `ko-KR`, `cmn-CN`, `pl-PL`, `ru-RU`, and `th-TH`.",
          "type": "string"
        },
        "voiceConfig": {
          "description": "The configuration in case of single-voice output.",
          "$ref": "VoiceConfig"
        }
      }
    },
    "WhiteSpaceConfig": {
      "type": "object",
      "properties": {
        "maxTokensPerChunk": {
          "format": "int32",
          "description": "Maximum number of tokens per chunk. Tokens are defined as words for this chunking algorithm. Note: we are defining tokens as words split by whitespace as opposed to the output of a tokenizer. The context window of the latest gemini embedding model as of 2025-04-17 is currently 8192 tokens. We assume that the average word is 5 characters. Therefore, we set the upper limit to 2**9, which is 512 words, or 2560 tokens, assuming worst case a character per token. This is a conservative estimate meant to prevent context window overflow.",
          "type": "integer"
        },
        "maxOverlapTokens": {
          "type": "integer",
          "description": "Maximum number of overlapping tokens between two adjacent chunks.",
          "format": "int32"
        }
      },
      "id": "WhiteSpaceConfig",
      "description": "Configuration for a white space chunking algorithm [white space delimited]."
    },
    "UrlContext": {
      "type": "object",
      "properties": {},
      "id": "UrlContext",
      "description": "Tool to support URL context retrieval."
    },
    "CitationSource": {
      "id": "CitationSource",
      "description": "A citation to a source for a portion of a specific response.",
      "type": "object",
      "properties": {
        "startIndex": {
          "format": "int32",
          "description": "Optional. Start of segment of the response that is attributed to this source. Index indicates the start of the segment, measured in bytes.",
          "type": "integer"
        },
        "endIndex": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. End of the attributed segment, exclusive."
        },
        "uri": {
          "description": "Optional. URI that is attributed as a source for a portion of the text.",
          "type": "string"
        },
        "license": {
          "description": "Optional. License for the GitHub project that is attributed as a source for segment. License info is required for code citations.",
          "type": "string"
        }
      }
    },
    "Part": {
      "type": "object",
      "properties": {
        "codeExecutionResult": {
          "description": "Result of executing the `ExecutableCode`.",
          "$ref": "CodeExecutionResult"
        },
        "toolCall": {
          "description": "Server-side tool call. This field is populated when the model predicts a tool invocation that should be executed on the server. The client is expected to echo this message back to the API.",
          "$ref": "ToolCall"
        },
        "videoMetadata": {
          "description": "Optional. Video metadata. The metadata should only be specified while the video data is presented in inline_data or file_data.",
          "$ref": "VideoMetadata"
        },
        "fileData": {
          "description": "URI based data.",
          "$ref": "FileData"
        },
        "thoughtSignature": {
          "type": "string",
          "description": "Optional. An opaque signature for the thought so it can be reused in subsequent requests.",
          "format": "byte"
        },
        "inlineData": {
          "description": "Inline media bytes.",
          "$ref": "Blob"
        },
        "partMetadata": {
          "description": "Custom metadata associated with the Part. Agents using genai.Part as content representation may need to keep track of the additional information. For example it can be name of a file/source from which the Part originates or a way to multiplex multiple Part streams.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "functionResponse": {
          "description": "The result output of a `FunctionCall` that contains a string representing the `FunctionDeclaration.name` and a structured JSON object containing any output from the function is used as context to the model.",
          "$ref": "FunctionResponse"
        },
        "executableCode": {
          "description": "Code generated by the model that is meant to be executed.",
          "$ref": "ExecutableCode"
        },
        "toolResponse": {
          "description": "The output from a server-side `ToolCall` execution. This field is populated by the client with the results of executing the corresponding `ToolCall`.",
          "$ref": "ToolResponse"
        },
        "text": {
          "description": "Inline text.",
          "type": "string"
        },
        "mediaResolution": {
          "description": "Optional. Media resolution for the input media.",
          "$ref": "MediaResolution"
        },
        "functionCall": {
          "description": "A predicted `FunctionCall` returned from the model that contains a string representing the `FunctionDeclaration.name` with the arguments and their values.",
          "$ref": "FunctionCall"
        },
        "thought": {
          "description": "Optional. Indicates if the part is thought from the model.",
          "type": "boolean"
        }
      },
      "id": "Part",
      "description": "A datatype containing media that is part of a multi-part `Content` message. A `Part` consists of data which has an associated datatype. A `Part` can only contain one of the accepted types in `Part.data`. A `Part` must have a fixed IANA MIME type identifying the type and subtype of the media if the `inline_data` field is filled with raw bytes."
    },
    "McpServer": {
      "id": "McpServer",
      "description": "A MCPServer is a server that can be called by the model to perform actions. It is a server that implements the MCP protocol. Next ID: 6",
      "type": "object",
      "properties": {
        "streamableHttpTransport": {
          "description": "A transport that can stream HTTP requests and responses.",
          "$ref": "StreamableHttpTransport"
        },
        "name": {
          "description": "The name of the MCPServer.",
          "type": "string"
        }
      }
    },
    "Embedding": {
      "id": "Embedding",
      "description": "A list of floats representing the embedding.",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "description": "The embedding values.",
          "items": {
            "type": "number",
            "format": "float"
          }
        }
      }
    },
    "ListDocumentsResponse": {
      "id": "ListDocumentsResponse",
      "description": "Response from `ListDocuments` containing a paginated list of `Document`s. The `Document`s are sorted by ascending `document.create_time`.",
      "type": "object",
      "properties": {
        "documents": {
          "type": "array",
          "description": "The returned `Document`s.",
          "items": {
            "$ref": "Document"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no more pages.",
          "type": "string"
        }
      }
    },
    "VideoFileMetadata": {
      "type": "object",
      "properties": {
        "videoDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Duration of the video."
        }
      },
      "id": "VideoFileMetadata",
      "description": "Metadata for a video `File`."
    },
    "GroundingPassages": {
      "type": "object",
      "properties": {
        "passages": {
          "type": "array",
          "description": "List of passages.",
          "items": {
            "$ref": "GroundingPassage"
          }
        }
      },
      "id": "GroundingPassages",
      "description": "A repeated list of passages."
    },
    "LanguageAuto": {
      "id": "LanguageAuto",
      "description": "Indicates the language of the audio should be automatically detected.",
      "type": "object",
      "properties": {}
    },
    "GoogleSearchRetrieval": {
      "type": "object",
      "properties": {
        "dynamicRetrievalConfig": {
          "description": "Specifies the dynamic retrieval configuration for the given source.",
          "$ref": "DynamicRetrievalConfig"
        }
      },
      "id": "GoogleSearchRetrieval",
      "description": "Tool to retrieve public web data for grounding, powered by Google."
    },
    "BatchStats": {
      "type": "object",
      "properties": {
        "requestCount": {
          "description": "Output only. The number of requests in the batch.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "pendingRequestCount": {
          "format": "int64",
          "description": "Output only. The number of requests that are still pending processing.",
          "readOnly": true,
          "type": "string"
        },
        "successfulRequestCount": {
          "format": "int64",
          "description": "Output only. The number of requests that were successfully processed.",
          "readOnly": true,
          "type": "string"
        },
        "failedRequestCount": {
          "description": "Output only. The number of requests that failed to be processed.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        }
      },
      "id": "BatchStats",
      "description": "Stats about the batch."
    },
    "RetrievalMetadata": {
      "type": "object",
      "properties": {
        "googleSearchDynamicRetrievalScore": {
          "description": "Optional. Score indicating how likely information from google search could help answer the prompt. The score is in the range [0, 1], where 0 is the least likely and 1 is the most likely. This score is only populated when google search grounding and dynamic retrieval is enabled. It will be compared to the threshold to determine whether to trigger google search.",
          "format": "float",
          "type": "number"
        }
      },
      "id": "RetrievalMetadata",
      "description": "Metadata related to retrieval in the grounding flow."
    },
    "CodeExecution": {
      "id": "CodeExecution",
      "description": "Tool that executes code generated by the model, and automatically returns the result to the model. See also `ExecutableCode` and `CodeExecutionResult` which are only generated when using this tool.",
      "type": "object",
      "properties": {}
    },
    "MetadataFilter": {
      "id": "MetadataFilter",
      "description": "User provided filter to limit retrieval based on `Chunk` or `Document` level metadata values. Example (genre = drama OR genre = action): key = \"document.custom_metadata.genre\" conditions = [{string_value = \"drama\", operation = EQUAL}, {string_value = \"action\", operation = EQUAL}]",
      "type": "object",
      "properties": {
        "key": {
          "description": "Required. The key of the metadata to filter on.",
          "type": "string"
        },
        "conditions": {
          "description": "Required. The `Condition`s for the given key that will trigger this filter. Multiple `Condition`s are joined by logical ORs.",
          "items": {
            "$ref": "Condition"
          },
          "type": "array"
        }
      }
    },
    "AutomaticActivityDetection": {
      "type": "object",
      "properties": {
        "endOfSpeechSensitivity": {
          "type": "string",
          "enum": [
            "END_SENSITIVITY_UNSPECIFIED",
            "END_SENSITIVITY_HIGH",
            "END_SENSITIVITY_LOW"
          ],
          "enumDescriptions": [
            "The default is END_SENSITIVITY_HIGH.",
            "Automatic detection ends speech more often.",
            "Automatic detection ends speech less often."
          ],
          "description": "Optional. Determines how likely detected speech is ended."
        },
        "startOfSpeechSensitivity": {
          "type": "string",
          "enum": [
            "START_SENSITIVITY_UNSPECIFIED",
            "START_SENSITIVITY_HIGH",
            "START_SENSITIVITY_LOW"
          ],
          "enumDescriptions": [
            "The default is START_SENSITIVITY_HIGH.",
            "Automatic detection will detect the start of speech more often.",
            "Automatic detection will detect the start of speech less often."
          ],
          "description": "Optional. Determines how likely speech is to be detected."
        },
        "prefixPaddingMs": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The required duration of detected speech before start-of-speech is committed. The lower this value, the more sensitive the start-of-speech detection is and shorter speech can be recognized. However, this also increases the probability of false positives."
        },
        "disabled": {
          "description": "Optional. If enabled (the default), detected voice and text input count as activity. If disabled, the client must send activity signals.",
          "type": "boolean"
        },
        "silenceDurationMs": {
          "description": "Optional. The required duration of detected non-speech (e.g. silence) before end-of-speech is committed. The larger this value, the longer speech gaps can be without interrupting the user's activity but this will increase the model's latency.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "AutomaticActivityDetection",
      "description": "Configures automatic detection of activity."
    },
    "Status": {
      "type": "object",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "ListFileSearchStoresResponse": {
      "type": "object",
      "properties": {
        "fileSearchStores": {
          "type": "array",
          "description": "The returned rag_stores.",
          "items": {
            "$ref": "FileSearchStore"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no more pages.",
          "type": "string"
        }
      },
      "id": "ListFileSearchStoresResponse",
      "description": "Response from `ListFileSearchStores` containing a paginated list of `FileSearchStores`. The results are sorted by ascending `file_search_store.create_time`."
    },
    "BatchEmbedContentsResponse": {
      "id": "BatchEmbedContentsResponse",
      "description": "The response to a `BatchEmbedContentsRequest`.",
      "type": "object",
      "properties": {
        "usageMetadata": {
          "description": "Output only. The usage metadata for the request.",
          "readOnly": true,
          "$ref": "EmbeddingUsageMetadata"
        },
        "embeddings": {
          "description": "Output only. The embeddings for each request, in the same order as provided in the batch request.",
          "readOnly": true,
          "items": {
            "$ref": "ContentEmbedding"
          },
          "type": "array"
        }
      }
    },
    "Model": {
      "type": "object",
      "properties": {
        "inputTokenLimit": {
          "description": "Maximum number of input tokens allowed for this model.",
          "format": "int32",
          "type": "integer"
        },
        "outputTokenLimit": {
          "format": "int32",
          "description": "Maximum number of output tokens available for this model.",
          "type": "integer"
        },
        "topK": {
          "description": "For Top-k sampling. Top-k sampling considers the set of `top_k` most probable tokens. This value specifies default to be used by the backend while making the call to the model. If empty, indicates the model doesn't use top-k sampling, and `top_k` isn't allowed as a generation parameter.",
          "format": "int32",
          "type": "integer"
        },
        "supportedGenerationMethods": {
          "type": "array",
          "description": "The model's supported generation methods. The corresponding API method names are defined as Pascal case strings, such as `generateMessage` and `generateContent`.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Required. The resource name of the `Model`. Refer to [Model variants](https://ai.google.dev/gemini-api/docs/models/gemini#model-variations) for all allowed values. Format: `models/{model}` with a `{model}` naming convention of: * \"{base_model_id}-{version}\" Examples: * `models/gemini-1.5-flash-001`",
          "type": "string"
        },
        "displayName": {
          "description": "The human-readable name of the model. E.g. \"Gemini 1.5 Flash\". The name can be up to 128 characters long and can consist of any UTF-8 characters.",
          "type": "string"
        },
        "thinking": {
          "description": "Whether the model supports thinking.",
          "type": "boolean"
        },
        "baseModelId": {
          "description": "Required. The name of the base model, pass this to the generation request. Examples: * `gemini-1.5-flash`",
          "type": "string"
        },
        "temperature": {
          "type": "number",
          "format": "float",
          "description": "Controls the randomness of the output. Values can range over `[0.0,max_temperature]`, inclusive. A higher value will produce responses that are more varied, while a value closer to `0.0` will typically result in less surprising responses from the model. This value specifies default to be used by the backend while making the call to the model."
        },
        "topP": {
          "description": "For [Nucleus sampling](https://ai.google.dev/gemini-api/docs/prompting-strategies#top-p). Nucleus sampling considers the smallest set of tokens whose probability sum is at least `top_p`. This value specifies default to be used by the backend while making the call to the model.",
          "format": "float",
          "type": "number"
        },
        "maxTemperature": {
          "type": "number",
          "format": "float",
          "description": "The maximum temperature this model can use."
        },
        "version": {
          "description": "Required. The version number of the model. This represents the major version (`1.0` or `1.5`)",
          "type": "string"
        },
        "description": {
          "description": "A short description of the model.",
          "type": "string"
        }
      },
      "id": "Model",
      "description": "Information about a Generative Language Model."
    },
    "PromptFeedback": {
      "type": "object",
      "properties": {
        "blockReason": {
          "type": "string",
          "enum": [
            "BLOCK_REASON_UNSPECIFIED",
            "SAFETY",
            "OTHER",
            "BLOCKLIST",
            "PROHIBITED_CONTENT",
            "IMAGE_SAFETY"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Prompt was blocked due to safety reasons. Inspect `safety_ratings` to understand which safety category blocked it.",
            "Prompt was blocked due to unknown reasons.",
            "Prompt was blocked due to the terms which are included from the terminology blocklist.",
            "Prompt was blocked due to prohibited content.",
            "Candidates blocked due to unsafe image generation content."
          ],
          "description": "Optional. If set, the prompt was blocked and no candidates are returned. Rephrase the prompt."
        },
        "safetyRatings": {
          "type": "array",
          "description": "Ratings for safety of the prompt. There is at most one rating per category.",
          "items": {
            "$ref": "SafetyRating"
          }
        }
      },
      "id": "PromptFeedback",
      "description": "A set of the feedback metadata the prompt specified in `GenerateContentRequest.content`."
    },
    "StringList": {
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "description": "The string values of the metadata to store.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "StringList",
      "description": "User provided string values assigned to a single metadata key."
    },
    "DiffChecksumsResponse": {
      "id": "DiffChecksumsResponse",
      "description": "Backend response for a Diff get checksums response. For details on the Scotty Diff protocol, visit http://go/scotty-diff-protocol.",
      "type": "object",
      "properties": {
        "objectSizeBytes": {
          "format": "int64",
          "description": "The total size of the server object.",
          "type": "string"
        },
        "objectVersion": {
          "description": "The object version of the object the checksums are being returned for.",
          "type": "string"
        },
        "chunkSizeBytes": {
          "format": "int64",
          "description": "The chunk size of checksums. Must be a multiple of 256KB.",
          "type": "string"
        },
        "objectLocation": {
          "description": "If set, calculate the checksums based on the contents and return them to the caller.",
          "$ref": "CompositeMedia"
        },
        "checksumsLocation": {
          "description": "Exactly one of these fields must be populated. If checksums_location is filled, the server will return the corresponding contents to the user. If object_location is filled, the server will calculate the checksums based on the content there and return that to the user. For details on the format of the checksums, see http://go/scotty-diff-protocol.",
          "$ref": "CompositeMedia"
        }
      }
    },
    "TopCandidates": {
      "id": "TopCandidates",
      "description": "Candidates with top log probabilities at each decoding step.",
      "type": "object",
      "properties": {
        "candidates": {
          "description": "Sorted by log probability in descending order.",
          "items": {
            "$ref": "LogprobsResultCandidate"
          },
          "type": "array"
        }
      }
    },
    "GenerateContentBatch": {
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the batch was last updated.",
          "readOnly": true
        },
        "batchStats": {
          "description": "Output only. Stats about the batch.",
          "readOnly": true,
          "$ref": "BatchStats"
        },
        "output": {
          "description": "Output only. The output of the batch request.",
          "readOnly": true,
          "$ref": "GenerateContentBatchOutput"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which the batch processing completed.",
          "readOnly": true,
          "type": "string"
        },
        "priority": {
          "type": "string",
          "description": "Optional. The priority of the batch. Batches with a higher priority value will be processed before batches with a lower priority value. Negative values are allowed. Default is 0.",
          "format": "int64"
        },
        "state": {
          "enum": [
            "BATCH_STATE_UNSPECIFIED",
            "BATCH_STATE_PENDING",
            "BATCH_STATE_RUNNING",
            "BATCH_STATE_SUCCEEDED",
            "BATCH_STATE_FAILED",
            "BATCH_STATE_CANCELLED",
            "BATCH_STATE_EXPIRED"
          ],
          "description": "Output only. The state of the batch.",
          "readOnly": true,
          "enumDescriptions": [
            "The batch state is unspecified.",
            "The service is preparing to run the batch.",
            "The batch is in progress.",
            "The batch completed successfully.",
            "The batch failed.",
            "The batch has been cancelled.",
            "The batch has expired."
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. Resource name of the batch. Format: `batches/{batch_id}`.",
          "readOnly": true
        },
        "model": {
          "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The user-defined name of this batch.",
          "type": "string"
        },
        "inputConfig": {
          "description": "Required. Input configuration of the instances on which batch processing are performed.",
          "$ref": "InputConfig"
        },
        "createTime": {
          "description": "Output only. The time at which the batch was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GenerateContentBatch",
      "description": "A resource representing a batch of `GenerateContent` requests."
    },
    "Web": {
      "id": "Web",
      "description": "Chunk from the web.",
      "type": "object",
      "properties": {
        "uri": {
          "description": "Output only. URI reference of the chunk.",
          "readOnly": true,
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Output only. Title of the chunk.",
          "readOnly": true
        }
      }
    },
    "RetrievedContext": {
      "id": "RetrievedContext",
      "description": "Chunk from context retrieved by the file search tool.",
      "type": "object",
      "properties": {
        "fileSearchStore": {
          "description": "Optional. Name of the `FileSearchStore` containing the document. Example: `fileSearchStores/123`",
          "type": "string"
        },
        "mediaId": {
          "description": "Optional. The media blob resource name for multimodal file search results. Format: fileSearchStores/{file_search_store_id}/media/{blob_id}",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title of the document.",
          "type": "string"
        },
        "customMetadata": {
          "type": "array",
          "description": "Optional. User-provided metadata about the retrieved context.",
          "items": {
            "$ref": "GroundingChunkCustomMetadata"
          }
        },
        "uri": {
          "description": "Optional. URI reference of the semantic retrieval document.",
          "type": "string"
        },
        "text": {
          "description": "Optional. Text of the chunk.",
          "type": "string"
        },
        "pageNumber": {
          "format": "int32",
          "description": "Optional. Page number of the retrieved context, if applicable.",
          "type": "integer"
        }
      }
    },
    "ContextWindowCompressionConfig": {
      "type": "object",
      "properties": {
        "triggerTokens": {
          "type": "string",
          "description": "The number of tokens (before running a turn) required to trigger a context window compression. This can be used to balance quality against latency as shorter context windows may result in faster model responses. However, any compression operation will cause a temporary latency increase, so they should not be triggered frequently. If not set, the default is 80% of the model's context window limit. This leaves 20% for the next user request/model response.",
          "format": "int64"
        },
        "slidingWindow": {
          "description": "A sliding-window mechanism.",
          "$ref": "SlidingWindow"
        }
      },
      "id": "ContextWindowCompressionConfig",
      "description": "Enables context window compression — a mechanism for managing the model's context window so that it does not exceed a given length."
    },
    "GroundingPassage": {
      "type": "object",
      "properties": {
        "content": {
          "description": "Content of the passage.",
          "$ref": "Content"
        },
        "id": {
          "description": "Identifier for the passage for attributing this passage in grounded answers.",
          "type": "string"
        }
      },
      "id": "GroundingPassage",
      "description": "Passage included inline with a grounding configuration."
    },
    "DiffVersionResponse": {
      "type": "object",
      "properties": {
        "objectVersion": {
          "description": "The version of the object stored at the server.",
          "type": "string"
        },
        "objectSizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "The total size of the server object."
        }
      },
      "id": "DiffVersionResponse",
      "description": "Backend response for a Diff get version response. For details on the Scotty Diff protocol, visit http://go/scotty-diff-protocol."
    },
    "Document": {
      "type": "object",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_PENDING",
            "STATE_ACTIVE",
            "STATE_FAILED"
          ],
          "description": "Output only. Current state of the `Document`.",
          "readOnly": true,
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "Some `Chunks` of the `Document` are being processed (embedding and vector storage).",
            "All `Chunks` of the `Document` is processed and available for querying.",
            "Some `Chunks` of the `Document` failed processing."
          ],
          "type": "string"
        },
        "sizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The size of raw bytes ingested into the Document.",
          "readOnly": true
        },
        "displayName": {
          "description": "Optional. The human-readable display name for the `Document`. The display name must be no more than 512 characters in length, including spaces. Example: \"Semantic Retriever Documentation\"",
          "type": "string"
        },
        "customMetadata": {
          "type": "array",
          "description": "Optional. User provided custom metadata stored as key-value pairs used for querying. A `Document` can have a maximum of 20 `CustomMetadata`.",
          "items": {
            "$ref": "CustomMetadata"
          }
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The Timestamp of when the `Document` was last updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only. The Timestamp of when the `Document` was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "Immutable. Identifier. The `Document` resource name. The ID (name excluding the \"fileSearchStores/*/documents/\" prefix) can contain up to 40 characters that are lowercase alphanumeric or dashes (-). The ID cannot start or end with a dash. If the name is empty on create, a unique name will be derived from `display_name` along with a 12 character random suffix. Example: `fileSearchStores/{file_search_store_id}/documents/my-awesome-doc-123a456b789c`",
          "type": "string"
        },
        "mimeType": {
          "type": "string",
          "description": "Output only. The mime type of the Document.",
          "readOnly": true
        }
      },
      "id": "Document",
      "description": "A `Document` is a collection of `Chunk`s."
    },
    "ImportFileRequest": {
      "id": "ImportFileRequest",
      "description": "Request for `ImportFile` to import a File API file with a `FileSearchStore`.",
      "type": "object",
      "properties": {
        "chunkingConfig": {
          "description": "Optional. Config for telling the service how to chunk the file. If not provided, the service will use default parameters.",
          "$ref": "ChunkingConfig"
        },
        "fileName": {
          "description": "Required. The name of the `File` to import. Example: `files/abc-123`",
          "type": "string"
        },
        "customMetadata": {
          "type": "array",
          "description": "Custom metadata to be associated with the file.",
          "items": {
            "$ref": "CustomMetadata"
          }
        }
      }
    },
    "EmbedContentBatchOutput": {
      "type": "object",
      "properties": {
        "inlinedResponses": {
          "description": "Output only. The responses to the requests in the batch. Returned when the batch was built using inlined requests. The responses will be in the same order as the input requests.",
          "readOnly": true,
          "$ref": "InlinedEmbedContentResponses"
        },
        "responsesFile": {
          "description": "Output only. The file ID of the file containing the responses. The file will be a JSONL file with a single response per line. The responses will be `EmbedContentResponse` messages formatted as JSON. The responses will be written in the same order as the input requests.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "EmbedContentBatchOutput",
      "description": "The output of a batch request. This is returned in the `AsyncBatchEmbedContentResponse` or the `EmbedContentBatch.output` field."
    },
    "InputConfig": {
      "id": "InputConfig",
      "description": "Configures the input to the batch request.",
      "type": "object",
      "properties": {
        "fileName": {
          "description": "The name of the `File` containing the input requests.",
          "type": "string"
        },
        "requests": {
          "description": "The requests to be processed in the batch.",
          "$ref": "InlinedRequests"
        }
      }
    },
    "InlinedEmbedContentRequests": {
      "id": "InlinedEmbedContentRequests",
      "description": "The requests to be processed in the batch if provided as part of the batch creation request.",
      "type": "object",
      "properties": {
        "requests": {
          "type": "array",
          "description": "Required. The requests to be processed in the batch.",
          "items": {
            "$ref": "InlinedEmbedContentRequest"
          }
        }
      }
    },
    "EmbedContentConfig": {
      "id": "EmbedContentConfig",
      "description": "Configurations for the EmbedContent request.",
      "type": "object",
      "properties": {
        "taskType": {
          "description": "Optional. The task type of the embedding.",
          "enumDescriptions": [
            "Unset value, which will default to one of the other enum values.",
            "Specifies the given text is a query in a search/retrieval setting.",
            "Specifies the given text is a document from the corpus being searched.",
            "Specifies the given text will be used for STS.",
            "Specifies that the given text will be classified.",
            "Specifies that the embeddings will be used for clustering.",
            "Specifies that the given text will be used for question answering.",
            "Specifies that the given text will be used for fact verification.",
            "Specifies that the given text will be used for code retrieval."
          ],
          "type": "string",
          "enum": [
            "TASK_TYPE_UNSPECIFIED",
            "RETRIEVAL_QUERY",
            "RETRIEVAL_DOCUMENT",
            "SEMANTIC_SIMILARITY",
            "CLASSIFICATION",
            "CLUSTERING",
            "QUESTION_ANSWERING",
            "FACT_VERIFICATION",
            "CODE_RETRIEVAL_QUERY"
          ]
        },
        "audioTrackExtraction": {
          "description": "Optional. Whether to extract audio from video content.",
          "type": "boolean"
        },
        "outputDimensionality": {
          "format": "int32",
          "description": "Optional. Reduced dimension for the output embedding. If set, excessive values in the output embedding are truncated from the end.",
          "type": "integer"
        },
        "documentOcr": {
          "description": "Optional. Whether to enable OCR for document content.",
          "type": "boolean"
        },
        "title": {
          "description": "Optional. The title for the text.",
          "type": "string"
        },
        "autoTruncate": {
          "description": "Optional. Whether to silently truncate the input content if it's longer than the maximum sequence length.",
          "type": "boolean"
        }
      }
[...]
