{
  "revision": "20260727",
  "id": "generativelanguage:v1beta",
  "baseUrl": "https://generativelanguage.googleapis.com/",
  "servicePath": "",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.generativeai.google/api",
  "rootUrl": "https://generativelanguage.googleapis.com/",
  "resources": {
    "corpora": {
      "methods": {
        "create": {
          "path": "v1beta/corpora",
          "deprecated": true,
          "request": {
            "$ref": "Corpus"
          },
          "flatPath": "v1beta/corpora",
          "response": {
            "$ref": "Corpus"
          },
          "parameters": {},
          "parameterOrder": [],
          "httpMethod": "POST",
          "description": "Creates an empty `Corpus`.",
          "id": "generativelanguage.corpora.create"
        },
        "delete": {
          "path": "v1beta/{+name}",
          "deprecated": true,
          "flatPath": "v1beta/corpora/{corporaId}",
          "response": {
            "$ref": "Empty"
          },
          "parameters": {
            "name": {
              "description": "Required. The resource name of the `Corpus`. Example: `corpora/my-corpus-123`",
              "location": "path",
              "pattern": "^corpora/[^/]+$",
              "required": true,
              "type": "string"
            },
            "force": {
              "type": "boolean",
              "description": "Optional. If set to true, any `Document`s and objects related to this `Corpus` will also be deleted. If false (the default), a `FAILED_PRECONDITION` error will be returned if `Corpus` contains any `Document`s.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "DELETE",
          "description": "Deletes a `Corpus`.",
          "id": "generativelanguage.corpora.delete"
        },
        "get": {
          "flatPath": "v1beta/corpora/{corporaId}",
          "response": {
            "$ref": "Corpus"
          },
          "path": "v1beta/{+name}",
          "deprecated": true,
          "id": "generativelanguage.corpora.get",
          "description": "Gets information about a specific `Corpus`.",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^corpora/[^/]+$",
              "description": "Required. The name of the `Corpus`. Example: `corpora/my-corpus-123`",
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ]
        },
        "list": {
          "deprecated": true,
          "path": "v1beta/corpora",
          "flatPath": "v1beta/corpora",
          "response": {
            "$ref": "ListCorporaResponse"
          },
          "parameters": {
            "pageSize": {
              "description": "Optional. The maximum number of `Corpora` to return (per page). The service may return fewer `Corpora`. If unspecified, at most 10 `Corpora` will be returned. The maximum size limit is 20 `Corpora` per page.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A page token, received from a previous `ListCorpora` call. Provide the `next_page_token` returned in the response as an argument to the next request to retrieve the next page. When paginating, all other parameters provided to `ListCorpora` must match the call that provided the page token.",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "description": "Lists all `Corpora` owned by the user.",
          "id": "generativelanguage.corpora.list"
        }
      },
      "resources": {
        "permissions": {
          "methods": {
            "list": {
              "description": "Lists permissions for the specific resource.",
              "id": "generativelanguage.corpora.permissions.list",
              "flatPath": "v1beta/corpora/{corporaId}/permissions",
              "response": {
                "$ref": "ListPermissionsResponse"
              },
              "path": "v1beta/{+parent}/permissions",
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource of the permissions. Formats: `tunedModels/{tuned_model}` `corpora/{corpus}`",
                  "location": "path",
                  "pattern": "^corpora/[^/]+$",
                  "type": "string",
                  "required": true
                },
                "pageSize": {
                  "description": "Optional. The maximum number of `Permission`s to return (per page). The service may return fewer permissions. If unspecified, at most 10 permissions will be returned. This method returns at most 1000 permissions per page, even if you pass larger page_size.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListPermissions` call. Provide the `page_token` returned by one request as an argument to the next request to retrieve the next page. When paginating, all other parameters provided to `ListPermissions` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET"
            },
            "patch": {
              "description": "Updates the permission.",
              "id": "generativelanguage.corpora.permissions.patch",
              "parameters": {
                "name": {
                  "description": "Output only. Identifier. The permission name. A unique name will be generated on create. Examples: tunedModels/{tuned_model}/permissions/{permission} corpora/{corpus}/permissions/{permission} Output only.",
                  "location": "path",
                  "pattern": "^corpora/[^/]+/permissions/[^/]+$",
                  "type": "string",
                  "required": true
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "Required. The list of fields to update. Accepted ones: - role (`Permission.role` field)",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "flatPath": "v1beta/corpora/{corporaId}/permissions/{permissionsId}",
              "response": {
                "$ref": "Permission"
              },
              "request": {
                "$ref": "Permission"
              },
              "path": "v1beta/{+name}"
            },
            "get": {
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the permission. Formats: `tunedModels/{tuned_model}/permissions/{permission}` `corpora/{corpus}/permissions/{permission}`",
                  "location": "path",
                  "pattern": "^corpora/[^/]+/permissions/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "path": "v1beta/{+name}",
              "flatPath": "v1beta/corpora/{corporaId}/permissions/{permissionsId}",
              "response": {
                "$ref": "Permission"
              },
              "description": "Gets information about a specific Permission.",
              "id": "generativelanguage.corpora.permissions.get"
            },
            "create": {
              "id": "generativelanguage.corpora.permissions.create",
              "description": "Create a permission to a specific resource.",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^corpora/[^/]+$",
                  "description": "Required. The parent resource of the `Permission`. Formats: `tunedModels/{tuned_model}` `corpora/{corpus}`",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "Permission"
              },
              "flatPath": "v1beta/corpora/{corporaId}/permissions",
              "response": {
                "$ref": "Permission"
              },
              "path": "v1beta/{+parent}/permissions"
            },
            "delete": {
              "path": "v1beta/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The resource name of the permission. Formats: `tunedModels/{tuned_model}/permissions/{permission}` `corpora/{corpus}/permissions/{permission}`",
                  "location": "path",
                  "pattern": "^corpora/[^/]+/permissions/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "description": "Deletes the permission.",
              "id": "generativelanguage.corpora.permissions.delete",
              "flatPath": "v1beta/corpora/{corporaId}/permissions/{permissionsId}",
              "response": {
                "$ref": "Empty"
              }
            }
          }
        },
        "operations": {
          "methods": {
            "get": {
              "path": "v1beta/{+name}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^corpora/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "generativelanguage.corpora.operations.get",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "flatPath": "v1beta/corpora/{corporaId}/operations/{operationsId}",
              "response": {
                "$ref": "Operation"
              }
            }
          }
        }
      }
    },
    "batches": {
      "methods": {
        "list": {
          "flatPath": "v1beta/batches",
          "response": {
            "$ref": "ListOperationsResponse"
          },
          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
          "id": "generativelanguage.batches.list",
          "parameters": {
            "returnPartialSuccess": {
              "type": "boolean",
              "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
              "location": "query"
            },
            "filter": {
              "description": "The standard list filter.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "format": "int32",
              "description": "The standard list page size.",
              "location": "query",
              "type": "integer"
            },
            "name": {
              "type": "string",
              "required": true,
              "pattern": "^batches$",
              "description": "The name of the operation's parent resource.",
              "location": "path"
            },
            "pageToken": {
              "description": "The standard list page token.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "path": "v1beta/{+name}"
        },
        "get": {
          "flatPath": "v1beta/batches/{batchesId}",
          "response": {
            "$ref": "Operation"
          },
          "id": "generativelanguage.batches.get",
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "pattern": "^batches/[^/]+$",
              "description": "The name of the operation resource.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta/{+name}"
        },
        "updateEmbedContentBatch": {
          "path": "v1beta/{+name}:updateEmbedContentBatch",
          "flatPath": "v1beta/batches/{batchesId}:updateEmbedContentBatch",
          "response": {
            "$ref": "EmbedContentBatch"
          },
          "request": {
            "$ref": "EmbedContentBatch"
          },
          "parameters": {
            "updateMask": {
              "type": "string",
              "description": "Optional. The list of fields to update.",
              "location": "query",
              "format": "google-fieldmask"
            },
            "name": {
              "type": "string",
              "required": true,
              "pattern": "^batches/[^/]+$",
              "description": "Output only. Identifier. Resource name of the batch. Format: `batches/{batch_id}`.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "PATCH",
          "description": "Updates a batch of EmbedContent requests for batch processing.",
          "id": "generativelanguage.batches.updateEmbedContentBatch"
        },
        "updateGenerateContentBatch": {
          "description": "Updates a batch of GenerateContent requests for batch processing.",
          "id": "generativelanguage.batches.updateGenerateContentBatch",
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "description": "Output only. Identifier. Resource name of the batch. Format: `batches/{batch_id}`.",
              "location": "path",
              "pattern": "^batches/[^/]+$"
            },
            "updateMask": {
              "type": "string",
              "description": "Optional. The list of fields to update.",
              "location": "query",
              "format": "google-fieldmask"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "PATCH",
          "request": {
            "$ref": "GenerateContentBatch"
          },
          "flatPath": "v1beta/batches/{batchesId}:updateGenerateContentBatch",
          "response": {
            "$ref": "GenerateContentBatch"
          },
          "path": "v1beta/{+name}:updateGenerateContentBatch"
        },
        "delete": {
          "path": "v1beta/{+name}",
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "pattern": "^batches/[^/]+$",
              "description": "The name of the operation resource to be deleted.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "id": "generativelanguage.batches.delete",
          "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
          "flatPath": "v1beta/batches/{batchesId}",
          "response": {
            "$ref": "Empty"
          }
        },
        "cancel": {
          "path": "v1beta/{+name}:cancel",
          "httpMethod": "POST",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "description": "The name of the operation resource to be cancelled.",
              "location": "path",
              "pattern": "^batches/[^/]+$"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "id": "generativelanguage.batches.cancel",
          "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "flatPath": "v1beta/batches/{batchesId}:cancel",
          "response": {
            "$ref": "Empty"
          }
        }
      }
    },
    "auth_tokens": {
      "methods": {
        "create": {
          "path": "v1beta/auth_tokens",
          "request": {
            "$ref": "AuthToken"
          },
          "flatPath": "v1beta/auth_tokens",
          "response": {
            "$ref": "AuthToken"
          },
          "parameters": {},
          "parameterOrder": [],
          "httpMethod": "POST",
          "description": "Creates a token that can be used to constrain the behavior of a BidiGenerateContent session.",
          "id": "generativelanguage.auth_tokens.create"
        }
      }
    },
    "tunedModels": {
      "methods": {
        "patch": {
          "id": "generativelanguage.tunedModels.patch",
          "description": "Updates a tuned model.",
          "httpMethod": "PATCH",
          "parameters": {
            "name": {
              "description": "Output only. The tuned model name. A unique name will be generated on create. Example: `tunedModels/az2mb0bpw6i` If display_name is set on create, the id portion of the name will be set by concatenating the words of the display_name with hyphens and adding a random portion for uniqueness. Example: * display_name = `Sentence Translator` * name = `tunedModels/sentence-translator-u3b7m`",
              "location": "path",
              "pattern": "^tunedModels/[^/]+$",
              "type": "string",
              "required": true
            },
            "updateMask": {
              "format": "google-fieldmask",
              "type": "string",
              "description": "Optional. The list of fields to update.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta/tunedModels/{tunedModelsId}",
          "response": {
            "$ref": "TunedModel"
          },
          "request": {
            "$ref": "TunedModel"
          },
          "deprecated": true,
          "path": "v1beta/{+name}"
        },
        "asyncBatchEmbedContent": {
          "parameters": {
            "model": {
              "required": true,
              "type": "string",
              "pattern": "^tunedModels/[^/]+$",
              "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "model"
          ],
          "httpMethod": "POST",
          "description": "Enqueues a batch of `EmbedContent` requests for batch processing. We have a `BatchEmbedContents` handler in `GenerativeService`, but it was synchronized. So we name this one to be `Async` to avoid confusion.",
          "id": "generativelanguage.tunedModels.asyncBatchEmbedContent",
          "path": "v1beta/{+model}:asyncBatchEmbedContent",
          "request": {
            "$ref": "AsyncBatchEmbedContentRequest"
          },
          "flatPath": "v1beta/tunedModels/{tunedModelsId}:asyncBatchEmbedContent",
          "response": {
            "$ref": "Operation"
          }
        },
        "generateContent": {
          "flatPath": "v1beta/tunedModels/{tunedModelsId}:generateContent",
          "response": {
            "$ref": "GenerateContentResponse"
          },
          "request": {
            "$ref": "GenerateContentRequest"
          },
          "path": "v1beta/{+model}:generateContent",
          "id": "generativelanguage.tunedModels.generateContent",
          "description": "Generates a model response given an input `GenerateContentRequest`. Refer to the [text generation guide](https://ai.google.dev/gemini-api/docs/text-generation) for detailed usage information. Input capabilities differ between models, including tuned models. Refer to the [model guide](https://ai.google.dev/gemini-api/docs/models/gemini) and [tuning guide](https://ai.google.dev/gemini-api/docs/model-tuning) for details.",
          "httpMethod": "POST",
          "parameters": {
            "model": {
              "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`.",
              "location": "path",
              "pattern": "^tunedModels/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "model"
          ]
        },
        "create": {
          "path": "v1beta/tunedModels",
          "deprecated": true,
          "request": {
            "$ref": "TunedModel"
          },
          "flatPath": "v1beta/tunedModels",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "parameters": {
            "tunedModelId": {
              "type": "string",
              "description": "Optional. The unique id for the tuned model if specified. This value should be up to 40 characters, the first character must be a letter, the last could be a letter or a number. The id must match the regular expression: `[a-z]([a-z0-9-]{0,38}[a-z0-9])?`.",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "id": "generativelanguage.tunedModels.create",
          "description": "Creates a tuned model. Check intermediate tuning progress (if any) through the [google.longrunning.Operations] service. Access status and results through the Operations service. Example: GET /v1/tunedModels/az2mb0bpw6i/operations/000-111-222"
        },
        "generateText": {
          "description": "Generates a response from the model given an input message.",
          "id": "generativelanguage.tunedModels.generateText",
          "parameters": {
            "model": {
              "type": "string",
              "required": true,
              "description": "Required. The name of the `Model` or `TunedModel` to use for generating the completion. Examples: models/text-bison-001 tunedModels/sentence-translator-u3b7m",
              "location": "path",
              "pattern": "^tunedModels/[^/]+$"
            }
          },
          "parameterOrder": [
            "model"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "GenerateTextRequest"
          },
          "flatPath": "v1beta/tunedModels/{tunedModelsId}:generateText",
          "response": {
            "$ref": "GenerateTextResponse"
          },
          "path": "v1beta/{+model}:generateText",
          "deprecated": true
        },
        "streamGenerateContent": {
          "httpMethod": "POST",
          "parameters": {
            "model": {
              "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`.",
              "location": "path",
              "pattern": "^tunedModels/[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "model"
          ],
          "id": "generativelanguage.tunedModels.streamGenerateContent",
          "description": "Generates a [streamed response](https://ai.google.dev/gemini-api/docs/text-generation?lang=python#generate-a-text-stream) from the model given an input `GenerateContentRequest`.",
          "path": "v1beta/{+model}:streamGenerateContent",
          "request": {
            "$ref": "GenerateContentRequest"
          },
          "flatPath": "v1beta/tunedModels/{tunedModelsId}:streamGenerateContent",
          "response": {
            "$ref": "GenerateContentResponse"
          }
        },
        "transferOwnership": {
          "description": "Transfers ownership of the tuned model. This is the only way to change ownership of the tuned model. The current owner will be downgraded to writer role.",
          "id": "generativelanguage.tunedModels.transferOwnership",
          "parameters": {
            "name": {
              "pattern": "^tunedModels/[^/]+$",
              "description": "Required. The resource name of the tuned model to transfer ownership. Format: `tunedModels/my-model-id`",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "POST",
          "flatPath": "v1beta/tunedModels/{tunedModelsId}:transferOwnership",
          "response": {
            "$ref": "TransferOwnershipResponse"
          },
          "request": {
            "$ref": "TransferOwnershipRequest"
          },
          "path": "v1beta/{+name}:transferOwnership"
        },
        "batchGenerateContent": {
          "request": {
            "$ref": "BatchGenerateContentRequest"
          },
          "flatPath": "v1beta/tunedModels/{tunedModelsId}:batchGenerateContent",
          "response": {
            "$ref": "Operation"
          },
          "path": "v1beta/{+model}:batchGenerateContent",
          "description": "Enqueues a batch of `GenerateContent` requests for batch processing.",
          "id": "generativelanguage.tunedModels.batchGenerateContent",
          "parameters": {
            "model": {
              "pattern": "^tunedModels/[^/]+$",
              "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "model"
          ],
          "httpMethod": "POST"
        },
        "list": {
          "description": "Lists created tuned models.",
          "id": "generativelanguage.tunedModels.list",
          "parameters": {
            "pageSize": {
              "format": "int32",
              "description": "Optional. The maximum number of `TunedModels` to return (per page). The service may return fewer tuned models. If unspecified, at most 10 tuned models will be returned. This method returns at most 1000 models per page, even if you pass a larger page_size.",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListTunedModels` call. Provide the `page_token` returned by one request as an argument to the next request to retrieve the next page. When paginating, all other parameters provided to `ListTunedModels` must match the call that provided the page token.",
              "location": "query",
              "type": "string"
            },
            "filter": {
              "type": "string",
              "description": "Optional. A filter is a full text search over the tuned model's description and display name. By default, results will not include tuned models shared with everyone. Additional operators: - owner:me - writers:me - readers:me - readers:everyone Examples: \"owner:me\" returns all tuned models to which caller has owner role \"readers:me\" returns all tuned models to which caller has reader role \"readers:everyone\" returns all tuned models that are shared with everyone",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "flatPath": "v1beta/tunedModels",
          "response": {
            "$ref": "ListTunedModelsResponse"
          },
          "deprecated": true,
          "path": "v1beta/tunedModels"
        },
        "get": {
          "description": "Gets information about a specific TunedModel.",
          "id": "generativelanguage.tunedModels.get",
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "pattern": "^tunedModels/[^/]+$",
              "description": "Required. The resource name of the model. Format: `tunedModels/my-model-id`",
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "flatPath": "v1beta/tunedModels/{tunedModelsId}",
          "response": {
            "$ref": "TunedModel"
          },
          "path": "v1beta/{+name}",
          "deprecated": true
        },
        "delete": {
          "path": "v1beta/{+name}",
          "deprecated": true,
          "flatPath": "v1beta/tunedModels/{tunedModelsId}",
          "response": {
            "$ref": "Empty"
          },
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "pattern": "^tunedModels/[^/]+$",
              "description": "Required. The resource name of the model. Format: `tunedModels/my-model-id`",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "id": "generativelanguage.tunedModels.delete",
          "description": "Deletes a tuned model."
        }
      },
      "resources": {
        "operations": {
          "methods": {
            "list": {
              "path": "v1beta/{+name}/operations",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "The standard list page token.",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^tunedModels/[^/]+$",
                  "description": "The name of the operation's parent resource.",
                  "location": "path"
                },
                "filter": {
                  "type": "string",
                  "description": "The standard list filter.",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The standard list page size.",
                  "location": "query",
                  "type": "integer"
                },
                "returnPartialSuccess": {
                  "type": "boolean",
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "generativelanguage.tunedModels.operations.list",
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "flatPath": "v1beta/tunedModels/{tunedModelsId}/operations",
              "response": {
                "$ref": "ListOperationsResponse"
              }
            },
            "get": {
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^tunedModels/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "path": "v1beta/{+name}",
              "flatPath": "v1beta/tunedModels/{tunedModelsId}/operations/{operationsId}",
              "response": {
                "$ref": "Operation"
              },
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "id": "generativelanguage.tunedModels.operations.get"
            }
          }
        },
        "permissions": {
          "methods": {
            "get": {
              "path": "v1beta/{+name}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The resource name of the permission. Formats: `tunedModels/{tuned_model}/permissions/{permission}` `corpora/{corpus}/permissions/{permission}`",
                  "location": "path",
                  "pattern": "^tunedModels/[^/]+/permissions/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "generativelanguage.tunedModels.permissions.get",
              "description": "Gets information about a specific Permission.",
              "flatPath": "v1beta/tunedModels/{tunedModelsId}/permissions/{permissionsId}",
              "response": {
                "$ref": "Permission"
              }
            },
            "patch": {
              "request": {
                "$ref": "Permission"
              },
              "flatPath": "v1beta/tunedModels/{tunedModelsId}/permissions/{permissionsId}",
              "response": {
                "$ref": "Permission"
              },
              "path": "v1beta/{+name}",
              "description": "Updates the permission.",
              "id": "generativelanguage.tunedModels.permissions.patch",
              "parameters": {
                "name": {
                  "pattern": "^tunedModels/[^/]+/permissions/[^/]+$",
                  "description": "Output only. Identifier. The permission name. A unique name will be generated on create. Examples: tunedModels/{tuned_model}/permissions/{permission} corpora/{corpus}/permissions/{permission} Output only.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "Required. The list of fields to update. Accepted ones: - role (`Permission.role` field)",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH"
            },
            "list": {
              "parameters": {
                "parent": {
                  "pattern": "^tunedModels/[^/]+$",
                  "description": "Required. The parent resource of the permissions. Formats: `tunedModels/{tuned_model}` `corpora/{corpus}`",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. The maximum number of `Permission`s to return (per page). The service may return fewer permissions. If unspecified, at most 10 permissions will be returned. This method returns at most 1000 permissions per page, even if you pass larger page_size.",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListPermissions` call. Provide the `page_token` returned by one request as an argument to the next request to retrieve the next page. When paginating, all other parameters provided to `ListPermissions` must match the call that provided the page token.",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "path": "v1beta/{+parent}/permissions",
              "flatPath": "v1beta/tunedModels/{tunedModelsId}/permissions",
              "response": {
                "$ref": "ListPermissionsResponse"
              },
              "description": "Lists permissions for the specific resource.",
              "id": "generativelanguage.tunedModels.permissions.list"
            },
            "create": {
              "request": {
                "$ref": "Permission"
              },
              "flatPath": "v1beta/tunedModels/{tunedModelsId}/permissions",
              "response": {
                "$ref": "Permission"
              },
              "path": "v1beta/{+parent}/permissions",
              "id": "generativelanguage.tunedModels.permissions.create",
              "description": "Create a permission to a specific resource.",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource of the `Permission`. Formats: `tunedModels/{tuned_model}` `corpora/{corpus}`",
                  "location": "path",
                  "pattern": "^tunedModels/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "delete": {
              "path": "v1beta/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^tunedModels/[^/]+/permissions/[^/]+$",
                  "description": "Required. The resource name of the permission. Formats: `tunedModels/{tuned_model}/permissions/{permission}` `corpora/{corpus}/permissions/{permission}`",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "description": "Deletes the permission.",
              "id": "generativelanguage.tunedModels.permissions.delete",
              "flatPath": "v1beta/tunedModels/{tunedModelsId}/permissions/{permissionsId}",
              "response": {
                "$ref": "Empty"
              }
            }
          }
        }
      }
    },
    "cachedContents": {
      "methods": {
        "create": {
          "path": "v1beta/cachedContents",
          "scopes": [
            "https://www.googleapis.com/auth/devstorage.read_only"
          ],
          "flatPath": "v1beta/cachedContents",
          "response": {
            "$ref": "CachedContent"
          },
          "request": {
            "$ref": "CachedContent"
          },
          "parameters": {},
          "parameterOrder": [],
          "httpMethod": "POST",
          "description": "Creates CachedContent resource.",
          "id": "generativelanguage.cachedContents.create"
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "description": "Required. The resource name referring to the content cache entry Format: `cachedContents/{id}`",
              "location": "path",
              "pattern": "^cachedContents/[^/]+$"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "id": "generativelanguage.cachedContents.delete",
          "description": "Deletes CachedContent resource.",
          "path": "v1beta/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/devstorage.read_only"
          ],
          "flatPath": "v1beta/cachedContents/{cachedContentsId}",
          "response": {
            "$ref": "Empty"
          }
        },
        "get": {
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^cachedContents/[^/]+$",
              "description": "Required. The resource name referring to the content cache entry. Format: `cachedContents/{id}`",
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "description": "Reads CachedContent resource.",
          "id": "generativelanguage.cachedContents.get",
          "path": "v1beta/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/devstorage.read_only"
          ],
          "flatPath": "v1beta/cachedContents/{cachedContentsId}",
          "response": {
            "$ref": "CachedContent"
          }
        },
        "list": {
          "flatPath": "v1beta/cachedContents",
          "response": {
            "$ref": "ListCachedContentsResponse"
          },
          "path": "v1beta/cachedContents",
          "scopes": [
            "https://www.googleapis.com/auth/devstorage.read_only"
          ],
          "description": "Lists CachedContents.",
          "id": "generativelanguage.cachedContents.list",
          "parameters": {
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "description": "Optional. The maximum number of cached contents to return. The service may return fewer than this value. If unspecified, some default (under maximum) number of items will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
              "location": "query"
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListCachedContents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCachedContents` must match the call that provided the page token.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [],
          "httpMethod": "GET"
        },
        "patch": {
          "description": "Updates CachedContent resource (only expiration is updatable).",
          "id": "generativelanguage.cachedContents.patch",
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "description": "The list of fields to update.",
              "location": "query",
              "type": "string"
            },
            "name": {
              "required": true,
              "type": "string",
              "description": "Output only. Identifier. The resource name referring to the cached content. Format: `cachedContents/{id}`",
              "location": "path",
              "pattern": "^cachedContents/[^/]+$"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "PATCH",
          "flatPath": "v1beta/cachedContents/{cachedContentsId}",
          "response": {
            "$ref": "CachedContent"
          },
          "request": {
            "$ref": "CachedContent"
          },
          "path": "v1beta/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/devstorage.read_only"
          ]
        }
      }
    },
    "files": {
      "methods": {
        "get": {
          "id": "generativelanguage.files.get",
          "description": "Gets the metadata for the given `File`.",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "description": "Required. The name of the `File` to get. Example: `files/abc-123`",
              "location": "path",
              "pattern": "^files/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta/files/{filesId}",
          "response": {
            "$ref": "File"
          },
          "path": "v1beta/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/devstorage.read_only"
          ]
        },
        "delete": {
          "path": "v1beta/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/devstorage.read_only"
          ],
          "flatPath": "v1beta/files/{filesId}",
          "response": {
            "$ref": "Empty"
          },
          "parameters": {
            "name": {
              "pattern": "^files/[^/]+$",
              "description": "Required. The name of the `File` to delete. Example: `files/abc-123`",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "DELETE",
          "description": "Deletes the `File`.",
          "id": "generativelanguage.files.delete"
        },
        "register": {
          "flatPath": "v1beta/files:register",
          "response": {
            "$ref": "RegisterFilesResponse"
          },
          "request": {
            "$ref": "RegisterFilesRequest"
          },
          "path": "v1beta/files:register",
          "scopes": [
            "https://www.googleapis.com/auth/devstorage.read_only"
          ],
          "description": "Registers a Google Cloud Storage files with FileService. The user is expected to provide Google Cloud Storage URIs and will receive a File resource for each URI in return. Note that the files are not copied, just registered with File API. If one file fails to register, the whole request fails.",
          "id": "generativelanguage.files.register",
          "parameters": {},
          "parameterOrder": [],
          "httpMethod": "POST"
        },
        "list": {
          "path": "v1beta/files",
          "scopes": [
            "https://www.googleapis.com/auth/devstorage.read_only"
          ],
          "flatPath": "v1beta/files",
          "response": {
            "$ref": "ListFilesResponse"
          },
          "parameters": {
            "pageSize": {
              "format": "int32",
              "description": "Optional. Maximum number of `File`s to return per page. If unspecified, defaults to 10. Maximum `page_size` is 100.",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A page token from a previous `ListFiles` call.",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "description": "Lists the metadata for `File`s owned by the requesting project.",
          "id": "generativelanguage.files.list"
        }
      }
    },
    "generatedFiles": {
      "methods": {
        "list": {
          "flatPath": "v1beta/generatedFiles",
          "response": {
            "$ref": "ListGeneratedFilesResponse"
          },
          "path": "v1beta/generatedFiles",
          "scopes": [
            "https://www.googleapis.com/auth/devstorage.read_only"
          ],
          "description": "Lists the generated files owned by the requesting project.",
          "id": "generativelanguage.generatedFiles.list",
          "parameters": {
            "pageSize": {
              "description": "Optional. Maximum number of `GeneratedFile`s to return per page. If unspecified, defaults to 10. Maximum `page_size` is 50.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "description": "Optional. A page token from a previous `ListGeneratedFiles` call.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [],
          "httpMethod": "GET"
        }
      },
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "flatPath": "v1beta/generatedFiles/{generatedFilesId}/operations/{operationsId}",
              "response": {
                "$ref": "Operation"
              },
              "id": "generativelanguage.generatedFiles.operations.get",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "The name of the operation resource.",
                  "location": "path",
                  "pattern": "^generatedFiles/[^/]+/operations/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}"
            }
          }
        }
      }
    },
    "dynamic": {
      "methods": {
        "generateContent": {
          "description": "Generates a model response given an input `GenerateContentRequest`. Refer to the [text generation guide](https://ai.google.dev/gemini-api/docs/text-generation) for detailed usage information. Input capabilities differ between models, including tuned models. Refer to the [model guide](https://ai.google.dev/gemini-api/docs/models/gemini) and [tuning guide](https://ai.google.dev/gemini-api/docs/model-tuning) for details.",
          "id": "generativelanguage.dynamic.generateContent",
          "parameters": {
            "model": {
              "required": true,
              "type": "string",
              "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`.",
              "location": "path",
              "pattern": "^dynamic/[^/]+$"
            }
          },
          "parameterOrder": [
            "model"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "GenerateContentRequest"
          },
          "flatPath": "v1beta/dynamic/{dynamicId}:generateContent",
          "response": {
            "$ref": "GenerateContentResponse"
          },
          "path": "v1beta/{+model}:generateContent"
        },
        "streamGenerateContent": {
          "path": "v1beta/{+model}:streamGenerateContent",
          "request": {
            "$ref": "GenerateContentRequest"
          },
          "flatPath": "v1beta/dynamic/{dynamicId}:streamGenerateContent",
          "response": {
            "$ref": "GenerateContentResponse"
          },
          "parameters": {
            "model": {
              "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`.",
              "location": "path",
              "pattern": "^dynamic/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "model"
          ],
          "httpMethod": "POST",
          "description": "Generates a [streamed response](https://ai.google.dev/gemini-api/docs/text-generation?lang=python#generate-a-text-stream) from the model given an input `GenerateContentRequest`.",
          "id": "generativelanguage.dynamic.streamGenerateContent"
        }
      }
    },
    "models": {
      "resources": {
        "operations": {
          "methods": {
            "list": {
              "id": "generativelanguage.models.operations.list",
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "flatPath": "v1beta/models/{modelsId}/operations",
              "response": {
                "$ref": "ListOperationsResponse"
              },
              "path": "v1beta/{+name}/operations",
              "httpMethod": "GET",
              "parameters": {
                "filter": {
                  "type": "string",
                  "description": "The standard list filter.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "returnPartialSuccess": {
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "location": "query",
                  "type": "boolean"
                },
                "pageToken": {
                  "description": "The standard list page token.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "pattern": "^models/[^/]+$",
                  "description": "The name of the operation's parent resource.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "flatPath": "v1beta/models/{modelsId}/operations/{operationsId}",
              "response": {
                "$ref": "Operation"
              },
              "id": "generativelanguage.models.operations.get",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^models/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}"
            }
          }
        }
      },
      "methods": {
        "countTextTokens": {
          "description": "Runs a model's tokenizer on a text and returns the token count.",
          "id": "generativelanguage.models.countTextTokens",
          "parameters": {
            "model": {
              "pattern": "^models/[^/]+$",
              "description": "Required. The model's resource name. This serves as an ID for the Model to use. This name should match a model name returned by the `ListModels` method. Format: `models/{model}`",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "model"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "CountTextTokensRequest"
          },
          "flatPath": "v1beta/models/{modelsId}:countTextTokens",
          "response": {
            "$ref": "CountTextTokensResponse"
          },
          "path": "v1beta/{+model}:countTextTokens",
          "deprecated": true
        },
        "asyncBatchEmbedContent": {
          "request": {
            "$ref": "AsyncBatchEmbedContentRequest"
          },
          "flatPath": "v1beta/models/{modelsId}:asyncBatchEmbedContent",
          "response": {
            "$ref": "Operation"
          },
          "path": "v1beta/{+model}:asyncBatchEmbedContent",
          "id": "generativelanguage.models.asyncBatchEmbedContent",
          "description": "Enqueues a batch of `EmbedContent` requests for batch processing. We have a `BatchEmbedContents` handler in `GenerativeService`, but it was synchronized. So we name this one to be `Async` to avoid confusion.",
          "httpMethod": "POST",
          "parameters": {
            "model": {
              "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`.",
              "location": "path",
              "pattern": "^models/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "model"
          ]
        },
        "batchEmbedContents": {
          "path": "v1beta/{+model}:batchEmbedContents",
          "request": {
            "$ref": "BatchEmbedContentsRequest"
          },
          "flatPath": "v1beta/models/{modelsId}:batchEmbedContents",
          "response": {
            "$ref": "BatchEmbedContentsResponse"
          },
          "httpMethod": "POST",
          "parameters": {
            "model": {
              "description": "Required. The model's resource name. This serves as an ID for the Model to use. This name should match a model name returned by the `ListModels` method. Format: `models/{model}`",
              "location": "path",
              "pattern": "^models/[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "model"
          ],
          "id": "generativelanguage.models.batchEmbedContents",
          "description": "Generates multiple embedding vectors from the input `Content` which consists of a batch of strings represented as `EmbedContentRequest` objects."
        },
        "countMessageTokens": {
          "description": "Runs a model's tokenizer on a string and returns the token count.",
          "id": "generativelanguage.models.countMessageTokens",
          "parameters": {
            "model": {
              "pattern": "^models/[^/]+$",
              "description": "Required. The model's resource name. This serves as an ID for the Model to use. This name should match a model name returned by the `ListModels` method. Format: `models/{model}`",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "model"
          ],
          "httpMethod": "POST",
          "flatPath": "v1beta/models/{modelsId}:countMessageTokens",
          "response": {
            "$ref": "CountMessageTokensResponse"
          },
          "request": {
            "$ref": "CountMessageTokensRequest"
          },
          "deprecated": true,
          "path": "v1beta/{+model}:countMessageTokens"
        },
        "generateMessage": {
          "description": "Generates a response from the model given an input `MessagePrompt`.",
          "id": "generativelanguage.models.generateMessage",
          "parameters": {
            "model": {
              "type": "string",
              "required": true,
              "pattern": "^models/[^/]+$",
              "description": "Required. The name of the model to use. Format: `name=models/{model}`.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "model"
          ],
          "httpMethod": "POST",
          "flatPath": "v1beta/models/{modelsId}:generateMessage",
          "response": {
            "$ref": "GenerateMessageResponse"
          },
          "request": {
            "$ref": "GenerateMessageRequest"
          },
          "deprecated": true,
          "path": "v1beta/{+model}:generateMessage"
        },
        "get": {
          "path": "v1beta/{+name}",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "description": "Required. The resource name of the model. This name should match a model name returned by the `ListModels` method. Format: `models/{model}`",
              "location": "path",
              "pattern": "^models/[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "id": "generativelanguage.models.get",
          "description": "Gets information about a specific `Model` such as its version number, token limits, [parameters](https://ai.google.dev/gemini-api/docs/models/generative-models#model-parameters) and other metadata. Refer to the [Gemini models guide](https://ai.google.dev/gemini-api/docs/models/gemini) for detailed model information.",
          "flatPath": "v1beta/models/{modelsId}",
          "response": {
            "$ref": "Model"
          }
        },
        "predict": {
          "request": {
            "$ref": "PredictRequest"
          },
          "flatPath": "v1beta/models/{modelsId}:predict",
          "response": {
            "$ref": "PredictResponse"
          },
          "path": "v1beta/{+model}:predict",
          "id": "generativelanguage.models.predict",
          "description": "Performs a prediction request.",
          "httpMethod": "POST",
          "parameters": {
            "model": {
              "required": true,
              "type": "string",
              "description": "Required. The name of the model for prediction. Format: `name=models/{model}`.",
              "location": "path",
              "pattern": "^models/[^/]+$"
            }
          },
          "parameterOrder": [
            "model"
          ]
        },
        "batchEmbedText": {
          "parameters": {
            "model": {
              "required": true,
              "type": "string",
              "description": "Required. The name of the `Model` to use for generating the embedding. Examples: models/embedding-gecko-001",
              "location": "path",
              "pattern": "^models/[^/]+$"
            }
          },
          "parameterOrder": [
            "model"
          ],
          "httpMethod": "POST",
          "description": "Generates multiple embeddings from the model given input text in a synchronous call.",
          "id": "generativelanguage.models.batchEmbedText",
          "path": "v1beta/{+model}:batchEmbedText",
          "deprecated": true,
          "request": {
            "$ref": "BatchEmbedTextRequest"
          },
          "flatPath": "v1beta/models/{modelsId}:batchEmbedText",
          "response": {
            "$ref": "BatchEmbedTextResponse"
          }
        },
        "embedContent": {
          "httpMethod": "POST",
          "parameters": {
            "model": {
              "pattern": "^models/[^/]+$",
              "description": "Required. The model's resource name. This serves as an ID for the Model to use. This name should match a model name returned by the `ListModels` method. Format: `models/{model}`",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "model"
          ],
          "id": "generativelanguage.models.embedContent",
          "description": "Generates a text embedding vector from the input `Content` using the specified [Gemini Embedding model](https://ai.google.dev/gemini-api/docs/models/gemini#text-embedding).",
          "path": "v1beta/{+model}:embedContent",
          "request": {
            "$ref": "EmbedContentRequest"
          },
          "flatPath": "v1beta/models/{modelsId}:embedContent",
          "response": {
            "$ref": "EmbedContentResponse"
          }
        },
        "list": {
          "id": "generativelanguage.models.list",
          "description": "Lists the [`Model`s](https://ai.google.dev/gemini-api/docs/models/gemini) available through the Gemini API.",
          "flatPath": "v1beta/models",
          "response": {
            "$ref": "ListModelsResponse"
          },
          "path": "v1beta/models",
          "httpMethod": "GET",
          "parameters": {
            "pageSize": {
              "format": "int32",
              "description": "The maximum number of `Models` to return (per page). If unspecified, 50 models will be returned per page. This method returns at most 1000 models per page, even if you pass a larger page_size.",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "description": "A page token, received from a previous `ListModels` call. Provide the `page_token` returned by one request as an argument to the next request to retrieve the next page. When paginating, all other parameters provided to `ListModels` must match the call that provided the page token.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": []
        },
        "generateText": {
          "parameters": {
            "model": {
              "description": "Required. The name of the `Model` or `TunedModel` to use for generating the completion. Examples: models/text-bison-001 tunedModels/sentence-translator-u3b7m",
              "location": "path",
              "pattern": "^models/[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "model"
          ],
          "httpMethod": "POST",
          "description": "Generates a response from the model given an input message.",
          "id": "generativelanguage.models.generateText",
          "path": "v1beta/{+model}:generateText",
          "deprecated": true,
          "request": {
            "$ref": "GenerateTextRequest"
          },
          "flatPath": "v1beta/models/{modelsId}:generateText",
          "response": {
            "$ref": "GenerateTextResponse"
          }
        },
        "streamGenerateContent": {
          "flatPath": "v1beta/models/{modelsId}:streamGenerateContent",
          "response": {
            "$ref": "GenerateContentResponse"
          },
          "request": {
            "$ref": "GenerateContentRequest"
          },
          "path": "v1beta/{+model}:streamGenerateContent",
          "id": "generativelanguage.models.streamGenerateContent",
          "description": "Generates a [streamed response](https://ai.google.dev/gemini-api/docs/text-generation?lang=python#generate-a-text-stream) from the model given an input `GenerateContentRequest`.",
          "httpMethod": "POST",
          "parameters": {
            "model": {
              "pattern": "^models/[^/]+$",
              "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "model"
          ]
        },
        "countTokens": {
          "description": "Runs a model's tokenizer on input `Content` and returns the token count. Refer to the [tokens guide](https://ai.google.dev/gemini-api/docs/tokens) to learn more about tokens.",
          "id": "generativelanguage.models.countTokens",
          "parameters": {
            "model": {
              "description": "Required. The model's resource name. This serves as an ID for the Model to use. This name should match a model name returned by the `ListModels` method. Format: `models/{model}`",
              "location": "path",
              "pattern": "^models/[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "model"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "CountTokensRequest"
          },
          "flatPath": "v1beta/models/{modelsId}:countTokens",
          "response": {
            "$ref": "CountTokensResponse"
          },
          "path": "v1beta/{+model}:countTokens"
        },
        "predictLongRunning": {
          "path": "v1beta/{+model}:predictLongRunning",
          "flatPath": "v1beta/models/{modelsId}:predictLongRunning",
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "PredictLongRunningRequest"
          },
          "parameters": {
            "model": {
              "type": "string",
              "required": true,
              "pattern": "^models/[^/]+$",
              "description": "Required. The name of the model for prediction. Format: `name=models/{model}`.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "model"
          ],
          "httpMethod": "POST",
          "description": "Same as Predict but returns an LRO.",
          "id": "generativelanguage.models.predictLongRunning"
        },
        "generateContent": {
          "id": "generativelanguage.models.generateContent",
          "description": "Generates a model response given an input `GenerateContentRequest`. Refer to the [text generation guide](https://ai.google.dev/gemini-api/docs/text-generation) for detailed usage information. Input capabilities differ between models, including tuned models. Refer to the [model guide](https://ai.google.dev/gemini-api/docs/models/gemini) and [tuning guide](https://ai.google.dev/gemini-api/docs/model-tuning) for details.",
          "httpMethod": "POST",
          "parameters": {
            "model": {
              "required": true,
              "type": "string",
              "pattern": "^models/[^/]+$",
              "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "model"
          ],
          "request": {
            "$ref": "GenerateContentRequest"
          },
          "flatPath": "v1beta/models/{modelsId}:generateContent",
          "response": {
            "$ref": "GenerateContentResponse"
          },
          "path": "v1beta/{+model}:generateContent"
        },
        "embedText": {
          "id": "generativelanguage.models.embedText",
          "description": "Generates an embedding from the model given an input message.",
          "httpMethod": "POST",
          "parameters": {
            "model": {
              "pattern": "^models/[^/]+$",
              "description": "Required. The model name to use with the format model=models/{model}.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "model"
          ],
          "request": {
            "$ref": "EmbedTextRequest"
          },
          "flatPath": "v1beta/models/{modelsId}:embedText",
          "response": {
            "$ref": "EmbedTextResponse"
          },
          "path": "v1beta/{+model}:embedText",
          "deprecated": true
        },
        "generateAnswer": {
          "flatPath": "v1beta/models/{modelsId}:generateAnswer",
          "response": {
            "$ref": "GenerateAnswerResponse"
          },
          "request": {
            "$ref": "GenerateAnswerRequest"
          },
          "deprecated": true,
          "path": "v1beta/{+model}:generateAnswer",
          "description": "Generates a grounded answer from the model given an input `GenerateAnswerRequest`.",
          "id": "generativelanguage.models.generateAnswer",
          "parameters": {
            "model": {
              "pattern": "^models/[^/]+$",
              "description": "Required. The name of the `Model` to use for generating the grounded response. Format: `model=models/{model}`.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "model"
          ],
          "httpMethod": "POST"
        },
        "batchGenerateContent": {
          "httpMethod": "POST",
          "parameters": {
            "model": {
              "type": "string",
              "required": true,
              "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`.",
              "location": "path",
              "pattern": "^models/[^/]+$"
            }
          },
          "parameterOrder": [
            "model"
          ],
          "id": "generativelanguage.models.batchGenerateContent",
          "description": "Enqueues a batch of `GenerateContent` requests for batch processing.",
          "path": "v1beta/{+model}:batchGenerateContent",
          "request": {
            "$ref": "BatchGenerateContentRequest"
          },
          "flatPath": "v1beta/models/{modelsId}:batchGenerateContent",
          "response": {
            "$ref": "Operation"
          }
        }
      }
    },
    "media": {
      "methods": {
        "upload": {
          "supportsMediaUpload": true,
          "description": "Creates a `File`.",
          "id": "generativelanguage.media.upload",
          "parameters": {},
          "parameterOrder": [],
          "httpMethod": "POST",
          "flatPath": "v1beta/files",
          "response": {
            "$ref": "CreateFileResponse"
          },
          "request": {
            "$ref": "CreateFileRequest"
          },
          "mediaUpload": {
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/v1beta/files"
              },
              "simple": {
                "multipart": true,
                "path": "/upload/v1beta/files"
              }
            },
            "maxSize": "2147483648",
            "accept": [
              "*/*"
            ]
          },
          "path": "v1beta/files",
          "scopes": [
            "https://www.googleapis.com/auth/devstorage.read_only"
          ]
        },
        "uploadToFileSearchStore": {
          "supportsMediaUpload": true,
          "id": "generativelanguage.media.uploadToFileSearchStore",
          "description": "Uploads data to a FileSearchStore, preprocesses and chunks before storing it in a FileSearchStore Document.",
          "httpMethod": "POST",
          "parameters": {
            "fileSearchStoreName": {
              "description": "Required. Immutable. The name of the `FileSearchStore` to upload the file into. Example: `fileSearchStores/my-file-search-store-123`",
              "location": "path",
              "pattern": "^fileSearchStores/[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "fileSearchStoreName"
          ],
          "flatPath": "v1beta/fileSearchStores/{fileSearchStoresId}:uploadToFileSearchStore",
          "response": {
            "$ref": "CustomLongRunningOperation"
          },
          "request": {
            "$ref": "UploadToFileSearchStoreRequest"
          },
          "mediaUpload": {
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/v1beta/{+fileSearchStoreName}:uploadToFileSearchStore"
              },
              "simple": {
                "path": "/upload/v1beta/{+fileSearchStoreName}:uploadToFileSearchStore",
                "multipart": true
              }
            },
            "accept": [
              "*/*"
            ],
            "maxSize": "104857600"
          },
          "path": "v1beta/{+fileSearchStoreName}:uploadToFileSearchStore",
          "scopes": [
            "https://www.googleapis.com/auth/devstorage.read_only"
          ]
        }
      }
    },
    "fileSearchStores": {
      "resources": {
        "documents": {
          "methods": {
            "list": {
              "path": "v1beta/{+parent}/documents",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "pattern": "^fileSearchStores/[^/]+$",
                  "description": "Required. The name of the `FileSearchStore` containing `Document`s. Example: `fileSearchStores/my-file-search-store-123`",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. The maximum number of `Document`s to return (per page). The service may return fewer `Document`s. If unspecified, at most 10 `Document`s will be returned. The maximum size limit is 20 `Document`s per page.",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListDocuments` call. Provide the `next_page_token` returned in the response as an argument to the next request to retrieve the next page. When paginating, all other parameters provided to `ListDocuments` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "generativelanguage.fileSearchStores.documents.list",
              "description": "Lists all `Document`s in a `Corpus`.",
              "flatPath": "v1beta/fileSearchStores/{fileSearchStoresId}/documents",
              "response": {
                "$ref": "ListDocumentsResponse"
              }
            },
            "delete": {
              "path": "v1beta/{+name}",
              "parameters": {
                "force": {
                  "description": "Optional. If set to true, any `Chunk`s and objects related to this `Document` will also be deleted. If false (the default), a `FAILED_PRECONDITION` error will be returned if `Document` contains any `Chunk`s.",
                  "location": "query",
                  "type": "boolean"
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^fileSearchStores/[^/]+/documents/[^/]+$",
                  "description": "Required. The resource name of the `Document` to delete. Example: `fileSearchStores/my-file-search-store-123/documents/the-doc-abc`",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "description": "Deletes a `Document`.",
              "id": "generativelanguage.fileSearchStores.documents.delete",
              "flatPath": "v1beta/fileSearchStores/{fileSearchStoresId}/documents/{documentsId}",
              "response": {
                "$ref": "Empty"
              }
            },
            "get": {
              "id": "generativelanguage.fileSearchStores.documents.get",
              "description": "Gets information about a specific `Document`.",
              "flatPath": "v1beta/fileSearchStores/{fileSearchStoresId}/documents/{documentsId}",
              "response": {
                "$ref": "Document"
              },
              "path": "v1beta/{+name}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. The name of the `Document` to retrieve. Example: `fileSearchStores/my-file-search-store-123/documents/the-doc-abc`",
                  "location": "path",
                  "pattern": "^fileSearchStores/[^/]+/documents/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "operations": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "pattern": "^fileSearchStores/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "path": "v1beta/{+name}",
              "flatPath": "v1beta/fileSearchStores/{fileSearchStoresId}/operations/{operationsId}",
              "response": {
                "$ref": "Operation"
              },
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "id": "generativelanguage.fileSearchStores.operations.get"
            }
          }
        },
        "upload": {
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "flatPath": "v1beta/fileSearchStores/{fileSearchStoresId}/upload/operations/{operationsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "id": "generativelanguage.fileSearchStores.upload.operations.get",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^fileSearchStores/[^/]+/upload/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "path": "v1beta/{+name}"
                }
              }
            }
          }
        }
      },
      "methods": {
        "importFile": {
          "path": "v1beta/{+fileSearchStoreName}:importFile",
          "scopes": [
            "https://www.googleapis.com/auth/devstorage.read_only"
          ],
          "flatPath": "v1beta/fileSearchStores/{fileSearchStoresId}:importFile",
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "ImportFileRequest"
          },
          "httpMethod": "POST",
          "parameters": {
            "fileSearchStoreName": {
              "type": "string",
              "required": true,
              "pattern": "^fileSearchStores/[^/]+$",
              "description": "Required. Immutable. The name of the `FileSearchStore` to import the file into. Example: `fileSearchStores/my-file-search-store-123`",
              "location": "path"
            }
          },
          "parameterOrder": [
            "fileSearchStoreName"
          ],
          "id": "generativelanguage.fileSearchStores.importFile",
          "description": "Imports a `File` from File Service to a `FileSearchStore`."
        },
        "create": {
          "request": {
            "$ref": "FileSearchStore"
          },
          "flatPath": "v1beta/fileSearchStores",
          "response": {
            "$ref": "FileSearchStore"
          },
          "path": "v1beta/fileSearchStores",
          "id": "generativelanguage.fileSearchStores.create",
          "description": "Creates an empty `FileSearchStore`.",
          "httpMethod": "POST",
          "parameters": {},
          "parameterOrder": []
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameters": {
            "force": {
              "description": "Optional. If set to true, any `Document`s and objects related to this `FileSearchStore` will also be deleted. If false (the default), a `FAILED_PRECONDITION` error will be returned if `FileSearchStore` contains any `Document`s.",
              "location": "query",
              "type": "boolean"
            },
            "name": {
              "pattern": "^fileSearchStores/[^/]+$",
              "description": "Required. The resource name of the `FileSearchStore`. Example: `fileSearchStores/my-file-search-store-123`",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta/{+name}",
          "flatPath": "v1beta/fileSearchStores/{fileSearchStoresId}",
          "response": {
            "$ref": "Empty"
          },
          "id": "generativelanguage.fileSearchStores.delete",
          "description": "Deletes a `FileSearchStore`."
        },
        "list": {
          "path": "v1beta/fileSearchStores",
          "httpMethod": "GET",
          "parameters": {
            "pageSize": {
              "format": "int32",
              "description": "Optional. The maximum number of `FileSearchStores` to return (per page). The service may return fewer `FileSearchStores`. If unspecified, at most 10 `FileSearchStores` will be returned. The maximum size limit is 20 `FileSearchStores` per page.",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListFileSearchStores` call. Provide the `next_page_token` returned in the response as an argument to the next request to retrieve the next page. When paginating, all other parameters provided to `ListFileSearchStores` must match the call that provided the page token.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [],
          "id": "generativelanguage.fileSearchStores.list",
          "description": "Lists all `FileSearchStores` owned by the user.",
          "flatPath": "v1beta/fileSearchStores",
          "response": {
            "$ref": "ListFileSearchStoresResponse"
          }
        },
        "get": {
          "flatPath": "v1beta/fileSearchStores/{fileSearchStoresId}",
          "response": {
            "$ref": "FileSearchStore"
          },
          "description": "Gets information about a specific `FileSearchStore`.",
          "id": "generativelanguage.fileSearchStores.get",
          "parameters": {
            "name": {
              "pattern": "^fileSearchStores/[^/]+$",
              "description": "Required. The name of the `FileSearchStore`. Example: `fileSearchStores/my-file-search-store-123`",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "path": "v1beta/{+name}"
        }
      }
    }
  },
  "batchPath": "batch",
  "basePath": "",
  "description": "The Gemini API allows developers to build generative AI applications using Gemini models. Gemini is our most capable model, built from the ground up to be multimodal. It can generalize and seamlessly understand, operate across, and combine different types of information including language, images, audio, video, and code. You can use the Gemini API for use cases like reasoning across text and images, content generation, dialogue agents, summarization and classification systems, and more.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/devstorage.read_only": {
          "description": "View your data in Google Cloud Storage"
        }
      }
    }
  },
  "version": "v1beta",
  "canonicalName": "Generative Language",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "version_module": true,
  "kind": "discovery#restDescription",
  "name": "generativelanguage",
  "title": "Gemini API",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "FileSearch": {
      "id": "FileSearch",
      "type": "object",
      "description": "The FileSearch tool that retrieves knowledge from Semantic Retrieval corpora. Files are imported to Semantic Retrieval corpora using the ImportFile API.",
      "properties": {
        "metadataFilter": {
          "type": "string",
          "description": "Optional. Metadata filter to apply to the semantic retrieval documents and chunks."
        },
        "fileSearchStoreNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The names of the file_search_stores to retrieve from. Example: `fileSearchStores/my-file-search-store-123`"
        },
        "topK": {
          "format": "int32",
          "description": "Optional. The number of semantic retrieval chunks to retrieve.",
          "type": "integer"
        }
      }
    },
    "Web": {
      "description": "Chunk from the web.",
      "properties": {
        "uri": {
          "description": "Output only. URI reference of the chunk.",
          "type": "string",
          "readOnly": true
        },
        "title": {
          "readOnly": true,
          "description": "Output only. Title of the chunk.",
          "type": "string"
        }
      },
      "id": "Web",
      "type": "object"
    },
    "ToolConfig": {
      "description": "The Tool configuration containing parameters for specifying `Tool` use in the request.",
      "properties": {
        "retrievalConfig": {
          "description": "Optional. Retrieval config.",
          "$ref": "RetrievalConfig"
        },
        "functionCallingConfig": {
          "description": "Optional. Function calling config.",
          "$ref": "FunctionCallingConfig"
        },
        "includeServerSideToolInvocations": {
          "description": "Optional. If true, the API response will include the server-side tool calls and responses within the `Content` message. This allows clients to observe the server's tool interactions.",
          "type": "boolean"
        }
      },
      "id": "ToolConfig",
      "type": "object"
    },
    "GroundingPassage": {
      "description": "Passage included inline with a grounding configuration.",
      "properties": {
        "content": {
          "description": "Content of the passage.",
          "$ref": "Content"
        },
        "id": {
          "type": "string",
          "description": "Identifier for the passage for attributing this passage in grounded answers."
        }
      },
      "id": "GroundingPassage",
      "type": "object"
    },
    "TransferOwnershipRequest": {
      "description": "Request to transfer the ownership of the tuned model.",
      "properties": {
        "emailAddress": {
          "type": "string",
          "description": "Required. The email address of the user to whom the tuned model is being transferred to."
        }
      },
      "id": "TransferOwnershipRequest",
      "type": "object"
    },
    "ThinkingConfig": {
      "description": "Config for thinking features.",
      "properties": {
        "thinkingLevel": {
          "description": "Optional. Controls the maximum depth of the model's internal reasoning process before it produces a response. The default value is model-dependent. Refer to the [Thinking levels guide](https://ai.google.dev/gemini-api/docs/thinking#thinking-levels) for more details. Recommended for Gemini 3 or later models. Use with earlier models results in an error.",
          "type": "string",
          "enum": [
            "THINKING_LEVEL_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "enumDescriptions": [
            "Default value.",
            "Little to no thinking.",
            "Low thinking level.",
            "Medium thinking level.",
            "High thinking level."
          ]
        },
        "thinkingBudget": {
          "format": "int32",
          "description": "The number of thoughts tokens that the model should generate.",
          "type": "integer"
        },
        "includeThoughts": {
          "description": "Indicates whether to include thoughts in the response. If true, thoughts are returned only when available.",
          "type": "boolean"
        }
      },
      "id": "ThinkingConfig",
      "type": "object"
    },
    "EmbedTextRequest": {
      "id": "EmbedTextRequest",
      "type": "object",
      "description": "Request to get a text embedding from the model.",
      "properties": {
        "text": {
          "description": "Optional. The free-form input text that the model will turn into an embedding.",
          "type": "string"
        },
        "model": {
          "description": "Required. The model name to use with the format model=models/{model}.",
          "type": "string"
        }
      }
    },
    "WhiteSpaceConfig": {
      "description": "Configuration for a white space chunking algorithm [white space delimited].",
      "properties": {
        "maxTokensPerChunk": {
          "description": "Maximum number of tokens per chunk. Tokens are defined as words for this chunking algorithm. Note: we are defining tokens as words split by whitespace as opposed to the output of a tokenizer. The context window of the latest gemini embedding model as of 2025-04-17 is currently 8192 tokens. We assume that the average word is 5 characters. Therefore, we set the upper limit to 2**9, which is 512 words, or 2560 tokens, assuming worst case a character per token. This is a conservative estimate meant to prevent context window overflow.",
          "type": "integer",
          "format": "int32"
        },
        "maxOverlapTokens": {
          "format": "int32",
          "description": "Maximum number of overlapping tokens between two adjacent chunks.",
          "type": "integer"
        }
      },
      "id": "WhiteSpaceConfig",
      "type": "object"
    },
    "FunctionDeclaration": {
      "description": "Structured representation of a function declaration as defined by the [OpenAPI 3.03 specification](https://spec.openapis.org/oas/v3.0.3). Included in this declaration are the function name and parameters. This FunctionDeclaration is a representation of a block of code that can be used as a `Tool` by the model and executed by the client.",
      "properties": {
        "parameters": {
          "description": "Optional. Describes the parameters to this function. Reflects the Open API 3.03 Parameter Object string Key: the name of the parameter. Parameter names are case sensitive. Schema Value: the Schema defining the type used for the parameter.",
          "$ref": "Schema"
        },
        "behavior": {
          "description": "Optional. Specifies the function Behavior. Currently only supported by the BidiGenerateContent method.",
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "BLOCKING",
            "NON_BLOCKING"
          ],
[...]
